<template>
    <div class="eco-menu">
        <header>
            <!--balance component-->
            <balance :parent="'menu'"></balance>

            <!--projects-header, projects-list and buttons-->
            <item-list-header :headers="menuHeaders"></item-list-header>
        </header>

        <main :style="{height: `${cHeight}px`}">
            <div class="eco-menu-body">
                <!--<div class="eco-menu-item">-->
                    <!--<a class="paragraph-text" href="#" @click.prevent="callBuyBalance()">Buy Credits</a>-->
                <!--</div>-->
                <div class="eco-menu-item">
                    <a class="paragraph-text" href="#" @click.prevent="showNotificationsSettings()">Notifications</a>
                </div>
                <div class="eco-menu-item">
                    <a class="paragraph-text" target="_blank" href="https://ecosquared.co.uk">About</a>
                </div>
                <div class="eco-menu-item">
                    <a class="paragraph-text" target="_blank" href="http://ecosquared.info/category/help/">Help</a>
                </div>
                <div class="eco-menu-item" v-if="isLoggedIn">
                    <a class="paragraph-text" href="#" @click.prevent="logout()">Logout</a>
                </div>
                <div class="eco-menu-item" v-if="isAdmin">
                    <a class="paragraph-text" href="#/admin">Admin</a>
                </div>
                <div class="eco-menu-item">
                    <a class="paragraph-text" href="#" @click.prevent="showOfferHistory()">Offer History</a>
                </div>
            </div>
        </main>

        <router-view></router-view>
    </div>
</template>

<script>
    import Auth from '../../../../services/auth';
    import App from '../../App';
    import Login from '../../../Login';
    import Balance from '../common/balance/balance.vue';
    import EventBus from '../../../../services/EventBus';
    import ItemListHeader from '../common/item-list-parts/item-list-header.vue';

    export default {
        components: {
            Balance,
            ItemListHeader,
        },
        data(){
            return {
                App,
                user: Auth.getUser(),
                containerHeight: '',
                headerHeight: '',
                menuHeaders: {
                    title: 'menu',
                    shadow: 'Menu',
                },
            }
        },
        computed: {
            parent() {
                return this.$route.matched[1].name;
            },
            userInfoRoute(){
                return `${this.$route.name}UserInformation`;
            },
            isLoggedIn() {
                return Auth.check()
            },
            isAdmin(){
                return Auth.hasRole('admin')
            },
            cHeight(){
                return this.containerHeight - this.headerHeight - 40;
            }
        },
        methods: {
            showOfferHistory(){
                this.$router.push({
                    name: 'offerHistory',
                    params: {
                        pageLimit: 20,
                        sortBy: 'date',
                        direction: 'DESC',
                        entity: 'all'
                    }
                })
            },
            logout() {
                if(this.isLoggedIn){
                    Auth.logout();
                    EventBus.$on('logout:success', ()=>{
                        Vue.nextTick(()=>{
                            this.$router.push({path: '/#'})
                        })
                    });
                }
                if(!this.isLoggedIn){
                    this.$router.push({path: '/#'})
                }
            },
            adaptiveScroll(){
                this.containerHeight = this.$el.clientHeight;
                this.headerHeight = this.$el.children[0].clientHeight;
            },
            callBuyBalance(){
                this.$router.push({
                    name: `${this.parent}UserInformation`,
                    params: {type: 'buy-credits'}
                });
            },
            showNotificationsSettings(){
                this.$router.push({
                    name: `${this.parent}NotificationsSettings`,
                    params: {type: 'notifications-settings', action: 'email'}
                });
            },
            ifRegUser(){
                if(this.user.id !== Auth.getUserFromStorage().id) {
                    location.replace('#/app/home');
                    location.reload();
                }
            },
        },
        beforeRouteEnter (to, from, next) {
            if (!Auth.getUser()) next(Login.config().redirectPath); else next();
        },
        mounted(){
            this.ifRegUser();
            this.adaptiveScroll();
            window.addEventListener('resize', () => {
                this.adaptiveScroll();
            })
        },

    }
</script>

<style lang="scss">
    .eco-menu {
        height: calc(100vh - 55px);
        padding: 20px;
        overflow: hidden;

        header {
            z-index: 2;
            position: relative;
        }
        main {
            overflow: auto;

            .eco-menu-body {
                position: relative;
            }
            .eco-menu-item {
                border-bottom: 1px solid #f3f3f3;
                padding: 10px 0;
                text-align: left;
                width: 100%;

                a {
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 18px;
                    color: #000;
                }
            }
        }


    }
</style>
