<template>
    <div class="welcome-component">
        <div class="flex-center position-ref full-height container">
            <div class="top-right links">
                <router-link v-if="!isLoggedIn" to="/login">Login</router-link>
                <router-link v-if="!isLoggedIn" to="/request-invite">Request Invite</router-link>

                <router-link v-if="isLoggedIn" to="/app/home">App</router-link>
                <router-link v-if="isLoggedIn && isAdmin" to="/admin/overview">Admin</router-link>
                <a v-if="isLoggedIn" href="javascript:;" v-on:click="logout($event)">Logout</a>
            </div>
            <md-layout md-gutter="24">
                <md-layout md-flex="100" md-row >
                    <img
                            :style="{ 'margin-left':'auto', 'margin-right': 'auto',
                            'max-width': '100%', 'margin-bottom': '40px'}"
                            src="/pictures/logo-1x.png"/>
                </md-layout>
                <md-layout md-flex="100" md-row >
                    <div :style="{'margin-left':'auto', 'margin-right': 'auto'}" class="title">
                        Ecosquared
                    </div>
                </md-layout>
            </md-layout>
        </div>
    </div>
</template>
<style lang="scss">
    .welcome-component{
        .title {
            font-size: 3em;
            text-align: center;
        }
        .links > a {
            color: #000;
            padding: 0 25px;
            font-size: 12px;
            line-height: 20px;
            font-weight: 600;
            letter-spacing: .1rem;
            text-decoration: none;
            text-transform: uppercase;
        }
        .full-height {
            height: 100vh;
        }
        .flex-center {
            align-items: center;
            display: flex;
            justify-content: center;
        }
        .position-ref {
            position: relative;
        }
        .top-right {
            position: absolute;
            right: 10px;
            top: 18px;
        }
        .m-b-md {
            margin-bottom: 30px;
        }
    }
</style>
<script>
    import Auth from '../../services/auth';
    import EventBus from '../../services/EventBus';
    export default{
        data() {
            return {
              isAdmin: Auth.hasRole('admin'),
              isLoggedIn: Auth.check()
            }
        },

        watch: {
          isLoggedIn(){
            this.isAdmin = Auth.hasRole('admin');
          }
        },

        mounted() {
            EventBus.$on('login:success', () => this.isLoggedIn = true);
            EventBus.$on('logout:success', () => this.isLoggedIn = false);
        },

        methods: {
            logout(e) {
                e.preventDefault();
                e.stopPropagation();
                Auth.logout();
            }
        }

    }
</script>
