<template>
    <div class="projects-list">
        <!--item list component-->
        <item-list :style="{'opacity': (spin) ? 0 : 1}"
                   :items="cProjects"
                   :count="length"
                   :config="config"
                   :pageName="pageName"
                   :entity="'projects'"
                   :limit="buttonHide ? 3 : length"
                   :itemPopup="itemPopup">
        </item-list>
        <!--spinner-->
        <md-spinner v-if="spin" md-indeterminate :md-size="30"></md-spinner>
        <!--load-more-button-->
        <md-spinner v-if="spinner" md-indeterminate :md-size="30"></md-spinner>
        <load-more-button v-if="hasMoreItems && !buttonHide && !spinner" @load:more="loadMore"></load-more-button>
        <!--item filter component-->
        <search-filter v-if="filterStatus" @change="filterItems" :entity="'projects'" :query="searchQuery"></search-filter>

    </div>
</template>

<script>
    let _ = require('lodash');

    import Moment from 'moment';
    import ItemList from '../item-list.vue';
    import SearchFilter from '../filter/search-filter.vue';
    import Auth from '../../../../../services/auth';
    import Projects from '../../../models/ProjectModel';
    import EventBus from '../../../../../services/EventBus';
    import LoadMoreButton from '../buttons/load-more-button.vue';

    export default {
        props: ['countItems', 'pageName', 'filterStatus', 'sort', 'type', 'buttonHide', 'updateProjectsList'],
        components: {
            ItemList,
            SearchFilter,
            LoadMoreButton
        },
        data() {
            return {
                spin: false,
                spinner: false,
                config: {
                    hideSubname: true,
                    hideDate: true,
                    showFullList: false
                },
                itemPopup: {
                    entity: 'projects',
                    action: 'value',
                    usersList: 'share-sorting-list'
                },
                projects: [],
                searchQuery: '',
                limit: 50,
                length: null,
                filter_groups: [
                    {
                        or: true,
                        filters: [
                            {
                                "key":"date_status",
                                "value": 'till',
                                "operator": "eq"
                            },
                            {
                                "key":"date_status",
                                "value": 'begins',
                                "operator": "eq"
                            }
                        ]
                    }
                ],
                filtersItemSelect: [
                    {
                        "or": true,
                        "filters": []
                    }
                ],
            }
        },
        computed:{
            hasMoreItems(){
                return  this.length > this.limit
            },
            cProjects(){
                return this.projects.map((i) => {
                    i.creator = Auth.getUser().id === i.user_id;
                    i.colMy = i.happy;
                    i.colAverage = i.value;
                    if(i.date_status === 'Begins') i.date = Moment(i.creation_date).format('DD MMM YYYY');
                    else i.date = Moment(i.completion_date).format('DD MMM YYYY');
                    if(i.user){
                        i.author = `${i.user.name} ${i.user.surname}`;
                    }
                    return i});
            },
            computedList(){
                return this.cProjects.filter((item) => {
                    return item.title.toLowerCase().indexOf((this.searchQuery).toLowerCase()) !== -1
                })
            },
        },
        methods: {
            getType(val){
                this.filter_groups[0].filters = [];
                this.filter_groups[0].filters.splice(0, 1, {
                    "key":"date_status",
                    "value": val,
                    "operator": "eq"
                });
                this.spin = true;
                this.fetchProjects(this.sort, this.limit, this.filter_groups);
            },
            loadMore(){
                if(this.length > this.limit) {
                    this.spinner = true;
                    this.limit += 50;
                    this.$router.push({name:this.$route.name, params: {pageLimit:this.limit}});
                    this.fetchProjects(this.sort, this.limit, this.filtersItemSelect)
                }
            },

            fetchProjects(sort, limit, filter_groups){
                 Projects.all({sort, filter_groups, limit: limit || this.limit}).then(data => {
                    this.projects = data.projects;
                    this.$set(this, 'length', data.limitCount);
                    this.spin = false;
                    this.spinner = false;
                    Projects.sync(this, 'projects')
                }, x => {console.log(x)});
            },
            filterItems(val){
                this.searchQuery = val;
            },
            fetchSearch: _.debounce(function () {
                this.filtersItemSelect[0].filters = [];
                this.filtersItemSelect[0].filters.push(
                    {
                        key : 'title',
                        value : this.searchQuery,
                        operator : 'ct'
                    }
                );
                if(this.searchQuery)
                    this.$router.push({
                        name: 'entity',
                        params: {search: this.searchQuery}
                    });

                if(!this.searchQuery)
                    this.$router.push({
                        name: 'entity',
                        params: {entity: 'projects'}
                    });
                this.fetchProjects(this.sort, this.limit, this.filtersItemSelect);
            }, 500),
            init(){
                this.spin = true;
                this.searchQuery = (this.$route.params.search) ? this.$route.params.search : '';
                if(!this.searchQuery)this.fetchProjects(this.sort,this.limit, this.filter_groups);
            }
        },
        mounted() {
            if(this.pageName === 'home') this.init();
        },
        watch:{
            updateProjectsList(r){
                if(r)this.init();
                this.$emit('refresh', {entity: 'projects',status: false})
            },
            type(val){
                if(val === 'projects'){
                    this.filter_groups = [
                        {
                            or: true,
                            filters: [
                                {
                                    "key":"date_status",
                                    "value": 'till',
                                    "operator": "eq"
                                },
                                {
                                    "key":"date_status",
                                    "value": 'begins',
                                    "operator": "eq"
                                }
                            ]
                        }
                    ];
                    this.init();
                }
                if(val !== 'projects'){
                    this.getType(val)
                }
            },
            searchQuery(){
                this.spin = true;
                this.fetchSearch();
            },
            sort() {
                this.spin = true;
                this.init();
            },
            length(val){
                this.$emit('countProjects', val);
            },
           'projects.length'(val){
               if(val > this.length) this.init();
           }
        }

    }
</script>

<style lang="scss">
    .projects-list {
        text-align: center;
        position: relative;

        .md-spinner {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 10px;
        }
    }
</style>