<template>
    <div class="offer-history">
        <header>
            <!--balance component-->
            <balance :parent="parent"></balance>
            <!--headers-components-->
            <item-list-header :headers="headers"></item-list-header>
        </header>
        <main class="content" :style="{height: `${cHeight}px`}">

            <!--project notification-->
            <notification-list :notifications="cNotifications" :type="type" :disabled="disabled"></notification-list>

            <load-more-button v-if="hasMoreItems" @load:more="loadMore"></load-more-button>

            <!--router-view component-->
            <router-view></router-view>
        </main>
    </div>
</template>

<script>
    import Moment from 'moment';
    import User from '../../models/UserModel';
    import Auth from '../../../../services/auth'
    import Balance from '../common/balance/balance.vue';
    import EventBus from '../../../../services/EventBus';
    import Notification from '../../models/NotificationModel';
    import NotificationList from '../common/notification-list.vue';
    import LoadMoreButton from '../common/buttons/load-more-button.vue';
    import ItemListHeader from '../common/item-list-parts/item-list-header.vue';

    export default {
        components: {Balance, NotificationList, LoadMoreButton, ItemListHeader},
        data(){
            return {
                disabled: true,
                type: null,
                parent: 'offerHistory',
                containerHeight: '',
                headerHeight: '',
                headers: {
                    title: 'Offer',
                    shadow: 'History',
                },
                notifications: [],
                limit: 20,
                length: null,
                filterCount: null,
                limitCount: null,
                user: Auth.getUser(),
                sort: [
                    {
                        key: 'created_at',
                        direction: 'DESC'
                    }
                ],
                filter_groups: [
                    {
                        or: true,
                        filters: []
                    }
                ],
            }
        },
        computed: {
            hasMoreItems(){
                return this.limitCount > this.limit;
            },
            cHeight(){
                return this.containerHeight - this.headerHeight - 40;
            },
            cNotifications(){
                return this.notifications.map((i)=>{
                    i.activity = Moment(i.created_at).fromNow();
                    i.modalName = 'offered';
                    i.status = 'accepted';
                    i.value = i.amount;
                    i.read = i.seen = true;
                    if(i.user){
                        i.user.fullName = `${i.user.name} ${i.user.surname}`;
                        i.user.avatarName = `${i.user.name.charAt(0)}${i.user.surname.charAt(0)}`;
                    }
                    if(i.card){
                        i.card.user.fullName = `${i.card.user.name} ${i.card.user.surname}`;
                    }
                    return i;
                })
            },
        },
        methods: {
            loadMore(){
                if(this.limitCount > this.limit) {
                    this.limit += 20;
                    this.fetchNotification(this.limit, this.sort, this.filter_groups)
                }
            },
            adaptHeight() {
                this.containerHeight = this.$el.clientHeight;
                this.headerHeight = this.$el.children[0].clientHeight;
            },
            getType(val){
                this.filter_groups[0].filters.splice(0, 1, {
                    "key":"type",
                    "value": val,
                    "operator": "eq"
                });
                this.fetchNotification(this.filter_groups);
            },
            fetchNotification(limit, sort, filter_groups){
                Notification.fetchOfferHistory(limit, sort, filter_groups).then(data => {
                    this.notifications = data.notifications[0].concat(data.notifications[1]);
                    this.limitCount = data.limitCount;
                    this.length = data.count;
                    this.filterCount = data.filterCount;
                    Notification.sync(this.notifications, i => i.user_id === Auth.getUser().id);
                }, x => {console.log(x)});
            },
            ifRegUser(){
                if(this.user.id !== Auth.getUserFromStorage().id) {
                    location.replace('#/app/home');
                    location.reload();
                }
            },
        },
        mounted(){
            this.limit = this.$route.params.pageLimit;
            this.ifRegUser();
            this.fetchNotification(this.limit, this.sort, this.filter_groups);
            this.adaptHeight();
            window.addEventListener('resize', () => {
                this.adaptHeight();
            })
        }
    }
</script>

<style lang="scss">
    .offer-history {
        height: calc(100vh - 55px);
        padding: 20px;
        overflow: hidden;

        header {
            z-index: 2;
            position: relative;
            box-shadow: 0 10px 5px rgba(255,255,255,.5);
        }
        main.content {
            overflow: auto;
            margin: 0;
            .load-more {
                display: inherit;
            }
        }
    }
</style>