<template>
    <div class="eco-app">
        <md-bottom-bar md-theme="black" class="md-accent">
            <!--opened popup user settings-->
            <md-bottom-bar-item @click="openModalUserSettings()"
                                :md-active="this.$route.params.type === 'user-settings'"
                                md-icon-src="/pictures/icon_profile.svg">
            </md-bottom-bar-item>
            <!--link to incoming massage page-->
            <md-bottom-bar-item :href="'/#' + App.config().components.incoming.redirectPath"
                                :md-active="this.$route.name === 'incomingNotification'"
                                md-icon-src="/pictures/icon_incoming.svg">
                    <i class="new-messages" v-if="newIncoming.unseen"></i>
                    <i class="panding-offers" v-if="offers">{{offers}}</i>
            </md-bottom-bar-item>
            <!--back to home-->
            <md-bottom-bar-item :href="'/#' + App.config().components.home.redirectPath"
                                :md-active="$route.name === 'home'"
                                md-icon-src="/pictures/icon_home.svg">
            </md-bottom-bar-item>
            <!--link to outgoing message page-->
            <md-bottom-bar-item :href="'/#' + App.config().components.outgoing.redirectPath"
                                :md-active="this.$route.name === 'outgoingNotification'"
                                md-icon-src="/pictures/icon_outgoing.svg">
                <i class="panding-offers" v-if="outgoingOffers">{{outgoingOffers}}</i>
            </md-bottom-bar-item>
            <!--link to menu page-->
            <md-bottom-bar-item :href="'/#' + App.config().components.menu.redirectPath"
                                :md-active="this.$route.name === 'menu'"
                                md-icon-src="/pictures/icon_menu.svg">
            </md-bottom-bar-item>
        </md-bottom-bar>

        <router-view></router-view>
    </div>
</template>
<script>
    import App from '../App';
    import Login from '../Login';
    import Welcome from '../Welcome';
    import Auth from '../../services/auth';
    import EventBus from '../../services/EventBus';
    import RegistrationForm from '../RegistrationForm';
    import Notification from './models/NotificationModel';

    export default {
        data() {
            return {
                App,
                Welcome,
                RegistrationForm,
                newIncoming: false,
                route: null,
                type: 'invite',
                offers: null,
                outgoingOffers: null,
                ranges: [
                    { divider: 1e9 , suffix: 'b' },
                    { divider: 1e6 , suffix: 'm' },
                    { divider: 1e3 , suffix: 'k' }
                ],
                timer: false,
            }
        },
        computed: {
            openUserSettings(){
                return ((this.$route.matched[2] && this.$route.matched[2].name) === 'entity') ?
                    `${this.$route.matched[2].name}UserInformation` : `${this.$route.matched[1].name}UserInformation`
            }
        },
        methods: {
            calcTimer(){
                setTimeout(()=>{this.timer = true}, 6e5);
            },
            idleLogout() {
                var t;
                window.onmousemove = resetTimer;
                window.onmousedown = resetTimer; // catches touchscreen presses
                window.onclick = resetTimer;     // catches touchpad clicks
                window.onscroll = resetTimer;    // catches scrolling with arrow keys
                window.onkeypress = resetTimer;

                function logout() {
                    Auth.logout();
                }

                function resetTimer() {
                    clearTimeout(t);
                    t = setTimeout(logout, 6e5);  // time is in milliseconds
                }
                Vue.nextTick(resetTimer);
            },

            formatNumber(n) {
                for (let i = 0; i < (this.ranges).length; i++) {
                    if (n >= this.ranges[i].divider) {
                        return (n / this.ranges[i].divider).toString() + this.ranges[i].suffix;
                    }
                }
                return n.toString();
            },
            openModalUserSettings(){
                this.$router.push({name: this.openUserSettings, params:{type:'user-settings'}})
            },
            fetchIncomingNotification(){
                Notification.fetchUnseenIncoming().then(data => {
                    this.newIncoming = data;
                    if(data.offers) this.offers = this.formatNumber(data.offers);
                    if(data.outgoingOffers) this.outgoingOffers = this.formatNumber(data.outgoingOffers);
                    Notification.sync(this, 'outgoingOffers');
                    Notification.sync(this, 'newIncoming');
                    Notification.sync(this, 'offers');
                }, x => {console.log(x)});
            },

        },
        beforeRouteEnter (to, from, next) {
            if (!Auth.getUser()) next(Login.config().redirectPath); else next();
        },
        mounted(){
            this.fetchIncomingNotification();
            this.idleLogout();
            this.calcTimer();
        },
        watch: {
            timer(val){
                console.log(val)
            },
            $route (val) {
                if(val.name === 'home' && this.timer) location.reload();
                this.$children[0].setActive();
            }
        }
    }
</script>
<style lang="scss">
    .eco-app {
        height: 100vh;
        overflow: hidden;
        display: flex;
        flex-flow: column;
        -moz-user-select: none; /* Mozilla Firefox */
        -ms-user-select: none; /* Internet Explorer (не поддерживается) */
        -o-user-select: none; /* Opera Presto (не поддерживается) */
        -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
        pre {
            font-size: 14px;
            line-height: 20px;
            text-align: left;
        }

        a:not(.md-button):not(.md-bottom-bar-item):hover {
            text-decoration: none;
        }
        .md-title, .title {
            word-wrap: break-word;
        }
        .content {
            z-index: 1;
            overflow: auto;
        }
        .appBottomBar {
            color: white;
            background-color: black;
        }
        .md-bottom-bar {
            bottom: -1px;
        }
        .md-bottom-bar-item {
            min-width: auto;
            position: relative;
            padding: 0;

            &.md-active {
                svg {
                    transition: all .3s;
                    -khtml-border-radius: 100%;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    border-radius: 100%;
                    -khtml-box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7);
                    -webkit-box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7);
                    -moz-box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7);
                    -o-box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7);
                    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7);
                }
                .md-text {
                    transform: scale(0.8571) translateY(2px);
                }
            }
            .md-text {
                .new-messages {
                    position: fixed;
                    bottom: 14px;
                    left: -6px;
                    right: 0;
                    margin: 0 auto;
                    background: #97b228;
                    width: 13px;
                    height: 13px;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    border-radius: 100%;
                    font-size: 0;
                    line-height: 15px;
                    border: 3px solid #2b2b2b;
                }
                .panding-offers {
                    position: fixed;
                    bottom: 40px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    background: #ba3d29;
                    min-width: 20px;
                    width: 20px;
                    height: 20px;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    border-radius: 100%;
                    font-weight: 400;
                    border: 2px solid #2b2b2b;
                    font-style: normal;
                    font-size: 11px;
                    text-align: center;
                    line-height: 16px;
                    color: #fff;
                }
            }

        }
        .chips {
            border-radius: 10px;
            color: #fff;
            font-weight: 700;
            display: inline-block;
            padding: 0 7px;
            font-size: 12px;
            line-height: 20px;
            &.grey-bg {
                text-transform: uppercase;
                background: #e0e0e0;
                color: #000;
                font-weight: 600;
                margin-right: 5px;
            }
            &.black-bg {
                background: rgba(0,0,0,.8);
            }
            &.no-active {
                background: #fff;
                color: #2b2b2b;
                box-shadow: 0 0 3px rgba(0,0,0,.2);
            }
        }
        .md-error {
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            color: #f44336;
            padding-top: 10px;
            display: block;

            b, strong {
                font-weight: 600;
            }
        }
    }
</style>
