<template>
    <md-button class="little-icon-button" @click="$emit('button:click')">
        <md-icon :md-src="icon"></md-icon>{{btnText}}
    </md-button>
</template>

<script>
    export default {
        props: ['btnText', 'icon'],
    }
</script>

<style lang="scss">
    .little-icon-button {
        background: transparent;
        border-radius: 10px;
        color: #2b2b2b;
        padding: 0 10px 0 25px;
        min-width: 10px;
        min-height: 5px;
        height: 20px;
        font-size: 9px;
        line-height: 20px;
        font-weight: 400;
        text-align: center;
        margin: 0 5px 0 0;
        position: relative;
        display: inline-block;
        text-transform: uppercase;

        i {
            position: absolute;
            top: 2px;
            left: 7px;
            min-width: 14px;
            width: 14px;
            height: 14px;
            min-height: 14px;
        }

        &:hover {
            color: #000;
            box-shadow: inset 0 0 10px rgba(0,0,0,.2);
        }
    }
</style>