<template>
    <md-button class="load-more" @click="$emit('load:more')">show more</md-button>
</template>

<style lang="scss">
    .load-more {
        margin: 30px auto;
        background: #fff;
        color: #2b2b2b;
        text-shadow: none;
        border: 1px solid #5c5c5c;
        border-radius: 25px;
        box-shadow: 0 0 25px rgba(0,0,0,0.3);

        .md-ink-ripple {
            border-radius: 25px;
        }
        
        &:hover {
            color: #2b2b2b;
        }
    }
</style>