<template>
    <md-button class="middle-icon-button" @click="$emit('button:click');">
        <md-icon :md-src="icon"></md-icon>{{btnText}}
    </md-button>
</template>

<script>
    export default {
        props: ['btnText', 'icon'],
    }
</script>

<style lang="scss">
    .middle-icon-button {
        background: transparent;
        border-radius: 10px;
        color: #2b2b2b;
        padding: 0 10px 0 25px;
        min-width: 10px;
        min-height: 5px;
        height: 20px;
        font-size: 11px;
        font-weight: 300;
        line-height: 20px;
        text-align: center;
        margin: 0 5px 0 0;
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        transition: all .5s;

        &:after {
            position: absolute;
            width: 100%;
            height: 0;
            left: 0;
            bottom: 0;
            content: '';
            transition: all .5s;
            background: rgba(211, 211, 211, 0.2);
        }

        i {
            position: absolute;
            top: 2px;
            left: 5px;
            min-width: 16px;
            width: 16px;
            height: 16px;
            min-height: 16px;
        }

        &:hover {
            background-color: transparent !important;
            color: #000;
            box-shadow: inset 0 0 10px rgba(0,0,0,.2);
            &:after {
                height: 100%;
            }
        }
    }
    @media all and(max-width: 340px) {
        .middle-icon-button {
            font-size: 10px;
        }
    }
</style>