<template>
    <div class="messages-component">
        <buy-credits-success></buy-credits-success>
        <buy-credits-failure></buy-credits-failure>
        <request-invite-success></request-invite-success>
        <request-invite-failure></request-invite-failure>
        <check-your-email-info></check-your-email-info>

        <router-view></router-view>
    </div>
</template>
<script>
    import Auth from '../../services/auth';
    import User from '../App/models/UserModel';
    import EventBus from '../../services/EventBus';
    import Invite from '../App/models/InviteModel';
    import BuyCreditsSuccess from './modals/buy-credits-success.vue';
    import RequestInviteSuccess from './modals/request-invite-success.vue';
    import BuyCreditsFailure from './modals/buy-credits-failure.vue';
    import RequestInviteFailure from './modals/request-invite-failure.vue';
    import CheckYourEmailInfo from './modals/check-your-email-info.vue';

    export default {
        components: {
            BuyCreditsSuccess,
            BuyCreditsFailure,
            RequestInviteSuccess,
            RequestInviteFailure,
            CheckYourEmailInfo
        },
        watch: {
            '$route': 'init',
        },
        methods: {
            init () {
                let messages = this.$route.params.message;
                if(messages === 'buy-credits-success'
                    || messages === 'buy-credits-failure'
                    || messages !== 'check-your-email-info'){
                    let userId = Auth.getUser().id;
                    Vue.nextTick(() => {
                        User.getUserAfterBuyCredits(userId).then((data)=>{
                            EventBus.$emit('modal:show', {type: messages, data})
                        });
                    });
                }
                if(messages === 'request-invite-success'
                    || messages === 'request-invite-failure'
                    || messages !== 'check-your-email-info'){
                    Vue.nextTick(() => {
                        EventBus.$emit('modal:show', {type: messages})
                    });
                }
                if(messages === 'check-your-email-info' ||
                    (messages !== 'request-invite-success' || messages !== 'request-invite-failure') ||
                    (messages !== 'buy-credits-success' || messages !== 'buy-credits-failure')){
                    Vue.nextTick(() => {
                        EventBus.$emit('modal:show', {type: messages})
                    });
                }
            }
        },
        mounted() {
            this.init();
        }
    }
</script>

<style lang="scss">
    .messages-component {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;

        .v--modal {
            box-shadow: 0 20px 60px -2px rgba(104, 126, 23, .4);
        }

        .content {
            padding: 40px 0 0;

            .logo .logo-picture {
                width: 70%;
                height: 70%;
            }

            .message {
                padding: 0 25px 40px;
                text-align: center;

                h3 {
                    font-size: 60px;
                    line-height: 50px;
                    font-weight: 900;
                    margin: 30px 0;
                }
                .message-desc {
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 34px;
                }
                span {
                    padding-top: 20px;
                    display: block;
                    color: #2b2b2b;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 30px;
                }
            }
            .md-button {
                width: 100%;
                margin: 0;
                padding: 5px 0;
                font-weight: 600;
                background: rgba(0,0,0,0.1);
            }
        }
    }
</style>