<template>
    <div class="projects-page">
        <header class="entity-header">
            <div class="header-cap">
                <md-layout>
                    <md-layout :md-flex="flexLeft" md-vertical-align="center">
                        <md-layout md-vertical-align="center" class="top-button" md-align="start" md-flex="30">
                            <little-icon-button :icon="showFilterBtn.icon"
                                                :btnText="showFilterBtn.text"
                                                @button:click="toggleFilter">
                            </little-icon-button>
                        </md-layout>

                        <md-layout md-vertical-align="center" md-align="start" md-flex="30">
                            <type-filter @fetch:type="projectsFilter" :typeList="typeList"
                                         :filtered="projectsHeaders.title">
                            </type-filter>
                        </md-layout>
                    </md-layout>
                    <md-layout :md-flex="flexRight" md-vertical-align="center">
                        <!--balance component-->
                        <balance :parent="'entity'"></balance>
                    </md-layout>
                </md-layout>
            </div>

            <div class="entity-cap">
                <!--item list header component-->
                <item-list-header @sort="sort" :headers="projectsHeaders" :type="type"
                                  :columns="projectsColumns">
                </item-list-header>
            </div>
        </header>

        <main :style="{height: `${cHeight}px`}">
            <!--users-list-->
            <projects-list @refresh="refresh"
                           :entityType="entityType"
                           :filterStatus="filterStatus"
                           :sort="sorting"
                           :type="type"
                           :pageName="pageName"
                           :updateProjectsList="projectsListUpdate"
                           :buttonHide="false">
            </projects-list>
        </main>

        <router-view></router-view>
    </div>
</template>

<script>
    import Auth from '../../../../services/auth';
    import Balance from '../common/balance/balance.vue';
    import EventBus from '../../../../services/EventBus';
    import TypeFilter from '../common/filter/type-filter.vue';
    import ProjectsList from '../common/project/projects-list.vue';
    import LittleIconButton from '../common/buttons/little-icon-button.vue';
    import ItemListHeader from '../common/item-list-parts/item-list-header.vue';

    export default {
        props: [
            'entityType',
        ],
        components: {
            Balance,
            TypeFilter,
            ProjectsList,
            ItemListHeader,
            LittleIconButton
        },
        data(){
            return {
                projectsListUpdate: false,
                pageName: 'item',
                typeList: [
                    {
                        value: 'projects',
                        title: 'All Live Projects'
                    },
                    {
                        value: 'Begins',
                        title: 'Future'
                    },
                    {
                        value: 'Till',
                        title: 'Current'
                    },
                    {
                        value: 'Ended',
                        title: 'Past'
                    },
                ],
                showFilterBtn: {
                    icon: '/pictures/icon_search.svg',
                    text: 'Search',
                },
                filterStatus: false,
                includes: [],
                sorting: [
                    {
                        key: 'date_status',
                        direction: 'DESC'
                    },
                    {
                        key: 'completion_date',
                        direction: 'ASC'
                    },
//                    {
//                        key: 'creation_date',
//                        direction: 'ASC'
//                    },
                ],
                containerHeight: '',
                headerHeight: '',
                sq: true,
                projectsHeaders: {
                    title: 'Projects',
                    shadow: 'Future',
                    sortName: 'title'
                },
                projectsColumns : [
                    {
                        sortName: 'happy',
                        title: 'My',
                        id: 'my'
                    },
                    {
                        sortName: 'value',
                        title: 'our',
                        id: 'average'
                    }
                ],
                type: '',
            }
        },
        computed: {
            parent() {
                return this.$route.matched[2].name;
            },
            flexRight(){
                return $(document).width() > 600 ? 30 : 40;
            },
            flexLeft(){
                return $(document).width() > 600 ? 70 : 60;
            },
            cHeight(){
                return this.containerHeight - this.headerHeight - 40;
            }
        },
        methods: {
            refresh(val){
                this[`${val.entity}ListUpdate`] = val.status;
            },
            projectsFilter(val){
                this.type = val;
            },
            sort(options){
                if(options.status === true){
                    var direction = "ASC"
                }
                if(options.status === false){
                    var direction = "DESC"
                }
                this.sorting.splice(0, 1, {
                    key: options.name,
                    direction
                });
                let search = this.$route.params.search;
                let routeStep3 = this.$route.matched[3];
                if(search){
                    this.$router.push({
                        name: (routeStep3 && routeStep3.name === 'entityFilter') ? 'entityFilter' : 'entity',
                        params: {sortBy:options.name, direction, search}
                    });
                }
                if(!search){
                    this.$router.push({
                        name: 'entity',
                        params: {sortBy:options.name, direction,}
                    });
                }
            },
            toggleFilter(){
                this.filterStatus = !this.filterStatus;
            },
            adaptiveScroll(){
                this.containerHeight = this.$el.clientHeight;
                this.headerHeight = this.$el.children[0].clientHeight;
            }
        },
        beforeRouteUpdate(to, from, next){
            if(from.params.action === 'share' ||
                from.params.action === 'support' ||
                from.params.action === 'thank' ||
                from.params.action === 'value')
                this.projectsListUpdate = true;
            next();
        },
        mounted(){
            this.sorting.splice(0, 1, {
                key: (this.$route.params.sortBy) ? this.$route.params.sortBy : 'date_status',
                direction: (this.$route.params.direction) ? this.$route.params.direction : 'DESC'
            });

            EventBus.$on('filter:status', status => this.filterStatus = status);
            this.adaptiveScroll();
            window.addEventListener('resize', () => {
                this.adaptiveScroll();
            })
        },

    }
</script>

<style lang="scss">
    .projects-page {
        padding: 20px;
        height: 100%;
        overflow: hidden;

        header {
            position: relative;
            background: #ffffff;
            z-index: 2;
        }

        main {
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
    }
    @media all and (max-width: 455px){
        .projects-page {
            .header-cap > .md-layout > .md-layout .md-layout {
                display: block;
                min-width: 100%;
            }
            .md-vertical-align-center {
                align-items: flex-start;
            }
        }
    }
</style>