<template>
    <md-card-header>
        <div class="img-box">
            <md-avatar class="md-avatar-icon md-large">
                <img :src="imageData" alt="">
                <input type="file" @change="change" name="image" class="upload" v-validate="'image|size:1024'">
            </md-avatar>
        </div>
        <div class="text-box">
            <div class="subtext">
                To upload avatar, <br>
                tap on grey circle
            </div>
        </div>
        <div v-show="errors.has('image')" class="md-error">
            <strong>{{ errors.first('image') }}</strong>
        </div>
    </md-card-header>
</template>
<script>


    export default {
        data(){
            return {
                imageData: null,
                image: null,
            }
        },
        methods: {
            change(e){
                e.preventDefault();
                let img = e.target.files[0];
                var reader = new FileReader();
                reader.onload = (e) => {
                    this.imageData = e.target.result;
                };
                reader.readAsDataURL(img);
                this.image = img;
            },
        },
        mounted() {
            this.$watch(() => [
                    {prop: 'image', val: this.image},
                ],
                (nArr) => {
                    Vue.nextTick(() => {
                        nArr.forEach((elem) => {
                            if (!this.$validator.errors.has(elem.prop)
                                && elem.val && (elem.val.size < 1024000)
                                && (elem.val.type === 'image/jpeg' || elem.val.type === 'image/png')) {
                                this.$emit(`${elem.prop}:changed`, elem);
                            } else {
                                this.$emit(`${elem.prop}:invalid`, elem);
                            }
                        })
                    });
                })
        }
    }
</script>
<style lang="scss">
    .md-card-header {
        padding: 20px 0;
        .img-box {
            margin-right: 16px;
            float: left;
            .md-avatar-icon {
                position: relative;
                .upload {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                }
            }
        }
        .text-box {
            text-align: left;
            padding: 12px 0 0 75px;

            .subtext {
                font-size: 14px;
                line-height: 20px;
                color: #000000;
                font-weight: 600;
            }
        }
    }
    @media all and(max-width: 320px) {
        .modal-registration-form {
            .modal-container {
                .modal-step {
                    .header {
                        .text-box {
                            padding-top: 0;

                            .md-title {
                                font-size: 16px;
                                line-height: 20px;
                            }
                            .md-subhead {
                                padding-top: 5px;
                                font-size: 12px;
                                line-height: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
</style>