<template>
    <div class="registration-info">
        <!--change user name-->
        <md-input-container md-theme="green" :class="{'md-input-invalid': errors.has('name')}">
            <label><i>*</i> Name</label>
            <md-input v-validate="'required'" name="name" maxlength="25" v-model="name"></md-input>
            <span v-show="errors.has('name')" class="md-error">
                <strong>{{ errors.first('name') }}</strong>
            </span>
        </md-input-container>
        <!--change user surname-->
        <md-input-container md-theme="green" :class="{'md-input-invalid': errors.has('surname')}">
            <label><i>*</i> Surname</label>
            <md-input v-validate="'required'" name="surname" maxlength="25" v-model="surname"></md-input>
            <span v-show="errors.has('surname')" class="md-error">
                <strong>{{ errors.first('surname') }}</strong>
            </span>
        </md-input-container>
        <!--you cant change user email-->
        <md-input-container md-theme="green">
            <label>Email</label>
            <md-input disabled v-model="user.email"></md-input>
        </md-input-container>
        <!--you cant change user description-->
        <!--<md-input-container md-theme="green">-->
            <!--<label>Description</label>-->
            <!--<md-input v-model="description"></md-input>-->
        <!--</md-input-container>-->
        <!--new password-->
        <md-input-container md-theme="green" md-has-password :class="{'md-input-invalid': errors.has('password')}">
            <label><i>*</i> Password</label>
            <md-input autocomplete="off" v-validate="'required'" name="password" type="password" v-model="password"></md-input>
            <span v-show="errors.has('password')" class="md-error">
                <strong>{{ errors.first('password') }}</strong>
            </span>
        </md-input-container>
        <!--confirm password-->
        <md-input-container md-theme="green" md-has-password
                            :class="{'md-input-invalid': errors.has('password_confirmation')}">
            <label><i>*</i> Confirm Password</label>
            <md-input autocomplete="off" v-validate="'required|confirmed:password'" v-model="confirmPassword"
                      data-vv-name="password_confirmation" type="password" data-vv-as="password">
            </md-input>
            <span v-show="errors.has('password_confirmation')" class="md-error">
                <strong>{{ errors.first('password_confirmation') }}</strong>
            </span>
        </md-input-container>
    </div>
</template>

<script>
    export default {
        props: ['user'],
        data(){
            return {
                name: null,
                email: null,
                surname: null,
                password: null,
                description: null,
                confirmPassword: null,
            }
        },
        mounted() {
            this.$watch(() => [
                    {prop: 'name', val: this.name},
                    {prop: 'surname', val: this.surname},
                    {prop: 'password', val: this.password},
                    {prop: 'description', val: this.description},
                    {prop: 'confirmPassword', val: this.confirmPassword},
                ],
                (nArr) => {
                    Vue.nextTick(() => {
                        nArr.forEach((elem) => {
                            if (!this.$validator.errors.has(elem.prop)) {
                                this.$emit(`${elem.prop}:changed`, elem);
                            } else {
                                this.$emit(`${elem.prop}:invalid`, elem);
                            }
                        })
                    });
                })
        }
    }
</script>

<style lang="scss">
    .registration-info {
        .md-input-container.md-input-focused label, .md-input-container.md-has-value label {
            top: 7px;
        }
        .md-input-container.md-input-focused input, .md-input-container.md-input-focused textarea,
        .md-input-container.md-has-value input, .md-input-container.md-has-value textarea {
            line-height: 20px;
            padding-top: 10px;
        }
        label i {
            color: #910005;
        }
        .md-input-container .md-count {
            line-height: 20px;
        }
        .md-button {
            padding: 0 5px;
        }
        .md-input-container {
            margin: 0 0 5px;
        }
        strong {
            line-height: 12px;
        }
        .md-button.md-icon-button .md-icon, .md-button.md-fab .md-icon {
            top: 8px;
        }
    }
</style>