<template>
    <div class="range-slider">
        <md-layout>
            <md-layout md-flex="15" md-vertical-align="center">
                <span class="slider-box-label">{{leftLabel}}</span>
            </md-layout>
            <md-layout md-flex="70" md-align="center" md-vertical-align="center">
                <div class="range-slider-title">{{title}}</div>
                <b-form-slider v-model="value"
                               :min="min" :max="max"
                               :tooltip="tooltip"
                               :tooltip-position="tooltipPosition"
                               :step="step"
                               trigger-change-event>
                </b-form-slider>
            </md-layout>
            <md-layout md-flex="15" md-vertical-align="center">
                <span class="slider-box-label">{{rightLabel}}</span>
            </md-layout>
        </md-layout>
    </div>
</template>

<script>
    export default {
        props: ['propValue','min','max','tooltip','tooltipPosition','step', 'rightLabel', 'leftLabel', 'title'],
        data(){
            return {
                value: null,
            }
        },
        methods: {

        },
        mounted(){
            this.value = (this.propValue)?this.propValue:1;
        },
        watch: {
            value(val){
                this.$emit('value:changed', val);
            }
        }
    }
</script>

<style lang="scss">
    .range-slider {
        padding: 30px 0 10px;
        .slider-box-label {
            font-size: 9px;
            line-height: 12px;
            text-transform: uppercase;
            font-weight: 700;
        }
        .range-slider-title {
            font-size: 13px;
            line-height: 16px;
            text-transform: none;
            font-weight: 700;
        }
        .d-inline-block {
            .slider.slider-horizontal .slider-track {
                height: 3px;
                background: #2b2b2b;
            }
            .slider-handle {
                width: 15px;
                height: 15px;
                background: #2b2b2b;
            }
            .tooltip.tooltip-main.bottom.in {
                margin-left: -2.5px !important;
                top: 14px !important;
            }
            .tooltip-inner {
                background-color: transparent;
                padding: 0;
                font-weight: 700;
                color: #2b2b2b;
            }
        }
    }

</style>