<template>
    <div class="filter">
        <div class="filter-by">
            <md-icon md-src="/pictures/icon_search.svg"></md-icon>
            <md-layout md-align="center">
                <md-input-container md-clearable>
                    <label>Search {{entity}} list</label>
                    <md-input id="search-input" v-model="searchQuery" autofocus></md-input>
                </md-input-container>
            </md-layout>
            <a href="#" class="close-btn" @click.prevent="close()"><md-icon>close</md-icon></a>
        </div>
    </div>
</template>

<script>
    import EventBus from '../../../../../services/EventBus';

    export default {
        props: ['entity', 'query'],
        data(){
            return {
                searchQuery: '',
            }
        },
        methods: {
            close(){
                EventBus.$emit('filter:status', false);
                EventBus.$emit('filter:close', false);
            }
        },
        mounted(){
            setTimeout(()=>{
                if(this.query) this.searchQuery = this.query;
            })
        },
        watch : {
            searchQuery(val){
                this.$emit('change', val);
            },
        }
    }
</script>

<style lang="scss">
    .filter {
        position: fixed;
        bottom: 75px;
        left: 0;
        right: 0;
        width: 220px;
        margin: 0 auto;
        z-index: 2;
        background: #ffffff;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        border: 1px solid rgba(0,0,0,0.5);
        box-shadow: 0 0 10px rgba(0,0,0,0.3);

        i {
            position: absolute;
            left: 5px;
            top: 7px;
            min-width: 16px;
            width: 16px;
            height: 16px;
            min-height: 16px;
        }

        .md-input-container {
            margin: 0;
            padding: 0;
            min-height: 30px;

            &.md-input-focused:after, &.md-input-focused label, &.md-has-value label, &:after {
                display: none;
            }
            
            &.md-input-focused .md-icon:not(.md-icon-delete){
                color: #000;
            }

            & .md-clear-input {
                bottom: -9px;
                z-index: 6;
                opacity: 0;
            }

            label {
                top: 5px;
                left: 25px;
                font-size: 14px;
            }
            input {
                height: 30px;
                line-height: 30px;
                padding: 0 25px;
            }
        }
        .close-btn {
            position: absolute;
            right: 10px;
            z-index: 5;
            left: auto;
            top: 7px;
            i {
                font-size: 18px;
                line-height: 20px;
                color: #000000;
                position: relative;
                left: auto;
                top: auto;
            }
        }
    }

    @media all and(max-width: 320px){
        .filter {
            .md-input-container {
                label{
                    font-size: 12px;
                }
            }
        }
    }
</style>