<template>
    <div class="type-filter">
        <md-menu md-align-trigger>
            <md-button md-menu-trigger>
                <md-icon :md-src="icon || defaultIcon"></md-icon>
                filter {{filtered}}
            </md-button>
            <md-menu-content class="list-type">
                <md-menu-item v-for="(item, index) in typeList" :key="item[index]" @click="setType(item.value)">
                    {{item.title}}
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</template>

<script>
    import EventBus from '../../../../../services/EventBus';
    export default {
        props:['typeList', 'filtered', 'icon'],
        data(){
            return {
                defaultIcon: '/pictures/icon_filter.svg',
                type: '',
            }
        },
        methods:{
            setType(value){
                this.type = value;
            }
        },
        watch: {
            type(val){
                this.$emit('fetch:type', val)
            },
        }
    }
</script>

<style lang="scss">
    .list-type {
        background: #f8f8f8;
        margin: 0 auto;
        padding: 0;
        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
        -moz-transition: all .2s linear;
        -o-transition: all .2s linear;
        -webkit-transition: all .2s linear;
        .md-button {
            text-transform: uppercase;
            font-size: 13px;
            line-height: 30px;
            min-height: 30px;
        }
    }
    .type-filter {
        position: relative;
        z-index: 2;
        background: #ffffff;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;

        .md-button {
            width: 100%;
            height: 100%;
            display: block;
            margin: 0;
            font-size: 9px;
            color: #2b2b2b;
            text-transform: uppercase;
            text-align: left;
            font-weight: 400;
            min-height: 20px;
            line-height: 20px;
            border-radius: 25px;
            padding: 0 25px;
            .md-ink-ripple {
                border-radius: 25px;
            }
        }
        i {
            position: absolute;
            left: 7px;
            top: 2px;
            min-width: 15px;
            width: 15px;
            height: 15px;
            min-height: 15px;
            color: #000;
        }
    }
    @media all and (max-width: 600px) {
        .type-filter {
            .md-button {
                font-size: 9px;
                padding: 0 5px 0 25px;
            }
            .list-type {
                width: 150px;
                right: 0px;
                left: 10px;
                &.dd-show {
                    height: 195px;
                }
            }
        }
    }
</style>