<template>
    <div class="label-welcome-home">
        Summary {{user.name}}
    </div>
</template>
<style>
    .label-welcome-home {
        padding-top: 50vh;
        text-align: center;
    }
</style>
<script>
    import Auth from '../../services/auth';
    export default{
        data() {
            return {user: Auth.getUser()};
        }
    }
</script>
