<template>
    <div class="logo">
        <img class="logo-picture" :src="source">
    </div>
</template>

<style lang="scss">
    .logo {
        text-align: center;
        margin-bottom: 20px;
        .logo-picture {
            height: 35%;
            width: 35%;
        }
    }
</style>

<script>
    export default {
        props: ['src'],
        computed: {
            source: vm => '/pictures/' + vm.src
        }
    }
</script>