<template>
    <transition name="fade" mode="out-in">
        <router-view></router-view>
    </transition>
</template>
<style lang="scss">
    html, body {
        /*background-color: #fff;*/
        font-size: 0;
        line-height: 0;
        box-sizing: border-box;
        color: #000;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        margin: 0;
    }
    
    body {
        .md-tooltip {
            background: #1b1b1b;
            font-weight: 600;
            color: #ebebeb;
            text-shadow: none;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
            padding: 2px 15px;
            height: auto;
            -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.5);
            -moz-box-shadow: 0 0 15px rgba(0,0,0,0.5);
            box-shadow: 0 0 15px rgba(0,0,0,0.5);
        }
        div[class^='chch-'] {
            font-size: 14px;
            line-height: 20px;
        }
        .chch-fontDummyNode {
            font-size: 0 !important;
            line-height: 0 !important;
        }
        div[class^='chch-fixedPane'] {
            bottom: 60px;
        }
    }

    #load-msg {
        padding: 0;
    }

    .md-bottom-bar{
        position: fixed;
        bottom: 0;
        z-index: 999;
    }
</style>
