<template>
    <div class="recaptcha" :style="{'transform': 'scale('+scale+')', 'transform-origin': '0 0'}"></div>
</template>
<script>
    import EventBus from '../services/EventBus';

    export default {
        data(){
            return {rendered: false}
        },
        mounted () {
            if (window.hasOwnProperty('grecaptcha')) {
                return this.init();
            }

            EventBus.$on('recaptcha:loaded', this.init);
        },
        computed: {
            scale () {
                return this.rendered ?  ($(this.$el).width() / $(this.$el).find('iframe').width()) : 0
            }
        },
        methods: {
            init() {
                window.grecaptcha.render(
                    this.$el,
                    {
                        sitekey:  window.recaptchaKey,
                        callback:(resp) => {
                            this.$emit('recaptcha:sucess', resp);
                        }
                    }
                );
                this.rendered = true;
            }
        }
    }
</script>