<template>
    <item-information-dialog></item-information-dialog>
</template>
<script>
    import ItemInformationDialog from './common/ItemInformationDialog.vue'
    import User from '../models/User';
    import Product from '../models/Product';
    import Project from '../models/Project';
    import Role from '../models/Role';
    import EventBus from '../../../services/EventBus';
    export default {
        data() {
            return {
                backendErrors: [],
                models: {
                    users: User,
                    projects: Project,
                    products: Product
                },
                currentModel: '',

                typeFields: {
                    users: {
                        edit: [
                            {id: 'name', type: 'input'},
                            {id: 'surname', type: 'input'},
                            {id: 'email', isDisabled: true, type: 'input'}
                        ],
                        roles: [
                            {id: true}
                        ]
                    },
                    products: {
                        edit: [

                            {id: 'title', type: 'input'},
                            {id: 'link', type: 'textarea',isDisabled: true},
                            {id: 'description', type: 'textarea'},
                            {id: 'created_at', type: 'input',isDisabled: true},
                            {id: 'user', type: 'input',isDisabled: true},

                        ]
                    },
                    projects: {
                        edit: [

                            {id: 'title', type: 'input'},
                            {id: 'link', type: 'textarea',isDisabled: true},
                            {id: 'description', type: 'textarea'},
                            {id: 'created_at', type: 'input',isDisabled: true},
                            {id: 'user', type: 'input',isDisabled: true},

                        ]
                    }
                },
                validationRules: {
                    users: {
                        name: 'required|alpha|min:2',
                        surname: 'required|alpha|min:2',
                        email: 'required|email'
                    },
                    products: {
                        title: 'required|min:2|max:50',
                        link: 'required|min:1|max:160',
                        description: 'required|min:10|max:160',
                        created_at: 'required|date_format:"YYYY/MM/DD HH:mm Z"|max:10',
                        user_id: 'required|min_value:1|min:1',
                    },
                    projects: {
                        title: 'required|min:2|max:50',
                        link: 'required|min:1|max:160',
                        description: 'required|min:10|max:160',
                        created_at: 'required|date_format:"YYYY/MM/DD HH:mm Z"|max:10',
                        user_id: 'required|min_value:1|min:1',
                    }
                },
            }
        },
        components: {
            ItemInformationDialog
        },
        watch: {
            '$route': 'init'
        },
        methods: {
            init() {
                this.currentModel =  this.$route.params.items;
                if(this.$route.query.showDetails && (this.currentModel === 'projects' || this.currentModel === 'users' || this.currentModel === 'products') ) {
                    let promise = this.currentModel === 'users'? [this.fetchRoles(), this.fetchItem()]:[this.fetchItem()];
                    Promise.all(promise).then(res => {
                        let roles = this.currentModel === 'users'? res[0]: {};
                        let item = this.currentModel === 'users'? res[1] : res[0];
                        Vue.nextTick(() => {
                            EventBus.$emit(
                                this.$route.params.items + ':dialog-information:open',
                                {
                                    roles,
                                    item,
                                    type: 'edit',
                                    model: this.models[this.currentModel],
                                    validationRules: this.validationRules[this.currentModel],
                                    typeFields: this.typeFields[this.currentModel],
                                }
                            );
                        });
                    })
                }
            },

            fetchRoles() {
                return Role.all()
            },

            fetchItem() {
                return this.models[this.$route.params.items].findById(this.$route.query.showDetails)
            }
        },
        mounted() {
            this.init();
        }
    }
</script>