<template>
    <item-information-dialog></item-information-dialog>
</template>
<script>
    import ItemInformationDialog from './common/ItemInformationDialog.vue'
    import User from '../models/User';
    import Role from '../models/Role';
    import EventBus from '../../../services/EventBus';
    export default {
        data() {
            return {
                models:{
                    users: User,
//                    projects: Projects,
//                    products: Products
                },
                currentModel: this.$route.params.items,

                typeFields: {
                    users:{
                        create: [
                            {id: 'name'},
                            {id: 'surname'},
                            {id: 'email'},
                            {id: 'password', type: 'password'}
                        ]
                    }
                },
                validationRules: {
                    users:{
                        name: 'required|alpha|min:2',
                        surname: 'required|alpha|min:2',
                        email: 'required|email',
                        password: 'required|min:6'
                    },

                },
            }
        },
        components: {
            ItemInformationDialog
        },
        watch: {
           '$route': 'init'
        },
        methods:{
            init() {
                    this.fetchRoles().then(roles => {
                        Vue.nextTick(() => {
                            EventBus.$emit(
                                this.$route.params.items + ':dialog-information:open',
                                {
                                    item: {},
                                    type: 'create',
                                    roles,
                                    model: this.models[this.currentModel],
                                    validationRules: this.validationRules[this.currentModel],
                                    typeFields: this.typeFields[this.currentModel]
                                }
                            );

                        });
                    });
            },
            fetchRoles() {
                return Role.all()
            }
        },
        mounted() {
            this.init();
        }
    }
</script>