<template>
    <div class="table-items">
        <md-list class="md-double-line">
            <md-list-item v-for="item in items" :key="item.id">

                <md-layout md-vertical-align="center" class="edit">
                    <md-layout md-align="center">
                        <md-layout md-flex="15" md-align="end" class="avatar-disabled">
                            <md-avatar :class="['md-avatar-icon', 'md-medium', 'md-primary', (indexItem(items, item) === mdActive) ? 'some-active-320' : '']" >
                                <img v-if="item.image" :src="item.image" alt="">
                                <span v-if="!item.image && currentModel === 'users'" >{{avatarName(item)}}</span>
                            </md-avatar>
                        </md-layout>

                        <md-layout md-vertical-align="center" md-align="start" :md-flex="currentModel == 'users' ? 40 : 60">
                            <div v-if="flagShowItemName[indexItem(items, item)]"
                                 :class="['md-list-text-container', 'hov', (indexItem(items, item) === mdActive) ? 'some-active-450' : '']">
                                <span class="button-edit">{{getTitleItem(item)}}</span>
                            </div>
                        </md-layout>

                        <md-layout md-align="end" class="speed-dial" md-vertical-align="center">
                            <md-speed-dial :id="indexItem(items, item) + '-speed-dial'" md-mode="scale"
                                           md-direction="left" class="md-fab-bottom-right">

                                <md-button
                                            md-theme="white" class="md-fab md-mini md-primary" md-fab-trigger>
                                    <md-icon>
                                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                            <path fill="#000000" d="M13.5,4A1.5,1.5 0 0,0 12,5.5A1.5,1.5 0 0,0 13.5,7A1.5,1.5 0 0,0 15,5.5A1.5,1.5 0 0,0 13.5,4M13.14,8.77C11.95,8.87 8.7,11.46 8.7,11.46C8.5,11.61 8.56,11.6 8.72,11.88C8.88,12.15 8.86,12.17 9.05,12.04C9.25,11.91 9.58,11.7 10.13,11.36C12.25,10 10.47,13.14 9.56,18.43C9.2,21.05 11.56,19.7 12.17,19.3C12.77,18.91 14.38,17.8 14.54,17.69C14.76,17.54 14.6,17.42 14.43,17.17C14.31,17 14.19,17.12 14.19,17.12C13.54,17.55 12.35,18.45 12.19,17.88C12,17.31 13.22,13.4 13.89,10.71C14,10.07 14.3,8.67 13.14,8.77Z" />
                                        </svg>
                                    </md-icon>
                                </md-button>

                                <md-button v-if="currentModel === 'users'" class="md-fab md-mini md-clean"
                                           @click.native="showThanksEvent(item.id)">
                                    <md-icon>
                                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                        <path fill="#000000" d="M22,12V20A2,2 0 0,1 20,22H4A2,2 0 0,1 2,20V12A1,1 0 0,1 1,11V8A2,2 0 0,1 3,6H6.17C6.06,5.69 6,5.35 6,5A3,3 0 0,1 9,2C10,2 10.88,2.5 11.43,3.24V3.23L12,4L12.57,3.23V3.24C13.12,2.5 14,2 15,2A3,3 0 0,1 18,5C18,5.35 17.94,5.69 17.83,6H21A2,2 0 0,1 23,8V11A1,1 0 0,1 22,12M4,20H11V12H4V20M20,20V12H13V20H20M9,4A1,1 0 0,0 8,5A1,1 0 0,0 9,6A1,1 0 0,0 10,5A1,1 0 0,0 9,4M15,4A1,1 0 0,0 14,5A1,1 0 0,0 15,6A1,1 0 0,0 16,5A1,1 0 0,0 15,4M3,8V10H11V8H3M13,8V10H21V8H13Z" />
                                        </svg>
                                    </md-icon>
                                </md-button>


                                <md-button v-if="currentModel === 'users'" class="md-fab md-mini md-clean"
                                           v-for="action in actions" :key="action.name"
                                           @click="$emit('actionTriggered', {action, item})">
                                    <md-icon>
                                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                        <path fill="#000000" d="M19,3H5C3.89,3 3,3.89 3,5V9H5V5H19V19H5V15H3V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M10.08,15.58L11.5,17L16.5,12L11.5,7L10.08,8.41L12.67,11H3V13H12.67L10.08,15.58Z" />
                                        </svg>
                                    </md-icon>
                                </md-button>

                                <md-button class="md-fab md-mini md-clean" @click.native="showDetailsItemEvent(item.id)">
                                    <md-icon>
                                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                            <path fill="#000000" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                                        </svg>
                                    </md-icon>
                                </md-button>

                                <md-button :disabled="true" class="md-fab md-mini md-clean" @click="removeEvent(item)">
                                    <md-icon>
                                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                            <path fill="#000000" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
                                        </svg>
                                    </md-icon>
                                </md-button>

                            </md-speed-dial>
                        </md-layout>
                    </md-layout>
                    </md-layout>
            </md-list-item>
        </md-list>
    </div>
</template>
<style lang="scss">
    .table-items {
        -webkit-overflow-scrolling:touch;

        .md-theme-default.md-avatar.md-primary.md-avatar-icon {
            background-color: #aaa5a5;
        }

        .md-avatar-icon {
            background-color: grey;
            width: 40px;
            min-width: 40px;
            height: 40px;
            min-height: 40px;
            overflow: visible;
            text-align: center;
            box-shadow: 0 0 15px 5px rgba(0,0,0,.2);
            img {
                border-radius: 100%;
            }
            span {
                display: inline-block;
                font-weight: 400;
                font-size: 15px;
                line-height: 38px;
                color: #ffffff;
                text-shadow: 0 0 6px rgba(0,0,0,0.9);
                text-transform: uppercase;
            }
        }

        @media all and (max-width: 320px) {
            .md-speed-dial.md-direction-left {

                &.md-active {
                    height: 100%;
                        color: #fff;
                }
            }
        }


        @media all and (max-width: 550px) {
            .md-speed-dial.md-direction-left {
                &.md-active {
                    background: #fff;
                    height:100%;
                    width: 95%;
                    padding-left: 25px;
                }
            }
        }

        .md-speed-dial.md-direction-left {
            top: 0px;
            height: 100%;
        }


        audio:not(.md-image),
        img:not(.md-image),
        svg:not(.md-image),
        object:not(.md-image),
        embed:not(.md-image),
        canvas:not(.md-image),
        video:not(.md-image),
        iframe:not(.md-image) {
            margin-bottom: 15px;
        }

        .md-icon {
             width: 24px;
             min-width: 24px;
             height: 24px;
             min-height: 24px;
             font-size: 18px;
             margin: auto;
            display: -ms-inline-flexbox;
             display: inline-flex;
            -ms-flex-align: center;
             align-items: center;
             fill: currentColor;
             text-rendering: optimizeLegibility;
             vertical-align: middle;
            text-align: center;
        }
            .md-list {
                padding: 0px 0;
        }

        .md-list.md-double-line .md-list-item .md-list-item-container {
            border-bottom: 1px solid rgba(0, 0, 0, 0.06);
        }
    }

    .edit {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .button-edit {
        min-width: 0;
        min-height: 0;
        margin: 0;
        padding: 0;
    }
</style>
<script>
    import EventBus from '../../../services/EventBus';
    import User from '../models/User';
    import Product from '../models/Product';
    import Project from '../models/Project';

    export default {
        props: ['items', 'actions', 'currentModel'],
        data () {
            return {
                flagShowItemName: [true,true,true,true,true,true,true,true,true,true],
                mdActive: null,
                countPages: 0,
                dial:null,
                selectedItem: false,
                models: {
                    users: User,
                    projects: Project,
                    products: Product
                },
                typeFields: {
                    users: [
                        {id: 'name'},
                        {id: 'surname'},
                    ],
                    products: [
                        {id: 'title'}
                    ],
                    projects: [
                        {id: 'title'}
                    ]
                }
            }
        },
        watch: {
            '$route': 'watchMethod'
        },
        methods:{
            indexItem(items, item) {
                return items.indexOf(item)
            },
            watchMethod() {
                if((this.$route.params.items === 'users' || this.$route.params.items === 'products') && this.$route.query.showDetails > 0 ) {
                    this.showDetailsItemEvent(this.$route.query.showDetails);
                }

                if(this.$route.query.user > 0 && this.$route.query.thanks !== undefined) {
                    EventBus.$emit('show:thanks:item', {userId: this.$route.query.user} );
                }
            },
            showThanksEvent(userId) {
                    if (this.$route.query.thanksId === undefined) {
                        this.$router.push(this.$route.query.thanks === undefined ?
                            {query: {page: this.$route.query.page, user: userId, thanks: 'sent'}} :
                            {query: {page: this.$route.query.page, user: userId, thanks: this.$route.query.thanks}});
                    }

                    else {
                        this.$router.push({query: {page: this.$route.query.page, user: userId, thanks: this.$route.query.thanks, thanksId: this.$route.query.thanksId}});
                    }
            },
            showDetailsItemEvent(id) {
                if(this.$route.query.showDetails) {
                    EventBus.$emit('show:details:item');
                }
                 else {
                    setTimeout(() => {
                        this.$router.push({query: {page: this.$route.query.page , showDetails: id}});
                    },200);
                    EventBus.$emit('show:details:item');
                }

            },
            avatarName(item) {
                return `${item.name.charAt(0)}${item.surname.charAt(0)}`;
            },
            getTitleItem(item) {
                let displayName = '';
                for (let i = 0; i < this.typeFields[this.currentModel].length; i++) {
                    displayName = displayName + item[this.typeFields[this.currentModel][i]['id']] + ' ';
                }
                return displayName;
            },
            removeEvent(item) {
                EventBus.$emit('remove:emit:event', {item});
            }
        },
        mounted() {

            this.watchMethod();

            if(this.$route.query.showDetails >= 1) {
                EventBus.$emit('show:details:item');
            }
        },
        destroyed() {
            EventBus.$off('close-user-thanks-information');
        }
    }
</script>
