<template>
    <div v-if="mainPage">
        <item-list
                :currentModel="currentModel"
                :items="items"
                :actions="customActions[this.$route.params.items]"
                @actionTriggered="actionTriggered($event)">
        </item-list>
        <search v-if="search" :itemSearchString="itemSearchString" @change="filterItems"></search>
        <md-layout v-if="showPagination" md-align="center">
            <pagination :page-count="countPages"
                        :initial-page="page"
                        :page-range="1"
                        :click-handler="clickCallback"
                        :prev-text="'<'"
                        :next-text="'>'"
                        :container-class="'pagination'"
                        :page-class="'page-item'"
            ></pagination>
        </md-layout>
    </div>
    <div v-else-if="spinner" class="spinner">
        <md-spinner md-indeterminate></md-spinner>
    </div>
</template>
<style lang="scss">
    .spinner {
        width: 100%;
        height: 100%;
        text-align: center;

        .md-spinner {
            top: 40%;
        }

    }
    .pagination {
        font-size: 11px;
    }

    .page-item {
        min-height: 15px;
        min-width: 15px;
        font-size: 11px;
    }
</style>
<script>
    import ItemList from './ItemList.vue';
    import User from '../models/User';
    import Product from '../models/Product';
    import Project from '../models/Project';
    import EventBus from '../../../services/EventBus';
    import Filter from './common/Filter.vue';
    import Paginate from 'vuejs-paginate';
    import Auth from '../../../services/auth';

    export default {
        data() {
            return {
                countPages: 0,
                spinner: true,
                mainPage: false,
                showPagination: false,
                itemSearchString: '',
                search: false,
                page: 1,
                item: {},
                items: [],
                currentModel: {},
                filtersItemSelect: [
                    {
                        "or": true,
                        "filters": []
                    }
                ],
                models: {
                    users: User,
                    products: Product,
                    projects: Project
                },
                customActions: {
                    users: [
                        {name: 'loginAs'}
                    ]
                }
            }
        },
        components: {
            ItemList,
            'search': Filter,
            'pagination': Paginate
        },
        watch: {
            '$route': 'fetchItems'
        },
        methods: {
            getCountItems() {
                this.models[this.$route.params.items]
                    .getCountItem()
                    .then(
                        (count) => {
                            this.countPages = Number(parseFloat(count / 10 + 0.4).toFixed());
                        },
                        (reject) => {
                        }
                    )
            },
            clickCallback(numPage) {
                this.spinner = true;
                this.mainPage = false;
                this.showPagination = false;
                this.page = numPage;
                this.$router.push({query: {page: numPage}});
                this.fetchItems();
            },
            filterItems: _.debounce(function (val) {
                this.itemSearchString = val;

                this.filtersItemSelect[0].filters = [];

                this.filtersItemSelect[0].filters.push(
                    {
                        key: this.$route.params.items === 'users' ? 'name' : 'title',
                        value: this.itemSearchString,
                        operator: 'ct'
                    }
                );

                this.filtersItemSelect[0].filters.push(
                    {
                        key: this.$route.params.items === 'users' ? 'surname' : 'title',
                        value: this.itemSearchString,
                        operator: 'ct'
                    }
                );

                this.$router.push({query: {page: this.$route.query.page, search: val}});
                this.fetchItems();
            }, 500),
            remove(item) {
                return this.models[this.$route.params.items]
                    .destroy(item)
                    .then(
                        (response) => {
                        },
                        (x) => {
                            this.backendErrors = x;
                        }
                    )
            },
            actionTriggered($event) {
                return this.models
                    [this.$route.params.items]
                    [$event.action.name]($event.item)
            },
            fetchItems() {

                this.getCountItems();
                this.showPagination = false;
                if (this.$route.query.page === undefined) {
                    this.$router.push(this.$route.query.showDetails > 0 ? {query: {page: this.page === 1 ? this.page :
                        this.page + 1 , showDetails: this.$route.query.showDetails}} :
                        {query: {page: this.page === 1 ? this.page : this.page + 1}});
                }
                Vue.nextTick(() => EventBus.$emit('toolbar:add:show'));
                Vue.nextTick(() => EventBus.$emit('toolbar:title:set', this.$route.params.items));
                this.currentModel = this.$route.params.items;
                this.models[this.$route.params.items]
                    .all({filter_groups: this.filtersItemSelect, page: this.$route.query.page - 1, limit: 10})
                    .then(
                        (items) => {
                            this.items = items;
                            this.filtersItemSelect[0].filters = [];
                            setTimeout(() => {
                                    this.page = Number(this.$route.query.page) <= 1 ? 0 : Number(this.$route.query.page) - 1;
                                this.showPagination = true;
                                this.spinner = false;
                                this.mainPage = true;
                            }, 300);
                        },
                        (x) => {
                            this.backendErrors = x;
                        }
                    )
            }
        },
        created() {

            if(this.$route.query.search !== undefined) {
                this.itemSearchString = this.$route.query.search;
                this.search = true;
                this.filterItems(this.itemSearchString);
            }

            if(this.$route.query.search === undefined) {
                this.search = false;
            }

            this.fetchItems();



            EventBus.$on('redirect:home', () => {
                this.$router.push({name: 'home'});
            });

            EventBus.$on('remove', (event) => {
                this.remove(event.item);
            });

            EventBus.$on('open:search', () => {
                this.search = true;
            });

            EventBus.$on('close:search', () => {
                this.filtersItemSelect[0].filters = [];
                this.$router.push({query: {page: this.$route.query.page}});
                this.search = false;
            });

            EventBus.$on(this.$route.params.items + ':update', (item) => {
                _.assign(this.items.find(i => i.id === item.id), item);

            });

            EventBus.$on(this.$route.params.items + ':delete', (item) => {
                this.items.splice(this.items.indexOf(this.items.find(i => i.id === item.id)), 1);
                this.fetchItems();
            });

            EventBus.$on(this.$route.params.items + ':create', (item) => {
                this.items.push(item);
            });

            EventBus.$on('imageDate:update:itemList', (event) => {

                setTimeout(() => {
                    if (event.image !== null) {
                        this.item = this.items.find(i => i.id === event.item.id);
                        this.item.image = event.image;
                    }
                    else
                        this.item.image = this.items.find(i => i.id === event.item.id).image;
                }, 3000)

            });

        },
        destroyed() {
            Vue.nextTick(() => EventBus.$emit('toolbar:add:hide'));
            Vue.nextTick(() => EventBus.$emit('toolbar:title:set', ''));
            EventBus.$off(this.$route.params.items + ':update');
            EventBus.$off(this.$route.params.items + ':delete');
            EventBus.$off(this.$route.params.items + ':create');
            EventBus.$off('toolbar:add:clicked');
            EventBus.$off('redirect:home');
        }
    }
</script>
