<template>
    <div class="overview">
        <div class="tile is-ancestorchart chart">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <md-layout md-align="center">
                        <md-icon md-size-4x>
                            people
                        </md-icon>
                        <md-layout md-align="center">
                            <h3>{{countUsers}}</h3>
                        </md-layout>
                    </md-layout>
                </article>
            </div>

            <div class="tile is-parent">
                <article class="tile is-child box">
                    <md-layout md-align="center">
                        <md-icon md-size-4x>
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="#000000"
                                      d="M21,16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V7.5C3,7.12 3.21,6.79 3.53,6.62L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.79,6.79 21,7.12 21,7.5V16.5M12,4.15L10.11,5.22L16,8.61L17.96,7.5L12,4.15M6.04,7.5L12,10.85L13.96,9.75L8.08,6.35L6.04,7.5M5,15.91L11,19.29V12.58L5,9.21V15.91M19,15.91V9.21L13,12.58V19.29L19,15.91Z"/>
                            </svg>
                        </md-icon>
                        <md-layout md-align="center">
                            <h3>{{countProducts}}</h3>
                        </md-layout>
                    </md-layout>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <md-layout md-align="center">
                        <md-icon md-size-4x>
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path fill="#000000"
                                      d="M6.5,21V19.75C7.44,19.29 8.24,18.57 8.81,17.7C9.38,16.83 9.67,15.85 9.68,14.75L9.66,13.77L9.57,13H7V11H9.4C9.25,10.17 9.16,9.31 9.13,8.25C9.16,6.61 9.64,5.33 10.58,4.41C11.5,3.5 12.77,3 14.32,3C15.03,3 15.64,3.07 16.13,3.2C16.63,3.32 17,3.47 17.31,3.65L16.76,5.39C16.5,5.25 16.19,5.12 15.79,5C15.38,4.9 14.89,4.85 14.32,4.84C13.25,4.86 12.5,5.19 12,5.83C11.5,6.46 11.29,7.28 11.3,8.28L11.4,9.77L11.6,11H15.5V13H11.79C11.88,14 11.84,15 11.65,15.96C11.35,17.16 10.74,18.18 9.83,19H18V21H6.5Z" />
                            </svg>
                        </md-icon>
                        <md-layout md-align="center">
                            <h3>{{payPalSumToFixed(allSum)}}</h3>
                        </md-layout>
                    </md-layout>
                </article>
            </div>
        </div>

        <div class="tile is-ancestor chart">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <md-layout md-align="center">
                        <md-layout md-align="center" md-flex="100">
                            <h3>Credits</h3>
                        </md-layout>
                        <md-layout md-align="center"  md-flex="100">
                            <md-layout md-align="start"  md-flex="50">
                                <h3>All:</h3>
                            </md-layout>
                            <md-layout md-align="center"  md-flex="50">
                                <h3>{{allCredits}}</h3>
                            </md-layout>
                        </md-layout>
                        <md-layout md-align="center"  md-flex="100">
                            <md-layout md-align="start"  md-flex="50">
                                <h3>Pending:</h3>
                            </md-layout>
                            <md-layout md-align="center"  md-flex="50">
                                <h3>{{allPendingCredits}}</h3>
                            </md-layout>
                        </md-layout>
                    </md-layout>
                </article>
            </div>

            <div class="tile is-parent">
                <article class="tile is-child box">
                    <md-layout md-align="center" v-if="payPalDiv">
                        <md-layout md-align="center" md-flex="100">
                            <h3>PayPal</h3>
                        </md-layout>
                        <md-layout md-align="center" md-flex="100">
                            <md-layout md-align="start" md-flex="50">
                                <h3>Balance:</h3>
                            </md-layout>
                            <md-layout md-align="center" md-flex="50">
                                <h3>{{balancePayPal}}</h3>
                            </md-layout>
                        </md-layout>
                        <md-layout md-align="center" md-flex="100">
                            <md-layout md-align="start" md-flex="50">
                                <h3>Balance/Credit:</h3>
                            </md-layout>
                            <md-layout md-align="center" md-flex="50">
                                <h3>{{balansCredit}}</h3>
                            </md-layout>
                        </md-layout>
                        <md-layout md-align="center" md-flex="100">
                            <md-layout md-align="start" md-flex="50">
                                <h3>Individual worth:</h3>
                            </md-layout>
                            <md-layout md-align="center" md-flex="50">
                                <h3>{{IndividualWorth}}</h3>
                            </md-layout>
                        </md-layout>
                    </md-layout>
                    <md-layout md-align="center" v-else-if="LAMTError !== ''">
                        <md-layout md-flex="100" md-align="center">
                            <h4>{{LAMTError}}</h4>
                        </md-layout>

                        <md-layout md-flex="100" md-align="center">
                            <md-button @click="getBalancee()">
                                <md-icon>replay</md-icon>
                            </md-button>
                        </md-layout>

                    </md-layout>
                    <div v-else-if="spinner" class="spinner">
                        <md-spinner md-indeterminate></md-spinner>
                    </div>
                </article>
            </div>
        </div>

        <div class="tile is-ancestor chart">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child box">
                    <md-layout>
                        <md-layout md-align="center" md-flex="100">
                            <md-button @click.native="showCalendarFrom()">
                                select date
                                    <date-picker
                                            @input="inputDate()"
                                            @close="showDatePicker = false"
                                            color="#455A64"
                                            min="2017-08-01"
                                            :max="currentDate"
                                            v-if="showDatePicker"
                                            v-model="dateFrom">
                                    </date-picker>
                            </md-button>
                        </md-layout>
                        <md-layout md-align="center" md-flex="100">
                            <md-layout md-align="end" class="date-input">
                                <md-icon>today</md-icon>

                                <md-input-container>
                                        <md-input v-model="dateFrom" disabled></md-input>
                                </md-input-container>
                            </md-layout>

                        </md-layout>
                    </md-layout>
                </article>
            </div>
        </div>
        <div>
            <md-layout md-align = center>
                <md-menu md-size="small" md-direction="bottom-end" md-offset-y="30" md-offset-x="-30">
                    <md-button md-menu-trigger><md-icon>menu</md-icon>  View by:  {{currentLabel}}</md-button>

                    <md-menu-content>
                        <md-layout md-align="center">
                            <md-menu-item @click.native="showYear()">Year</md-menu-item>
                            <md-menu-item @click.native="showMonth()">Month</md-menu-item>
                            <md-menu-item @click.native="showWeek()">Week</md-menu-item>
                            <md-menu-item @click.native="showDay()">Day</md-menu-item>
                        </md-layout>
                    </md-menu-content>

                </md-menu>
            </md-layout>

            <div class="tile is-parent is-6 chart">
                <article class="tile is-child box">
                    <h4 class="title">Converted into credits</h4>
                    <div class="content">
                        <chart  v-if="yearShow" :type="'bar'" :data="seriesDataYear" :options="options"></chart>
                        <chart  v-if="monthShow" :type="'bar'" :data="seriesDataMonth" :options="options"></chart>
                        <chart  v-if="weekShow" :type="'bar'" :data="seriesDataWeek" :options="options"></chart>
                        <chart  v-if="dayShow" :type="'bar'" :data="seriesDataDay" :options="options"></chart>
                    </div>
                </article>
            </div>
        </div>

        <!--<div class="tile is-ancestor chart">-->
            <!--<div class="tile is-vertical is-9">-->
                <!--<div class="tile">-->
                    <!--<div class="tile is-parent">-->
                        <!--<article class="tile is-child box">-->
                            <!--<p class="title">Seven</p>-->
                            <!--<p class="subtitle">Subtitle</p>-->
                            <!--<div class="content">-->
                                <!--<p>-->
                                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>-->
                            <!--</div>-->
                        <!--</article>-->
                    <!--</div>-->
                    <!--<div class="tile is-8 is-parent">-->
                        <!--<article class="tile is-child box">-->
                            <!--<p class="title">Eight</p>-->
                            <!--<p class="subtitle">Subtitle</p>-->
                            <!--<div class="content">-->
                                <!--<p>-->
                                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>-->
                            <!--</div>-->
                        <!--</article>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="tile">-->
                    <!--<div class="tile is-8 is-parent">-->
                        <!--<article class="tile is-child box">-->
                            <!--<p class="title">Nine</p>-->
                            <!--<p class="subtitle">Subtitle</p>-->
                            <!--<div class="content">-->
                                <!--<p>-->
                                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>-->
                            <!--</div>-->
                        <!--</article>-->
                    <!--</div>-->
                    <!--<div class="tile is-parent">-->
                        <!--<article class="tile is-child box">-->
                            <!--<p class="title">Ten</p>-->
                            <!--<p class="subtitle">Subtitle</p>-->
                            <!--<div class="content">-->
                                <!--<p>-->
                                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>-->
                            <!--</div>-->
                        <!--</article>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="tile is-parent">-->
                <!--<article class="tile is-child box">-->
                    <!--<div class="content">-->
                        <!--<p class="title">Eleven</p>-->
                        <!--<p class="subtitle">Subtitle</p>-->
                        <!--<div class="content">-->
                            <!--<p>-->
                                <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>-->
                            <!--<p>-->
                                <!--Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus dolor consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras ullamcorper a nunc ac porta. Aliquam ut aliquet lacus, quis faucibus libero. Quisque non semper leo.</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</article>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</template>

<script>

    import Chart from 'vue-bulma-chartjs';
    import User from '../models/User';
    import Product from '../models/Product';
    import EventBus from '../../../services/EventBus';
    import DatePicker from './Calendar.vue';
    import PayPal from '../models/PayPal';

    export default {
        components: {
            DatePicker,
            Chart,

        },
        data() {
            return {
                LAMTError: '',
                spinner: true,
                payPalDiv: false,
                balansCredit: 0,
                IndividualWorth: 0,
                allCredits : 0,
                allPendingCredits : 0,
                balancePayPal: 0,
                allSum: 0,
                currentDate: '',
                dateFrom: '',
                showDatePicker: false,
                filtersYear: [
                    {
                        "or": true,
                        "filters": []
                    }
                ],
                filtersMonth: [
                    {
                        "or": true,
                        "filters": []
                    }
                ],
                filtersWeek: [
                    {
                        "or": true,
                        "filters": []
                    }
                ],
                filtersDay: [
                    {
                        "or": true,
                        "filters": []
                    }
                ],
                selectedYear: {},
                selectedMonth: '',
                yearShow: false,
                monthShow: false,
                weekShow: false,
                dayShow: false,
                countUsers: 0,
                countProducts: 0,
                currentLabel: '',
                years: ['2017', '2018', '2019', '2020'],
                months: ['January', 'February', 'March', 'April', 'May', 'June', 'Jule', 'August', 'September', 'October', 'November', 'December'],
                week: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
                day: ['00:00', '02:00', '04:00', '06:00', '08:00', '10:00', '12:00', '14:00', '16:00', '18:00', '20:00', '22:00', '24:00'],
                data_year: [
                    []
                ],
                data_month: [
                    []
                ],
                data_week: [
                    []
                ],
                data_day: [
                    []
                ],
                options: {
                    tooltips: {
                        mode: 'label'
                    }
                },
                backgroundColor: [
                    'rgba(83, 205, 115, 1)'
                ],
                series: ['£']
            }
        },
        computed: {
            pieData() {
                return {
                    labels: this.labels,
                    datasets: [{
                        data: this.data,
                        backgroundColor: this.backgroundColor
                    }]
                }
            },
            seriesDataYear() {
                let data = {
                    labels: this.years
                };
                data.datasets = this.series.map((e, i) => {
                    return {
                        data: this.data_year[i],
                        label: this.series[i],
                        borderColor: this.backgroundColor[i].replace(/1\)$/, '.5)'),
                        pointBackgroundColor: this.backgroundColor[i],
                        backgroundColor: this.backgroundColor[i].replace(/1\)$/, '.5)')
                    }
                });
                return data
            },
            seriesDataMonth() {
                let data = {
                    labels: this.months
                };
                data.datasets = this.series.map((e, i) => {
                    return {
                        data: this.data_month[i],
                        label: this.series[i],
                        borderColor: this.backgroundColor[i].replace(/1\)$/, '.5)'),
                        pointBackgroundColor: this.backgroundColor[i],
                        backgroundColor: this.backgroundColor[i].replace(/1\)$/, '.5)')
                    }
                });
                return data
            },
            seriesDataWeek() {
                let data = {
                    labels: this.week
                };
                data.datasets = this.series.map((e, i) => {
                    return {
                        data: this.data_week[i],
                        label: this.series[i],
                        borderColor: this.backgroundColor[i].replace(/1\)$/, '.5)'),
                        pointBackgroundColor: this.backgroundColor[i],
                        backgroundColor: this.backgroundColor[i].replace(/1\)$/, '.5)')
                    }
                });
                return data
            },
            seriesDataDay() {
                let data = {
                    labels: this.day
                };
                data.datasets = this.series.map((e, i) => {
                    return {
                        data: this.data_day[i],
                        label: this.series[i],
                        borderColor: this.backgroundColor[i].replace(/1\)$/, '.5)'),
                        pointBackgroundColor: this.backgroundColor[i],
                        backgroundColor: this.backgroundColor[i].replace(/1\)$/, '.5)')
                    }
                });
                return data
            }
        },
        methods: {
            getBalancee() {
                this.spinner = true;
                this.LAMTError = '';
                this.payPalDiv = false;
                User
                    .getBalance()
                    .then(
                        (data) => {
                            this.allCredits = data.fullCredits;
                            this.allPendingCredits = data.fullPendingCredits;
                        },
                        (x) => {
                            this.backendErrors = x;
                        }
                    );
                PayPal
                    .getBalance()
                    .then(
                        (data) => {
                            if(data.BALANCERESULTS.length === 0) {
                                this.spinner = false;
                                this.LAMTError = data.ERRORS[0].L_SHORTMESSAGE;
                            } else {
                                this.balancePayPal = data.BALANCERESULTS[0].L_AMT;
                                this.balansCredit = this.balancePayPal / this.allCredits;
                                this.IndividualWorth = this.balancePayPal / this.countUsers;
                                this.spinner = false;
                                this.payPalDiv = true;
                            }
                        },
                        (x) => {
                            this.backendErrors = x;
                        }
                    );
            },
            inputDate() {
                this.showDatePicker = false;
                this.dayShow = false;
                this.showDay();
            },
            clearData() {
                this.filtersYear = [{"or": true,"filters": []}];
                this.filtersMonth = [{"or": true,"filters": []}];
                this.filtersWeek = [{"or": true,"filters": []}];
                this.filtersDay = [{"or": true,"filters": []}];
                this.data_year = [[]];
                this.data_month = [[]];
                this.data_week = [[]];
                this.data_day = [[]];

            },
            payPalSumToFixed(sum) {
                return sum.toFixed(2);
            },
            allPayPalSum() {
                User
                    .showPaymentStats()
                    .then(
                        (data) => {
                            for (let i = 0; i < data.length; i++) {
                                this.allSum = this.allSum + data[i].credits /100;
                            }
                        },
                        (x) => {
                            this.backendErrors = x;
                        }
                    );
            },
            showYear() {
                this.clearData();
                this.currentLabel = 'Year';
                this.monthShow = false;
                this.weekShow = false;
                this.dayShow = false;
                this.calculationOfTheStartAndEndDate();
                Vue.nextTick(() => {
                    User
                        .
                        showPaymentStats({filter_groups: this.filtersYear})
                        .then(
                            (data) => {
                                let sum = 0;
                                for(let i = 0; i < data.length; i++) {
                                    sum = sum + data[i].credits /100;
                                }
                                this.data_year[0][0] = sum;
                                this.yearShow = true;
                            },
                            (x) => {
                                this.backendErrors = x;
                            }
                        );
                });
            },
            showMonth() {
                this.clearData();
                this.currentLabel = 'Month';
                this.yearShow = false;
                this.weekShow = false;
                this.dayShow = false;
                this.calculationOfTheStartAndEndDate();
                Vue.nextTick(() => {
                    User
                        .showPaymentStats({filter_groups: this.filtersYear})
                        .then(
                            (data) => {
                                let Jan = 0, Feb = 0, Mar = 0, Apr = 0, May = 0, Jun = 0, Jul = 0, Aug = 0, Sep = 0, Oct = 0, Nov = 0, Dec = 0;
                                for(let i = 0; i < data.length; i++) {
                                    let date = data[i].updated_at.split("-", 3);
                                    if (date[1] === '01') {
                                        Jan = Jan + data[i].credits /100
                                    }

                                    if (date[1] === '02') {
                                        Feb = Feb + data[i].credits /100
                                    }

                                    if (date[1] === '03') {
                                        Mar = Mar + data[i].credits /100
                                    }

                                    if (date[1] === '04') {
                                        Apr = Apr + data[i].credits /100
                                    }

                                    if (date[1] === '05') {
                                        May = May + data[i].credits /100
                                    }

                                    if (date[1] === '06') {
                                        Jun = Jun + data[i].credits /100
                                    }

                                    if (date[1] === '07') {
                                        Jul = Jul + data[i].credits /100
                                    }

                                    if (date[1] === '08') {
                                        Aug = Aug + data[i].credits /100
                                    }

                                    if (date[1] === '09') {
                                        Sep = Sep + data[i].credits /100
                                    }

                                    if (date[1] === '10') {
                                        Oct = Oct + data[i].credits /100
                                    }

                                    if (date[1] === '11') {
                                        Nov = Nov + data[i].credits /100
                                    }

                                    if (date[1] === '12') {
                                        Dec = Dec + data[i].credits /100
                                    }
                                }
                                this.data_month[0] = [Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec];
                                this.monthShow = true;
                            },
                            (x) => {
                                this.backendErrors = x;
                            }

                        );
                });
            },
            showWeek() {
                this.clearData();
                this.currentLabel = 'Week';
                this.monthShow = false;
                this.yearShow = false;
                this.dayShow = false;
                this.calculationOfTheStartAndEndDate();
                Vue.nextTick(() => {
                    User
                        .showPaymentStats({filter_groups: this.filtersWeek})
                        .then(
                            (data) => {
                                let Monday = 0, Tuesday = 0, Wednesday = 0, Thursday = 0, Friday = 0, Saturday = 0, Sunday = 0;
                                for(let i = 0; i < data.length; i++) {
                                    let date = new  Date(data[i].updated_at)
                                    if (date.getDay() === 0) {
                                        Sunday = Sunday + data[i].credits /100;
                                    }

                                    if (date.getDay() === 1) {
                                        Monday = Monday + data[i].credits /100;
                                    }

                                    if (date.getDay() === 2) {
                                        Tuesday = Tuesday + data[i].credits /100;
                                    }

                                    if (date.getDay() === 3) {
                                        Wednesday = Wednesday + data[i].credits /100;
                                    }

                                    if (date.getDay() === 4) {
                                        Thursday = Thursday + data[i].credits /100;
                                    }

                                    if (date.getDay() === 5) {
                                        Friday = Friday + data[i].credits /100;
                                    }

                                    if (date.getDay() === 6) {
                                        Saturday = Saturday + data[i].credits /100;
                                    }
                                }
                                this.data_week[0] = [Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday];
                                    this.weekShow = true;

                            },
                            (x) => {
                                this.backendErrors = x;
                            }
                        );
                });
            },
            showDay() {
                this.clearData();
                this.currentLabel = 'Day';
                this.monthShow = false;
                this.weekShow = false;
                this.yearShow = false;
                this.calculationOfTheStartAndEndDate();
                Vue.nextTick(() => {
                    User
                        .showPaymentStats({filter_groups: this.filtersDay})
                        .then(
                            (data) => {
                                for( let i = 0; i < 12; i++ ) {
                                    this.data_day[0][i] = 0;
                                }
                                for(let i = 0; i < data.length; i++) {
                                    let date = data[i].updated_at.split(" ", 3);
                                    if (date[1] >= '00:00:00' && date[1] < '02:00:00') {
                                        this.data_day[0][0] = this.data_day[0][0] + data[i].credits /100;
                                    }

                                    if (date[1] >= '02:00:00'  && date[1] < '04:00:00') {
                                        this.data_day[0][1] = this.data_day[0][1] + data[i].credits /100;
                                    }

                                    if (date[1] >= '04:00:00' && date[1] < '06:00:00') {
                                        this.data_day[0][2] = this.data_day[0][2] + data[i].credits /100;
                                    }

                                    if (date[1] >= '06:00:00'  && date[1] < '08:00:00') {
                                        this.data_day[0][3] = this.data_day[0][3] + data[i].credits /100;
                                    }

                                    if (date[1] >= '08:00:00'  && date[1] < '10:00:00') {
                                        this.data_day[0][4] = this.data_day[0][4] + data[i].credits /100;
                                    }

                                    if (date[1] >= '10:00:00'  && date[1] < '12:00:00') {
                                        this.data_day[0][5] = this.data_day[0][5] + data[i].credits /100;
                                    }

                                    if (date[1] >= '12:00:00'  && date[1] < '14:00:00') {
                                        this.data_day[0][6] = this.data_day[0][6] + data[i].credits /100;
                                    }

                                    if (date[1] >= '14:00:00'  && date[1] < '16:00:00') {
                                        this.data_day[0][7] = this.data_day[0][7] + data[i].credits /100;
                                    }

                                    if (date[1] >= '16:00:00'  && date[1] < '18:00:00') {
                                        this.data_day[0][8] = this.data_day[0][8] + data[i].credits /100;
                                    }

                                    if (date[1] >= '18:00:00'  && date[1] < '20:00:00') {
                                        this.data_day[0][9] = this.data_day[0][9] + data[i].credits /100;
                                    }

                                    if (date[1] >= '20:00:00'  && date[1] < '22:00:00') {
                                        this.data_day[0][10] = this.data_day[0][10] + data[i].credits /100;
                                    }

                                    if (date[1] >= '22:00:00'  && date[1] <= '23:59:59') {
                                        this.data_day[0][11] = this.data_day[0][11] + data[i].credits /100;
                                    }
                                }
                                    this.dayShow = true;

                            },
                            (x) => {
                                this.backendErrors = x;
                            }
                        );
                });
            },
            showCalendarFrom() {
                this.showDatePicker = true;
            },
            calculationOfTheStartAndEndDate() {
                let date = new Date(this.dateFrom);
                let startDate = new Date(date.setDate(date.getDate() - date.getDay()));
                let endDate = new Date(date.setDate((date.getDate() - date.getDay()) + 6));
                let l = startDate.getFullYear() + "-" + (Number(startDate.getMonth() + 1) < 10 ? "0" + Number(startDate.getMonth() + 1) : startDate.getMonth() + 1) + "-" + (startDate.getDate() < 10 ? "0" + startDate.getDate() : startDate.getDate()) + ' 00:00:00';
                let g = endDate.getFullYear() + "-" + (Number(endDate.getMonth() + 1) < 10 ? "0" + Number(endDate.getMonth() + 1) : endDate.getMonth() + 1) + "-" + (endDate.getDate() < 10 ? "0" + endDate.getDate() : endDate.getDate()) + ' 23:59:59';
                this.filtersYear[0].filters.push(
                    {
                        key: 'updated_at',
                        value: [startDate.getFullYear() + '-01-01' + ' 00:00:00', startDate.getFullYear() + '-12-31' + ' 23:59:59'],
                        operator: 'bt'
                    }
                );

                this.filtersWeek[0].filters.push(
                    {
                        key: 'updated_at',
                        value: [l , g],
                        operator: 'bt'
                    }
                );
                this.filtersDay[0].filters.push(
                    {
                        key: 'updated_at',
                        value: [this.dateFrom + ' 00:00:00', this.dateFrom + ' 23:59:59'],
                        operator: 'bt'
                    }
                );
            },
            getCountUsers() {
                User
                    .getCountItem()
                    .then(
                        (count) => {
                            this.countUsers = count;
                        },
                        (reject) => {
                        }
                    )
            },
            getCountProducts() {
                Product
                    .getCountItem()
                    .then(
                        (count) => {
                            this.countProducts = count;
                        },
                        (reject) => {
                        }
                    )
            }
        },
        mounted() {
            Vue.nextTick(() => EventBus.$emit('toolbar:title:set', 'Overview'));
            this.getCountUsers();
            this.getCountProducts();
            this.allPayPalSum();
            this.getBalancee();
            let date = new Date();
            this.currentDate = date.getFullYear() + '-' + Number(date.getMonth() + 1 ) + '-' + date.getDate();
            this.dateFrom = this.currentDate;
            this.showDay();
            EventBus.$emit('hide:button:toolbar');

        }
    }
</script>

<style lang="scss" scoped>
    .overview {
        font-size: 15px;
        line-height: 20px;

        .spinner {
            width: 100%;
            height: 100%;
            text-align: center;

            .md-spinner {
                top: 40%;
            }

        }

        .date-input {
            max-width: 85px;
        }
        .blocks {
            display: flex;
            font-size: 15px;
            line-height: 15px;
        }
        .tile.is-ancestor:not(:last-child) {
            margin-bottom: 10px;
        }

        @media screen and (min-width: 769px) {
            .chart {
                margin-left:15%;
                margin-right:15%;
            }
        }


        @media screen and (min-width: 769px) {
            .tile:not(.is-child) {
                display: -ms-flexbox;
                display: flex;
            }
        }

        .tile.is-parent {
            padding: 10px;
        }

        .tile {
            -ms-flex-align: stretch;
            align-items: stretch;
            display: block;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -ms-flex-negative: 1;
            flex-shrink: 1;
            min-height: -webkit-min-content;
            min-height: -moz-min-content;
            min-height: min-content;
        }

        .box {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 3px hsla(0, 0%, 4%, .1), 0 0 0 1px hsla(0, 0%, 4%, .1);
            display: block;
            padding: 16px;
        }

    }
</style>