<template>
    <div v-if="mainPage">
        <pay-pal-list
                :payments="payments">
        </pay-pal-list>
        <search v-if="search" @change="filterItems"></search>
        <md-layout v-if="showPagination" md-align="center">
            <pagination :page-count="countPages"
                        :initial-page="page"
                        :page-range="1"
                        :click-handler="clickCallback"
                        :prev-text="'<'"
                        :next-text="'>'"
                        :container-class="'pagination'"
                        :page-class="'page-item'"
            ></pagination>
        </md-layout>
    </div>
    <div v-else-if="spinner" class="spinner">
        <md-spinner md-indeterminate></md-spinner>
    </div>
</template>
<style lang="scss">
    .spinner {
        width: 100%;
        height: 100%;
        text-align: center;

        .md-spinner {
            top: 40%;
        }

    }
    .pagination {
        font-size: 11px;
    }

    .page-item {
        min-height: 15px;
        min-width: 15px;
        font-size: 11px;
    }
</style>
<script>
    import PayPalList from './PayPalPaymentList.vue';
    import User from '../models/User';
    import PayPal from '../models/PayPal';
    import Product from '../models/Product';
    import EventBus from '../../../services/EventBus';
    import Filter from './common/Filter.vue';
    import Paginate from 'vuejs-paginate'

    export default {
        data () {
            return {
                countPages: 0,
                spinner: true,
                mainPage: false,
                showPagination: false,
                itemSearchString: '',
                search: false,
                page: 1,
                payment: {},
                payments: [],
                filtersItemSelect: [
                    {
                        "or": true,
                        "filters": []
                    }
                ],
            }
        },
        components: {
            PayPalList,
            'search': Filter,
            'pagination': Paginate
        },
        watch: {
            '$route': 'fetchPayments'
        },
        methods: {
            getCountPayments() {
                PayPal
                    .getCountPayments()
                    .then(
                        (count) => {
                            this.countPages = Number(parseFloat(count / 10 + 0.4).toFixed());
                        },
                        (reject) => {
                        }
                    )
            },
            clickCallback(numPage) {
                this.spinner = true;
                this.mainPage = false;
                this.showPagination = false;
                this.page = numPage;
                this.$router.push({query: {page: numPage}});
                this.fetchPayments();
            },
            filterItems: _.debounce(function (val) {
                this.itemSearchString = val;

                this.filtersItemSelect[0].filters = [];

                this.filtersItemSelect[0].filters.push(
                    {
                        key: this.$route.params.items === 'users' ? 'name' : 'title',
                        value: this.itemSearchString,
                        operator: 'ct'
                    }
                );

                this.filtersItemSelect[0].filters.push(
                    {
                        key: this.$route.params.items === 'users' ? 'surname' : 'title',
                        value: this.itemSearchString,
                        operator: 'ct'
                    }
                );

                this.$router.push({query: {page: this.$route.query.page, search: val}});
                this.fetchPayments();
            }, 500),
            fetchPayments() {
                this.showPagination = false;
                if (this.$route.query.page === undefined) {
                    this.$router.push(this.$route.query.showDetails > 0 ? {query: {page: this.page === 1 ? this.page : this.page + 1 , showDetails: this.$route.query.showDetails}} :
                        {query: {page: this.page === 1 ? this.page : this.page + 1}});
                }
                Vue.nextTick(() => EventBus.$emit('toolbar:add:show'));
                Vue.nextTick(() => EventBus.$emit('toolbar:title:set', this.$route.params.items));
                PayPal
                    .all({filter_groups: this.filtersItemSelect, page: this.$route.query.page - 1})
                    .then(
                        (payments) => {
                            this.payments = payments;
                            this.filtersItemSelect[0].filters = [];
                            setTimeout(() => {
                                this.page = Number(this.$route.query.page) <= 1 ? 0 : Number(this.$route.query.page) - 1;
                                this.showPagination = true;
                                this.spinner = false;
                                this.mainPage = true;
                            }, 300);
                        },
                        (x) => {
                            this.backendErrors = x;
                        }
                    )
            }
        },
        created() {



            this.fetchPayments();

//            this.getCountPayments();

            this.search = false;

            EventBus.$on('open:search', () => {
                this.search = true;
            });

            EventBus.$on('close:search', () => {
                this.filtersItemSelect[0].filters = [];
                this.$router.push({query: {page: this.$route.query.page}});
                this.search = false;
            });

            EventBus.$on(this.$route.params.items + ':update', (item) => {
                _.assign(this.items.find(i => i.id === item.id), item);

            });

            EventBus.$on(this.$route.params.items + ':delete', (item) => {
                this.items.splice(this.items.indexOf(this.items.find(i => i.id === item.id)), 1);
                this.fetchPayments();
            });

            EventBus.$on(this.$route.params.items + ':create', (item) => {
                this.items.push(item);
            });

            EventBus.$on('imageDate:update:itemList', (event) => {

                setTimeout(() => {
                    if (event.image !== null) {
                        this.item = this.items.find(i => i.id === event.item.id);
                        this.item.image = event.image;
                    }
                    else
                        this.item.image = this.items.find(i => i.id === event.item.id).image;
                }, 3000)

            });


        },
        destroyed() {
            Vue.nextTick(() => EventBus.$emit('toolbar:add:hide'));
            Vue.nextTick(() => EventBus.$emit('toolbar:title:set', ''));
            EventBus.$off(this.$route.params.items + ':update'),
                EventBus.$off(this.$route.params.items + ':delete'),
                EventBus.$off(this.$route.params.items + ':create'),
                EventBus.$off('toolbar:add:clicked')

        }
    }
</script>
