<template>
    <div class="table-items">
        <md-list class="md-double-line">
            <md-list-item v-for="payment in payments[0].payments" :key="payment.id" @click="openPayment(payment)">
                <md-layout md-vertical-align="center" class="edit" md-flex="100">
                    {{payment.id}}
                </md-layout>
            </md-list-item>
        </md-list>
    </div>
</template>
<style lang="scss">
    .table-items {
        font-size: 15px;
        -webkit-overflow-scrolling:touch;
        .md-list {
            padding: 0px 0;
        }

        .md-list.md-double-line .md-list-item .md-list-item-container {
            border-bottom: 1px solid rgba(0, 0, 0, 0.06);
            line-height: 5px;
            width: 100%;
        }
    }

    .edit {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .button-edit {
        min-width: 0;
        min-height: 0;
        margin: 0;
        padding: 0;
    }
</style>
<script>
    import EventBus from '../../../services/EventBus';

    export default {
        props: ['payments'],
        data () {
            return {


            }
        },
        watch: {
        },
        methods:{
            openPayment(payment) {
                EventBus.$emit('payment:modal:open', {payment});
            }
        },
        mounted() {
            Vue.nextTick(() => EventBus.$emit('toolbar:title:set', 'PayPal'));
        },
        destroyed() {

        }
    }
</script>