<template>
    <div class="admin-profile">
        <md-layout md-flex="100">
            <md-layout md-flex-small="100" md-flex="50" md-align="center">
                <md-card class="main-layout-profile">
                    <md-card-media>
                        <img src="https://sbnn.co.uk/wp-content/uploads/sites/2/2017/10/Ecosquared.jpg" alt="People">
                    </md-card-media>
                    <div class="author">
                        <md-layout md-align="center">
                            <md-avatar  md-menu-trigger class="has-ripple md-medium avatar border-white" >
                                <img v-if="user.image" :src="user.image" alt="People">
                                <span v-if="!user.image">{{avatarName(user)}}</span>
                            </md-avatar>
                        </md-layout>
                    </div>
                    <md-card-header>
                        <md-layout md-align="center">
                            <div class="md-title">{{user.name + ' ' + user.surname}}</div>
                        </md-layout>

                        <md-layout md-align="center">
                            <div class="md-subhead">{{user.email}}</div>
                        </md-layout>

                    </md-card-header>

                    <md-card-content>
                        <md-layout md-align="center">
                            "{{user.description}}"
                        </md-layout>
                    </md-card-content>
                </md-card>
            </md-layout>

            <md-layout md-align="center" md-flex-small="100" md-flex="50">
                <md-card class="main-layout-profile">
                    <md-card-header>
                        <div class="md-title">Edit Profile</div>
                    </md-card-header>

                    <md-card-content>
                        <div v-for="field in typeFields[type]">
                            <md-input-container
                                    :class="{'md-input-invalid': backendErrors[field.id] || errors.has(field.id)}">
                                <label class="input-label md-body-1">
                                    {{capitalLetter(field.id)}}
                                </label>
                                <md-textarea
                                        v-if="field.type === 'textarea'"
                                        v-validate="validationRules[field.id]"
                                        :data-vv-name="field.id"
                                        v-model="user[field.id]"
                                        :disabled="field.isDisabled">
                                </md-textarea>
                                <md-input
                                        v-if="field.id !== 'user' && field.type !=='textarea'"
                                        v-validate="validationRules[field.id]"
                                        :data-vv-name="field.id"
                                        v-model="user[field.id]"
                                        :disabled="field.isDisabled">
                                </md-input>

                                <md-input
                                        v-if="field.id === 'user'"
                                        :data-vv-name="field.id"
                                        v-model="user[field.id]['name'] + ' ' + user[field.id]['surname']"
                                        :disabled="field.isDisabled">
                                </md-input>


                                <span v-show="backendErrors[field.id]" class="md-error">
                                    <strong>{{backendErrors[field.id]}}</strong>
                                    </span>
                                <span v-show="errors.has(field.id)" class="md-error">
                                    <strong>{{ errors.first(field.id) }}</strong>
                                    </span>
                            </md-input-container>
                        </div>
                    </md-card-content>

                    <md-card-actions>
                        <md-layout md-align="center">
                            <button type="submit" class="btn btn-info btn-fill btn-wd btn-update-profile">
                                Update Profile
                            </button>
                        </md-layout>
                    </md-card-actions>
                </md-card>
            </md-layout>

        </md-layout>
    </div>
</template>
<style lang="scss">
    .admin-profile {
        margin: 15px;

        .main-layout-profile {
            width: 100%;
            border-radius: 10px;
            margin: 10px;
            font-size: 15px;
            line-height: 20px;
        }

        .btn-update-profile {
            border-radius: 10px;
        }

        .md-avatar {
            background-color: grey;
            width: 40px;
            min-width: 40px;
            height: 40px;
            min-height: 40px;
            overflow: visible;
            text-align: center;
            box-shadow: 0 0 15px 5px rgba(0,0,0,.2);
            img {
                border-radius: 100%;
            }
            span {
                display: inline-block;
                font-weight: 400;
                font-size: 36px;
                line-height: 80px;
                color: #ffffff;
                text-shadow: 0 0 6px rgba(0,0,0,0.9);
                text-transform: uppercase;
            }
        }

        img {
            vertical-align: middle;
        }

         .avatar.border-white {
            border: 5px solid #FFFFFF;
        }

        .avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: relative;
            margin-bottom: 15px;
            margin-top: -44px;
        }

    }
</style>
<script>
    import Auth from '../../../services/auth';
    export default {
        data() {
            return {
                user: Auth.getUser(),
                type: 'edit',
                backendErrors: [],
                typeFields: {
                        edit: [
                            {id: 'name', type: 'input'},
                            {id: 'surname', type: 'input'},
                            {id: 'email', isDisabled: true, type: 'input'},
                            {id: 'description', type: 'textarea'},
                        ],
                        roles: [
                            {id: true}
                        ]
                },
                validationRules: {
                        name: 'required|alpha|min:2',
                        surname: 'required|alpha|min:2',
                        email: 'required|email',
                        description: 'required|min:10|max:160',
                }
            }
        },
        methods: {
            avatarName(item) {
                return `${item.name.charAt(0)}${item.surname.charAt(0)}`;
            },
            capitalLetter(word) {
                return word.charAt(0).toUpperCase() + word.slice(1);
            },
        }
    }
</script>
