<template>
    <div class="settings">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <md-layout md-align="center">
                        <div class="radio-content">
                            <div class="title">global sharing</div>
                            <div class="radio-box">
                                <md-radio :class="{'md-active': share}" v-model="share"
                                          name="share" md-value=1>On</md-radio>
                                <md-radio v-model="share" name="share" md-value=0>Off</md-radio>
                            </div>
                        </div>
                    </md-layout>
                </article>
            </div>

            <div class="tile is-parent">
                <article class="tile is-child box">
                    <md-layout md-align="center">
                        <div class="radio-content">
                            <div class="title">global supporting</div>
                            <div class="radio-box">
                                <md-radio :class="{'md-active': support}" v-model="support"
                                          name="support" md-value=1>On</md-radio>
                                <md-radio v-model="support" name="support" md-value=0>off</md-radio>
                            </div>
                        </div>
                    </md-layout>
                </article>
            </div>
        </div>
        <form novalidate @submit.stop.prevent="saveSettings()">
            <md-layout md-align="center">
                <md-button type="submit" class="btn btn-info btn-fill btn-wd btn-update-profile ">Save</md-button>
            </md-layout>

            <md-snackbar :md-position="vertical + ' ' + horizontal" ref="snackbar" :md-duration="duration">
                <md-layout md-align="center">
                    <span>Successfully</span>
                </md-layout>
            </md-snackbar>
        </form>
    </div>


</template>

<script>
    import User from '../models/User';
    import Product from '../models/Product';
    import EventBus from '../../../services/EventBus';
    import DatePicker from './Calendar.vue';

    export default {
        data() {
            return {
                share: 1,
                support: 1,
                duration: 1500,
                vertical: 'bottom',
                horizontal: 'center'
            }
        },
        methods: {
            getShareSupport() {
              Product
                  .getShareSupport()
                  .then((shareAndSupport) => {
                      this.share = shareAndSupport.share;
                      this.support = shareAndSupport.support;
                  })
            },
            saveSettings() {
                Product.
                enableDisableShareSupport(this.share, this.support)
                    .then(
                        (response) => {
                            this.$refs.snackbar.open();
                        },
                        (x) => {
                            this.backendErrors = x;
                        }
                    )
            }
        },
        mounted() {
            Vue.nextTick(() => EventBus.$emit('toolbar:title:set', 'Settings'));
            this.getShareSupport();
            this.$watch(() => [
                    {prop: 'share', val: this.share},
                    {prop: 'support', val: this.support},
                ],
                (nArr) => {
                    Vue.nextTick(() => {
                        nArr.forEach((elem) => {
                            this.$emit(`${elem.prop}:changed`, elem)
                        })
                    });
                })
        }
    }
</script>

<style lang="scss">
    .settings {
        padding: 15px;

        .btn-update-profile {
            border-radius: 10px;
        }

        .blocks {
            display: flex;
            font-size: 15px;
            line-height: 15px;
        }
        .tile.is-ancestor:not(:last-child) {
            margin-bottom: 10px;
        }

        @media screen and (min-width: 769px) {
            .tile:not(.is-child) {
                display: -ms-flexbox;
                display: flex;
            }
        }

        .tile.is-parent {
            padding: 10px;
        }

        .tile {
            -ms-flex-align: stretch;
            align-items: stretch;
            display: block;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -ms-flex-negative: 1;
            flex-shrink: 1;
            min-height: -webkit-min-content;
            min-height: -moz-min-content;
            min-height: min-content;
        }

        .box {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 3px hsla(0, 0%, 4%, .1), 0 0 0 1px hsla(0, 0%, 4%, .1);
            display: block;
            padding: 16px;
        }


        .radio-content {
            .title {
                font-size: 15px;
                line-height: 14px;
                font-weight: 700;
                text-transform: uppercase;
                padding-bottom: 5px;
            }
            .radio-box {
                box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
                border: 2px solid #000000;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                display: inline-block;
                font-size: 0;
                line-height: 0;
                margin-bottom: 40px;
                overflow: hidden;

                .md-radio {
                    margin: 0;
                    padding: 0;
                    min-height: 40px;
                    position: relative;
                    min-width: 70px;
                    display: inline-block;
                    text-align: center;
                    transition: all .2s;

                    &:not(:first-child){
                        border-left: 1px solid #000;
                    }

                    &.md-checked {
                        background: #bbbbbb;

                        &:first-child {
                            -webkit-border-radius: 17px 0 0 17px;
                            -moz-border-radius: 17px 0 0 17px;
                            border-radius: 17px 0 0 17px;
                        }

                        &:last-child {
                            -webkit-border-radius: 0 17px 17px 0;
                            -moz-border-radius: 0 17px 17px 0;
                            border-radius: 0 17px 17px 0;
                        }
                        .md-radio-label {
                            font-weight: 700;
                        }

                    }

                    .md-radio-container, .md-radio-container:before {
                        display: none;
                    }
                    .md-radio-label {
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        padding: 10px;
                        margin: 0;
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 400;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
</style>