<template>
    <div class="transactions">
        <router-view></router-view>
    </div>
</template>
<style lang="scss">
    .transactions {
        height: 100%;
    }
</style>
<script>
    import EventBus from '../../../services/EventBus';


    export default {
        data() {
          return {

          }
        },
        mounted() {

            Vue.nextTick(() => EventBus.$emit('toolbar:title:set', 'Transactions'));
            if( (!this.$route.query.dateFrom) &&
                (!this.$route.query.dateTo) &&
                (!this.$route.query.userId) &&
                (!this.$route.query.received) &&
                (!this.$route.query.shared) &&
                (!this.$route.query.bought) &&
                (!this.$route.query.pending)) {
                EventBus.$emit('toolbar:search:show');
            }


        },
        destroyed() {

        }
    }
</script>