<template>
    <div class="list" v-if="mainPage">
        <md-list class="md-double-line">

            <md-list-item v-for="transaction in transactions" :key="transaction.id" @click="openTransactionInfo(transaction)">
                <md-layout>
                    <md-layout md-align="center" md-flex="35">
                        <span>{{getUser(transaction.user_id)}}</span>
                    </md-layout>

                    <md-layout md-align="end">
                        <span>{{transaction.transaction_type}}</span>
                    </md-layout>

                    <md-layout md-align="center" >
                        <span>{{amount(transaction.amount)}}</span>
                    </md-layout>
                </md-layout>
            </md-list-item>

        </md-list>
        <md-layout v-if="showPagination" md-align="center">
            <pagination  :page-count="countPages"
                         :initial-page="page"
                         :page-range="1"
                         :click-handler="clickCallback"
                         :prev-text="'<'"
                         :next-text="'>'"
                         :container-class="'pagination'"
                         :page-class="'page-item'"
            ></pagination>
        </md-layout>

    </div>
    <div v-else-if="spinner" class="spinner">
        <md-spinner md-indeterminate></md-spinner>
    </div>
</template>
<style lang="scss">

    .pagination {
        font-size: 11px;
    }

    .page-item {
        min-height: 15px;
        min-width: 15px;
        font-size: 11px;
    }

        .md-list.md-double-line .md-list-item .md-list-item-container {
            border-bottom: 1px solid rgba(0, 0, 0, 0.06);
            font-size:15px;
        }

        .md-list {
            font-size:15px;
            line-height: 5px;
        }

    .spinner {
        width: 100%;
        height: 100%;
        text-align: center;

        .md-spinner {
            top: 40%;
        }

    }

</style>
<script>
    import Transaction from '../models/Transaction';
    import User from '../models/User';
    import EventBus from '../../../services/EventBus';
    import Paginate from 'vuejs-paginate';

    export default {
        data() {
            return {
                mainPage: false,
                spinner: true,
                countPages: 0,
                showPagination: false,
                page: 1,
                showTransactionInformation: false,
                transaction: {},
                item: {},
                filters: [
                    {
                        "or": true,
                        "filters": []
                    },
                    {
                        "or": false,
                        "filters": []
                    }
                ],
                backendErrors: [],
                users: [],
                transactions: [],
                user: {},
                dislayName: {},
                filterGetTransaction: [
                    {
                        "or": false,
                        "filters":[]
                    }
                ]
            }
        },
        watch: {
            '$route': 'propsEventEmit'
        },
        components: {
            'pagination': Paginate
        },
        methods:{
                getCountItems() {
                    Transaction
                        .getCountItem()
                        .then(
                            (count) => {
                                this.countPages = Number(this.countPage(count / 10 + 0.4));
                            },
                            (x) => {
                                this.backendErrors = x;
                            }
                        )
                },
                clickCallback(numPage) {
                    this.spiner = true;
                    this.mainPage = false;
                    this.showPagination = false;
                    this.page = numPage;
                    if ((this.$route.query.dateFrom !== undefined) &&
                        (this.$route.query.dateTo !== undefined) &&
                        (this.$route.query.userId !== undefined) &&
                        (this.$route.query.received !== undefined) &&
                        (this.$route.query.shared !== undefined) &&
                        (this.$route.query.bought !== undefined) &&
                        (this.$route.query.pending !== undefined)) {

                            this.$router.push({query: {
                                dateFrom: this.$route.query.dateFrom,
                                    dateTo: this.$route.query.dateTo,
                                    userId: this.$route.query.userId,
                                    received: this.$route.query.received,
                                    shared: this.$route.query.shared,
                                    bought: this.$route.query.bought,
                                    pending: this.$route.query.pending,
                                    page: numPage
                            }
                        })
                    }

                    else {
                        this.$router.push({query: {page: numPage}});
                    }

                    this.fetchTransaction();
                },
                countPage(number) {
                    return parseFloat(number).toFixed()
                },
                getTransaction() {
                    if (this.$route.query.showDetails !== undefined) {

                        this.filterGetTransaction[0].filters.push(
                            {
                                key: 'id',
                                value: this.$route.query.showDetails,
                                operator: 'eq'
                            }
                        );

                       return Transaction.all({filter_groups: this.filterGetTransaction})
                            .then(
                                (response) => {
                                    this.transaction = response[0];
                                    if(this.transaction !== undefined) {
                                        this.openTransactionInfo(this.transaction);
                                    }
                                })
                    }
                },
                openTransactionInfo(transaction) {
                    this.transaction = transaction;
                    Vue.nextTick(() => {
                        EventBus.$emit('show:details:transaction', {transaction});
                    });

                },
                amount(sum) {
                    return parseFloat(sum).toFixed()
                },
                getUser(id) {
                        _.assign(this.user, this.users.find(i => i.id === id));
                        return this.displayName = this.user.name + ' ' + this.user.surname;
                },
                fetchUsers() {
                    User
                        .all()
                        .then(
                            (users) => {
                                this.$set(this, 'users', users);
                                this.fetchTransaction();
                            },
                            (x) => {
                                this.backendErrors = x;
                            }
                        )
                },
                fetchTransaction() {
                    this.showPagination = false;
                    if (this.$route.query.page === undefined) {
                        this.$router.push(this.$route.query.showDetails > 0 ? {query: {page: this.page === 1 ? this.page : this.page + 1}} :
                            {query: {page: this.page === 1 ? this.page : this.page + 1, showDetails: this.$route.query.showDetails}});
                    }
                    Transaction
                        .all({filter_groups: this.filters, limit: 10, page: this.$route.query.page - 1})
                        .then(
                            (transactions) => {
                                this.$set(this, 'transactions', transactions);
                                this.page = Number(this.$route.query.page) <= 1 ? 0 : Number(this.$route.query.page) - 1;
                                this.spiner = false;
                                Vue.nextTick(() => {
                                    this.mainPage = true;
                                });

                                this.showPagination = true;

                            },
                            (x) => {
                                this.backendErrors = x;
                            }
                        )
                },
                propsEventEmit() {
                    let selectedTypes = [false, false, false, false];
                    this.filters[0].filters = [];
                    this.filters[1].filters = [];
                    selectedTypes[0] = this.$route.query.received;
                    selectedTypes[1] = this.$route.query.shared;
                    selectedTypes[2] = this.$route.query.bought;
                    selectedTypes[3] = this.$route.query.pending;
                    let selectedUserId = this.$route.query.userId;
                    let dateFrom = this.$route.query.dateFrom ? this.$route.query.dateFrom : '';
                    let dateTo = this.$route.query.dateTo ? this.$route.query.dateTo : '';
                    if (selectedTypes[0] === 'true' || selectedTypes[0] === true) {
                        this.filters[0].filters.push(
                            {
                                key: 'transaction_type',
                                value: 'received',
                                operator: 'eq'
                            }
                        );
                    }

                    if (selectedTypes[1] === 'true' || selectedTypes[1] === true) {
                        this.filters[0].filters.push(
                            {
                                key: 'transaction_type',
                                value: 'shared',
                                operator: 'eq'
                            }
                        );
                    }

                    if (selectedTypes[2] === 'true' || selectedTypes[2] === true) {
                        this.filters[0].filters.push(
                            {
                                key: 'transaction_type',
                                value: 'bought',
                                operator: 'eq'
                            }
                        );
                    }

                    if (selectedTypes[3] === 'true' || selectedTypes[3] === true) {
                        this.filters[0].filters.push(
                            {
                                key: 'transaction_type',
                                value: 'pending',
                                operator: 'eq'
                            }
                        );
                    }

                    if (dateFrom !== '' || dateTo !== '') {
                        this.filters[1].filters.push(
                            {
                                key: 'transaction_date',
                                value: [dateFrom + ' 00:00:00', dateTo + ' 23:59:59'],
                                operator: dateTo === '' ? 'gte' : 'bt'
                            }
                        );
                    }

                    if (selectedUserId !== '' && selectedUserId !== undefined) {
                        this.filters[1].filters.push(
                            {
                                key: 'user_id',
                                value: selectedUserId,
                                operator: 'eq'
                            }
                        );
                    }

                    this.fetchUsers();
                    this.getTransaction();
                }
        },
        mounted() {

            EventBus.$emit('toolbar:addTransaction:show');

            if ((this.$route.query.dateFrom !== undefined) &&
                (this.$route.query.dateTo !== undefined) &&
                (this.$route.query.userId !== undefined) &&
                (this.$route.query.received !== undefined) &&
                (this.$route.query.shared !== undefined) &&
                (this.$route.query.bought !== undefined) &&
                (this.$route.query.pending !== undefined)) {

                Transaction
                    .all({filter_groups: this.filters})
                    .then(
                        (transactions) => {
                            this.$set(this, 'transactions', transactions);
                            this.countPages = Number(this.countPage(transactions.length / 10 + 0.4));
                        },
                        (x) => {
                            this.backendErrors = x;
                        }
                    )
            }

            else {
                this.getCountItems();
            }

            EventBus.$on('filter:props:emit', (event) =>{
                this.$set(this,'filters',event.filters);
                this.fetchUsers();
            });
           this.propsEventEmit();
        },
        destroyed() {
           EventBus.$emit('toolbar:addTransaction:hide');
        }
    }
</script>