<template>
    <div class="transaction-filters">
        <md-card class="card-height">
            <md-card-header>
                <div class="md-title">Filters</div>
            </md-card-header>
            <md-card-content>
                <form novalidate @submit.stop.prevent="submit">
                    <md-input-container>
                        <md-icon>search</md-icon>
                        <label>Choose a User</label>
                        <md-autocomplete v-model="userSearchString"
                                         :fetch="fetchUsers"
                                         :prepare-response-data="displayNameUsers"
                                         print-attribute="displayName"
                                         :min-chars="1"
                                         :max-height="6"
                                         @selected="usersCallback"
                                         :debounce="1000">
                        </md-autocomplete>
                    </md-input-container>
                </form>

                <md-layout md-align="center">
                    <md-button class="btn btn-info btn-fill btn-wd btn-update-profile" @click="clearUserObject()">Clear User</md-button>
                </md-layout>

                <md-layout md-align="center">
                    <h3>Select date</h3>
                </md-layout>

                <md-layout md-align="center" md-flex="70">
                    <md-button @click.native="showCalendarFrom()">
                        From:
                        <md-icon>today</md-icon>
                        {{dateFrom}}
                    </md-button>
                    <date-picker @input="showFrom = false"
                                 @close="showFrom = false"
                                 color="#455A64"
                                 min="2017-08-01"
                                 max="2040-01-01"
                                 v-if="showFrom"
                                 v-model="dateFrom">
                    </date-picker>
                </md-layout>

                <md-layout md-flex="70" md-align="center">
                    <md-button @click.native="showCalendarTo()">
                        To:
                        <md-icon>today</md-icon>
                        {{dateTo}}
                    </md-button>
                    <md-layout md-flex="100">
                        <date-picker @input="showTo = false"
                                     @close="showTo = false"
                                     color="#455A64"
                                     :min="dateFrom"
                                     max="2018-01-01"
                                     v-if="showTo"
                                     v-model="dateTo">
                        </date-picker>
                    </md-layout>
                </md-layout>

                <md-layout md-flex="100" md-vertical-align="center">

                    <modal name="type-transaction-modal" :adaptive="true" :draggable="false"
                           :pivotX="0.5" :reset="true" :pivotY="0.3" :clickToClose='false' height="auto"
                           :scrollable="true" :width="modalWidth" class="edit-information-thank">
                        <div class="modal-container">
                            <div class="modal-step">
                                <div class="body">
                                    <div class="body-description">
                                        <md-layout md-flex="100" md-align="center" md-vertical-align="start">
                                            <h3>Select type</h3>
                                        </md-layout>
                                        <md-layout md-flex="100" md-align="center">
                                            <md-layout md-flex="40" md-align="center">
                                                <md-checkbox id="types-1" v-model="selectedTypes[0]"
                                                             class="filter-type-button">
                                                    <md-icon>
                                                        file_download
                                                    </md-icon>
                                                </md-checkbox>
                                            </md-layout>

                                            <md-layout md-flex="40" md-align="center">
                                                <md-checkbox id="types-2" v-model="selectedTypes[1]"
                                                             class="filter-type-button">
                                                    <md-icon>
                                                        file_upload
                                                    </md-icon>
                                                </md-checkbox>
                                            </md-layout>

                                            <md-layout md-flex="40" md-align="center">
                                                <md-checkbox id="types-3" v-model="selectedTypes[2]"
                                                             class="filter-type-button">
                                                    <md-icon>
                                                        attach_money
                                                    </md-icon>
                                                </md-checkbox>
                                            </md-layout>

                                            <md-layout md-flex="40" md-align="center">
                                                <md-checkbox id="types-4" v-model="selectedTypes[3]"
                                                             class="filter-type-button">
                                                    <md-icon>
                                                        access_time
                                                    </md-icon>
                                                </md-checkbox>
                                            </md-layout>
                                        </md-layout>

                                        <md-layout md-flex="100" md-align="center">
                                            <md-button class="btn btn-info btn-fill btn-wd btn-update-profile" @click="cancelSelectedTypes()">Cancel
                                            </md-button>
                                            <md-button class="btn btn-info btn-fill btn-wd btn-update-profile" @click="okSelectedTypes()">Ok</md-button>
                                        </md-layout>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </modal>
                </md-layout>
            </md-card-content>
            <md-card-actions>
                <md-button class="btn btn-info btn-fill btn-wd btn-update-profile" @click.native="openTypeDialog()">
                    select type
                </md-button>
                <md-button class="btn btn-info btn-fill btn-wd btn-update-profile" @click.native="searchStart()">search</md-button>
            </md-card-actions>
        </md-card>

    </div>

</template>
<script>
    import DatePicker from './Calendar.vue'
    import Transaction from '../models/Transaction';
    import EventBus from '../../../services/EventBus'
    import User from '../models/User';

    export default {
        data() {
            return {
                selectedUser: {},
                filterSearchUserAfterPressingBackward: [
                    {
                        "or": false,
                        "filters": []
                    }
                ],
                selectedTypes: [false, false, false, false],
                filters: [
                    {
                        "or": true,
                        "filters": []
                    },
                    {
                        "or": false,
                        "filters": []
                    }
                ],
                filtersUserSelect: [
                    {
                        "or": true,
                        "filters": []
                    }
                ],
                dateFrom: '',
                dateTo: '',
                showFrom: false,
                showTo: false,
                userSearchString: '',
            }
        },
        components: {
            'date-picker': DatePicker
        },
        computed: {
            modalWidth() {
                return $(document).width() > 200 ? 200 : $(document).width() - 40;
            }
        },
        methods: {
            clearUserObject() {
                this.userSearchString = '';
                this.selectedUser = {};
            },
            searchStart() {
                this.propsEventEmit();
                this.$router.push({
                    name: 'all-transactions',
                    query: {
                        page: 1,
                        dateFrom: this.dateFrom,
                        dateTo: this.dateTo,
                        userId: this.selectedUser.id ? this.selectedUser.id : '',
                        received: this.selectedTypes[0],
                        shared: this.selectedTypes[1],
                        bought: this.selectedTypes[2],
                        pending: this.selectedTypes[3],
                    }
                })
            },
            cancelSelectedTypes() {
                this.selectedTypes = [false, false, false, false];
                this.$modal.hide('type-transaction-modal');
            },
            okSelectedTypes() {
                this.$modal.hide('type-transaction-modal');
            },
            displayNameUsers(users) {
                for (let i = 0; i < users.length; i++) {
                    users[i].displayName = users[i].name + ' ' + users[i].surname;
                }
                return users;
            },
            fetchUsers() {
                this.filtersUserSelect[0].filters = [];

                this.filtersUserSelect[0].filters.push(
                    {
                        key: 'name',
                        value: this.userSearchString,
                        operator: 'ct'
                    }
                );

                this.filtersUserSelect[0].filters.push(
                    {
                        key: 'surname',
                        value: this.userSearchString,
                        operator: 'ct'
                    }
                );

                return User.all({filter_groups: this.filtersUserSelect, limit: 6})
            },
            usersCallback(item) {
                this.selectedUser = item
            },
            propsEventEmit() {
                if (this.selectedTypes[0] === true) {
                    this.filters[0].filters.push(
                        {
                            key: 'transaction_type',
                            value: 'received',
                            operator: 'eq'
                        }
                    );
                }

                if (this.selectedTypes[1] === true) {

                    this.filters[0].filters.push(
                        {
                            key: 'transaction_type',
                            value: 'shared',
                            operator: 'eq'
                        }
                    );
                }

                if (this.selectedTypes[2] === true) {

                    this.filters[0].filters.push(
                        {
                            key: 'transaction_type',
                            value: 'bought',
                            operator: 'eq'
                        }
                    );
                }

                if (this.selectedTypes[3] === true) {
                    this.filters[0].filters.push(
                        {
                            key: 'transaction_type',
                            value: 'pending',
                            operator: 'eq'
                        }
                    );
                }

                if (this.dateFrom !== '' || this.dateTo !== '') {
                    this.filters[1].filters.push(
                        {
                            key: 'transaction_date',
                            value: [this.dateFrom + ' 00:00:00', this.dateTo + ' 23:59:59'],
                            operator: this.dateTo === '' ? 'gte' : 'bt'
                        }
                    );
                }

                if (this.selectedUser.id !== '' && this.selectedUser.id !== undefined) {
                    this.filters[1].filters.push(
                        {
                            key: 'user_id',
                            value: this.selectedUser.id,
                            operator: 'eq'
                        }
                    );
                }

                EventBus.$emit('filter:props:emit', {filters: this.filters})

            },
            openTypeDialog() {
                this.$modal.show('type-transaction-modal');
            },
            dateFromCallback(selectedDate) {
                this.dateFrom = selectedDate;
            },
            dateToCallback(selectedDate) {
                this.dateTo = selectedDate;
            },
            showCalendarFrom() {
                this.showFrom = true;
            },
            showCalendarTo() {
                this.showTo = true;
            },
            getUser() {
                if (this.$route.params.userId !== undefined) {
                    this.filtersUserSelect[0].filters.push(
                        {
                            key: 'id',
                            value: this.$route.params.userId,
                            operator: 'eq'
                        }
                    );
                    return User
                        .all({filter_groups: this.filtersUserSelect})
                        .then(
                            (items) => {
                                this.$set(this, 'selectedUser', items[0]);
                                this.selectedTypes = [];
                                if (this.selectedUser) {
                                    this.selectedUser.displayName = this.selectedUser.name + ' ' + this.selectedUser.surname;
                                    this.$set(this, 'userSearchString', this.selectedUser.displayName)

                                }
                                else {
                                    this.selectedUser = {};
                                }
                                this.$set(this, 'dateFrom', this.$route.params.dateFrom);
                                this.$set(this, 'dateTo', this.$route.params.dateTo);
                                this.selectedTypes[3] = this.$route.params.pending;
                                this.selectedTypes[2] = this.$route.params.bought;
                                this.selectedTypes[1] = this.$route.params.shared;
                                this.selectedTypes[0] = this.$route.params.received;
                            },
                            (x) => {
                                this.backendErrors = x;
                            }
                        )
                }

            }
        },
        mounted() {

            EventBus.$on('input:filter:data:transactions',
                this.getUser()
            );
        },
        destroyed() {
            EventBus.$off('input:filter:data:transactions');
            EventBus.$emit('toolbar:back:hide');
        }
    }
</script>
<style lang="scss">
    .transaction-filters {
        z-index: 9999;
        font-size: 14px;
        line-height: 20px;
        height: 100%;

        .btn-update-profile {
            border-radius: 10px;
        }

        .md-card {
            overflow: visible;
        }

        .card-height {
            margin-left: 15px;
            margin-right: 15px;
            height: 90%;
        }

        .filter-type-button {
            width: 25px;
            height: 25px;
        }

    }
</style>