<!--<template>-->
    <!--<div class="gift-graph">-->
        <!--<network-->
                <!--class="network"-->
                <!--ref="network"-->
                <!--:height="'300px'"-->
                <!--:nodes="network.nodes"-->
                <!--:edges="network.edges"-->
                <!--:options="network.options"-->
                <!--@click="networkEvent('click')"-->
                <!--@doubleClick="networkEvent('doubleClick')"-->
                <!--@oncontext="networkEvent('oncontext')"-->
                <!--@hold="networkEvent('hold')"-->
                <!--@release="networkEvent('release')"-->
                <!--@select="networkEvent('select')"-->
                <!--@selectNode="networkEvent('selectNode')"-->
                <!--@selectEdge="networkEvent('selectEdge')"-->
                <!--@deselectNode="networkEvent('deselectNode')"-->
                <!--@deselectEdge="networkEvent('deselectEdge')"-->
                <!--@dragStart="networkEvent('dragStart')"-->
                <!--@dragging="networkEvent('dragging')"-->
                <!--@dragEnd="networkEvent('dragEnd')"-->
                <!--@hoverNode="networkEvent('hoverNode')"-->
                <!--@blurNode="networkEvent('blurNode')"-->
                <!--@hoverEdge="networkEvent('hoverEdge')"-->
                <!--@blurEdge="networkEvent('blurEdge')"-->
                <!--@zoom="networkEvent('zoom')"-->
                <!--@showPopup="networkEvent('showPopup')"-->
                <!--@hidePopup="networkEvent('hidePopup')"-->
                <!--@startStabilizing="networkEvent('startStabilizing')"-->
                <!--@stabilizationProgress="networkEvent('stabilizationProgress')"-->
                <!--@stabilizationIterationsDone="networkEvent('stabilizationIterationsDone')"-->
                <!--@stabilized="networkEvent('stabilized')"-->
                <!--@resize="networkEvent('resize')"-->
                <!--@initRedraw="networkEvent('initRedraw')"-->
                <!--@beforeDrawing="networkEvent('beforeDrawing')"-->
                <!--@afterDrawing="networkEvent('afterDrawing')"-->
                <!--@animationFinished="networkEvent('animationFinished')"-->
                <!--@configChange="networkEvent('configChange')"-->
        <!--&gt;-->
        <!--</network>-->
    <!--</div>-->
<!--</template>-->

<!--<script>-->
    <!--import { Network } from 'vue2vis';-->
    <!--import 'vis/dist/vis.css';-->
    <!--export default {-->
        <!--components: {Network},-->
        <!--data() {-->
            <!--return {-->
                <!--networkEvents: '',-->
                <!--network: {-->
                    <!--nodes: [-->
                        <!--{id: 1, label: 'John Dou',},-->
                        <!--{id: 2, label: 'Jane Dou'},-->
                        <!--{id: 3, label: 'Piter Pozzi'},-->
                        <!--{id: 4, label: 'Emmy Rose'},-->
                        <!--{id: 5, label: 'Donald Holden'}-->
                    <!--],-->
                    <!--edges: [-->
                        <!--{id: 1,from: 1, to: 2, label: '22cr', font: {strokeWidth: 2, strokeColor : '#81b416'}},-->
                        <!--{id: 2,from: 1, to: 3, label: '6cr', font: {strokeWidth: 2, strokeColor : '#81b416'}},-->
                        <!--{id: 3,from: 2, to: 4, label: '16cr', font: {strokeWidth: 2, strokeColor : '#81b416'}},-->
                        <!--{id: 4,from: 2, to: 5, label: '41cr', font: {strokeWidth: 2, strokeColor : '#81b416'}}-->
                    <!--],-->
                    <!--options: {-->
                        <!--interaction: {-->
                            <!--navigationButtons: true,-->
                            <!--keyboard: true-->
                        <!--},-->
                        <!--layout: {-->
                            <!--hierarchical: {-->
                                <!--enabled: true,-->
                            <!--}-->
                        <!--},-->
                        <!--edges: {-->
                            <!--arrows: {-->
                                <!--to: {enabled: true, scaleFactor: 1, type: 'arrow'},-->
                                <!--middle: {enabled: false, scaleFactor: 1, type: 'arrow'},-->
                                <!--from: {enabled: false, scaleFactor: 1, type: 'arrow'}-->
                            <!--},-->
                        <!--},-->
                        <!--nodes : {-->
                            <!--shape: 'dot',-->
                            <!--size: 10,-->
                            <!--color: {-->
                                <!--border: '#7a943d',-->
                                <!--background: '#a4bf4a',-->
                                <!--highlight: {-->
                                    <!--border: '#7a943d',-->
                                    <!--background: '#a4bf4a'-->
                                <!--},-->
                                <!--hover: {-->
                                    <!--border: '#7a943d',-->
                                    <!--background: '#a4bf4a'-->
                                <!--}-->
                            <!--},-->
                            <!--borderWidth: 5,-->
                            <!--borderWidthSelected: 8,-->
                            <!--shadow:{-->
                                <!--enabled: true,-->
                                <!--color: 'rgba(0,0,0,0.5)',-->
                                <!--size:10,-->
                                <!--x:5,-->
                                <!--y:5-->
                            <!--},-->
                        <!--},-->
                    <!--},-->
                <!--},-->
            <!--}-->
        <!--},-->
        <!--methods: {-->
            <!--networkEvent(eventName) {-->
                <!--if (this.networkEvents.length > 500) this.networkEvents = '';-->
                <!--this.networkEvents += `${eventName}, `;-->
            <!--},-->
        <!--},-->

    <!--}-->
<!--</script>-->

<!--<style lang="scss">-->
    <!--.gift-graph {-->
        <!--overflow: hidden;-->
        <!--box-shadow: inset 0 5px 10px -5px rgba(0,0,0,0.3),-->
                    <!--inset 0 -5px 10px -5px rgba(0,0,0,0.3);-->

        <!--.vis-network {-->
            <!--height: 300px !important;-->
        <!--}-->
    <!--}-->
<!--</style>-->