 <template>
     <div class="app-viewport" id="file-list">
         <sidenav></sidenav>
         <toolbar></toolbar>
         <main class="main-content">
            <transition name="fade" mode="out-in">
                <router-view></router-view>
            </transition>
         </main>

         <admin-item-edit-form class="zindex" v-if="showEditForm"></admin-item-edit-form>
         <admin-item-create-form class="zindex" v-if="showCreateForm"></admin-item-create-form>
         <thanks-user-information class="zindex" v-if="showThanksInformation"></thanks-user-information>
         <transaction-information class="zindex" v-if="showTransactionInformation"></transaction-information>
         <create-new-transaction class="zindex" v-if="createNewTransaction"></create-new-transaction>
         <delete-modal class="zindex" v-if="showDeleteModal"></delete-modal>
         <payment-modal class="zindex" v-if="paymentModalShow"></payment-modal>
    </div>
</template>
<style lang="scss">

    .zinex {
        overflow: scroll;
        z-index: 1;
    }

    .app-viewport {
        height: 100%;
        overflow: hidden;
    }

    .md-dialog {
        font-size: 14px;
        line-height:20px;
    }

    .app-viewport {
        display: flex;
        flex-flow: column;
    }
    .main-content {
        padding-top: 64px;
        width:100%;
        position: fixed;
        height: 100%;
        z-index: 0;
        overflow-y: auto;
        -webkit-overflow-scrolling:touch;
    }
</style>
<script>
    import Auth from '../../services/auth';
    import Sidenav from './components/common/Sidenav.vue';
    import Toolbar from './components/common/Toolbar.vue';
    import Login from '../../components/Login';
    import App from '../../components/App';
    import EventBus from '../../services/EventBus'
    import AdminItemEditFrom from './components/AdminItemEditForm.vue';
    import AdminItemCreateFrom from './components/AdminItemCreateForm.vue';
    import ThanksUserInformation from './components/common/ThanksUserInformation.vue';
    import TransactionInformation from './components/common/TransactionInformationDialog.vue';
    import deleteModal from './components/common/deleteModal.vue';
    import createNewTransaction from './components/common/CreateNewTransaction.vue'
    import PaymentModal from './components/common/PaymentModal.vue'

    export default {
        data() {
          return {
              showEditForm: false,
              showCreateForm: false,
              showThanksInformation: false,
              showTransactionInformation: false,
              showDeleteModal: false,
              createNewTransaction: false,
              paymentModalShow: false
          }
        },
        components: {
            Sidenav,
            Toolbar,
            'admin-item-edit-form':AdminItemEditFrom,
            'admin-item-create-form':AdminItemCreateFrom,
            'thanks-user-information': ThanksUserInformation,
            'transaction-information': TransactionInformation,
            'delete-modal': deleteModal,
            'create-new-transaction' :createNewTransaction,
            'payment-modal' : PaymentModal
        },
        beforeRouteEnter (to, from, next) {
            if (!Auth.getUser()) {next(Login.config().redirectPath);}
            else if (!Auth.hasRole('admin')) {next(App.config().redirectPath);}
            else next();
        },
        created() {

            EventBus.$on('close:product:dialog', () => {
                this.showEditForm = false;
            });

            if(this.$route.query.showDetails >= 1 && (this.$route.items === 'projects' || this.$route.items === 'users' || this.$route.items === 'products')) {
                this.showEditForm = true;
            }

            if(this.$route.query.create === 'new') {
                this.showCreateForm = true;
            }

            EventBus.$on('payment:modal:open', (event) => {
                this.paymentModalShow = true;
                setTimeout(() => {
                    EventBus.$emit('admin:payment:modal:show', {payment: event.payment})
                }, 400);
            });

            EventBus.$on('show:create:item', () => {
                this.showCreateForm = true
            });

            EventBus.$on('show:details:item', () => {
               this.showEditForm = true
            });

            EventBus.$on('close:dialog:information', () => {
                this.showEditForm = false;
                this.showCreateForm = false;
            });

            EventBus.$on('show:new:transaction', () => {
                this.createNewTransaction = true;
                Vue.nextTick(() => {
                    EventBus.$emit('transaction:create-new-transaction-dialog:open');
                });
            });

            EventBus.$on('transaction:create-new-transaction-modal:hide', () => {
                this.createNewTransaction = false;
            });

            EventBus.$on('remove:emit:event', (event) => {
                this.showDeleteModal = true;
                Vue.nextTick(() => {
                    EventBus.$emit('open:delete:modal', {item: event.item})
                });
            });

            EventBus.$on('transaction:information:close', () => {
                this.showTransactionInformation = false;
            });

            EventBus.$on('close:delete:modal', () => {
                this.showDeleteModal = false;
            });

            EventBus.$on('show:details:transaction', (event) => {
                this.showTransactionInformation = true;
                Vue.nextTick(() => {
                    EventBus.$emit('transaction:information:open', {transaction: event.transaction});
                });
            });

            EventBus.$on('show:thanks:item', (event) => {
                this.showThanksInformation = true;
                 Vue.nextTick(() => {
                     EventBus.$emit('open-user-thanks-information', {userId: event.userId});
                 });


            });
        },
        destroyed() {
            EventBus.$off('show:details:item');
            EventBus.$off('close:delete:modal');
            EventBus.$off('show:details:transaction');
            EventBus.$off('show:thanks:item');
            EventBus.$off('remove:emit:event');
            EventBus.$off('close:dialog:information');
            EventBus.$off('transaction:information:close');
            EventBus.$off('close:product:dialog');
        }
    }
</script>
