<template>
    <modal name="request-invite" :adaptive="true" :draggable="false" transition="slide"
           :pivotX="0.5" :pivotY="0" v-bind:clickToClose='false' height="auto" :scrollable="true"
           :delay="300" :width="modalWidth" class="modal-request-invite">

        <div class="request-invite-body">
            <div class="request-content">
                <div class="request-invite" >
                    <router-link v-if="!isHome" :to="LoginComponent.config().redirectPath">
                        {{LoginComponent.config().name}}
                    </router-link>
                </div>

                <logo src="logo-1x.png"></logo>

                <div class="caption">
                    Hi, we're Ecosquared. <br><br>
                    <div class="undertext">
                        Come join us!<br>
                        Please add a few words why you'd like to take part, or how you found out about Ecosquared. Thanks!
                    </div>
                </div>
                <form novalidate @submit.stop.prevent="submit" @keyup.enter="submit">
                    <md-input-container
                            md-theme="green"
                            v-bind:class="{'md-input-invalid': backendErrors.email || errors.has('email')}">

                        <label class="input-label md-body-1">
                            EMAIL ADDRESS
                        </label>

                        <md-input
                                v-validate="'required|email'"
                                data-vv-name="email"
                                v-model="email">
                        </md-input>

                        <div v-show="backendErrors.email" class="md-error">
                            <strong>{{backendErrors.email}}</strong>
                        </div>

                        <div v-show="errors.has('email')" class="md-error">
                            <strong>{{ errors.first('email') }}</strong>
                        </div>

                    </md-input-container>

                    <md-input-container md-theme="green"
                                        :class="{'md-input-invalid': backendErrors.message || errors.has('message')}">

                        <label class="input-label md-body-1">
                            Message
                        </label>

                        <md-input
                                v-validate="'required'"
                                data-vv-name="message"
                                v-model="message">
                        </md-input>

                        <div v-show="backendErrors.message" class="md-error">
                            <strong>{{backendErrors.message}}</strong>
                        </div>

                        <div v-show="errors.has('message')" class="md-error">
                            <strong>{{ errors.first('message') }}</strong>
                        </div>

                    </md-input-container>

                    <div class="g-recaptcha">
                        <recaptcha v-on:recaptcha:sucess="recaptchaSucess($event)"></recaptcha>
                    </div>

                </form>
            </div>
            <md-button class="confirm-btn" @click="submit($event)"
                       :disabled="!validate()">REQUEST INVITE</md-button>
            <!--close button component-->
            <close-button v-if="isHome" @close="close"
                          :parent="parent" :modalName="modalName">
            </close-button>
        </div>

    </modal>
</template>

<script>
    import Vue from 'vue';
    import Logo from '../Logo.vue';
    import LoginComponent from '../Login';
    import Auth from '../../services/auth';
    import AppComponent from '../App/index';
    import InfoMessagesComponent from '../InfoMessages/index';
    import Recaptcha from '../Recaptcha.vue';
    import User from '../App/models/UserModel';
    import Invite from '../App/models/InviteModel';
    import EventBus from '../../services/EventBus';
    import ModalAnimationCoordinator from '../../services/ModalAnimationCoordinator';
    import CloseButton from '../App/components/common/modals/modal-buttons/close-button.vue';
    import ModalStepCoordinator from '../App/components/common/modals/services/modal-step-coordinator';

    export default{
        components: {Logo, Recaptcha, CloseButton},
        data() {
            return {
                email: '',
                recaptchaResponse: '',
                backendErrors: {},
                LoginComponent,
                modalName: '',
                transition: '',
                isHome: false,
                message: '',
            };
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            },
            parent() {
                if(this.isHome){
                    return this.$route.matched[this.$route.matched.length - 2].name;
                }
            },
        },
        methods: {
            submit() {
                if(!this.validate()) return;
                Invite.request(this.email, this.message).then(() => {
                        Vue.nextTick(()=>{
                            this.hide();
                            setTimeout(() => this.$router.push({
                                path: 'messages/request-invite-success'
                            }), 200)
                        })
                    },
                    (x) => {
                        this.$set(this, 'backendErrors', x);
                    }
                );
            },
            validate(){
                return !(
                    this.$validator.errors.any()
                    || !this.email
                    || !this.recaptchaResponse
                    || this.backendErrors.email
                )
            },
            recaptchaSucess(response) {
                this.recaptchaResponse = response;
            },
            close(val){
                this.transition = val;
            },
            hide() {
                this.$modal.hide('request-invite');
            },
            show() {
                this.$modal.show('request-invite');
            },
        },
        beforeRouteEnter (to, from, next) {
            if(Auth.getUser()) next(AppComponent.config().redirectPath); else next();
        },
        mounted(){
            if(!Auth.getUser()) this.show();
        },
        watch: {
            email () {
                Vue.set(this, 'backendErrors', {});
            }
        },
    }
</script>

<style lang="scss">
    .modal-request-invite {
        .request-invite-body {
            background: #ffffff;
            border-radius: 10px;
            padding-top: 10px;
            position: relative;

            .request-content {
                margin: 10px 25px 20px 25px;
                font-family: 'Open Sans';
                font-size: 14px;
                line-height: 20px;

                .request-invite {
                    margin-bottom: 40px;
                    text-decoration: underline;
                    a {
                        color: black;
                    }
                }
                .forgot-pass {
                    text-decoration: underline !important;
                    color: black;

                }
                .caption {
                    text-align: center;
                    font-size: 20pt;
                    line-height: 20px;
                    font-weight: 900;
                    color: black;
                    margin-bottom: 20px;
                    .undertext {
                        font-weight: 200;
                        color: gray;
                        font-size: small;
                    }
                }
            }
            .confirm-btn {
                width:100%;
                margin:0;
                padding:0;
                background-color:lightgray;
                font-weight:700;
                height: 50px;
                border-radius: 0 0 10px 10px;
            }
        }
        .v--modal {
            border-radius: 11px;
            margin-top: 30px;
        }
    }
</style>