<template>
    <md-layout>
        <md-layout>
            <md-button @click="rejectItem()">reject</md-button>
        </md-layout>
        <md-layout>
            <md-button @click="acceptItem()">accept</md-button>
        </md-layout>
    </md-layout>
</template>

<script>
    import Product from '../../../../models/ProductModel';
    import Project from '../../../../models/ProjectModel';
    import EventBus from '../../../../../../services/EventBus';
    import ModalStepCoordinator from '../services/modal-step-coordinator';
    import ModalAnimationCoordinator from '../../../../../../services/ModalAnimationCoordinator';

    export default {
        props: ['parent', 'modalName', 'nextStep', 'type', 'shareId', 'notificationId', 'item', 'entity'],
        data(){
            return {
                transition: '',
                modalMap: {
                    'productShare' : Product,
                    'projectShare' : Project
                },
            }
        },
        methods:{
            acceptItem(){
                this.modalMap[this.type].accept(this.notificationId, this.shareId).then(()=>{
                    this.transition = 'slide';
                    ModalAnimationCoordinator.resetAppearAnimation();
                    ModalStepCoordinator.resetStep();
                    Vue.nextTick(() => {
                        this.hide();
                        setTimeout(() => this.$router.push({
                                name: `${this.parent}Entity`,
                                params: {entity: this.entity, id: this.item.card.id}
                        }), 200);
                    });
                }, x => {
                    console.log(x);
                });
            },
            rejectItem(){
                this.modalMap[this.type].reject(this.notificationId, this.shareId).then(()=>{
                    this.transition = 'slide';
                    ModalAnimationCoordinator.resetAppearAnimation();
                    ModalStepCoordinator.resetStep();
                    Vue.nextTick(() => {
                        this.hide();
                        setTimeout(() => this.$router.push({name: this.parent}), 200);
                    });
                }, x => {
                    console.log(x);
                });
            },
            hide () {
                this.$modal.hide(this.modalName);
            },
        },
    }
</script>
