<template>
    <md-layout>
        <md-button v-if="nextStep" @click="goBack()">back</md-button>
        <md-button v-if="!nextStep" @click="closeButton()">cancel</md-button>
    </md-layout>
</template>

<script>
    import EventBus from '../../../../../../services/EventBus';
    import ModalStepCoordinator from '../services/modal-step-coordinator';
    import ModalAnimationCoordinator from '../../../../../../services/ModalAnimationCoordinator';

    export default {
        props:['modalName', 'nextStep', 'parent', 'backBtn'],
        data(){
            return {
                transition: ''
            }
        },
        methods:{
            _action(transition, params){
                this.transition = transition;
                ModalAnimationCoordinator.setNextAppearAnimation(transition);
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.push(params), 200);
                });
            },
            goBack(){
                (this.backBtn) ? this.transition = 'slide-right' : this.transition = 'flip-left';
                ModalAnimationCoordinator.resetAppearAnimation();
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.go(-1), 200);
                });
            },
            closeButton(){
                let transition = 'slide';
                let params = {name: this.$route.matched[1].name};
                this._action(transition, params);
            },
            hide () {
                this.$modal.hide(this.modalName);
            },
        },
        watch:{
            transition(val){
                this.$emit('back', val)
            }
        }
    }
</script>