<template>
    <md-layout class="close-btn" md-align="center">
        <md-button @click="closeButton()">
            <md-icon>close</md-icon> Close
        </md-button>
    </md-layout>
</template>
<script>
    import EventBus from '../../../../../../services/EventBus';
    import ModalStepCoordinator from '../services/modal-step-coordinator';
    import CloseButtonCoordinator from '../services/close-button-coordinator';
    import ModalAnimationCoordinator from '../../../../../../services/ModalAnimationCoordinator';

    export default {
        props:['parent', 'modalName', 'closeRoute'],
        data(){
            return {
                transition: ''
            }
        },
        methods: {
            closeButton(){
                let params = (this.closeRoute) ? {path: this.closeRoute} : {name: this.parent};
                this.transition = 'slide';
                ModalAnimationCoordinator.resetAppearAnimation();
                ModalStepCoordinator.resetStep();
                CloseButtonCoordinator.resetRoute();
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.push(params), 200);
                });
            },
            hide () {
                this.$modal.hide(this.modalName);
            },
        },
        watch:{
            transition(val){
                this.$emit('close', val)
            }
        }
    }
</script>
<style lang="scss">
    .close-btn {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -57px;
        border: 0;
        .md-button {
            color: #fff;
            font-size: 11px;
            font-weight: 600;
            .md-icon {
                font-size: 16px;
                margin-bottom: 5px;
                width: 16px;
                min-width: 16px;
            }
        }
    }
</style>