<template>
    <md-layout>
        <md-button v-if="action === 'create'" :disabled="stepInvalid" @click="$emit('submit', 'create')">
            Create
        </md-button>
        <md-button v-if="action === 'edit'" :disabled="stepInvalid" @click="$emit('submit', 'edit')">
            Edit
        </md-button>
    </md-layout>
</template>

<script>
    export default {
        props:['action', 'stepInvalid']
    }
</script>