<template>
    <md-layout v-if="!nonShare">
        <md-button :disabled="!activeId" @click="$emit('submit')">{{btnText}}</md-button>
    </md-layout>
</template>

<script>
    export default {
        props: ['nonShare', 'activeId', 'btnText']
    }
</script>