<template>
    <md-layout>
        <md-button @click="(type === 'userInvite' || type === 'userProjectInvite') ? revokeInvite() : revokeItem()">
            revoke
        </md-button>
    </md-layout>
</template>

<script>
    import Invite from '../../../../models/InviteModel';
    import Product from '../../../../models/ProductModel';
    import Project from '../../../../models/ProjectModel';
    import EventBus from '../../../../../../services/EventBus';
    import ModalStepCoordinator from '../services/modal-step-coordinator';
    import ModalAnimationCoordinator from '../../../../../../services/ModalAnimationCoordinator';

    export default {
        props: ['parent', 'modalName', 'nextStep', 'type', 'shareId', 'notificationId'],
        data(){
            return {
                transition: '',
                modelMap: {
                    'productShare' : Product,
                    'projectShare' : Project
                },
            }
        },
        methods:{
            _resetModalSetings(){
                this.transition = 'slide';
                ModalAnimationCoordinator.resetAppearAnimation();
                ModalStepCoordinator.resetStep();
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.push({name: this.parent}), 200);
                });
            },
            revokeItem(){
                this.modelMap[this.type].revoke(this.notificationId, this.shareId).then(()=>{
                    this._resetModalSetings();
                }, x => {
                    console.log(x);
                });

            },
            revokeInvite(){
                Invite.inviteRevoke(this.notificationId).then(()=>{
                    this._resetModalSetings();
                }, x => {
                    console.log(x);
                });
            },
            hide () {
                this.$modal.hide(this.modalName);
            },
        },
    }
</script>