<template>
    <div class="item-list">
        <!--item-list-body-->
        <div class="item-list-body">
            <div class="items" v-for="item in cItems" :key="item.id">
                <md-layout md-gutter>
                    <!--name table column-->
                    <md-layout md-flex="60" md-vertical-align="center">
                        <md-card-header>
                            <div class="md-title">
                                <a href="#" @click.prevent="entityModal(item.id, projectThank)">
                                    {{ item.displayName || item.title }}
                                </a>
                            </div>
                            <subname v-if="config.hideSubname" :item="item" :config="config" :entity="entity"></subname>
                        </md-card-header>
                    </md-layout>
                    <!--my table column-->
                    <md-layout md-vertical-align="center">
                        <md-button @click="actionCall(item, itemPopup.action, projectThank)" class="chips black-bg">
                            {{ (item.colMy) ? item.colMy : '0' }}
                        </md-button>
                    </md-layout>
                    <!--average table column-->
                    <md-layout md-vertical-align="center">
                        <span class="chips black-bg" v-if="item.sq">{{item.colAverage}}</span>
                        <md-button class="chips black-bg" @click="actionCall(item, 'usership')"
                                   v-if="item.value || item.value === 0">
                            {{item.colAverage}}
                        </md-button>
                    </md-layout>
                </md-layout>
            </div>
        </div>
    </div>
</template>

<script>
    import Subname from './item-list-parts/subname.vue';
    import CloseButtonCoordinator from './modals/services/close-button-coordinator';
    export default {
        components: {Subname},
        props: ['items', 'config', 'headers', 'columns', 'count', 'buttons', 'sort', 'itemPopup', 'pageName',
            'limit', 'entity', 'projectThank', 'projectId'],
        computed: {
            getEntityItem(){
                return (`${this.pageName}Entity`);
            },
            getEntityAction(){
                return (`${this.pageName}Action`);
            },
            cItems() {
                return this.limit ? this.items.slice(0, this.limit) : this.items
            },
            sortingName(){
                return `${this.pageName}Sorting`
            },
            parent() {
                return this.$route.matched[this.$route.matched.length - 1].name;
            },
        },
        methods:{
            entityModal(id, projectThank){
                CloseButtonCoordinator.setRoute(this.$route.path);
                if(projectThank){
                    this.$router.push({
                        name: `${this.getEntityItem}Filtered`,
                        params: {
                            id: id,
                            entity: this.itemPopup.entity,
                            projectId: this.projectId,
                        }
                    });
                }
                if(!projectThank){
                    this.$router.push({
                        name: this.getEntityItem,
                        params: {
                            id: id,
                            entity: this.itemPopup.entity
                        }
                    });
                }
            },
            actionCall(item, action, projectThank){
                CloseButtonCoordinator.setRoute(this.$route.path);
                if(projectThank){
                    this.$router.push({
                        name: `${this.pageName}ProjectThank`,
                        params: {
                            id: item.id,
                            action: 'thank',
                            sortEntity: 'projects',
                            projectId: this.projectId,
                        }
                    });
                }
                if(!projectThank){
                    this.$router.push({
                        name: (action === 'usership') ? `${this.pageName}ActionMore` : this.getEntityAction,
                        params: {
                            id: item.id,
                            entity: this.itemPopup.entity,
                            action: action,
                            limit: 50
                        }
                    });
                }
            }
        },
    }
</script>

<style lang="scss">
    .item-list {
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        .item-list-body {

            .items {
                border-bottom: 1px solid #f3f3f3;
                padding: 10px 0;
                
                &:nth-child(50n){
                    border-bottom-color: #d4d4d4;
                }

                &:last-child {
                    border-bottom-color: #f7f7f7;
                }

                .md-card-header {
                    position: relative;
                    padding: 0;
                }
                .md-title {
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 18px;
                    text-align: left;
                    a {
                        color: #000;
                    }

                }
                .chips {
                    border-radius: 10px;
                    font-weight: 600;
                    display: block;
                    margin: 0 auto;
                    font-size: 11px;
                    min-width: 2px;
                    min-height: 2px;
                }

                .md-button:hover:not([disabled]):not(.md-raised) {
                    background-color: rgba(0, 0, 0, 0.8);
                    box-shadow: 0 0 15px rgba(0,0,0,.8);
                }
            }
        }
    }
</style>