<template>
    <div class="modals">
        <create-edit ></create-edit>
        <user v-if="type === 'user'"></user>
        <value v-if="type === 'value'"></value>
        <thank v-if="type === 'thank'"></thank>
        <share v-if="type === 'share'"></share>
        <invite v-if="type === 'invite'"></invite>
        <balance v-if="type === 'balance'"></balance>
        <support v-if="type === 'support'"></support>
        <offered v-if="type === 'offered'"></offered>
        <usership v-if="type === 'usership'"></usership>
        <non-offered v-if="type === 'non-offered'"></non-offered>
        <user-settings v-if="type === 'user-settings'"></user-settings>
        <change-password v-if="type === 'change-pass'"></change-password>
        <request-invite v-if="type === 'request-invite'"></request-invite>
        <project-product v-if="type === 'project-product'"></project-product>
        <share-sorting-list v-if="type === 'share-sorting-list'"></share-sorting-list>
        <invite-sorting-list v-if="type === 'invite-sorting-list'"></invite-sorting-list>
        <buy-credits @activate:spinner="spinnerOn" v-if="type === 'buy-credits'"></buy-credits>
        <projects-sorting-list v-if="type === 'projects-sorting-list'"></projects-sorting-list>
        <add-items-sorting-list v-if="type === 'add-items-sorting-list'"></add-items-sorting-list>
        <notifications-settings v-if="type === 'notifications-settings'"></notifications-settings>
        <projects-thank-sorting-list v-if="type === 'projects-thank-sorting-list'"></projects-thank-sorting-list>

        <md-spinner class="spinner" md-indeterminate v-if="spin" :md-size="50"></md-spinner>
    </div>
</template>

<script>
    import User from './modals/modal-user.vue';
    import Value from './modals/modal-value.vue';
    import Thank from './modals/modal-thank.vue';
    import Share from './modals/modal-share.vue';
    import Invite from './modals/modal-invite.vue';
    import Support from './modals/modal-support.vue';
    import Balance from './modals/modal-balance.vue';
    import Offered from './modals/modal-offered.vue';
    import Usership from './modals/modal-usership.vue';
    import NonOffered from './modals/modal-non-offered.vue';
    import BuyCredits from './modals/modal-buy-credits.vue';
    import CreateEdit from './modals/modal-create-edit.vue';
    import UserSettings from './modals/modal-user-settings.vue';
    import ChangePassword from './modals/modal-change-pass.vue';
    import ProjectProduct from './modals/modal-project-product.vue';
    import RequestInvite from '../../../RequestInvite/RequestInvite.vue';
    import ShareSortingList from './modals/modal-share-sorting-list.vue';
    import InviteSortingList from './modals/modal-invite-sorting-list.vue';
    import AddItemsSortingList from './modals/modal-add-items-sorting-list';
    import ProjectsSortingList from './modals/modal-projects-sorting-list.vue';
    import NotificationsSettings from './modals/modal-notifications-settings.vue';
    import ProjectsThankSortingList from './modals/modal-projects-thank-sorting-list';

    export default {
        components : {User, Value, Thank, Share, Support, Balance, Offered, CreateEdit, NonOffered, ShareSortingList,
            BuyCredits, Invite, UserSettings, RequestInvite, ChangePassword, ProjectProduct, NotificationsSettings,
            Usership, InviteSortingList, AddItemsSortingList, ProjectsThankSortingList, ProjectsSortingList
        },
        props:['type'],
        data(){
            return {
                spin: false
            }
        },
        methods: {
            spinnerOn(val){
                this.spin = val
            }
        }
    }
</script>

<style lang="scss">
    .modals {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 99;
        background: rgba(0,0,0,0.8);

        .spinner {
            position: absolute;
            top: 25%;
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: 99;

            svg.md-spinner-draw .md-spinner-path {
                stroke: #486222;
            }
        }
        .v--modal-overlay {
            background: transparent;
            height: calc(100% - 50px);
            min-height: calc(100% - 50px);

            .v--modal {
                background: transparent;
                z-index: 9;
                box-shadow: none;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                overflow: visible;
                margin: 30px 0 60px;
                top: 0 !important;

                .modal-container {
                    position: relative;
                    text-align: center;
                    border-radius: 10px;
                    background: #fff;
                    -webkit-box-shadow: 0 10px 50px rgba(255, 255, 255, 0.2);
                    -moz-box-shadow: 0 10px 50px rgba(255, 255, 255, 0.2);
                    box-shadow: 0 10px 50px rgba(255, 255, 255, 0.2);

                    .modal-body {
                        .item-list-header {
                            padding-top: 30px;
                        }
                    }

                    .btn-box {
                        position: relative;
                        background: #f1f1f1;
                        -webkit-border-radius: 0 0 10px 10px;
                        -moz-border-radius: 0 0 10px 10px;
                        border-radius: 0 0 10px 10px;
                        .md-layout {
                            .md-layout {
                                border-top:1px solid #dfdfdf;
                                &:not(:last-child) {
                                    border-right: 1px solid #dfdfdf;
                                }
                                &:first-child {
                                    .md-button {
                                        -webkit-border-radius: 0 0 0 10px;
                                        -moz-border-radius: 0 0 0 10px;
                                        border-radius: 0 0 0 10px;
                                    }
                                }
                                &:last-child {
                                    .md-button {
                                        -webkit-border-radius: 0 0 10px 0;
                                        -moz-border-radius: 0 0 10px 0;
                                        border-radius: 0 0 10px 0;
                                    }
                                }
                                .md-button {
                                    font-size: 11px;
                                    text-transform: uppercase;
                                    font-weight: 600;
                                    width: 100%;
                                    margin: 0;
                                    padding: 5px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media all and (max-width: 360px) {
        .modals {

            .v--modal {
                margin-top: 10px !important;

                .modal-container {
                    .logo{
                        padding-top: 20px;
                    }
                    .header {
                        padding: 10px;
                    }
                    .body {
                        .body-description {
                            padding: 20px 15px;
                        }
                    }
                    .btn-box {
                        .close-btn {
                            bottom: -45px;
                        }
                    }
                }
            }
        }
    }

</style>