<template>
    <div class="notification-list">
        <div v-if="notifications" v-for="item, key in notifications" :key="key"
             :class="[`item-${item.id}`,'item', `${item.modalName}`,{'new-message': !item.read && type !== 'outgoing'}]">
            <!--thanked component-->
            <thanked v-if="item.modalName === 'thanked' && type != 'outgoing' && item.on_off === 'on'" :item="item"
                     :type="type" :getEntityAction="getEntityAction" :test="test">
            </thanked>
            <!--shared component-->
            <shared v-if="(item.modalName === 'offered' || item.modalName === 'revoke')"
                    :item="item" :type="type" :getEntityAction="getEntityAction" :disabled="disabled">
            </shared>
            <!--liked-supported component-->
            <valued-supported v-if="(item.modalName === 'valued'  && type != 'outgoing'
                                || item.modalName === 'supported'  && type != 'outgoing') && item.on_off === 'on'"
                                :item="item" :type="type" :getEntityAction="getEntityAction">
            </valued-supported>
            <!--tooltip unread message-->
            <md-tooltip v-if="!item.seen && type != 'outgoing' && !disable" md-direction="bottom">
                To read message, tap on title
            </md-tooltip>
        </div>
        <!--<md-spinner md-indeterminate v-if="spinner" :md-size="30"></md-spinner>-->
    </div>
</template>

<script>
    import Shared from './notification-list-parts/shared.vue';
    import Thanked from './notification-list-parts/thanked.vue';
    import ValuedSupported from './notification-list-parts/valued-supported.vue';
    export default {
        components: {Thanked, Shared, ValuedSupported},
        props:['notifications', 'type', 'disabled'],
        data(){
            return{
                spinner: false,
                test: false,
            }
        },
        computed: {
            getEntityAction(){
                return (`${this.type}NotificationAction`);
            },
        },
        mounted() {
            if(!this.notification) this.spinner = true;

        },
        // watch:{
        //     notifications(val){
        //         if(!val) {this.spinner = true;}
        //         if(val) {this.spinner = false;}
        //     }
        // }
    }
</script>

<style lang="scss">
    .notification-list {
        font-size: 12px;
        line-height: 20px;
        color: #000000;

        .item {
            position: relative;
            border-bottom: 1px solid #f1f1f1;

            &:nth-child(20n){
                border-bottom-color: #d4d4d4;
            }

            .click-zone {
                cursor: pointer;
                padding-bottom: 5px;
            }
            .text-container {
                padding-top: 5px;
                position: relative;
                .text {
                    overflow: hidden;
                    font-size: 13px;
                    line-height: 16px;
                    font-weight: 700;
                    width: 100%;
                    position: relative;
                    transition: all 0.3s;
                }
                span {
                    position: absolute;
                    display: inline-block;
                    left: 0;
                    bottom: 0;
                    font-size: 10px;
                    line-height: 15px;
                    font-weight: 300;
                    cursor: pointer;
                    i{
                        font-style: normal;
                    }
                }
            }

            .notification-type {
                padding: 10px 0;
            }

            &.new-message  {
                background: #f9f9f9;
            }

            .avatar {
                padding: 0 0 0 5px;
                position: relative;
                text-align: center;

                .avatar-name {
                    display: inline-block;
                    font-weight: 700;
                    color: #ffffff;
                    font-size: 14px;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-shadow: 0 0 6px rgba(0,0,0,0.9);
                    text-transform: uppercase;
                    background: #ebebeb;
                    border-radius: 100%;
                    box-shadow: 0 0 5px rgba(0,0,0,.8);
                }

                img {
                    display: block;
                    width: 30px;
                    height: 30px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    box-shadow: 0 0 5px;
                }
            }
            .item-title {
                width: 100%;
                .title {
                    cursor: pointer;
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 500;
                    width: 100%;
                }
                .author {
                    font-size: 12px;
                    line-height: 14px;
                    color: #1a1a1a;
                    width: 100%;
                }
            }
            .chips-box {
                padding-top: 5px;

                .chips.grey-bg {
                    font-size: 10px;
                }
            }
            .item-message {
                position: relative;
                width: 100%;
                .md-layout {
                    line-height: 16px;
                }
                .item-message-content {
                    .cap {
                        cursor: pointer;
                        font-size: 10px;
                        line-height: 14px;
                        text-transform: uppercase;
                        font-weight: 600;
                        width: 100%;

                        .md-icon {
                            width: auto;
                            height: auto;
                            min-height: 5px;
                            min-width: 5px;
                        }

                        i {
                            color: #939393;
                            font-size: 10px;
                            font-weight: 400;
                            text-transform: none;
                            font-style: normal;
                        }
                    }
                }
            }
        }
    }
    @media all and (min-width: 667px) {
        .notification-list {
            .md-flex-15 {
                min-width: 10%;
                -ms-flex: 0 1 10%;
                flex: 0 1 10%;
            }
            .md-flex-85 {
                min-width: 90%;
                -ms-flex: 0 1 90%;
                flex: 0 1 90%;
            }
        }
    }
    @media all and (min-width: 900px) {
        .notification-list {
            .md-flex-15 {
                min-width: 5%;
                -ms-flex: 0 1 5%;
                flex: 0 1 5%;
            }
            .md-flex-85 {
                min-width: 95%;
                -ms-flex: 0 1 95%;
                flex: 0 1 95%;
            }
        }
    }
    @media all and (max-width: 360px) {
        .notification-list .item .chips-box .chips.grey-bg,
        .notification-list .item .chips-box .chips.black-bg {
            display: block;
            line-height: 16px;
            margin: 0;
        }
    }
</style>