<template>
    <div class="products-page">
        <header class="entity-header">
            <div class="header-cap">
                <md-layout>
                    <md-layout md-flex="40">
                        <little-icon-button :icon="showFilterBtn.icon"
                                            :btnText="showFilterBtn.text"
                                            @button:click="toggleFilter">
                        </little-icon-button>
                    </md-layout>
                    <md-layout md-flex="60">
                        <!--balance component-->
                        <balance :parent="'entity'"></balance>
                    </md-layout>
                </md-layout>
            </div>

            <div class="entity-cap">
                <!--item list header component-->
                <item-list-header @sort="sort" :headers="productsHeaders" :columns="productsColumns"></item-list-header>
            </div>
        </header>

        <main :style="{height: `${cHeight}px`}">
            <!--users-list-->
            <products-list @refresh="refresh"
                           :entityType="entityType"
                           :filterStatus="filterStatus"
                           :sort="sorting"
                           :updateProductsList="productsListUpdate"
                           :pageName="pageName"
                           :buttonHide="false">
            </products-list>
        </main>

        <router-view></router-view>
    </div>
</template>

<script>
    import Auth from '../../../../services/auth';
    import Balance from '../common/balance/balance.vue';
    import EventBus from '../../../../services/EventBus';
    import ProductsList from '../common/product/products-list.vue';
    import LittleIconButton from '../common/buttons/little-icon-button.vue';
    import ItemListHeader from '../common/item-list-parts/item-list-header.vue';

    export default {
        props: [
            'entityType',
        ],
        components: {
            Balance,
            ProductsList,
            ItemListHeader,
            LittleIconButton
        },
        data(){
            return {
                productsListUpdate: false,
                pageName: 'item',
                showFilterBtn: {
                    icon: '/pictures/icon_search.svg',
                    text: 'Search',
                },
                filterStatus: false,
                sorting: [
                    {
                        key: 'activity',
                        direction: 'DESC'
                    }
                ],
                containerHeight: '',
                headerHeight: '',
                sq: true,
                productsHeaders: {
                    title: 'Products',
                    shadow: 'Past',
                    sortName: 'title'
                },
                productsColumns : [
                    {
                        sortName: 'like',
                        title: 'My',
                        id: 'my'
                    },
                    {
                        sortName: 'value',
                        title: 'our',
                        id: 'total'
                    }
                ],
            }
        },
        computed: {
            parent() {
                return this.$route.matched[2].name;
            },
            cHeight(){
                return this.containerHeight - this.headerHeight - 40;
            }
        },
        methods: {
            refresh(val){
                this[`${val.entity}ListUpdate`] = val.status;
            },
            toggleFilter(){
                this.filterStatus = !this.filterStatus;
            },
            sort(options){
                if(options.status === true){
                    var direction = "ASC"
                }
                if(options.status === false){
                    var direction = "DESC"
                }
                this.sorting.splice(0, 1, {
                    key: options.name,
                    direction
                });
                let search = this.$route.params.search;
                let routeStep3 = this.$route.matched[3];
                if(search){
                    this.$router.push({
                        name: (routeStep3 && routeStep3.name === 'entityFilter') ? 'entityFilter' : 'entity',
                        params: {sortBy:options.name, direction,search}
                    });
                }
                if(!search){
                    this.$router.push({
                        name: 'entity',
                        params: {sortBy:options.name, direction,}
                    });
                }
            },
            adaptiveScroll(){
                this.containerHeight = this.$el.clientHeight;
                this.headerHeight = this.$el.children[0].clientHeight;
            }
        },
        beforeRouteUpdate(to, from, next){
            if(from.params.action === 'share' ||
                from.params.action === 'support' ||
                from.params.action === 'thank' ||
                from.params.action === 'value')
                this.productsListUpdate = true;
            next();
        },
        mounted(){
            this.sorting.splice(0, 1, {
                key: (this.$route.params.sortBy) ? this.$route.params.sortBy : 'activity',
                direction: (this.$route.params.direction) ? this.$route.params.direction : 'DESC'
            });
            EventBus.$on('filter:status', status => this.filterStatus = status);
            this.adaptiveScroll();
            window.addEventListener('resize', () => {
                this.adaptiveScroll();
            })
        },

    }
</script>

<style lang="scss">
    .products-page {
        padding: 20px;
        height: 100%;
        overflow: hidden;

        header {
            position: relative;
            background: #ffffff;
            z-index: 2;
        }

        main {
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
    }
</style>