<template>
    <div class="products-list">
        <!--item list component-->
        <item-list :style="{'opacity': (spin) ? 0 : 1}"
                   :items="cProducts"
                   :count="length"
                   :config="config"
                   :pageName="pageName"
                   :entity="'products'"
                   :limit="buttonHide ? 3 : length"
                   :itemPopup="itemPopup">
        </item-list>
        <!--spinner-->
        <md-spinner v-if="spin" md-indeterminate :md-size="30"></md-spinner>
        <!--load-more-button component-->
        <md-spinner v-if="spinner" md-indeterminate :md-size="30"></md-spinner>
        <load-more-button v-if="hasMoreItems && !buttonHide && !spinner" @load:more="loadMore"></load-more-button>
        <!--item filter component-->
        <search-filter v-if="filterStatus" @change="filterItems" :entity="'products'" :query="searchQuery"></search-filter>

    </div>
</template>

<script>
    let _ = require('lodash');
    import ItemList from '../item-list.vue';
    import Auth from '../../../../../services/auth';
    import Products from '../../../models/ProductModel';
    import SearchFilter from '../filter/search-filter.vue';
    import EventBus from '../../../../../services/EventBus';
    import LoadMoreButton from '../buttons/load-more-button.vue';

    export default {
        props: ['includes', 'countItems', 'pageName', 'filterStatus', 'sort', 'buttonHide', 'updateProductsList'],
        components: {
            ItemList,
            SearchFilter,
            LoadMoreButton
        },
        data() {
            return {
                filter: false,
                spin: false,
                spinner: false,
                config: {
                    hideSubname: true,
                    hideDate: true,
                    showFullList: false
                },
                itemPopup: {
                    entity: 'products',
                    action: 'value',
                    usersList: 'usership'
                },
                products: [],
                searchQuery: '',
                limit: 50,
                length: null,
                filter_groups: [
                    {
                        "or": true,
                        "filters": []
                    }
                ],
            }
        },
        computed:{
            hasMoreItems(){
                return  this.length > this.limit
            },
            cProducts(){
                return this.products.map((i) => {
                    i.creator = Auth.getUser().id === i.user_id;
                    i.colMy = i.like;
                    i.colAverage = i.value;
                    if(i.user){
                        i.user.fullName = `${i.user.name} ${i.user.surname}`;
                    }
                    return i});
            },
            computedList(){
                return this.cProducts.filter((item) => {
                    return item.title.toLowerCase().indexOf((this.searchQuery).toLowerCase()) !== -1
                })
            },
        },
        methods: {
            loadMore(){
                if(this.length > this.limit) {
                    this.spinner = true;
                    this.limit += 50;
                    this.$router.push({name:this.$route.name, params: {pageLimit:this.limit}});
                    this.fetchProducts(this.sort, this.limit, this.filter_groups)
                }
            },

            fetchProducts(sort, limit, filter_groups){
                 Products.all({sort, filter_groups, limit: limit || this.limit}).then(data => {
                    this.products = data.products;
                    this.$set(this, 'length', data.limitCount);
                    this.spin = false;
                    this.spinner = false;
                    Products.sync(this, 'products')
                }, x => {console.log(x)});
            },
            filterItems(val){
                this.searchQuery = val;
            },
            fetchSearch: _.debounce(function () {
                this.filter_groups[0].filters = [];
                this.filter_groups[0].filters.push(
                    {
                        key : 'title',
                        value : this.searchQuery,
                        operator : 'ct'
                    }
                );
                if(this.searchQuery)
                    this.$router.push({
                        name: 'entity',
                        params: {search: this.searchQuery}
                    });

                if(!this.searchQuery)
                    this.$router.push({
                        name: 'entity',
                        params: {entity: 'products'}
                    });
                this.fetchProducts(this.sort, this.limit, this.filter_groups);
            }, 500),
            init(){
                this.spin = true;
                this.searchQuery = (this.$route.params.search) ? this.$route.params.search : '';
                if(!this.searchQuery)this.fetchProducts(this.sort, this.limit, this.filter_groups);
            }
        },
        mounted() {
            if(this.pageName === 'home') this.init();
        },
        watch:{
            updateProductsList(r){
                if(r)this.init();
                this.$emit('refresh', {entity: 'products',status: false})
            },
            searchQuery(){
                this.spin = true;
                this.fetchSearch();
            },
            sort() {
                this.spin = true;
                this.init();
            },
            length(val){
                this.$emit('countProducts', val);
            },
            'products.length'(val){
                if(val > this.length)this.init();
            }
        }
    }
</script>

<style lang="scss">
    .products-list {
        text-align: center;
        position: relative;

        .md-spinner {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 10px;
        }
    }
</style>