<template>
    <div class="outgoing-notification">
        <header>
            <!--balance component-->
            <balance :parent="parent"></balance>
            <!--headers-components-->
            <item-list-header :headers="headers"></item-list-header>
        </header>
        <main class="content" :style="{height: `${cHeight}px`}">

            <!--project notification-->
            <notification-list :notifications="cNotifications" :type="type" :disabled="disabled"></notification-list>

            <md-spinner md-indeterminate v-if="spin" :md-size="30"></md-spinner>

            <load-more-button v-if="hasMoreItems" @load:more="loadMore"></load-more-button>

            <!--router-view component-->
            <router-view></router-view>
        </main>
    </div>
</template>

<script>
    import Moment from 'moment';
    import User from '../../models/UserModel';
    import Auth from '../../../../services/auth'
    import Balance from '../common/balance/balance.vue';
    import EventBus from '../../../../services/EventBus';
    import Notification from '../../models/NotificationModel';
    import NotificationList from '../common/notification-list.vue';
    import LoadMoreButton from '../common/buttons/load-more-button.vue';
    import ItemListHeader from '../common/item-list-parts/item-list-header.vue';
    export default {
        components:{
            Balance,
            LoadMoreButton,
            ItemListHeader,
            NotificationList,
        },
        data(){
            return {
                disabled: false,
                type: 'outgoing',
                parent: 'outgoingNotification',
                containerHeight: '',
                headerHeight: '',
                headers: {
                    title: 'Outgoing',
                    shadow: 'Messages',
                },
                notifications: [],
                limit: 20,
                length: null,
                user: Auth.getUser(),
                spin: false,
            }
        },
        computed: {
            hasMoreItems(){
                return  this.length > this.limit
            },
            cHeight(){
                return this.containerHeight - this.headerHeight - 40;
            },
            cNotifications(){
                return this.notifications.map((i)=>{
                    i.activity = Moment(i.created_at).fromNow();
                    if(i.type === 'productShare' || i.type === 'projectShare' ||
                        i.type === 'userInvite' || i.type === 'userProjectInvite'){
                        i.modalName = 'offered'
                    }
                    if(i.type === 'thank'){
                        i.modalName = 'thanked'
                    }
                    if(i.type === 'productSupported' || i.type === 'projectSupported'){
                        i.modalName = 'supported'
                    }
                    if(i.type === 'productLike' || i.type === 'productLike'){
                        i.modalName = 'liked'
                    }
                    if(i.user){
                        i.user.fullName = `${i.user.name} ${i.user.surname}`;
                    }
                    if(i.card){
                        i.card.user.fullName = `${i.card.user.name} ${i.card.user.surname}`;
                        i.user.avatarName = `${i.user.name.charAt(0)}${i.user.surname.charAt(0)}`;
                    }
                    if(i.target_user){
                        i.target_user.fullName = `${i.target_user.name} ${i.target_user.surname}`;
                    }
                    return i;
                })
            },
        },
        methods: {
            loadMore(){
                if(this.length > this.limit) {
                    this.spin = true;
                    this.limit += 20;
                    this.fetchNotification(this.limit)
                }
            },
            adaptHeight() {
                this.containerHeight = this.$el.clientHeight;
                this.headerHeight = this.$el.children[0].clientHeight;
            },
            getType(val){
                this.filter_groups[0].filters.splice(0, 1, {
                    "key":"type",
                    "value": val,
                    "operator": "eq"
                });
                this.fetchNotification(this.filter_groups);
            },
            fetchNotification(limit, sort){
                Notification.fetchOutgoing({limit, sort}).then(data => {
                    this.notifications = data.notifications;
                    this.length = data.count;
                    Notification.sync(this.notifications, i => i.user_id === Auth.getUser().id);
                    this.spin = false;
                }, x => {console.log(x)});
            },
            ifRegUser(){
                if(this.user.id !== Auth.getUserFromStorage().id) {
                    location.replace('#/app/home');
                    location.reload();
                }
            },
        },
        mounted(){
            this.spin = true;
            this.ifRegUser();
            this.fetchNotification(this.limit);
            this.adaptHeight();
            window.addEventListener('resize', () => {
                this.adaptHeight();
            })
        }
    }
</script>

<style lang="scss">
    .outgoing-notification {
        height: calc(100vh - 55px);
        padding: 20px;
        overflow: hidden;

        header {
            z-index: 2;
            position: relative;
            box-shadow: 0 10px 5px rgba(255,255,255,.5);
        }
        main.content {
            overflow: auto;
            margin: 0;

            .md-spinner {
                margin: 15px auto 0;
                text-align: center;
                display: block;
            }
            .load-more {
                display: inherit;
            }
        }
    }
</style>