<template>
    <modal name="recovery" :adaptive="true" :draggable="false" transition="slide-fade-y"
           :pivotX="0.5" :reset="true" :pivotY="0.1" :clickToClose='false' height="auto"
           :scrollable="true" :delay="300" :width="modalWidth" class="modal-recovery">
        <div class="content">
            <logo src="logo-1x.png"></logo>
            <div class="caption">
                Password Recovery
            </div>

            <form novalidate @submit.stop.prevent="createNewPassword" @keyup.enter="createNewPassword">
                <!--new password-->
                <md-input-container md-theme="green" md-has-password :class="{'md-input-invalid': errors.has('password')}">
                    <label class="input-label md-body-1">New password</label>
                    <md-input v-validate="'required'" name="password" type="password" v-model="newPassword"></md-input>
                    <span v-show="errors.has('password')" class="md-error">
                        <strong>{{ errors.first('password') }}</strong>
                    </span>
                </md-input-container>
                <!--confirm password-->
                <md-input-container md-theme="green" md-has-password
                                    :class="{'md-input-invalid': errors.has('password_confirmation')}">
                    <label class="input-label md-body-1">Confirm Password</label>
                    <md-input v-validate="'required|confirmed:password'" v-model="passwordConfirmation"
                              data-vv-name="password_confirmation" type="password" data-vv-as="password">
                    </md-input>
                    <span v-show="errors.has('password_confirmation')" class="md-error">
                                    <strong>{{ errors.first('password_confirmation') }}</strong>
                                </span>
                </md-input-container>
            </form>
        </div>

        <md-button @click="createNewPassword()" :disabled="!validate()" class="btn">
            Create password
        </md-button>
    </modal>
</template>

<script>
    import Auth from '../../services/auth';
    import User from '../App/models/UserModel';
    import AppComponent from '../App';
    import Logo from '../Logo.vue';
    import Login from '../Login';
    import RequestInviteComponent from '../RequestInvite';
    import Vue from 'vue';

    export default {
        components: {Logo},
        data() {
            return {
                hash: null,
                newPassword: '',
                passwordConfirmation: '',
                backendErrors: {},
                user: null,
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            }
        },
        methods: {
            show(){
                this.$modal.show('recovery');
            },
            hide(){
                this.$modal.hide('recovery');
            },
            validate() {
                return !(
                    this.$validator.errors.any()
                    || !this.newPassword
                    || !this.passwordConfirmation
                )
            },
            createNewPassword(){
                User.createNewPassword(this.user.email, this.newPassword).then((res)=>{
                    this.$router.push(Login.config().redirectPath)
                }, (x)=>{
                    console.log(x);
                    this.$router.push('/errors/403')
                });
            },
            fetchByHash(hash){
                User.recoveryHash(hash).then((info)=>{
                    this.user = info;
                }, (x)=>{
                    console.log(x);
                    this.$router.push('/errors/403')
                });
            }
        },
        beforeRouteEnter (to, from, next) {
            if (Auth.getUser()) next(AppComponent.config().redirectPath); else next();
        },
        beforeRouteLeave(to, from, next) {
            this.hide();
            setTimeout(() => {
                next()
            }, 100); //animation
        },
        mounted() {
            this.hash = this.$route.params.hash;
            this.fetchByHash(this.hash);
            this.show();
        },

    }
</script>

<style lang="scss">
    .modal-recovery{
        .content {
            margin: 10px 25px 25px 20px;

            .caption {
                text-align: center;
                font-size: 16pt;
                line-height: 20px;
                font-weight: 800;
                color: black;
                margin-bottom: 20px;
            }

            .input-label {
                font-size: 9pt;
                line-height: 20px;
                font-weight: 800;
            }

            .md-input {
                font-size: 16pt;
                line-height: 20px;
            }

            .md-input-container .md-error, .md-input-container .md-count {
                line-height: 20px;
            }

        }

        .btn {
            font-size:13pt;
            width:100%;
            margin:0;
            padding:0;
            background-color:lightgray;
            font-weight:700;
            border-radius:0;
            height:50px;
        }

        .v--modal {
            border-radius: 6px;
        }
    }
</style>
