<template>
    <div class="edit-information-thank">
        <md-dialog :md-click-outside-to-close="false" :md-esc-to-close="false" ref="edit-thanks-dialog">
            <md-dialog-content>
                <md-layout>
                    <md-layout md-flex="85">
                        <form novalidate @submit.stop.prevent="submit">
                            <md-input-container>
                                <md-icon>search</md-icon>
                                <label>From User</label>
                                <md-autocomplete v-model="fromUserSearchString"
                                                 :fetch="fetchUsersFrom"
                                                 :prepare-response-data="displayNameUsers"
                                                 print-attribute="displayName"
                                                 :min-chars="1"
                                                 @selected="fromUserCallback"
                                                 :debounce="700"
                                                 :disabled="true">
                                </md-autocomplete>
                            </md-input-container>
                        </form>
                    </md-layout>

                    <md-layout md-flex="15">
                        <md-button @click="redirectToUser(fromSelectedUser.id)">
                            <md-icon>keyboard_arrow_right</md-icon>
                        </md-button>
                    </md-layout>

                </md-layout>

                <md-layout>
                    <md-layout md-flex="85">
                        <form novalidate @submit.stop.prevent="submit">
                            <md-input-container>
                                <md-icon>search</md-icon>
                                <label>To User</label>
                                <md-autocomplete v-model="toUserSearchString"
                                                 :fetch="fetchUsersTo"
                                                 :prepare-response-data="displayNameUsers"
                                                 print-attribute="displayName"
                                                 :min-chars="1"
                                                 :max-height="6"
                                                 @selected="toUserCallback"
                                                 :debounce="700">
                                </md-autocomplete>
                            </md-input-container>
                        </form>
                    </md-layout>

                    <md-layout md-flex="15">
                        <md-button class="btn btn-info btn-fill btn-wd btn-update-profile" @click="redirectToUser(toSelectedUser.id)">
                            <md-icon>keyboard_arrow_right</md-icon>
                        </md-button>
                    </md-layout>
                </md-layout>

                <md-input-container>
                    <label>Message</label>
                    <md-textarea v-model="thank.message" class="text-area-container"></md-textarea>
                </md-input-container>

                <md-input-container>
                    <label>Value</label>
                    <md-input v-model="thank.value" type="number"></md-input>
                </md-input-container>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button class="btn btn-info btn-fill btn-wd btn-update-profile"
                           @click.native="saveThank()">Save
                </md-button>
                <md-button class="btn btn-info btn-fill btn-wd btn-update-profile" @click="closeDialogThanksEditInformation()">
                    Cancel
                </md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</template>
<style lang="scss">
    .edit-information-thank {

        .btn-update-profile {
            border-radius: 10px;
        }

        .md-input-container textarea {
            min-height: 100px;
            max-height: 230px;
            padding: 5px 0;
            resize: none;
            line-height: 1.3em;
        }
    }

</style>
<script>
    import EventBus from '../../../../services/EventBus';
    import EditTransactionDialog from './CreateNewTransaction.vue'
    import Transaction from '../../models/Transaction';
    import User from '../../models/User';

    export default {
        data() {
            return {
                thank: {},
                fromUserSearchString: '',
                toUserSearchString: '',
                fromSelectedUser: {},
                toSelectedUser: {},
                filtersUserSelectTo: [
                    {
                        "or": true,
                        "filters": []
                    }
                ]
            }
        },
        watch: {
            '$route': 'redirectMethod'
        },
        methods: {
            saveThank() {
                let formData = new FormData();
                formData.append('id', this.thank.id);
                formData.append('userId', this.fromSelectedUser.id);
                formData.append('targetUserId', this.toSelectedUser.id);
                formData.append('value', this.thank.value);
                formData.append('message', this.thank.message);
                User.
                createThanks(formData, this.$route.query.user, this.$route.query.thanksId )
                    .then(
                        (response) => {
                            this.closeDialogThanksEditInformation();
                        },
                        (reject) => {

                        })
            },
            redirectMethod() {
                EventBus.$emit('close-user-thanks-edit-information');
            },
            closeDialogThanksEditInformation() {
                setTimeout(() => {
                    this.$router.push(this.$route.query.page === undefined ?
                        {query: {user: this.$route.query.user, thanks: this.$route.query.thanks}} :
                        {query: {page: this.$route.query.page, user: this.$route.query.user, thanks: this.$route.query.thanks}});
                }, 200);
                this.$refs['edit-thanks-dialog'].close();
            },
            redirectToUser(id) {
                this.$refs['edit-thanks-dialog'].close();
                EventBus.$emit('redirect:to:user');
                this.$router.push({name: 'items', params: {items: 'users'}, query: {showDetails: id}});
            },
            displayNameUsers(users) {
                for (let i = 0; i < users.length; i++) {
                    users[i].displayName = users[i].name + ' ' + users[i].surname;
                }
                return users;
            },
            fetchUsersFrom() {
                this.filtersUserSelectFrom[0].filters = [];
                this.filtersUserSelectFrom[0].filters.push(
                    {
                        key: 'name',
                        value: this.fromUserSearchString,
                        operator: 'ct'
                    }
                );

                this.filtersUserSelectFrom[0].filters.push(
                    {
                        key: 'surname',
                        value: this.fromUserSearchString,
                        operator: 'ct'
                    }
                );
                return User.all({filter_groups: this.filtersUserSelectFrom})

            },
            fetchUsersTo() {
                this.filtersUserSelectTo[0].filters = [];
                this.filtersUserSelectTo[0].filters.push(
                    {
                        key: 'name',
                        value: this.toUserSearchString,
                        operator: 'ct'
                    }
                );

                this.filtersUserSelectTo[0].filters.push(
                    {
                        key: 'surname',
                        value: this.toUserSearchString,
                        operator: 'ct'
                    }
                );
                return User.all({filter_groups: this.filtersUserSelectTo})

            },
            fromUserCallback(item) {
                this.fromSelectedUser = item;
            },
            toUserCallback(item) {
                this.toSelectedUser = item;
            },
        },
        mounted() {
            EventBus.$on('open:edit:thank:dialog', (event) => {
                this.$set(this, 'thank', event.thank);
                if (event.active === 'sent') {
                    this.$set(this, 'toSelectedUser', this.thank.target_user);
                    this.$set(this, 'fromSelectedUser', event.user[0]);
                    this.fromUserSearchString = this.fromSelectedUser.name + ' ' + this.fromSelectedUser.surname;
                    this.toUserSearchString = this.toSelectedUser.name + ' ' + this.toSelectedUser.surname;
                }

                if (event.active === 'received') {
                    this.$set(this, 'fromSelectedUser', this.thank.user);
                    this.$set(this, 'toSelectedUser', event.user[0]);
                    this.fromUserSearchString = this.fromSelectedUser.name + ' ' + this.fromSelectedUser.surname;
                    this.toUserSearchString = this.toSelectedUser.name + ' ' + this.toSelectedUser.surname;
                }
                setTimeout(() => {
                    this.$refs['edit-thanks-dialog'].open();
                }, 300);

            })
        },
        destroyed() {
            EventBus.$off('open:edit:thank:dialog');
        }
    };
</script>