<template>
    <modal name="create-new-transaction-modal" :adaptive="true" :draggable="false"
           :pivotX="0.5" :reset="true" :pivotY="0.25" :clickToClose='false' height="auto"
           :scrollable="true" :width="modalWidth" class="modal-new-transaction">

        <div class="modal-container">
            <div class="modal-step">
                <div class="header">
                <form novalidate @submit.stop.prevent="submit">
                    <md-input-container>
                        <md-icon>search</md-icon>
                        <label>Choose a User</label>
                        <md-autocomplete v-model="userSearchString"
                                         :fetch="fetchUsers"
                                         :prepare-response-data="displayNameUsers"
                                         print-attribute="displayName"
                                         :min-chars="1"
                                         :max-height="6"
                                         @selected="usersCallback"
                                         :debounce="1000">
                        </md-autocomplete>
                    </md-input-container>
                </form>

                <md-layout class="radio-buttons">
                    <md-layout md-flex="50" md-align="center">
                        <md-radio :disabled="true" v-model="radioV" id="transaction-type-1" name="my-test-group1" md-value="bought" class="md-primary">Bought</md-radio>
                    </md-layout>

                    <md-layout md-flex="50" md-align="center">
                        <md-radio :disabled="true" v-model="radioV" id="transaction-type-2" name="my-test-group2" md-value="shared" class="md-primary">Shared</md-radio>
                    </md-layout>

                    <md-layout md-flex="50" md-align="center">
                        <md-radio :disabled="false" v-model="radioV" id="transaction-type-3" name="my-test-group3" md-value="received" class="md-primary">Received</md-radio>
                    </md-layout>

                    <md-layout md-flex="50" md-align="center">
                        <md-radio :disabled="true" v-model="radioV" id="transaction-type-4" name="my-test-group4" md-value="pending" class="md-primary">Pending</md-radio>
                    </md-layout>
                </md-layout>

                <md-input-container>
                    <label>Count credits</label>
                    <md-input v-model="amount" type="number"></md-input>
                </md-input-container>
                </div>
            </div>
            <div class="btn-box">
                <md-layout>
                    <md-button class="btn btn-info btn-fill btn-wd btn-update-profile" @click="redirectMethod()">Cancel</md-button>
                    <md-button class="btn btn-info btn-fill btn-wd btn-update-profile" @click="create()">Create</md-button>
                </md-layout>
            </div>
        </div>
    </modal>
</template>
<style lang="scss">

    .md-menu-content.md-direction-bottom-right.md-active {
        margin-top: -11px;
        z-index: 1000;
    }
        .modal-new-transaction {

            .btn-update-profile {
                border-radius: 10px;
            }

            .class-avatar {
                margin: 0;
                min-width: 60px;
                min-height: 60px;
                border-radius: 64px;
            }

            .md-radio .md-radio-container input {
                position: absolute;
                left: -999em;
                margin: 2px;
            }


            .md-radio .md-radio-label {
                font-size: 15px;
                height: 20px;
                padding-left: 8px;
                line-height: 20px;
            }




            .modal-container {
                max-height: 500px;
                .upload {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                }

                .header {
                    padding: 0 10px 20px;

                    .information {
                        font-size: 15px;
                    }

                    .sq {
                        height: 50px;
                    }

                    .header-title {
                        width: 100%;
                        padding-bottom: 10px;
                    }

                    .header-description {
                        font-size: 12px;
                        line-height: 18px;
                        font-weight: 300;

                        p {
                            margin: 0;
                        }

                        .md-button {
                            font-size: 11px;
                            text-transform: uppercase;
                            font-weight: 600;
                            text-decoration: underline;
                            margin: 6px 0;
                        }
                    }
                }
                .body {
                    position: relative;
                    background: #f1f1f1;

                    .body-description {
                        font-size: 13px;
                        line-height: 26px;
                        padding: 0px 50px;
                        height: auto;

                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
</style>
<script>
    import User from '../../models/User';
    import EventBus from '../../../../services/EventBus';
    import Transaction from '../../models/Transaction';
    import Auth from '../../../../services/auth';

    export default {
        data() {
            return {
                transaction: {},
                radioV: '',
                amount: '',
                selectedUser: {},
                userSearchString: '',
                filtersUserSelect: [
                    {
                        "or": true,
                        "filters": []
                    }
                ]
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 300 ? 300 : $(document).width() - 40;
            }
        },
        methods: {
            redirectMethod() {
                this.$modal.hide('create-new-transaction-modal');
                setTimeout(() => {
                    EventBus.$emit('transaction:create-new-transaction-modal:hide');
                    this.$router.push({name: 'all-transactions', query: {page: 1}});
                }, 300)
            },
            create() {
                this.transaction.amount = this.amount;
                this.transaction.userId = this.selectedUser.id;
                this.transaction.transactionType = this.radioV;
                this.transaction.transactionStatus = 1;
                this.transaction.adminId = Auth.getUser().id;

                return Transaction
                        .store(this.transaction)
                        .then(
                                (transaction) => {
                                    this.redirectMethod()
                                },
                                (x) => {
                                    this.backendErrors = x;
                                }
                        )
            },
            displayNameUsers(users) {
                for (let i=0;i < users.length;i++) {
                    users[i].displayName = users[i].name + ' ' + users[i].surname;
                }
                return users;
            },
            fetchUsers() {
                this.filtersUserSelect[0].filters = [];

                this.filtersUserSelect[0].filters.push(
                    {
                        key : 'name',
                        value : this.userSearchString,
                        operator : 'ct'
                    }
                );

                this.filtersUserSelect[0].filters.push(
                    {
                        key : 'surname',
                        value : this.userSearchString,
                        operator : 'ct'
                    }
                );

                return User.all({filter_groups: this.filtersUserSelect, limit: 6})
            },
            usersCallback(item) {
                this.selectedUser = item;
            },
        },
        mounted() {
            this.fetchUsers();
            EventBus.$on('transaction:create-new-transaction-dialog:open', () => {
                setTimeout(() => {
                    this.$modal.show('create-new-transaction-modal');
                },300);
            });
            },
        destroyed() {

        }

    };
</script>