<template>
    <modal name="delete-modal" :adaptive="true" :draggable="false"
           :pivotX="0.5" :reset="true" :pivotY="0.1" :clickToClose='false' height="auto"
           :scrollable="true" :width="modalWidth" class="delete-modal">
        <div class="modal-container">
            <div class="modal-step">
                <div class="body">
                    <div class="body-description">
                        <h3>Are you sure you want to delete the user?</h3>
                            <md-button class="btn btn-info btn-fill btn-wd btn-update-profile" @click="cancelDeleteConfirm()">Cancel</md-button>
                            <md-button class="btn btn-info btn-fill btn-wd btn-update-profile"
                                       @click.native="remove()">Ok
                            </md-button>
                    </div>
                </div>
            </div>
        </div>
    </modal>
</template>
<script>

    import EventBus from '../../../../services/EventBus';
    export default {
        data() {
          return {
              selectedItem: {}
          }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            }
        },
        methods: {
            remove() {
                EventBus.$emit('remove', {item: this.selectedItem}), this.$modal.hide('delete-modal');
            },
            cancelDeleteConfirm() {
                this.$modal.hide('delete-modal');
            }
        },
        mounted() {
            EventBus.$on('open:delete:modal', (event) => {
                this.$set(this, 'selectedItem', event.item)
                setTimeout(() => {
                    this.$modal.show('delete-modal');
                },100)
            })
        }
    }
</script>
<style lang="scss">

    .delete-modal {

        .btn-update-profile {
            border-radius: 10px;
        }

        .md-input-container textarea {
            min-height: 100px;
            max-height: 230px;
            padding: 5px 0;
            resize: none;
            line-height: 1.3em;
        }

        .modal-container {
            max-height: 500px;
            .upload {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
            }

            .body {
                padding: 15px;
                position: relative;
                background: #fff;

                .body-description {
                    font-size: 13px;
                    line-height: 26px;
                    padding: 0px 50px;
                    height: auto;

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
</style>