<template>
    <div class="search">
        <div class="filter-by">
            <md-icon>search</md-icon>
            <md-layout md-align="center">
                <md-input-container md-clearable>
                    <label>Search people list</label>
                    <md-input v-model="userSearchString" autofocus></md-input>
                </md-input-container>
            </md-layout>
            <a href="" class="close-btn" @click.prevent="close()"><md-icon>close</md-icon></a>
        </div>
    </div>
</template>

<script>
    import EventBus from '../../../../services/EventBus';

    export default {
        props: ['itemSearchString'],
        data(){
            return {
                userSearchString: '',
            }
        },
        methods: {
            close(){
                this.userSearchString = '';
                EventBus.$emit('close:search', false);
            }
        },
        watch : {
            userSearchString(val){
                this.$emit('change', val);
            },
        },
        mounted() {
            if(this.itemSearchString !== '') {
                this.userSearchString = this.itemSearchString;
            }
        }
    }
</script>

<style lang="scss">

    .search {
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        width: 220px;
        margin: 0 auto;
        z-index: 2;
        background: #ffffff;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        border: 1px solid rgba(0,0,0,0.5);
        box-shadow: 0 0 10px rgba(0,0,0,0.3);

        .md-input-container {
            margin: 0;
            padding: 0;
            min-height: 30px;

            &.md-input-focused:after, &.md-input-focused label, &.md-has-value label, &:after {
                display: none;
            }
            
            &.md-input-focused .md-icon:not(.md-icon-delete){
                color: #000;
            }

            & .md-clear-input {
                bottom: -9px;
                z-index: 6;
                opacity: 0;
            }

            label {
                top: 5px;
                left: 25px;
                font-size: 14px;
            }
            input {
                height: 30px;
                line-height: 30px;
                padding: 0 30px;
            }
        }
        .close-btn {
            position: absolute;
            right: 33px;
            left: auto;
            font-size: 16px;
            z-index: 5;
            line-height: 20px;
            top: 1px;
            color: #000000;
        }
        i {
            position: absolute;
            left: 5px;
            top: 7px;
            min-width: 16px;
            width: 16px;
            height: 16px;
            min-height: 16px;
        }
    }

    @media all and(max-width: 320px){
        .filter {
            .md-input-container {
                label{
                    font-size: 12px;
                }
            }
        }
    }
</style>