<template>
    <modal name="item-information-dialog" :adaptive="true" :draggable="false"
           :pivotX="0.5" :reset="true" :pivotY="0.15" :clickToClose='false' height="auto"
           :scrollable="true" :width="modalWidth" class="modal-item">

        <div class="modal-container">
            <div class="modal-step">
                <div class="header">
                    <div class="header-title">
                        <!--title-->
                        <md-layout md-flex="100" md-align="center">
                            <h3>{{capitalLetterAndSliceEndWord(currentModel)}} Info</h3>
                        </md-layout>
                        <!--avatar balance sq-->
                        <md-layout md-flex="100">
                            <md-layout md-align="center" :md-flex="(item.title)?100:30">
                                <md-avatar :class="['class-avatar', {'card-image': item.title }]">
                                    <img v-if="item.image"
                                         :src="imageData || item.image + '?random=' + Math.random()" alt="people">
                                    <span v-if="!item.image && currentModel === 'users'">{{avatarName()}}</span>
                                    <input type="file" @change="change" class="upload">
                                </md-avatar>
                            </md-layout>
                            <md-layout md-flex="70" v-if="currentModel === 'users'">
                                <md-layout md-flex="100" md-align="start" md-vertical-align="center">
                                    <strong class="information">Balance: {{totalBalance()}}</strong>
                                </md-layout>

                                <md-layout v-if="currentModel === 'users'" md-flex="100" md-align="start"
                                           md-vertical-align="center">
                                    <strong class="information">SQ: {{item.sq}}</strong>
                                </md-layout>
                            </md-layout>
                        </md-layout>
                        <div class="roles" v-if="currentModel === 'users'">
                            <md-layout>
                                <md-layout md-flex="100">
                                    <md-layout md-align="start" md-vertical-align="end">
                                        <span class="md-subheading">Roles</span>
                                    </md-layout>

                                    <md-layout md-align="end" md-vertical-align="end">
                                        <md-button class="button-edit md-mini" @click.prevent="openRoleDialog()">
                                            <md-icon>edit</md-icon>
                                        </md-button>
                                    </md-layout>
                                </md-layout>
                                <md-layout md-flex="100">
                                    <md-list>
                                        <md-list-item v-for="role in roles" :key="role.id">
                                            <md-checkbox class="md-primary" id="role.name" name="role.name" v-model="setRoles[role.id]">
                                                {{role.display_name}}
                                            </md-checkbox>
                                        </md-list-item>
                                    </md-list>
                                </md-layout>
                            </md-layout>
                        </div>
                    </div>
                </div>

                <div class="body">
                    <div class="body-description">
                        <div>
                            <div v-for="field in typeFields[type]">
                                <md-input-container
                                        :class="{'md-input-invalid': backendErrors[field.id] || errors.has(field.id)}">
                                    <label class="input-label md-body-1">
                                        {{capitalLetter(field.id)}}
                                    </label>
                                    <md-textarea
                                            v-if="field.type === 'textarea'"
                                            v-validate="validationRules[field.id]"
                                            :data-vv-name="field.id"
                                            v-model="item[field.id]"
                                            :disabled="field.isDisabled">
                                    </md-textarea>
                                    <md-input
                                            v-if="field.id !== 'user' && field.type !=='textarea'"
                                            v-validate="validationRules[field.id]"
                                            :data-vv-name="field.id"
                                            v-model="item[field.id]"
                                            :disabled="field.isDisabled">
                                    </md-input>

                                    <md-input
                                            v-if="field.id === 'user'"
                                            :data-vv-name="field.id"
                                            v-model="item[field.id]['name'] + ' ' + item[field.id]['surname']"
                                            :disabled="field.isDisabled">
                                    </md-input>


                                    <span v-show="backendErrors[field.id]" class="md-error">
                        <strong>{{backendErrors[field.id]}}</strong>
                        </span>
                                    <span v-show="errors.has(field.id)" class="md-error">
                        <strong>{{ errors.first(field.id) }}</strong>
                        </span>
                                </md-input-container>
                                <md-layout md-align="center" v-if="(currentModel === 'products' || currentModel === 'projects') && field.id === 'link'">
                                    <md-button class="btn btn-info btn-fill btn-wd btn-update-profile" @click="openInNewTab(item['link'])">open link</md-button>
                                </md-layout>
                            </div>

                        </div>
                        <md-layout md-align="center" v-if="currentModel === 'products' || currentModel === 'projects'">
                            <md-button class="btn btn-info btn-fill btn-wd btn-update-profile" @click="redirectToUser(item['user'].id)">open user profile</md-button>
                        </md-layout>
                    </div>
                </div>

                <div class="action-button">
                    <md-layout>
                        <md-layout md-align="center" md-flex="50">
                            <md-button class="btn btn-info btn-fill btn-wd btn-update-profile" @click="redirectMethod()">Cancel</md-button>
                        </md-layout>

                        <md-layout md-align="center" md-flex="50">
                            <md-button class="btn btn-info btn-fill btn-wd btn-update-profile" @click="openConfirmUpdate()">Save</md-button>
                        </md-layout>
                    </md-layout>
                </div>
            </div>
        </div>

        <modal name="confirm-modal" :adaptive="true" :draggable="false"
        :pivotX="0.5" :reset="true" :pivotY="0.3" :clickToClose='false' height="auto"
        :scrollable="true" :width="modalWidth" class="modal-item">
            <md-layout md-align="center" md-flex="100">
                <h3>Save changes?</h3>
            </md-layout>
                <div class="action-button">
                    <md-layout md-flex="100">
                        <md-layout md-align="center" md-flex="50">
                            <md-button @click="closeConfirmUpdate()">Cancel</md-button>
                        </md-layout>
                        <md-layout md-align="center" md-flex="50">
                            <md-button @click="saveOrUpdate()">Save</md-button>
                        </md-layout>
                    </md-layout>
                </div>
        </modal>
    </modal>
</template>
<script>
    import User from '../../models/User';
    import Product from '../../models/Product';
    import EventBus from '../../../../services/EventBus';

    export default {
        data() {
            return {
                image: null,
                imageData: null,
                uploadErrors: {
                    maxSize: '',
                    format: ''
                },
                onlyImages: null,
                backendErrors: [],
                roles: [],
                setRoles: {},
                balance: {},
                item: {},
                type: 'edit',
                model: {},
                typeFields: {},
                validationRules: {},
                currentModel: this.$route.params.items,
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            }
        },
        methods: {
            avatarName() {
                if(this.item.image) {
                    return `${this.item.name.charAt(0)}${this.item.surname.charAt(0)}`;
                }
            },
            openInNewTab(url) {
                let win = window.open(url, '_blank');
                win.focus();
            },
            closeRoleModal() {
                this.$modal.hide('roles-modal');
            },
            redirectToUser(id) {
                this.$modal.hide('item-information-dialog');
                Vue.nextTick(() => {
                        this.$router.push({name: 'items', params: {items: 'users'}, query: {showDetails: id}});
                });
                EventBus.$emit('close:product:dialog');
            },
            change(e) {
                e.preventDefault();
                let img = e.target.files[0];
                if (img.size > 256000) {
                    this.uploadErrors.maxSize = 'Error! The file must not exceed 256Kb';
                    return false
                }
                if (!img.type.match('image.*')) {
                    this.uploadErrors.format = 'Error! The file must be ".jpeg, .png or .jpg" format';
                    return false
                }
                let reader = new FileReader();
                reader.onload = (e) => {
                    this.imageData = e.target.result;
                };
                reader.readAsDataURL(img);
                this.image = img;
            },
            totalBalance() {
                return parseFloat(this.balance).toFixed();
            },
            openRoleDialog() {
                $(this.$el).find('.roles .md-list').slideToggle()
            },
            openConfirmUpdate() {
                this.$modal.show('confirm-modal');
            },
            closeConfirmUpdate() {
                this.$modal.hide('confirm-modal');
            },
            redirectMethod() {
                let page = Number(this.$route.query.page);
                setTimeout(() => {
                    this.$router.push(page > 0 ? {
                            name: 'items',
                            params: {items: this.currentModel},
                            query: {page: this.$route.query.page}
                        } :
                        {name: 'items', params: {items: this.currentModel}})
                }, 200);
                this.$modal.hide('item-information-dialog');
                EventBus.$emit('close:dialog:information');
            },
            capitalLetter(word) {
                if(word)
                return word.charAt(0).toUpperCase() + word.slice(1);
            },
            capitalLetterAndSliceEndWord(word) {
                word = word.slice(0, word.length - 1);
                if(word)
                return word.charAt(0).toUpperCase() + word.slice(1);
            },
            validation() {
                // if vee validate has errors
                if (this.$validator.errors.any()) return false;
                // if backend errors present
                if (!_.isEmpty(this.backendErrors)) return false;
                // check that all fields is set
                let allFieldsPresent = true;
                if (_.isArray(this.typeFields[this.type])) {
                    this.typeFields[this.type].forEach((field) => {
                        if (!this.item[field.id]) allFieldsPresent = false;
                    });
                }
                return allFieldsPresent;
            },
            assignRoles() {
                return this.model
                    .assignRoles(this.item, this.setRoles)
                    .then(
                        item => {},
                        x => this.backendErrors = x
                    )
            },
            fetchBalance() {
                return this.model
                    .getTotalBalance(this.item)
                    .then(
                        item => this.$set(this, 'balance', item.userBalance),
                        x => this.backendErrors = x
                    )
            },
            saveOrUpdate() {
                let method = this.type === 'edit' ? 'save' : 'create';
                return new Promise((resolve, reject) => {
                    this[method]()
                        .then(() => {
                            this.$modal.hide('confirm-update');
                            this.redirectMethod();
                            return this.assignRoles();
                        }, reject)
                        .then((item) => {
                            resolve(item);
                        }, reject);
                });
            },
            save() {
                let formData = new FormData();
                formData.append('image', this.image);

                for (let i = 0; i < this.typeFields[this.type].length; i++) {
                    formData.append((this.typeFields[this.type][i].id).toString(), this.item[this.typeFields[this.type][i].id]);
                }
                return this.model
                    .update(formData, this.item.id)
                    .then(
                        (item) => {
                            Object.assign(this.item, item);
                            if (this.imageData !== null)
                                EventBus.$emit('imageDate:update:itemList', {image: this.imageData, item: this.item});

                        },
                        (x) => {
                            this.backendErrors = x;
                        }
                    )
            },
            create() {
                return this.model
                    .store(this.item)
                    .then(
                        (item) => {
                            Object.assign(this.item, item);
                        },
                        (x) => {
                            this.backendErrors = x;
                        }
                    )
            }
        },
        watch: {
            email() {
                Vue.set(this, 'backendErrors', {})
            },
            password() {
                Vue.set(this, 'backendErrors', {});
            },
            name() {
                Vue.set(this, 'backendErrors', {})
            },
            surname() {
                Vue.set(this, 'backendErrors', {});
            },
            item() {
                this.roles.forEach((role) => {
                    this.$set(
                        this.setRoles,
                        role.id,
                        (!!_.find(this.item.roles, (userRole => userRole.id === role.id)))
                    );
                })
            }
        },
        mounted() {
            EventBus.$on(
                this.$route.params.items + ':dialog-information:open',
                (event) => {
                    if (this.$route.query.showDetails) {
                        this.$set(this, 'item', event.item);
                    }
                    this.$set(this, 'type', event.type);
                    this.$set(this, 'validationRules', event.validationRules);
                    this.$set(this, 'typeFields', event.typeFields);
                    this.$set(this, 'model', event.model);
                    if (this.$route.params.items === 'users') {
                        this.$set(this, 'roles', event.roles);
                    }
                    if (event.type === 'edit' && this.$route.params.items === 'users') {
                        this.fetchBalance();
                    }
                    Vue.nextTick(() => {
                        this.$modal.show('item-information-dialog');
                    });
                });

        },
        destroyed() {
            EventBus.$off(this.$route.params.items + ':dialog-information:open');
        }
    };
</script>

<style lang="scss">
    .modal-item {
        .v--modal {
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }
        .modal-container {
            .header {
                .header-title {
                    width: 100%;
                    padding-bottom: 10px;

                    .class-avatar {
                        margin: 0;
                        min-width: 60px;
                        min-height: 60px;
                        border-radius: 64px;
                        background-color: grey;
                        width: 60px;
                        height: 60px;
                        overflow: visible;
                        text-align: center;
                        box-shadow: 0 0 15px 5px rgba(0,0,0,.2);
                        img {
                            border-radius: 100%;
                        }
                        span {
                            width: 60px;
                            height: 60px;
                            display: inline-block;
                            font-weight: 400;
                            font-size: 28px;
                            line-height: 56px;
                            color: #ffffff;
                            text-shadow: 0 0 6px rgba(0,0,0,0.9);
                            text-transform: uppercase;
                        }
                        .upload {
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                        }
                    }
                    .class-avatar.card-image {
                        border-radius: 0;
                        width: 100%;
                        height: 100%;
                        img {
                            border-radius: 0;
                        }
                        span {
                            width: 60px;
                            height: 60px;
                            display: inline-block;
                            font-weight: 400;
                            font-size: 28px;
                            line-height: 56px;
                            color: #ffffff;
                            text-shadow: 0 0 6px rgba(0,0,0,0.9);
                            text-transform: uppercase;
                        }
                        .upload {
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                        }
                    }
                    .information {
                        font-size: 14px;
                        line-height: 20px;
                    }
                    .roles {
                        margin-top: 30px;
                        background: #ebebeb;
                        box-shadow: inset 0 5px 15px -5px rgba(0,0,0,.4),
                        inset 0 -5px 15px -5px rgba(0,0,0,.4);
                        padding: 10px 20px;

                        .md-subheading {
                            padding-bottom: 2px;
                        }

                        .md-list {
                            display: none;
                            background-color: transparent;
                            width: 100%;

                            .md-list-item .md-list-item-container {
                                min-height: 40px;
                                padding: 0;

                                .md-checkbox {
                                    margin: 0 8px 0 0;
                                }
                            }
                        }
                    }
                }
            }
            .body {
                position: relative;
                background: white;

                .md-error {
                    line-height: 16px;
                }

                .body-description {
                    font-size: 13px;
                    line-height: 26px;
                    padding: 0 30px;
                    overflow: auto;
                    p {
                        margin: 0;
                    }
                }
            }
            .action-button {
                margin-top: 15px;
                .md-button {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    min-height: 50px;
                    background: #608612;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    border-radius: 0;
                    border: 0;
                    font-weight: 500;
                    text-shadow: 0 0 25px #ebebeb;
                    box-shadow: inset 0 5px 15px -5px rgba(0,0,0,.3),
                    inset 0 -5px 15px -5px rgba(0,0,0,.3);

                    &:hover {
                        background: #688f12;
                    }
                }
            }
        }
    }
</style>
