<template>
    <modal name="pay-information-modal" :adaptive="true" :draggable="false"
           :pivotX="0.5" :reset="true" :pivotY="0.15" :clickToClose='false' height="auto"
           :scrollable="true" :width="modalWidth" class="modal-pay">

        <div class="modal-container">
            <div class="modal-step">
                <div class="header">
                    <md-layout md-flex="100">
                        <div class="header-title">

                        </div>
                    </md-layout>
                </div>

                <div class="body">
                    <div class="body-description">
                        <md-layout md-flex="100" class="border">
                            <md-layout md-align="center"  md-flex="100">
                                <div>Payment Id:</div>
                            </md-layout>
                            <md-layout md-align="center"  md-flex="100">
                                <h5>{{PayPalTransaction.id}}</h5>
                            </md-layout>
                        </md-layout>

                        <md-layout md-flex="100" class="border">
                            <md-layout md-align="center"  md-flex="100">
                                <div>Payment Date:</div>
                            </md-layout>
                            <md-layout md-align="center"  md-flex="100">
                                <h5>{{PayPalTransaction.create_time}}</h5>
                            </md-layout>
                        </md-layout>

                        <md-layout md-flex="100" class="border">
                            <md-layout md-align="center"  md-flex="100">
                                <div>Payer First Name:</div>
                            </md-layout>
                            <md-layout md-align="center"  md-flex="100">
                                <h5>{{PayPalTransaction.payer.payer_info.first_name}}</h5>
                            </md-layout>
                        </md-layout>

                        <md-layout md-flex="100" class="border">
                            <md-layout md-align="center"  md-flex="100">
                                <div>Payer Last Name:</div>
                            </md-layout>
                            <md-layout md-align="center"  md-flex="100">
                                <h5>{{PayPalTransaction.payer.payer_info.last_name}}</h5>
                            </md-layout>
                        </md-layout>

                        <md-layout md-flex="100" class="border">
                            <md-layout md-align="center"  md-flex="100">
                                <div>Quantity:</div>
                            </md-layout>
                            <md-layout md-align="center"  md-flex="100">
                                <h5>{{PayPalTransaction.transactions[0].item_list.items[0].quantity}}</h5>
                            </md-layout>
                        </md-layout>

                        <md-layout md-flex="100" class="border">
                            <md-layout md-align="center"  md-flex="100">
                                <div>Transaction sum:</div>
                            </md-layout>
                            <md-layout md-align="center"  md-flex="100">
                                <h5>{{PayPalTransaction.transactions[0].related_resources[0].sale.amount.total}} {{PayPalTransaction.transactions[0].item_list.items[0].currency}}</h5>
                            </md-layout>
                        </md-layout>

                        <md-layout md-flex="100" class="border">
                            <md-layout md-align="center"  md-flex="100">
                                <div>Transaction fee:</div>
                            </md-layout>
                            <md-layout md-align="center"  md-flex="100">
                                <h5>{{PayPalTransaction.transactions[0].related_resources[0].sale.transaction_fee.value}} {{PayPalTransaction.transactions[0].item_list.items[0].currency}}</h5>
                            </md-layout>
                        </md-layout>

                    </div>
                </div>
            </div>

            <div class="btn-box">
                <md-layout>
                    <md-button class="btn btn-info btn-fill btn-wd btn-update-profile" @click="closeModal()">Cancel</md-button>
                </md-layout>
            </div>
        </div>
    </modal>
</template>
<style lang="scss">
    .modal-pay {

        .btn-update-profile {
            border-radius: 10px;
        }

        .class-avatar {
            margin: 0;
            min-width: 60px;
            min-height: 60px;
            border-radius: 64px;
        }

        .modal-container {
            overflow: auto;
            max-height: 500px;
            .upload {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
            }

            .header {
                padding: 0 10px 20px;

                .information {
                    font-size: 15px;
                }

                .sq {
                    height: 50px;
                }

                .header-title {
                    width: 100%;
                    padding-bottom: 10px;
                }

                .header-description {
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 300;



                    p {
                        margin: 0;
                    }

                    .md-button {
                        font-size: 11px;
                        text-transform: uppercase;
                        font-weight: 600;
                        text-decoration: underline;
                        margin: 6px 0;
                    }
                }
            }
            .body {
                position: relative;
                background: #f1f1f1;

                .border {
                    border: 1px solid black;
                }

                .body-description {
                    font-size: 13px;
                    line-height: 26px;
                    padding: 0px 50px;
                    height: auto;

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
</style>
<script>
    import User from '../../models/User';
    import Product from '../../models/Product';
    import EventBus from '../../../../services/EventBus';

    export default {
        data() {
            return {
                PayPalTransaction: {}
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            }
        },
        methods: {
            closeModal() {
                this.$modal.hide('pay-information-modal');
                Vue.nextTick(() => {
                    this.$router.push({name: 'payments'});
                });
            },
        },
        mounted() {
            EventBus.$on('admin:payment:modal:show', (event) => {
                this.$set(this, 'PayPalTransaction', event.payment);
                Vue.nextTick(() => {
                    this.$modal.show('pay-information-modal');
                });
            });
        },
        destroyed() {
        }
    };
</script>
