<template>
    <div class="search">
        <div class="filter-by-users">
            <md-icon>search</md-icon>
            <md-layout md-align="center">
                <md-input-container md-clearable>
                    <label>Search people list</label>
                    <md-input v-model="searchQuery"></md-input>
                </md-input-container>
            </md-layout>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'users',
        ],
        data(){
            return {
                searchQuery: ''
            }
        },
        watch : {
            searchQuery(val){
                this.$emit('change', val);
            }
        }
    }
</script>

<style lang="scss">
    .search {
        position: sticky;
        bottom: 75px;
        left: 0;
        right: 0;
        width: 220px;
        margin: 0 auto;
        z-index: 2;
        background: #ffffff;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        border: 1px solid rgba(0,0,0,0.5);
        box-shadow: 0 0 10px rgba(0,0,0,0.3);

    .md-input-container {
        margin: 0;
        padding: 0;
        min-height: 30px;

    &.md-input-focused:after,
    &.md-input-focused label,
    &.md-has-value label,
    &:after {
        display: none;
    }

    &.md-input-focused
    .md-icon:not(.md-icon-delete){
         color: #000;
     }

    & .md-clear-input {
          bottom: -9px;
      }

    label {
        top: 5px;
        margin-left: 6px;
        left: 25px;
        font-size: 14px;
    }
    input {
        height: 30px;
        margin-left: 6px;
        line-height: 30px;
        padding: 0 25px;
    }
    }
    i {
        position: absolute;
        left: 5px;
        top: 7px;
        min-width: 16px;
        width: 16px;
        height: 16px;
        min-height: 16px;
    }
    }

    @media all and(max-width: 320px){
        .search {
        .md-input-container {
        label{
            font-size: 12px;
        }
    }
    }
    }
</style>