<template>
    <md-sidenav  class="md-left md-fixed sidenav" ref="sidenav" >
        <md-toolbar class="md-account-header">
            <md-list class="md-accent">
                <md-list-item class="md-avatar-list">
                    <md-layout md-align="center">
                        <md-avatar class="md-large">
                            <img v-if="user.image" :src="user.image" alt="People">
                            <span v-if="!user.image">{{avatarName(user)}}</span>
                        </md-avatar>
                    </md-layout>
                </md-list-item>

                <md-list-item>
                    <md-layout md-align="center">
                        <div class="md-list-text-container">
                            <md-layout md-flex="100">
                                <md-layout md-align="center" md-flex="100">
                                    <span>{{Auth.getUser().name}}</span>
                                </md-layout>
                                <md-layout md-align="center" md-flex="100">
                                    <span>{{Auth.getUser().email}}</span>
                                </md-layout>
                            </md-layout>
                        </div>
                    </md-layout>
                </md-list-item>
            </md-list>
        </md-toolbar>

        <md-list>
            <md-list-item>
                <router-link :to="App.config().redirectPath">
                    <md-icon>home</md-icon>
                    <span>{{App.config().name}}</span>
                </router-link>
            </md-list-item>

            <md-list-item >
                <router-link @click.native.stop.prevent="closeSidenav()" :to="{name: 'overview'}">
                    <md-icon>chrome_reader_mode</md-icon>
                    <span>Overview</span>
                </router-link>
            </md-list-item>


            <md-list-item>
                <router-link @click.native.stop.prevent="closeSidenav()" :to="{name: 'items', params: {items: 'users'}, query: {page: 1}}">
                    <md-icon>people</md-icon>
                    <span>Users</span>
                </router-link>
            </md-list-item>

            <md-list-item>
                <router-link @click.native.stop.prevent="closeSidenav()" :to="{name: 'all-transactions', query: {page: 1}}">
                    <md-icon>transfer_within_a_station</md-icon>
                    <span>Transaction</span>
                </router-link>
            </md-list-item>

            <md-list-item>
                <router-link @click.native.stop.prevent="closeSidenav()" :to="{name: 'items', params: {items: 'products'}, query: {page: 1}}">
                    <md-icon>insert_drive_file</md-icon>
                    <span>Products</span>
                </router-link>
            </md-list-item>

            <md-list-item>
                <router-link @click.native.stop.prevent="closeSidenav()" :to="{name: 'items', params: {items: 'projects'}, query: {page: 1}}">
                    <md-icon>insert_drive_file</md-icon>
                    <span>Projects</span>
                </router-link>
            </md-list-item>

            <md-list-item>
                <router-link @click.native.stop.prevent="closeSidenav()" :to="{name: 'payments'}">
                    <md-icon>
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#757575" d="M5,6H23V18H5V6M14,9A3,3 0 0,1 17,12A3,3 0 0,1 14,15A3,3 0 0,1 11,12A3,3 0 0,1 14,9M9,8A2,2 0 0,1 7,10V14A2,2 0 0,1 9,16H19A2,2 0 0,1 21,14V10A2,2 0 0,1 19,8H9M1,10H3V20H19V22H1V10Z" />
                        </svg>
                    </md-icon>
                    <span>PayPal</span>
                </router-link>
            </md-list-item>

            <md-list-item>
                <router-link @click.native.stop.prevent="closeSidenav()" :to="{name: 'settings'}">
                    <md-icon>settings</md-icon>
                    <span>Settings</span>
                </router-link>
            </md-list-item>
        </md-list>
    </md-sidenav>
</template>
<style lang="scss">

    .sidenav {
        .md-theme-default.md-avatar.md-primary.md-avatar-icon {
            background-color: #aaa5a5;
        }

        .md-avatar {
            background-color: grey;
            width: 70px;
            min-width: 70px;
            height: 70px;
            min-height: 70px;
            overflow: visible;
            text-align: center;
            box-shadow: 0 0 15px 5px rgba(0,0,0,.2);
            img {
                border-radius: 100%;
            }
            span {
                display: inline-block;
                font-weight: 400;
                font-size: 30px;
                line-height: 66px;
                color: #ffffff;
                text-shadow: 0 0 6px rgba(0,0,0,0.9);
                text-transform: uppercase;
            }
        }
        .md-sidenav .md-list-text-container > :nth-child(2) {
            color: black;
        }

        .md-avatar-list .md-list-item-container:hover {
            background: none !important;
        }
    }

</style>
<script>
    import App from '../../../App';
    import Admin from '../../../Admin';
    import Auth from '../../../../services/auth';
    import EventBus from '../../../../services/EventBus';

    export default {
        data() {
            return {
                user: Auth.getUser(),
                App,
                Admin,
                Auth
            }
        },
        methods: {
            avatarName(item) {
                return `${item.name.charAt(0)}${item.surname.charAt(0)}`;
            },
            closeSidenav() {
                this.$refs.sidenav.close();
                EventBus.$emit('hide:button:toolbar');
            }
        },
        mounted() {
            EventBus.$on('imageDate:update:itemList', (event) => {
                if(Auth.getUser().id === event.item.id && event.image)
                    setTimeout(() => {
                        this.user.image = event.image;
                    },3000)
            });

            EventBus.$on('admin:menu:toggle', this.$refs.sidenav.toggle)
        },
        destroy() {
            EventBus.$off('admin:menu:toggle')
        }
    }
</script>