<template>
    <modal name="thanks-modal" :adaptive="true" :draggable="false"
           :pivotX="0.5" :reset="true" :pivotY="0.05" :clickToClose='false' height="auto"
           :scrollable="true" :width="modalWidth" class="thanks-information">
        <div class="modal-container">
            <div class="modal-step">
                <div class="body">
                    <div class="body-description">
                        <md-list class="md-double-line">
                            <md-layout md-flex="100" class="search-thanks-info">
                                <md-layout md-align="start">
                                    <div class="search-thanks">
                                        <div class="filter-by">
                                            <md-icon>search</md-icon>
                                            <md-layout md-align="center">
                                                <md-input-container md-clearable>
                                                    <label>Search</label>
                                                    <md-input v-model="userSearchString"></md-input>
                                                </md-input-container>
                                            </md-layout>

                                        </div>
                                    </div>
                                </md-layout>

                                <md-layout md-align="center" md-flex="20">
                                    <div class="btn-close">
                                        <a href="" class="close-btn" @click.prevent="closeDialogThanksInformation()"><md-icon>close</md-icon></a>
                                    </div>
                                </md-layout>
                            </md-layout>
                            <md-bottom-bar class="barBottom">
                                <md-bottom-bar-item :md-active="sentActive" @click="activeSent()">Sent</md-bottom-bar-item>
                                <md-bottom-bar-item :md-active="receivedActive" @click="activeReceived()">Received
                                </md-bottom-bar-item>
                            </md-bottom-bar>

                            <div class="thanks-item" v-if="createActive">

                            </div>

                            <div class="thanks-item" v-if="sentActive">
                                <md-list-item v-for="thank in thanksSent" :key="thank.id" @click="openEditThank(thank)">
                                    <md-layout md-flex="100">
                                        <md-layout md-flex="50" md-align="start">
                                            {{thank.target_user['name']}} {{thank.target_user['surname']}}
                                        </md-layout>

                                        <md-layout md-flex="50" md-align="end">
                                            {{thank.value}}
                                        </md-layout>
                                    </md-layout>
                                </md-list-item>
                            </div>

                            <div class="thanks-item" v-if="receivedActive">
                                <md-list-item v-for="thank in thanksReceived" :key="thank.id" @click="openEditThank(thank)">
                                    <md-layout md-flex="100">
                                        <md-layout md-flex="50" md-align="start">
                                            {{thank.user['name']}} {{thank.user['surname']}}
                                        </md-layout>

                                        <md-layout md-flex="50" md-align="end">
                                            {{thank.value}}
                                        </md-layout>
                                    </md-layout>
                                </md-list-item>
                            </div>

                        </md-list>
                        <edit-thank-dialog v-if="showEditDialog"></edit-thank-dialog>
                    </div>
                </div>
            </div>
        </div>
    </modal>
</template>
<style lang="scss">

    .btn-close {
        width: 25px;
        height: 30px;
        margin-top: 6px;
    }


    .thanks-information {

        .search-thanks-info {
            min-height: 30px;
        }

        .modal-container {
            .upload {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
            }

            .body {
                position: relative;
                background: #fff;

                .body-description {
                    font-size: 13px;
                    line-height: 26px;
                    padding: 0px 20px;
                    height: auto;

                    p {
                        margin: 0;
                    }
                }
            }
        }


        .barBottom {

            position: absolute;
        }

        .search-thanks {
            position: relative;
            right: 0;
            width: 220px;
            z-index: 200;
            background: #ffffff;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
            border: 1px solid rgba(0,0,0,0.5);
            box-shadow: 0 0 10px rgba(0,0,0,0.3);

        .md-input-container {
            margin: 0;
            padding: 0;
            min-height: 30px;

            &.md-input-focused:after, &.md-input-focused label, &.md-has-value label, &:after {
                display: none;
            }

            &.md-input-focused .md-icon:not(.md-icon-delete){
                color: #000;
            }

            & .md-clear-input {
                bottom: -9px;
                z-index: 6;
                opacity: 0;
            }

            label {
                top: 5px;
                left: 25px;
                font-size: 14px;
            }
            input {
                height: 30px;
                line-height: 30px;
                padding: 0 25px;
            }
        }
        .close-btn {
            position: absolute;
            right: 33px;
            font-size: 16px;
            z-index: 5;
            line-height: 20px;
            top: 5px;
            color: #000000;
        }
        i {
            position: absolute;
            left: 5px;
            top: 7px;
            min-width: 16px;
            width: 16px;
            height: 16px;
            min-height: 16px;
        }
    }

        @media all and(max-width: 320px){
            .filter {
                .md-input-container {
                    label{
                        font-size: 12px;
                    }
                }
            }
        }
        }
    .thanks-item {
        margin-bottom: 48px;
        overflow-y: scroll;
        height: 400px;
    }

    .md-list.md-double-line .md-list-item .md-list-item-container {
        min-height: 55px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }
</style>
<script>
    import User from '../../models/User';
    import Product from '../../models/Product';
    import EventBus from '../../../../services/EventBus';
    import EditThankDialog from './EditInformationThanksDialog.vue';

    export default {
        data() {
            return {
                users: [],
                user: {},
                showEditDialog: false,
                sentActive: false,
                receivedActive: false,
                createActive: false,
                thanks: {},
                thanksReceived: [],
                thanksSent: [],
                userSearchString: '',
                filtersItemSelect: [
                    {
                        "or": true,
                        "filters": []
                    }
                ]
            }
        },
        components: {
            'edit-thank-dialog': EditThankDialog
        },
        watch: {
            userSearchString(val) {
                this.filterItems(val);
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            }
        },
        methods: {
            filterItems(val){
                this.userSearchString = val;

                this.filtersItemSelect[0].filters = [];


                this.filtersItemSelect[0].filters.push(
                    {
                        key :  'name' ,
                        value : this.userSearchString,
                        operator : 'ct'
                    }
                );

                this.filtersItemSelect[0].filters.push(
                    {
                        key : 'surname',
                        value : this.userSearchString,
                        operator : 'ct'
                    }
                );
                this.fetchUsers();
            },
            openEditThank(thank) {
                    this.getUser(this.$route.query.user,thank);
            },
            initializationData() {
                if (this.$route.query.thanks === 'sent') {
                    this.userSearchString = '';
                    this.receivedActive = false;
                    this.sentActive = true;
                }

                else if (this.$route.query.thanks === 'received') {
                    this.userSearchString = '';
                    this.sentActive = false;
                    this.receivedActive = true;
                }
            },
            activeSent() {
                this.$router.push({query: {page: this.$route.query.page, user: this.$route.query.user, thanks: 'sent'}});
                this.initializationData();
            },
            activeReceived() {
                this.$router.push({query: {page: this.$route.query.page, user: this.$route.query.user, thanks: 'received'}});
                this.initializationData();
            },
            closeDialogThanksInformation() {
                let page = Number(this.$route.query.page);
                setTimeout(() => {
                    this.$router.push(page >= 0 ? {
                            name: 'items',
                            params: {items: 'users'},
                            query: {page: this.$route.query.page}
                        } :
                        {name: 'items', params: {items: 'users'}})
                }, 200);
                EventBus.$emit('close-user-thanks-information');
                this.$modal.hide('thanks-modal');
            },
            displayNameUsers(users) {
                for (let i = 0; i < users.length; i++) {
                    users[i].displayName = users[i].name + ' ' + users[i].surname;
                }
                return users;
            },
            fetchUsers() {
                let arrThanksFrom = [];
                let arrThanksTo = [];
                this.thanksSent = [];
                this.thanksReceived = [];
                User
                    .all({filter_groups: this.filtersItemSelect})
                    .then(
                        (users) => {
                            this.users = users;
                            if (this.$route.query.thanks === 'sent') {
                                for (let y = 0; y < this.users.length; y++) {
                                    for (let i = 0; i < this.thanks.thanksFrom.length; i++) {
                                        if (this.thanks.thanksFrom[i].target_user_id === this.users[y].id) {
                                            arrThanksFrom.push(this.thanks.thanksFrom[i])
                                        }
                                    }
                                    this.thanksSent = arrThanksFrom;
                                }
                            }

                            if (this.$route.query.thanks === 'received') {
                                for (let y = 0; y < this.users.length; y++ ) {
                                    for (let i = 0; i < this.thanks.thanksTo.length; i++) {
                                        if (this.thanks.thanksTo[i].user_id === this.users[y].id) {
                                            arrThanksTo.push(this.thanks.thanksTo[i])
                                        }
                                    }
                                }
                                this.thanksReceived = arrThanksTo;
                            }
                            this.filtersItemSelect[0].filters = [];
                        },
                        (x) => {
                            this.backendErrors = x;
                        }
                    )
            },
            getThanksUser(userId) {
                    User
                        .getThanks(userId > 0 ? userId : this.$route.query.user)
                        .then(
                            (thanks) => {
                                this.$set(this, 'thanks', thanks);
                                this.$set(this, 'thanksReceived', thanks.thanksTo);
                                this.$set(this, 'thanksSent', thanks.thanksFrom);
                                Vue.nextTick(() => {
                                    if(this.$route.query.thanksId > 0) {
                                        if(this.$route.query.thanks === 'sent') {
                                            for (let i = 0; i < this.thanks.thanksFrom.length; i++) {
                                                if (this.thanks.thanksFrom[i].id === Number(this.$route.query.thanksId)) {
                                                    this.openEditThank(this.thanks.thanksFrom[i]);
                                                }
                                            }
                                        }

                                        if(this.$route.query.thanks === 'received') {
                                            for (let i = 0; i < this.thanks.thanksTo.length; i++) {
                                                if (this.thanks.thanksTo[i].id === Number(this.$route.query.thanksId)) {
                                                    this.openEditThank(this.thanks.thanksTo[i]);
                                                }
                                            }
                                        }
                                    }
                                })
                            },
                            (x) => {
                                this.backendErrors = x;
                            }
                        );
                    this.initializationData()
            },
            getUser(userId, thank) {
                User
                    .all({
                        filter_groups: [
                            {
                                "or": true,
                                "filters": [
                                    {
                                        key: 'id',
                                        value: userId,
                                        operator: 'eq'
                                    }
                                ]
                            }
                        ]
                    })
                    .then(
                        (user) => {
                            this.$set(this, 'user', user);
                                this.showEditDialog = true;
//                            this.$router.push({query: {page: this.$route.query.page, user: this.$route.query.user, thanks: this.$route.query.thanks, thanksId: thank.id}})
                                Vue.nextTick(() => {
                                        EventBus.$emit('open:edit:thank:dialog', {thank, active: this.$route.query.thanks, user: this.user});
                                });
                        },
                        (x) => {
                            this.backendErrors = x;
                        }
                    );
            }
        },
        mounted() {
            if ( this.$route.query.thanksId > 0 ) {
                this.getThanksUser(this.$route.query.thanksId);
            }

            EventBus.$on('close-user-thanks-edit-information',() => {
                    this.showEditDialog = false;
            });

            EventBus.$on('redirect:to:user', () => {
                this.$modal.hide('thanks-modal')
            });

            EventBus.$on('open-user-thanks-information', (event) => {
                this.getThanksUser(event.userId);
                this.initializationData();
                                Vue.nextTick(() => {
                                    this.$modal.show('thanks-modal')
                });
            });
        },
        destroyed() {
            EventBus.$off('open-user-thanks-information');
            EventBus.$off('close-user-thanks-edit-information');
            EventBus.$off('redirect:to:user');
        }
    };
</script>