<template>
    <md-whiteframe md-elevation="3" class="main-toolbar">
        <md-toolbar class="md-dance">
            <md-button @click="EventBus.$emit('admin:menu:toggle')" class="md-icon-button">
                <md-icon>menu</md-icon>
            </md-button>

            <h2 class="md-title">{{capitalLetter(title)}}</h2>

            <span style="flex: 1"></span>

            <md-button v-if="showSearchButton" class="md-button button-add" @click.native="searchOpen()">
                <md-icon>search</md-icon>
            </md-button>

            <md-button v-if="showBackButton" class="md-button button-add" @click.native="backToFilters()">
                <md-icon>youtube_searched_for</md-icon>
            </md-button>

            <md-button :disabled="true" v-show="addShown" @click.native="createNewItem()"
                         class="md-button button-add">
                <md-icon>add</md-icon>
            </md-button>

            <md-button :disabled="true" v-show="addTransactionShown"
                         @click="emitOpenCreateNewTransaction()"
                         class="md-button button-add">
                <md-icon>add</md-icon>
            </md-button>

            <md-menu md-align-trigger md-offset-y="9" :md-close-on-select="true" md-offset-x="-50" ref="menu" >

                <md-avatar  md-menu-trigger class="has-ripple md-medium" >
                    <img v-if="user.image" :src="user.image" alt="People">
                    <span v-if="!user.image">{{avatarName(user)}}</span>
                </md-avatar>

                <md-menu-content>
                    <md-menu-item >
                        <router-link @click.native.stop.prevent="$refs.menu.close()" to="/admin/profile">
                            <md-icon>account_circle</md-icon>
                            <span>My Profile</span>
                        </router-link>
                    </md-menu-item>

                    <md-menu-item v-if="Auth.getUser()" @click.native.stop.prevent="logout">
                        <md-icon>
                            exit_to_app
                        </md-icon>
                        <span>
                            LOGOUT
                        </span>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-toolbar>
    </md-whiteframe>
</template>
<style lang="scss">

    .main-toolbar {
        top:0;
        left:0;
        width:100%;
        position: fixed;
        z-index: 1;

    .md-theme-default.md-avatar.md-primary.md-avatar-icon {
        background-color: #aaa5a5;
    }

    .md-avatar {
        background-color: grey;
        width: 40px;
        min-width: 40px;
        height: 40px;
        min-height: 40px;
        text-align: center;
        border-radius: 100%;
        overflow: hidden;
        box-shadow: 0 0 15px 5px rgba(255,255,255,.3);
    span {
        display: inline-block;
        font-weight: 400;
        font-size: 15px;
        line-height: 36px;
        color: #ffffff;
        text-shadow: 0 0 6px rgba(0,0,0,0.9);
        text-transform: uppercase;
    }
    }

    }
    .button-add {
        right: 21px;
        width: 40px;
        height: 40px;
        border-radius: 25px;
        background: rgba(255, 255, 255, .99999);
        color:black;
        line-height: 40px;
        padding: 0px 5px;
        left:0;

        &:hover {
            background-color: #fff !important;
            box-shadow: 0 0 15px 5px rgba(255,255,25,0.4);
        }
    }

    .md-button {
        min-width: 0px;
        min-height: 0px;
    }

</style>
<script>
    import Auth from '../../../../services/auth';
    import EventBus from '../../../../services/EventBus'
    import AdminComponent from '../../../Admin';
    import Login from '../../../Login';
    import Welcome from '../../../Welcome'

    export default {
        data ()  {
            return {
                showSearchButton: false,
                showBackButton: false,
                user: Auth.getUser(),
                addShown: false,
                addTransactionShown: false,
                title: '',
                EventBus: EventBus,
                Auth
            }
        },
        watch: {
            '$route': 'watchInButtonToolbar'
        },
        methods: {
            avatarName(item) {
                return `${item.name.charAt(0)}${item.surname.charAt(0)}`;
            },
            capitalLetter(word) {
                if(word) {
                    return word.charAt(0).toUpperCase() + word.slice(1);
                }
            },
            backToFilters() {
                EventBus.$emit('input:filter:data:transactions',
                        this.$router.push({
                        name: 'filters', params:
                            {
                                dateFrom: this.$route.query.dateFrom,
                                dateTo: this.$route.query.dateTo,
                                userId: this.$route.query.userId,
                                received: this.$route.query.received,
                                shared: this.$route.query.shared,
                                bought: this.$route.query.bought,
                                pending: this.$route.query.pending
                            }
                    }));
            },
            searchOpen() {
              if( this.$route.params.items !== 'users' &&
                  this.$route.params.items !== 'products' &&
                  this.$route.params.items !== 'projects' ) {
                  this.$router.push({name: 'filters'});
              }
              else {
                  EventBus.$emit('open:search');
              }
            },
            createNewItem() {
                this.$router.push({query: {page: this.$route.query.page, create: 'new'}});
                Vue.nextTick(() => {
                    EventBus.$emit('show:create:item')
                })
            },
            watchInButtonToolbar() {
                if(this.$route.name === 'filters') {
                    this.showSearchButton = false;
                    this.showBackButton = false;
                }

                if((this.$route.name === 'all-transactions' || this.$route.name === 'items') &&
                    (this.$route.query.dateFrom === undefined) &&
                    (this.$route.query.dateTo === undefined) &&
                    (this.$route.query.userId === undefined) &&
                    (this.$route.query.received === undefined) &&
                    (this.$route.query.shared === undefined) &&
                    (this.$route.query.bought === undefined) &&
                    (this.$route.query.pending === undefined)) {
                    this.showSearchButton = true;
                    this.showBackButton = false;
                }

                if((this.$route.name === 'all-transactions') &&
                    (this.$route.query.dateFrom !== undefined) &&
                    (this.$route.query.dateTo !== undefined) &&
                    (this.$route.query.userId !== undefined) &&
                    (this.$route.query.received !== undefined) &&
                    (this.$route.query.shared !== undefined) &&
                    (this.$route.query.bought !== undefined) &&
                    (this.$route.query.pending !== undefined)) {
                    this.showSearchButton = false;
                    this.showBackButton = true;
                }
            },
            emitOpenCreateNewTransaction() {
                this.$router.push({name: 'createNewTransaction'});
              EventBus.$emit('show:new:transaction');
            },
            logout() {
                Auth.logout().then(() => {
                    this.$router.push(Welcome.config().redirectPath);
                });
            }
        },
        mounted() {
            if(this.$route.params.items === 'users') {
                EventBus.$on('imageDate:update:itemList', (event) => {
                    if(Auth.getUser().id === event.item.id && event.image)
                        setTimeout(() => {
                            this.user.image = event.image;
                        },3000)
                });


            }

            this.watchInButtonToolbar();

            EventBus.$on('hide:button:toolbar', () => {
                    this.showSearchButton = false;
                    this.showBackButton = false;
                    this.addTransactionShown = false;
            });


            EventBus.$on('toolbar:addTransaction:show', () => {
                this.addTransactionShown = true;
            });

            EventBus.$on('toolbar:show:add:new:transaction', () => {
                this.addTransactionShown = true;
            });

            EventBus.$on('toolbar:addTransaction:hide', ()=> {
                this.addTransactionShown = false;
            });

            EventBus.$on('toolbar:add:show', ()=> {
                if(this.$route.name !== 'payments') {
                    this.addShown = true;
                }
            });

            EventBus.$on('toolbar:add:hide', ()=> {
                this.addShown = false;
            });

            EventBus.$on('toolbar:title:set', (title) => {
                this.title = title;
            });
        },
        destroyed() {

            EventBus.$off('imageDate:update:itemList');
            EventBus.$off('toolbar:menuButton:show');
            EventBus.$off('toolbar:menuButton:hide');
            EventBus.$off('toolbar:backButton:show');
            EventBus.$off('toolbar:backButton:hide');
            EventBus.$off('toolbar:addTransaction:show');
            EventBus.$off('toolbar:addTransaction:hide');
            EventBus.$off('toolbar:add:show');
            EventBus.$off('toolbar:add:hide');
            EventBus.$off('toolbar:title:set');
        }
    }
</script>

