<template>
    <modal name="edit-transaction-information-modal" :adaptive="true" :draggable="false"
           :pivotX="0.5" :reset="true" :pivotY="0.3" :clickToClose='false' height="auto"
           :scrollable="true" :width="modalWidth" class="edit-information-transaction">
        <div class="modal-container">
            <div class="modal-step">
                <div class="body">
                    <div class="body-description">
                        <md-layout v-if="transaction && transaction.admin != null || transaction.admin != undefined" md-align="center" class="admin-transaction">
                            <span>This transaction was carried out by the administrator: {{transaction.admin.name + ' '
                            + transaction.admin.surname}} </span>
                        </md-layout>

                        <form novalidate @submit.stop.prevent="submit">
                            <md-input-container>
                                <md-icon>search</md-icon>
                                <label>Choose a User</label>
                                <md-autocomplete v-model="userSearchString"
                                                 :fetch="fetchUsers"
                                                 :prepare-response-data="displayNameUsers"
                                                 print-attribute="displayName"
                                                 :min-chars="1"
                                                 :max-height="6"
                                                 @selected="usersCallback"
                                                 :debounce="700">
                                </md-autocomplete>
                            </md-input-container>
                        </form>
                        <md-layout md-align="center">
                            <md-button @click="redirectToUser(transaction.user_id)">open user profile</md-button>
                        </md-layout>

                        <md-layout class="radio-buttons">
                            <md-layout md-flex="50" md-align="center">
                                <md-radio :disabled="true" v-model="transaction.transaction_type" id="transaction-type-1"
                                          name="my-test-group1" md-value="bought" class="md-primary">Bought
                                </md-radio>
                            </md-layout>

                            <md-layout md-flex="50" md-align="center">
                                <md-radio :disabled="true"  v-model="transaction.transaction_type" id="transaction-type-2"
                                          name="my-test-group2" md-value="shared" class="md-primary">Shared
                                </md-radio>
                            </md-layout>

                            <md-layout md-flex="50" md-align="center">
                                <md-radio :disabled="true" v-model="transaction.transaction_type" id="transaction-type-3"
                                          name="my-test-group3" md-value="received" class="md-primary">Received
                                </md-radio>
                            </md-layout>

                            <md-layout md-flex="50" md-align="center">
                                <md-radio :disabled="true" v-model="transaction.transaction_type" id="transaction-type-4"
                                          name="my-test-group4" md-value="pending" class="md-primary">Pending
                                </md-radio>
                            </md-layout>
                        </md-layout>

                        <md-input-container>
                            <label>Count credits</label>
                            <md-input v-model="transaction.amount" type="number"></md-input>
                        </md-input-container>
                    </div>
                </div>
            </div>
            <div class="action-button">
                <md-layout>
                    <md-layout md-align="center">
                        <md-button class="btn btn-info btn-fill btn-wd btn-update-profile"
                                   @click="closeTransactionInfoDialog()">Cancel</md-button>
                    </md-layout>

                    <md-layout md-align="center">
                        <md-button class="btn btn-info btn-fill btn-wd btn-update-profile"
                                   :disabled="true" @click="saveUpdate()">Save</md-button>
                    </md-layout>
                </md-layout>
            </div>
        </div>
    </modal>
</template>
<style lang="scss">
    .md-menu-content.md-direction-bottom-right.md-active {
        z-index: 1000;
    }
    .edit-information-transaction {

        .btn-update-profile {
            border-radius: 10px;
        }

        .action-button {
            height: 60px;
        }

        .admin-transaction {
            background-color: #d46f76;
        }

        .md-radio .md-radio-container input {
        position: absolute;
        left: -999em;
        margin: 2px;
        }

        .md-input-container textarea {
            min-height: 100px;
            max-height: 230px;
            padding: 5px 0;
            resize: none;
            line-height: 1.3em;
        }

        .modal-container {
            max-height: 500px;
            .upload {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
            }

            .body {
                padding: 15px;
                position: relative;
                background: #fff;

                .body-description {
                    font-size: 13px;
                    line-height: 26px;
                    padding: 0px 50px;
                    height: auto;

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
</style>
<script>
    import EventBus from '../../../../services/EventBus';
    import EditTransactionDialog from './CreateNewTransaction.vue'
    import Transaction from '../../models/Transaction';
    import User from '../../models/User';

    export default {
        data() {
            return {
                displayName: '',
                transaction: {},
                selectedUser: {},
                userSearchString: '',
                filtersUserSelect: [
                    {
                        "or": true,
                        "filters": []
                    }
                ]
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            }
        },
        methods: {
            saveUpdate() {
                let formData = new FormData();
                formData.append('userId', Number(this.selectedUser.id));
                formData.append('transactionType', this.transaction.transaction_type);
                formData.append('accountType', 'default');
                formData.append('transactionId', this.transaction.id);
                formData.append('amount', this.transaction.amount);
                formData.append('transactionStatus', 1);

                return Transaction
                    .update(formData, this.transaction.id)
                    .then(
                        (transaction) => {
                            Object.assign(this.transaction, transaction);
                            this.closeTransactionInfoDialog();
                            Vue.nextTick(() => {
                                this.$modal.hide('edit-transaction-information-modal')
                            });

                        })
            },
            displayNameUsers(users) {
                for (let i = 0; i < users.length; i++) {
                    users[i].displayName = users[i].name + ' ' + users[i].surname;
                }
                return users;
            },
            fetchUsers() {
                this.filtersUserSelect[0].filters = [];

                this.filtersUserSelect[0].filters.push(
                    {
                        key: 'name',
                        value: this.userSearchString,
                        operator: 'ct'
                    }
                );

                this.filtersUserSelect[0].filters.push(
                    {
                        key: 'surname',
                        value: this.userSearchString,
                        operator: 'ct'
                    }
                );

                return User.all({filter_groups: this.filtersUserSelect, limit: 6})
            },
            usersCallback(item) {
                this.selectedUser = item
            },
            getUser() {
                this.filtersUserSelect[0].filters = [];

                this.filtersUserSelect[0].filters.push(
                    {
                        key: 'id',
                        value: this.transaction.user_id,
                        operator: 'eq'
                    }
                );
                return User
                    .all({filter_groups: this.filtersUserSelect})
                    .then(
                        (items) => {
                            this.$set(this, 'selectedUser', items[0]);
                            if (this.selectedUser) {
                                this.selectedUser.displayName = this.selectedUser.name + ' ' + this.selectedUser.surname;
                                this.$set(this, 'userSearchString', this.selectedUser.displayName)
                            }
                            else {
                                this.selectedUser = {};
                            }
                        },
                        (x) => {
                            this.backendErrors = x;
                        }
                    )
            },
            redirectToUser(id) {
                this.$router.push({name: 'items', params: {items: 'users'}, query: {page: 1, showDetails: id}});
                this.$modal.hide('edit-transaction-information-modal');
                EventBus.$emit('transaction:information:close');

            },
            totalAmount(balance) {
                return parseFloat(balance).toFixed()
            },
            closeTransactionInfoDialog() {

                if ((this.$route.query.dateFrom === undefined) &&
                    (this.$route.query.dateTo === undefined) &&
                    (this.$route.query.userId === undefined) &&
                    (this.$route.query.received === undefined) &&
                    (this.$route.query.shared === undefined) &&
                    (this.$route.query.bought === undefined) &&
                    (this.$route.query.pending === undefined)) {

                    this.$router.push(this.$route.query.page === undefined ? {name: 'all-transactions'} : {
                        name: 'all-transactions',
                        query: {
                            page: this.$route.query.page
                        }
                    })
                }
                else {
                    this.$router.push({
                            query: {
                                dateFrom: this.$route.query.dateFrom,
                                dateTo: this.$route.query.dateTo,
                                userId: this.$route.query.userId,
                                received: this.$route.query.received,
                                shared: this.$route.query.shared,
                                bought: this.$route.query.bought,
                                pending: this.$route.query.pending,
                                page: this.$route.query.page
                            }
                        })
                }
                this.$modal.hide('edit-transaction-information-modal');
            }
        },
        mounted() {

            EventBus.$on('transaction:information:open', (event) => {
                Vue.nextTick(() => {
                    if ((this.$route.query.dateFrom === undefined) &&
                        (this.$route.query.dateTo === undefined) &&
                        (this.$route.query.userId === undefined) &&
                        (this.$route.query.received === undefined) &&
                        (this.$route.query.shared === undefined) &&
                        (this.$route.query.bought === undefined) &&
                        (this.$route.query.pending === undefined)) {

                        this.$router.push({query: {page: this.$route.query.page, showDetails: event.transaction.id } })
                    }
                    else {
                        if (this.transaction.id) {
                            this.$router.push({
                                    query: {
                                        dateFrom: this.$route.query.dateFrom,
                                        dateTo: this.$route.query.dateTo,
                                        userId: this.$route.query.userId,
                                        received: this.$route.query.received,
                                        shared: this.$route.query.shared,
                                        bought: this.$route.query.bought,
                                        pending: this.$route.query.pending,
                                        page: this.$route.query.page,
                                        showDetails: event.transaction.id
                                    }
                                })
                        }

                    }
                    this.$set(this, 'transaction', event.transaction);
                });

                setTimeout(() => {
                    this.$modal.show('edit-transaction-information-modal');
                    setTimeout(() => {
                        this.getUser();
                    }, 100)
                }, 300);
            });
        },
        destroyed() {
            EventBus.$off('transaction:information:open');
        }
    };
</script>