<template>
    <div class="button-item-list">
        <md-layout md-align="center">
            <md-layout md-flex="50">
                <middle-icon-button @button:click="viewAll()"
                                    :icon="'/pictures/icon_list.svg'"

                                    :btnText="`View all ${count} ${buttons.left.name}`">
                </middle-icon-button>
            </md-layout>

            <!--:disabled="buttons.left.route === 'projects'"-->

            <md-layout md-flex="50">
                <middle-icon-button @button:click="createItem()" :icon="'/pictures/icon_create.svg'"
                                    :btnText="buttons.right.name" v-if="buttons.right.create">
                </middle-icon-button>
                <md-tooltip v-show="showTooltip && !user.create_feature" md-direction="top">
                    Please buy 1000Cr to unlock feature.
                </md-tooltip>
                <middle-icon-button @button:click="inviteUser()" :icon="'/pictures/icon_create.svg'"
                                    :btnText="buttons.right.name" v-if="!buttons.right.create">
                </middle-icon-button>
            </md-layout>
        </md-layout>
    </div>
</template>

<script>
    import MiddleIconButton from '../buttons/middle-icon-button.vue';
    import Auth from '../../../../../services/auth';
    export default {
        components: {MiddleIconButton},
        props: ['buttons', 'count', 'headers'],
        data() {
            return {
                showTooltip: false,
                user: Auth.getUser()
            }
        },
        computed:{
            parent() {
                return this.$route.matched[this.$route.matched.length - 1].name;
            },
            createName(){
                return `${this.parent}Create`
            },
            inviteRouteName(){
                return `${this.parent}InviteSorting`
            },
        },
        methods: {
            createItem(){
                if(this.user.create_feature) {
                    this.$router.push({
                        name: this.createName,
                        params:{
                            entity: this.buttons.right.route,
                            action: 'create',
                            step: 1
                        }
                    })
                }
                if(!this.user.create_feature) {
                    this.showTooltip = !this.showTooltip
                }
            },
            inviteUser(){
                this.$router.push({
                    name: this.inviteRouteName,
                    params: {
                        entity: 'products',
                        limit: 50
                    },
                })
            },
            viewAll(){
                this.$router.push({
                    name: 'entity',
                    params: {
                        entity: this.buttons.left.route,
                        pageLimit:50,
                        sortBy: (this.buttons.left.route === 'projects') ? 'date_status' : 'activity',
                        direction: (this.buttons.left.route === 'projects') ? 'ASC' : 'DESC'
                    }
                })
            }
        }
    }
</script>

<style lang="scss">
    .button-item-list {
        padding-top: 10px;
    }
</style>