<template>
    <div class="item-list-header">
        <md-layout md-gutter>
            <md-layout md-flex="60" class="item-list-header-title">
                <div class="some" @click="sortByName">
                    <span class="shadow">{{type || headers.shadow}}</span>
                    {{headers.title}}
                </div>
            </md-layout>
            <md-layout v-if="!hideColumns" class="item-list-header-first" v-for="column in columns" :key="column.id">
                <div  @click="sortByColumns(column.sortName)" class="text">{{ column.title }}</div>
            </md-layout>
            <md-layout md-align="end" v-if="headers.my && !nonShare" class="item-list-header-first">
                <md-layout >
                    <div class="text">{{ headers.my }}</div>
                </md-layout>
            </md-layout>
            <md-layout md-flex="40" md-align="end" v-if="nonShare">
                <md-layout v-if="headers.like" class="item-list-header-first" md-flex="50">
                    <div class="text">{{ headers.like }}</div>
                </md-layout>
                <md-layout v-if="headers.income" class="item-list-header-first" md-flex="50">
                    <div class="text">{{ headers.income }}</div>
                </md-layout>
            </md-layout>
        </md-layout>
    </div>
</template>

<script>
    import EventBus from '../../../../../services/EventBus';

    export default {
        props: ['columns', 'headers', 'hideColumns', 'nonShare', 'type', 'projectThank'],
        data(){
            return {
                status: true,
            }
        },
        methods:{
            sortByName(){
                this.status ^= 1;
                this.$emit('sort', {name: this.headers.sortName, status: !!this.status})
            },
            sortByColumns(name){
                this.status ^= 1;
                this.$emit('sort', {
                    name: (name === 'thanks' && this.projectThank) ? 'project_thanks' : name,
                    status: !!this.status
                })
            }
        },
    }
</script>

<style lang="scss">
    .item-list-header {
        padding-top: 40px;
        border-bottom: 1px solid #9e9e9e;
    }
    .text {
        margin: 0 auto;
    }
    .item-list-header-title, .item-list-header-first {
        font-size: 11px;
        line-height: 16px;
        text-transform: uppercase;
    }
    .item-list-header-title {
        font-weight: 800;
        position: relative;

        .shadow {
            font-size: 40px;
            line-height: 40px;
            font-weight: 800;
            color: rgba(0,0,0,0.04);
            position: absolute;
            left: -4px;
            bottom: -4px;
        }
    }
</style>