<template>
    <div class="subname">
        <div v-if="entity === 'products'" class="md-subname">
            by {{ item.author || (item.user && item.user.fullName) }}
            <span v-if="!config.hideDate">{{ item.date }}</span>
        </div>
        <div v-if="entity === 'projects'" class="md-subname">
            {{ item.date_status }}
            <span>{{ item.date }}</span>
        </div>
    </div>
</template>

<script>
    export default {
        props:['item', 'entity', 'config']
    }
</script>

<style lang="scss">
    .subname {
        .md-subname {
            font-size: 11px;
            line-height: 14px;
            text-align: left;

            span {
                color: #929292;
            }
        }
    }
</style>