<template>
    <div class="users-list">
        <!--item list component-->
        <item-list :style="{'opacity': (spin) ? 0 : 1}"
                   :items="cUsers"
                   :count="length"
                   :config="config"
                   :itemPopup="itemPopup"
                   :limit="buttonHide ? 3 : length"
                   :pageName="pageName">
        </item-list>

        <!--spinner-->
        <md-spinner v-if="spin" md-indeterminate :md-size="30"></md-spinner>
        <!--load-more-button component-->
        <md-spinner v-if="spinner" class="load-more" md-indeterminate :md-size="30"></md-spinner>
        <load-more-button v-if="hasMoreItems && !buttonHide && !spinner" @load:more="loadMore"></load-more-button>
        <!--item filter component-->
        <search-filter v-if="filterStatus" @change="filterItems" :entity="'people'" :query="searchQuery"></search-filter>

    </div>
</template>

<script>
    let _ = require('lodash');
    import ItemList from '../item-list.vue';
    import User from '../../../models/UserModel';
    import Project from '../../../models/ProjectModel';
    import SearchFilter from '../filter/search-filter.vue';
    import EventBus from '../../../../../services/EventBus';
    import LoadMoreButton from '../buttons/load-more-button.vue';

    export default {
        props:['filterEntity', 'countItems', 'sort', 'filterStatus', 'buttonHide', 'usershipType', 'pageName',
            'updateUsersList'],
        components: {
            ItemList,
            SearchFilter,
            LoadMoreButton
        },
        data() {
            return {
                spin: false,
                spinner: false,
                itemPopup: {
                    entity: 'users',
                    action: 'thank',
                },
                config: {
                    hideSubname: false,
                    hideDate: true,
                    showFullList: false
                },
                users: [],
                limit: 50,
                filter_groups: [
                    {
                        "or": true,
                        "filters": []
                    }
                ],
                searchQuery: '',
                length: null,
                entityType: null,
            };
        },
        computed:{
            hasMoreItems(){
                return  this.length > this.limit
            },
            cUsers() {
                return this.users.map((i) => {
                    i.displayName = `${i.name} ${i.surname}`;
                    i.colMy = (this.projectThank) ? i.project_thanks : i.thanks;
                    i.colAverage = i.sq;
                    return i
                });
            },
        },
        methods: {
            loadMore(){
                if(this.length > this.limit) {
                    this.spinner = true;
                    this.limit += 50;
                    this.$router.push({name:this.$route.name, params: {pageLimit:this.limit}});
                    this.fetchAllUsers(this.sort, this.limit, this.filter_groups)
                }
            },
            fetchAllUsers(sort, limit, filter_groups){
                 User.all({sort, filter_groups, limit: limit || this.limit}).then(data => {
                    this.users = data.users;
                    this.spin = false;
                    this.spinner = false;
                    this.$set(this, 'length', data.limitCount);
                    User.sync(this, 'users');
                }, x => {console.log(x)});
            },
            //------------------------------------------------------
            filterItems(val){
                this.searchQuery = val;
            },
            fetchSearch: _.debounce(function () {
                this.filter_groups[0].filters = [];
                this.filter_groups[0].filters.push(
                    {
                        key : 'name',
                        value : this.searchQuery,
                        operator : 'ct'
                    }
                );
                this.filter_groups[0].filters.push(
                    {
                        key : 'surname',
                        value : this.searchQuery,
                        operator : 'ct'
                    }
                );
                if(this.searchQuery)
                    this.$router.push({
                        name: 'entity',
                        params: {search: this.searchQuery}
                    });
                if(!this.searchQuery)
                    this.$router.push({
                        name: 'entity',
                        params: {entity: 'users'}
                    });
                this.fetchAllUsers(this.sort, this.limit, this.filter_groups);
            }, 500),
            init(){
                this.spin = true;
                if(!this.$route.params.search) {
                    this.searchQuery = '';
                    this.filter_groups = [
                        {
                            "or": true,
                            "filters": []
                        }
                    ];
                    EventBus.$emit('filter:status', false);
                }
                this.$emit('filter:toggle', false);
                this.searchQuery = (this.$route.params.search) ? this.$route.params.search : '';
                if(!this.searchQuery) this.fetchAllUsers(this.sort, this.countItems, this.filter_groups);
            }
        },
        mounted() {
            this.init();
        },
        watch:{
            updateUsersList(r){
                if(r)
                    this.init();
                this.$emit('refresh', {entity: 'users',status: false})
            },
            sort() {
                this.spin = true;
                this.init();
            },
            searchQuery(){
                this.spin = true;
                this.fetchSearch();
            },
            length(val){
                this.$emit('countUsers', val);
            },
        },
    }
</script>


<style lang="scss">
    .users-list {
        text-align: center;
        position: relative;

        .md-spinner {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 10px;
        }

        & > .md-chip {
            position: fixed;
            bottom: 120px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: auto;
            max-width: 300px;
            box-shadow: 0 0 15px rgba(0,0,0,.1);

            .md-chip-container {
                color: #fff;
                font-weight: 400;
                text-shadow: 0 0 10px #000;
            }
        }
    }
</style>