<template>
    <div class="users-list">
        <!--item list component-->
        <item-list :style="{'opacity': (spin)?0:1}"
                   :items="cUsers"
                   :count="length"
                   :projectId="projectId"
                   :projectThank="projectThank"
                   :config="config"
                   :itemPopup="itemPopup"
                   :limit="buttonHide ? 3 : length"
                   :pageName="pageName">
        </item-list>

        <!--spinner-->
        <md-spinner v-if="spin" md-indeterminate :md-size="30"></md-spinner>
        <!--load-more-button component-->
        <md-spinner v-if="spinner" md-indeterminate :md-size="30"></md-spinner>
        <load-more-button v-if="hasMoreItems && !buttonHide && !spinner" @load:more="loadMore"></load-more-button>
        <!--item filter component-->
        <search-filter v-if="filterStatus" @change="filterItems" :entity="'people'" :query="searchQuery"></search-filter>

        <md-chip v-if="item" md-deletable @delete="clearFilter">{{item.title}}</md-chip>
    </div>
</template>

<script>
    let _ = require('lodash');
    import ItemList from '../item-list.vue';
    import User from '../../../models/UserModel';
    import Project from '../../../models/ProjectModel';
    import SearchFilter from '../filter/search-filter.vue';
    import EventBus from '../../../../../services/EventBus';
    import LoadMoreButton from '../buttons/load-more-button.vue';

    export default {
        props:['filterEntity', 'countItems', 'sort', 'filterStatus', 'buttonHide', 'usershipType', 'pageName', 'projectId'],
        components: {
            ItemList,
            SearchFilter,
            LoadMoreButton
        },
        data() {
            return {
                item: null,
                spin: false,
                spinner: false,
                projectThank: false,
                itemPopup: {
                    entity: 'users',
                    action: 'thank',
                },
                config: {
                    hideSubname: false,
                    hideDate: true,
                    showFullList: false
                },
                users: [],
                limit: 50,
                filter_groups: [
                    {
                        "or": true,
                        "filters": []
                    }
                ],
                searchQuery: '',
                length: null,
                entityType: null,
            };
        },
        computed:{
            hasMoreItems(){
                return  this.length > this.limit
            },
            cUsers() {
                return this.users.map((i) => {
                    i.displayName = `${i.name} ${i.surname}`;
                    i.colMy = (this.projectThank) ? i.project_thanks : i.thanks;
                    i.colAverage = i.sq;
                    return i
                });
            },
        },
        methods: {
            clearFilter(){
                this.spin = true;
                this.item = null;
                this.$set(this, 'searchQuery', null);
                this.filter_groups = [
                    {
                        "or": true,
                        "filters": []
                    }
                ];
                this.projectThank = false;
                this.$emit('filter:toggle', false);
                EventBus.$emit('filter:status', false);
                this.$router.push({name: 'entity', params: {entity: 'users', sortBy: 'activity', direction: 'DESC'}});
            },
            loadMore(){
                if(this.length > this.limit) {
                    this.spinner = true;
                    this.limit += 50;
                    this.$router.push({name:this.$route.name, params: {pageLimit:this.limit}});
                    this.fetchFilteredUsersByProject(this.sort, this.limit, this.filter_groups, this.projectId)
                }
            },
            fetchProject(id){
                Project.findById(id).then(p => {
                    this.$set(this, 'item', p);
                    if(this.item) {
                        this.$emit('filter:toggle', true);
                        this.projectThank = true;
                    }
                })
            },
            fetchFilteredUsersByProject(sort, limit, filter_groups, id, usershipType){
                if(!usershipType || usershipType === 'all') {
                    User.filterByEntityId(id, {sort, filter_groups, limit}).then(data => {
                        this.$set(this, 'users', data.users);
                        this.spin = false;
                        this.spinner = false;
                        this.$set(this, 'length', data.limitCount);
                        User.sync(this, 'users');
                    }, x => {console.log(x)});
                }
                if(usershipType === 'known') {
                    User.usershipKnown(id, {filter_groups, limit}).then(data => {
                        this.$set(this, 'users', data.users);
                        this.spin = false;
                        this.spinner = false;
                        this.$set(this, 'length', data.limitCount);
                        User.sync(this, 'users');
                    }, x => {console.log(x)});
                }
                if(usershipType === 'unknown') {
                    User.usershipUnknown(id, {filter_groups, limit}).then(data => {
                        this.$set(this, 'users', data.users);
                        this.spin = false;
                        this.spinner = false;
                        this.$set(this, 'length', data.limitCount);
                        User.sync(this, 'users');
                    }, x => {console.log(x)});
                }
            },

            //------------------------------------------------------
            filterItems(val){
                this.searchQuery = val;
            },
            fetchSearch: _.debounce(function () {
                this.filter_groups[0].filters = [];
                this.filter_groups[0].filters.push(
                    {
                        key : 'name',
                        value : this.searchQuery,
                        operator : 'ct'
                    }
                );
                this.filter_groups[0].filters.push(
                    {
                        key : 'surname',
                        value : this.searchQuery,
                        operator : 'ct'
                    }
                );
                if(this.searchQuery)
                    this.$router.push({
                        name: 'entityFilter',
                        params: {search: this.searchQuery}
                    });

                if(!this.searchQuery)
                    this.$router.push({
                        name: 'entityFilter',
                        params: {entity: 'users'}
                    });
                this.fetchFilteredUsersByProject(this.sort, this.limit, this.filter_groups, this.projectId);
            }, 500),
            init(){
                this.spin = true;
                this.item = null;
                this.projectThank = false;
                if(!this.$route.params.search) {
                    this.searchQuery = '';
                    this.filter_groups = [
                        {
                            "or": true,
                            "filters": []
                        }
                    ];
                    EventBus.$emit('filter:status', false);
                }
                this.$set(this, 'users', []);
                this.$emit('filter:toggle', false);
                this.searchQuery = (this.$route.params.search) ? this.$route.params.search : '';
                if(this.projectId)this.fetchProject(this.projectId);
                if(!this.searchQuery)
                    this.fetchFilteredUsersByProject(
                        this.sort, this.countItems, this.filter_groups, this.projectId, this.usershipType
                    );
            }
        },
        mounted() {
            EventBus.$on('usersChanged', ()=>{this.init()});
            this.init();
        },
        watch:{
            usershipType(){
                this.spin = true;
                this.init();
            },
            sort() {
                this.spin = true;
                this.init();
            },
            searchQuery(){
                this.spin = true;
                this.fetchSearch();
            },
            length(val){
                this.$emit('countUsers', val);
            },
        },
    }
</script>


<style lang="scss">
    .users-list {
        text-align: center;
        position: relative;

        .md-spinner {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 10px;
        }

        & > .md-chip {
            position: fixed;
            bottom: 120px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: auto;
            max-width: 300px;
            box-shadow: 0 0 15px rgba(0,0,0,.1);

            .md-chip-container {
                color: #fff;
                font-weight: 400;
                text-shadow: 0 0 10px #000;
            }
        }
    }
</style>