<template>
    <div class="home-component">
        <header>
            <!--balance component-->
            <balance :parent="'home'"></balance>
        </header>

        <main class="content" :style="{height: `${cHeight}px`}">

            <md-spinner v-if="spin" md-indeterminate :md-size="50"></md-spinner>

            <!--projects-header, projects-list and buttons-->
            <div class="entity-container" >
                <item-list-header @sorting="sortingByName"
                                  :headers="projectsHeaders"
                                  :columns="projectsColumns">
                </item-list-header>

                <projects-list @countProjects="countProjects"
                               @refresh="refresh"
                               :countItems="countItems"
                               :sortingItems="sortingItems"
                               :columns="projectsColumns"
                               :pageName="pageName"
                               :sort="projectsSorting"
                               :updateProjectsList="projectsListUpdate"
                               :buttonHide="buttonHide">
                </projects-list>

                <buttons :buttons="projectsButtons"
                         :count="projectsLength">
                </buttons>
            </div>

            <!--users-header, users-list and buttons-->
            <div class="entity-container" >
                <item-list-header @sorting="sortingByName"
                                  :headers="usersHeaders"
                                  :columns="usersColumns">
                </item-list-header>

                <users-list @countUsers="countUsers"
                            @refresh="refresh"
                            :countItems="countItems"
                            :sortingItems="sortingItems"
                            :pageName="pageName"
                            :columns="usersColumns"
                            :sort="usersSorting"
                            :updateUsersList="usersListUpdate"
                            :buttonHide="buttonHide">
                </users-list>

                <buttons :buttons="usersButtons" :count="usersLength"></buttons>
            </div>

            <!--products-header, products-list and buttons-->
            <div class="entity-container" >
                <item-list-header :headers="productsHeaders" :columns="productsColumns"></item-list-header>

                <products-list @countProducts="countProducts"
                               @refresh="refresh"
                               :countItems="countItems"
                               :sortingItems="sortingItems"
                               :columns="productsColumns"
                               :pageName="pageName"
                               :sort="productsSorting"
                               :updateProductsList="productsListUpdate"
                               :buttonHide="buttonHide">
                </products-list>
                <buttons :buttons="productsButtons"
                         :count="productsLength">
                </buttons>
            </div>

            <!--router-view component-->
            <router-view></router-view>
        </main>

    </div>
</template>
<script>
    import Login from '../../../Login';
    import User from '../../models/UserModel';
    import Auth from '../../../../services/auth';
    import Balance from '../common/balance/balance.vue';
    import EventBus from '../../../../services/EventBus';
    import UsersList from '../common/user/users-list.vue';
    import ProductsList from '../common/product/products-list.vue';
    import ProjectsList from '../common/project/projects-list.vue';
    import ItemListHeader from '../common/item-list-parts/item-list-header.vue';
    import Buttons from '../common/item-list-parts/buttons-item-list.vue';

    export default{
        components:  {
            Buttons,
            Balance,
            UsersList,
            ProductsList,
            ProjectsList,
            ItemListHeader
        },
        data() {
            return {
                usersListUpdate: false,
                projectsListUpdate: false,
                productsListUpdate: false,
                spin: true,
                buttonHide: true,
                pageName: 'home',
                user: Auth.getUser(),
                countItems: 3,
                sortingItems: false,
                containerHeight: '',
                headerHeight: '',
                //all about users
                usersLength: 0,
                usersButtons: {
                    left: {
                        name: 'People',
                        route: 'users'
                    },
                    right: {
                        name: 'Invite People',
                        route: 'invite-people',
                        create: false,
                    }
                },
                usersHeaders: {
                    title: 'People',
                    shadow: 'Present',
                },
                usersColumns: [
                    {
                        title: 'My',
                        id: 'my'
                    },
                    {
                        title: 'our',
                        id: 'sq'
                    }
                ],
                usersSorting: [
                    {
                        key: 'activity',
                        direction: 'DESC'
                    }
                ],
                //all about products
                productsLength: 0,
                productsButtons: {
                    left: {
                        name: 'Products',
                        route: 'products'
                    },
                    right: {
                        name: 'Create new product',
                        route: 'products',
                        create: true,
                    }
                },
                productsHeaders: {
                    title: 'Products',
                    shadow: 'Past',
                },
                productsColumns : [
                    {
                        title: 'My',
                        id: 'my'
                    },
                    {
                        title: 'our',
                        id: 'total'
                    }
                ],
                productsSorting: [
                    {
                        key: 'activity',
                        direction: 'DESC'
                    }
                ],
                //all about projects
                projectsLength: 0,
                projectsButtons: {
                    left: {
                        name: 'Projects',
                        route: 'projects'
                    },
                    right: {
                        name: 'Create new project',
                        route: 'projects',
                        create: true
                    }
                },
                projectsHeaders: {
                    title: 'Projects',
                    shadow: 'Future'
                },
                projectsColumns : [
                    {
                        title: 'My',
                        id: 'my'
                    },
                    {
                        title: 'our',
                        id: 'average'
                    }
                ],
                projectsSorting: [
                    {
                        key: 'date_status',
                        direction: 'ASC'
                    },
                    {
                        key: 'completion_date',
                        direction: 'ASC'
                    }
                ],
            };
        },
        computed: {
            cHeight(){
                return this.containerHeight - this.headerHeight - 40;
            }
        },
        methods: {
            refresh(val){
                this[`${val.entity}ListUpdate`] = val.status;
            },
            parent() {
                return this.$route.matched[1].name;
            },
            countUsers(val){
                return this.usersLength = val;
            },
            countProjects(val){
                return this.projectsLength = val;
            },
            countProducts(val){
                return this.productsLength = val;
            },
            sortingByName(val){
                this.sortingItems = val;
            },
            adaptHeight() {
                this.containerHeight = this.$el.clientHeight;
                this.headerHeight = this.$el.children[0].clientHeight;
            },
            ifRegUser(){
                if(this.user.id !== Auth.getUserFromStorage().id) {
                    location.replace('#/app/home');
                    location.reload();
                }
            },
            listAnimation(){
                setTimeout(()=>{
                    this.spin = false;
                    return $(this.$el).find(".entity-container").css({"opacity": '1'});
                }, 1000)
            },
            initUserBalance(){
                User.fetchTransactions().then(transactions => {
                    this.createCardEnabled = transactions.bought > 1000;
                }, x => {console.log(x)});
            },
        },
        beforeRouteEnter (to, from, next) {
            if (!Auth.getUser()) next(Login.config().redirectPath); else next();
        },
        beforeRouteUpdate(to, from, next){
            if(from.params.action === 'share' ||
                from.params.action === 'support' ||
                from.params.action === 'thank' ||
                from.params.action === 'value')
                this[`${from.params.entity}ListUpdate`] = true;
            next();
        },
        mounted(){
            this.initUserBalance();
            this.ifRegUser();
            this.adaptHeight();
            window.addEventListener('resize', () => {
                this.adaptHeight();
            });
            this.listAnimation();
        },
    }
</script>
<style lang="scss">
    .home-component {
        height: calc(100vh - 55px);
        padding: 20px;
        overflow: hidden;
        header {
            z-index: 2;
            position: relative;
            box-shadow: 0 10px 5px rgba(255,255,255,.5);
        }
        main.content {
            overflow: auto;
            margin: 0;

            & > .md-spinner {
                position: absolute;
                top: 40%;
                left: 0;
                right: 0;
                margin: 0 auto;
            }

            .entity-container {
                opacity: 0;
                -webkit-transition: all .3s;
                -moz-transition: all .3s;
                -ms-transition: all .3s;
                -o-transition:all .3s;
                transition: all .3s;
            }
        }
    }
</style>
