<template>
</template>

<script>
    import EntityListCoordinator from './EntityListCoordinator';
    export default {
        mounted() {
            EntityListCoordinator.emit('filterTriggered', { projectId: this.$route.params.id })
        }
    }
</script>