<template>
    <div class="entity-list-component">
        <router-view :name="componentsNameMap[entity]"></router-view>
    </div>
</template>
<script>
    import UsersPage from '../Users/User.vue';
    import Auth from '../../../../services/auth';
    import ErrorsComponent from '../../../Errors/index';
    import ProductsPage from '../Products/Products.vue';
    import ProjectsPage from '../Projects/Projects.vue';
    import Project from "../../../Admin/models/Project";
    import EntityListCoordinator from './EntityListCoordinator';

    export default {
        components: {
            UsersPage,
            ProductsPage,
            ProjectsPage
        },
        data(){
            return {
                entity: null,
                componentsNameMap: {
                    users: 'UsersPage',
                    products: 'ProductsPage',
                    projects: 'ProjectsPage',
                },
            }
        },
        methods:{
            ifRegUser(){
                if(Auth.getUser().id !== Auth.getUserFromStorage().id) {
                    location.replace('#/app/home');
                    location.reload();
                }
            },
            init(){
                this.entity = this.$route.params.entity;
            }
        },
        mounted(){
            this.ifRegUser();
            this.init();
        },
    }
</script>
<style lang="scss">
    .entity-list-component{
        overflow: hidden;
        height: calc(100vh - 55px);

        .item-list-header {
            padding-top: 30px;
        }
    }
</style>