<template>
    <modal name="registration-form" :adaptive="true" :draggable="false" transition="slide-fade-y"
           :pivotX="0.5" :reset="true" :pivotY="0" :clickToClose='false' height="auto"
           :scrollable="true" :width="modalWidth" class="modal-registration-form">
        <div class="modal-container">
            <form id="modal-registration-form">
                <!--content parts-->
                <div class="modal-step">
                    <!--header-->
                    <!--<div class="header">-->
                        <!--&lt;!&ndash;download-avatar component&ndash;&gt;-->
                        <!--<download-avatar @image:changed="propChanged" @image:invalid="propInvalid">-->
                        <!--</download-avatar>-->
                        <!--&lt;!&ndash;uploading errors&ndash;&gt;-->
                        <!--<div class="errors-box">-->
                            <!--<span v-show="errors.has('image')" class="md-error">-->
                                <!--<strong>{{ errors.first('image') }}</strong>-->
                            <!--</span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--body-->
                    <div class="body">
                       <registration-information :user="regData"
                                                 @name:changed="propChanged"
                                                 @name:invalid="propInvalid"
                                                 @surname:changed="propChanged"
                                                 @surname:invalid="propInvalid"
                                                 @description:changed="propChanged"
                                                 @description:invalid="propInvalid"
                                                 @password:changed="propChanged"
                                                 @password:invalid="propInvalid"
                                                 @confirmPassword:changed="propChanged"
                                                 @confirmPassword:invalid="propInvalid">
                       </registration-information>
                    </div>
                    <!--buttons-->
                    <div class="btn-box">
                        <md-layout>
                            <md-button :disabled="invalidInput || spin" @click="confirmChanges()">
                                <md-spinner md-indeterminate v-if="spin" :md-size="10"></md-spinner>
                                Confirm
                            </md-button>
                        </md-layout>
                    </div>
                </div>
            </form>
        </div>
    </modal>
</template>

<script>
    import Login from '../Login';
    import AppComponent from '../App';
    import Auth from '../../services/auth';
    import ErrorsComponent from '../Errors';
    import Invite from '../App/models/InviteModel';
    import EventBus from '../../services/EventBus';
    import DownloadAvatar from './common/download-avatar.vue';
    import RegistrationInformation from './common/registration-information.vue';
    import ModalAnimationCoordinator from '../../services/ModalAnimationCoordinator';
    import ModalStepCoordinator from '../App/components/common/modals/services/modal-step-coordinator';
    export default {
        components: {DownloadAvatar, RegistrationInformation},
        params:['hash'],
        data() {
            return {
                spin: false,
                regData:{},
                hash: null,
                backendErrors: null,
                nameIsInvalid: false,
                imageIsInvalid: false,
                surnameIsInvalid: false,
                passwordIsInvalid: false,
                descriptionIsInvalid: false,
                confirmPasswordIsInvalid: false,
                formDataMap: ['name','surname','password', 'confirmPassword'],
                regDataMap: ['image','name','surname','password','description','userId','card',
                            'cardId','inviterId', 'amount','message','transactionId'],
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            },
            invalidInput() {
                var invalid = false;
                _.each(this.formDataMap, (prop) => {
                    if (this[`${prop}IsInvalid`] || !this.regData[prop]
                        || (this.regData.password !== this.regData.confirmPassword) ) {
                        invalid = true;
                    }
                });
                return invalid
            },
        },
        methods: {
            propChanged(value){
                this.$set(this, `${value.prop}IsInvalid`, false);
                this.$set(this.regData, value.prop, value.val);
            },
            propInvalid(value) {
                this.$set(this, `${value.prop}IsInvalid`, true);
            },
            //upload function for avatar
            confirmChanges(){
                this.spin = true;
                var formData = new FormData();
                this.regDataMap.forEach((regData) => {
                    if(this.regData[regData]){
                        formData.append(regData, this.regData[regData]);
                    }
                });
                Invite.registration(formData).then((user)=>{
                    Auth.setUser(user);
                    this.$router.push(AppComponent.config().components.incoming.redirectPath)
                }, (x)=>{
                    this.spin = false;
                    console.log(x)
                });

            },
            fetchUserByHash(hash){
                Invite.getByHash(hash).then((info)=>{
                    this.$set(this.regData, 'email', info.email);
                    this.$set(this.regData, 'userId', info.user_id);
                    this.$set(this.regData, 'card', info.card);
                    this.$set(this.regData, 'cardId', info.card_id);
                    this.$set(this.regData, 'inviterId', info.inviter_id);
                    this.$set(this.regData, 'message', info.message);
                    this.$set(this.regData, 'transactionId', info.transaction_id);
                    this.$set(this.regData, 'amount', info.amount);

                }, (x)=>{
                    console.log(x);
                    this.$router.push('/errors/403')
                });
            },
            done(desc){
                this.edit = false;
                this.editedDesc = desc;
            },
            hide() {
                this.$modal.hide('registration-form');
            },
            show() {
                this.$modal.show('registration-form');
            }
        },
        beforeRouteEnter (to, from, next) {
            if(Auth.getUser()){
                Auth.logout();
                Invite.getByHash(to.params.hash).then(()=>{
                    next();
                },()=>{
                    next(`${ErrorsComponent.config().redirectPath}/403`)
                });
                next();
            }
            Invite.getByHash(to.params.hash).then(()=>{
                next();
            },()=>{
                next(`${ErrorsComponent.config().redirectPath}/403`)
            });
        },
        mounted() {
            this.hash = this.$route.params.hash;
            this.fetchUserByHash(this.hash);
            this.show();
        },
    }
</script>
<style lang="scss">
    .modal-registration-form.v--modal-overlay.scrollable {
        padding-bottom: 50px;
    }
    .modal-registration-form {
        .v--modal {
            margin: 30px 0;
            top: 0 !important;
        }
        .modal-container {
            .modal-step {
                .header {
                    padding: 0 20px;
                    .errors-box {
                        clear: both;
                        font-size: 12px;
                        line-height: 20px;
                    }
                }
                .body {
                    padding: 0 20px 15px;
                    overflow: auto;
                }
                .btn-box {
                    .md-button {
                        width: 100%;
                        margin: 0;
                        padding: 7px 0;
                        font-weight: 700;
                        border-top: 1px solid #ebebeb;
                    }
                }
            }
        }
    }
    @media all and(max-width: 320px) {
        .modal-registration-form {
            .v--modal {
                margin-bottom: 30px !important;
                margin-top: 10px !important;
            }
            .modal-container {
                .modal-step {
                    .body {
                        .md-input-container {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
    @media all and(max-height: 400px){
        .modal-registration-form .modal-container .modal-step .body {
            overflow: auto;
            max-height: 120px;
        }
    }

</style>