<template>
    <modal name="projects-thank-sorting-list" :adaptive="true" :draggable="false" :transition="transition"
           :pivotX="0.5" :reset="true" :pivotY="0" :clickToClose='false' height="auto"
           :scrollable="true" :width="modalWidth" class="modal-projects-thank-sorting-list">
        <div class="modal-container">
            <div class="modal-step">
                <div class="modal-header">
                    <little-icon-button :icon="'/pictures/icon_search.svg'" :btnText="'Search'"
                                        @button:click="filterBtn()">
                    </little-icon-button>
                </div>
                <!--filter-list-container component-->
                <filter-list-container :items="items" :spin="spin" :search="search" :entity="entity" :query="query"
                                       :action="'projectThank'" :id="id" :count="count" :limitCount="limitCount"
                                       :limit="limit" @item:click="getIdItem">
                </filter-list-container>
            </div>
            <div class="btn-box">
                <md-layout>
                    <md-layout>
                        <md-button @click="goBack()">back</md-button>
                    </md-layout>
                    <md-layout>
                        <md-button :disabled="!activeId" @click="openThankPopup()">thank</md-button>
                    </md-layout>
                </md-layout>
                <!--close button component-->
                <close-button @close="close" :parent="parent" :modalName="modalName" :closeRoute="closeRoute"></close-button>
            </div>

        </div>
    </modal>
</template>

<script>
    import SearchFilter from '../filter/search-filter.vue';
    import EventBus from '../../../../../services/EventBus';
    import CloseButton from './modal-buttons/close-button.vue';
    import LittleIconButton from '../buttons/little-icon-button.vue';
    import ModalStepCoordinator from './services/modal-step-coordinator';
    import CloseButtonCoordinator from './services/close-button-coordinator';
    import FilterListContainer from './modal-parts/filter-list-container.vue';
    import ModalAnimationCoordinator from '../../../../../services/ModalAnimationCoordinator';

    export default {
        components: {CloseButton, SearchFilter, LittleIconButton, FilterListContainer},
        data() {
            return {
                id: null,
                query: '',
                activeId: null,
                entity: null,
                modalName: '',
                items:[],
                hideColumns: true,
                transition: '',
                search: false,
                nextStep: false,
                containerHeight: null,
                headerHeight: null,
                spin: false,
                count: null,
                limitCount: null,
                user: null,
                limit: null,
                closeRoute: null,
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 20;
            },
            parent() {
                return this.$route.matched[1].name;
            },
        },
        methods: {
            _actions(transition, params){
                this.transition = transition;
                ModalAnimationCoordinator.setNextAppearAnimation(transition);
                ModalStepCoordinator.setNextStep();
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.push(params), 200);
                });
            },
            openThankPopup(){
                let params = {
                    name: `${this.parent}ProjectThank`,
                    params: {
                        entity: 'users',
                        id: this.$route.params.id,
                        action: 'thank',
                        sortEntity: 'projects',
                        projectId: this.activeId,
                    }
                };
                this._actions('slide', params);
            },
            //------------------------------------------------------
            getIdItem(val){
                return this.activeId = val;
            },
            filterBtn(){
                EventBus.$on('filter:close', event => {
                    this.search = event;
                });
                this.search ^= 1;
            },
            //------------------------------------------------------
            init(eventData){
                this.transition = ModalAnimationCoordinator.getNextAppearAnimation();
                this.nextStep = ModalStepCoordinator.getNextStep();
                this.closeRoute = CloseButtonCoordinator.getRoute();
                this.modalName = eventData.type;
                this.items = eventData.data.projects;
                this.count = eventData.data.count;
                this.limitCount = eventData.data.limitCount;
                this.limit = this.$route.params.limit;
                this.entity = 'projects';
                this.id = this.$route.params.id;
                this.query = this.$route.params.query;
                this.items.map((i) => {
                    i.displayName = i.title ? i.title : `${i.name} ${i.surname}`;
                    return i
                });
            },
            //------------------------------------------------------
            goBack(){
                this.transition = 'slide-right';
                ModalAnimationCoordinator.setNextAppearAnimation('slide-right');
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.go(-1), 200);
                });
            },
            close(val){
                this.transition = val;
            },
            hide () {
                this.$modal.hide('projects-thank-sorting-list');
            },
            show() {
                this.$modal.show('projects-thank-sorting-list');
            },
        },
        mounted() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'projects-thank-sorting-list'){
                    this.init(eventData);
                    Vue.nextTick(this.show);
                }
                else
                    this.hide();
            });
        },
    }
</script>

<style lang="scss">
    .modal-projects-thank-sorting-list {
        .modal-container {
            text-align: left;
            //header modal box styles
            .modal-header {
                padding: 20px 15px 10px;
                border: 0;
                text-align: left;
            }
            //body modal box styles
            .modal-body {
                background: #fff !important;
                padding: 0 20px 20px;
                .filter {
                    position: absolute;
                    bottom: 10px;
                }
            }
            //buttons modal box styles
            .btn-box {
                .md-layout {
                    .md-button {
                        width: 100%;
                        margin: 0;
                        font-size: 11px;
                        font-weight: 600;
                        padding: 5px 0;
                        line-height: 20px;
                        min-height: 46px;
                    }
                }
            }
        }
    }
</style>