<template>
    <modal name="support" :adaptive="true" :draggable="false" :pivotX="0.5" :reset="true" :pivotY="0"
           :transition="transition" :clickToClose='false' height="auto" :scrollable="true"
           :width="modalWidth" class="modal-support">
        <div class="modal-container">
            <div class="modal-step">
                <!--modal header-->
                <!--if author status not people-->
                <div class="modal-header">
                    <img :src="(supportData.image)?supportData.image:startImage" alt=""
                         v-if="supportData && supportData.image">
                    <avatar :image="supportData.user && supportData.user.image"
                            :avatarName="supportData.user && supportData.user.avatarName">
                    </avatar>
                </div>
                <!--&lt;!&ndash;if author status people&ndash;&gt;-->
                <!--<div class="modal-header owners" v-if="supportData.author_status === 'people'">-->
                    <!--<img :src="(supportData.image)?supportData.image:startImage" alt=""-->
                         <!--v-if="supportData && supportData.image">-->
                    <!--<avatar v-for="owner, key in supportData.owners" :key="owner.id"-->
                            <!--:image="owner.image" :style="getOffsetToLeft(key, minCredits)"-->
                            <!--:avatarName="owner.name">-->
                    <!--</avatar>-->
                <!--</div>-->
                <!--modal body-->
                <div class="modal-body">
                    <!--if author status not people-->
                    <div class="cap">
                        <div class="modal-cap-title">{{supportData.displayName}}</div>
                        <div class="modal-cap-subtitle">Creator of {{supportData.title}}</div>
                    </div>
                    <!--if author status people-->
                    <!--<div class="cap" v-if="supportData.author_status === 'people'">-->
                        <!--<div class="modal-cap-subtitle">Creators of <b>{{supportData.title}}</b></div>-->
                    <!--</div>-->
                    <div v-if="backendError" class="md-error">{{backendError}}</div>
                    <!--message component-->
                    <message @message:change="messageChange"></message>
                    <!--credits owners counter-->
                    <!--<credits-owners-counter v-if="supportData.owners && supportData.owners.length > 0"-->
                                     <!--:item="supportData"-->
                                     <!--:type="'support'"-->
                                     <!--:minCredits="minCredits"-->
                                     <!--@change:credits="changeCredits"-->
                                     <!--@change="creditsCount">-->
                    <!--</credits-owners-counter>-->

                    <!--credits counter-->
                    <credits-counter :item="supportData"
                                     :type="'support'"
                                     @change:credits="changeCredits"
                                     @change="creditsCount">
                    </credits-counter>
                </div>
            </div>
            <!--modal buttons box-->
            <div class="btn-box">
                <md-layout>
                    <!--back button component-->
                    <back-button :parent="parent" @back="back"
                                 :modalName="modalName" :nextStep="nextStep">
                    </back-button>
                    <md-layout>
                        <md-button @click="confirmSupport()">Confirm Support</md-button>
                    </md-layout>
                </md-layout>
                <!--close button component-->
                <close-button @close="close" :parent="parent" :modalName="modalName"></close-button>
            </div>
        </div>
    </modal>
</template>

<script>
    import Avatar from './modal-parts/avatar.vue';
    import Message from './modal-parts/message.vue';
    import Product from '../../../models/ProductModel';
    import Project from '../../../models/ProjectModel';
    import EventBus from '../../../../../services/EventBus';
    import BackButton from './modal-buttons/back-button.vue';
    import CloseButton from './modal-buttons/close-button.vue';
    import CreditsCounter from '../counters/credits-counter.vue';
    import ModalStepCoordinator from './services/modal-step-coordinator';
    import CreditsOwnersCounter from '../counters/credits-owners-counter.vue';
    import ModalAnimationCoordinator from '../../../../../services/ModalAnimationCoordinator';

    export default {
        components: {
            CreditsOwnersCounter,
            CreditsCounter,
            CloseButton,
            BackButton,
            Message,
            Avatar
        },
        data() {
            return {
                owners: null,
                minCredits: null,
                modalName: '',
                backendError: null,
                supportMessage:'',
                supportData: {},
                count: 5,
                credits: 5,
                transition: '',
                nextStep: false,
                entity: null,
                modelsMap: {
                    'projects': Project,
                    'products': Product
                }
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            },
            parent() {
                return this.$route.matched[this.$route.matched.length - 2].name;
            },
        },
        methods: {
            getOffsetToLeft(key, length){
                return {'left': `${(75*key)-(30*length)}px` }
            },
            confirmSupport(){
                this.modelsMap[this.entity].support(
                    this.supportData.user_id,
                    this.supportData.id,
                    this.credits,
                    this.supportMessage
                ).then(()=>{
                    this.transition = 'slide';
                    ModalAnimationCoordinator.resetAppearAnimation();
                    ModalStepCoordinator.resetStep();
                    Vue.nextTick(() => {
                        this.hide();
                        setTimeout(() => this.$router.push({name: this.parent}), 200);
                    });
                }, (x)=>{
                    console.log(x);
                    this.backendError = x
                });
            },
            messageChange(val){
                this.supportMessage = val;
            },
            creditsCount(val){
                this.count = val;
            },
            changeCredits(val){
                this.credits = val;
            },
            //---------------------------
            hide () {
                this.$modal.hide('support');
            },
            show() {
                this.$modal.show('support');
            },
            close(val){
                this.transition = val;
            },
            back(val){
                this.transition = val;
            },
        },
        created() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'support'){
                    this.entity = this.$route.params.entity;
                    this.transition = ModalAnimationCoordinator.getNextAppearAnimation();
                    this.nextStep = ModalStepCoordinator.getNextStep();
                    this.supportData = eventData.data;
                    if(eventData.data && eventData.data.owners) {
                        this.owners = eventData.data.owners;
                        this.minCredits = eventData.data && eventData.data.owners.length;
                    }
                    this.modalName = eventData.type;
                    this.supportData.displayName = `${this.supportData.user.name} ${this.supportData.user.surname}`;
                    this.supportData.avatarName =
                        `${this.supportData.user.name.charAt(0)}${this.supportData.user.surname.charAt(0)}`;
                    Vue.nextTick(this.show);
                }
                else
                    this.hide();
            });
        }
    }
</script>
<style lang="scss">
    .modal-support {
        .modal-container {
            .modal-header {
                max-height: 94px;
                padding: 0;
                background: #fff;
                position: relative;
                -webkit-border-radius: 10px 10px 0 0;
                -moz-border-radius: 10px 10px 0 0;
                border-radius: 10px 10px 0 0;
                box-shadow: 0 0 15px rgba(0,0,0,.5);
                z-index: 1;
                border-bottom: none;
                & > img {
                    width: 100%;
                    height: 100px;
                    display: block;
                    -webkit-border-radius: 10px 10px 0 0;
                    -moz-border-radius: 10px 10px 0 0;
                    border-radius: 10px 10px 0 0;
                }
            }
            .modal-body {
                position: relative;
                background: #f1f1f1;
                padding: 40px 0 30px;
                box-shadow: inset 0 0 15px rgba(0,0,0,.3);
                .cap {
                    .modal-cap-title {
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 800;
                        text-transform: uppercase;
                    }
                    .modal-cap-subtitle {
                        font-size: 12px;
                        line-height: 14px;
                        color: #535353;
                        b {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
</style>