<template>
    <modal name="project-product" :adaptive="true" :draggable="false" :transition="transition"
           :pivotX="0.5" :reset="true" :pivotY="0" :clickToClose='false' height="auto" :scrollable="true"
           :width="modalWidth" class="modal-project-product">
        <div class="modal-container">
            <div class="modal-step">
                <!--modal-image-->
                <div class="top-image">
                    <img v-if="item.image || startImage" :src="item.image + '?random=' + Math.random() || startImage">
                </div>
                <!--modal-header-->
                <project-product-header :item="item" :entity="entity" @owners:click="ownersShow" @show:user="showUser"
                                        @edit:click="edit" @usership:click="usership" @show:wow="showWow">
                </project-product-header>

                <!--<gift-graph v-if="showGraph"></gift-graph>-->

                <!--description component-->
                <project-product-description :item="item" :entity="entity" @show:user="showUser">
                </project-product-description>

            </div>
            <div class="alert-message" v-if="!shareOff || !supportOff">{{alert}}</div>
            <!--modal button box-->
            <div class="btn-box">
                <md-layout>
                    <md-layout>
                        <md-button @click="value()">Value</md-button>
                    </md-layout>
                    <md-layout v-if="item.share && shareOff">
                        <md-button @click="share()">Share</md-button>
                    </md-layout>
                    <md-layout v-if="item.support && !item.isCreator && supportOff">
                        <md-button @click="support()">Support</md-button>
                    </md-layout>
                </md-layout>
                <!--close button component-->
                <close-button @close="close" :parent="parent" :modalName="modalName"></close-button>
            </div>
        </div>
    </modal>
</template>

<script>
    import Auth from '../../../../../services/auth';
    import GiftGraph from '../graph/gift-graph.vue';
    import EventBus from '../../../../../services/EventBus';
    import CloseButton from './modal-buttons/close-button.vue';
    import ModalStepCoordinator from './services/modal-step-coordinator';
    import ProjectProductHeader from './modal-parts/project-product-header.vue';
    import ProjectProductDescription from './modal-parts/project-product-description.vue';
    import ModalAnimationCoordinator from '../../../../../services/ModalAnimationCoordinator';

    export default {
        components:{CloseButton, ProjectProductDescription, ProjectProductHeader, GiftGraph},
        data() {
            return {
                showGraph: false,
                entity: null,
                name: 'name',
                modalName: '',
                startImage: 'storage/products/default',
                item: {},
                transition: '',
                actions: {
                    value: 'value',
                    listShare: 'share-sorting-list',
                    support: 'support',
                },
                shareOff: null,
                supportOff: true,
                alert: 'Due to demand, sharing/support has been disabled. If you don\'t see "share" or "support" ' +
                'buttons. Try again a few hours',
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            },
            parent() {
                return this.$route.matched[this.$route.matched.length - 2].name;
            },
            entityRoute(){
                return `${this.parent}Entity`
            },
            actionName(){
                if(this.parent === 'incomingNotification') return `${this.parent}EntityAction`;
                return `${this.parent}Action`
            },
            sortingName(){
                return `${this.parent}ShareSorting`
            },
            editName(){
                return `${this.parent}Edit`
            },
        },
        methods: {
            showWow(id){
                this.showGraph = !this.showGraph;
            },
            _action(params, transition){
                this.transition = transition;
                ModalStepCoordinator.setNextStep();
                ModalAnimationCoordinator.setNextAppearAnimation(transition);
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.push(params), 200)
                });
            },
            ownersShow(id){
                let transition = 'slide';
                let params = {
                    name: `${this.parent}OwnersList`,
                    params: {id: id, entity: this.entity, action: 'owners-list', limit: 20}
                };
                this._action(params, transition);
            },
            usership(id){
                let transition = 'slide';
                let params = {
                    name: this.actionName,
                    params: {id: id, entity: this.entity, action: 'usership', limit: 20}
                };
                this._action(params, transition);
            },
            showUser(id){
                let transition = 'slide';
                let params = {
                   name: this.entityRoute,
                   params:{id, entity: 'users',}
                };
                this._action(params, transition);
            },
            share(){
                let transition = 'slide';
                let params = {
                    name: this.sortingName,
                    params:{
                        id: this.item.id,
                        entity: this.entity,
                        action: this.actions.listShare,
                        sortEntity: 'users',
                        limit: 50
                    }
                };
                this._action(params, transition);
            },
            edit(){
                let transition = 'slide';
                let params = {
                    name: this.editName,
                    params:{entity: this.entity, id: this.item.id, action: 'edit', step: 1}
                };
                this._action(params, transition);
            },
            value(){
                let transition = 'flip-left';
                let params = {
                    name: this.actionName,
                    params:{id: this.item.id, entity: this.entity, action: this.actions.value,}
                };
                this._action(params, transition);
            },
            support(){
                let transition = 'flip-right';
                let params = {
                    name: this.actionName,
                    params:{id: this.item.id, entity: this.entity, action: this.actions.support}
                };
                this._action(params, transition);
            },
            close(val){
                this.transition = val;
            },
            hide () {
                this.$modal.hide('project-product');
            },
            show() {
                this.$modal.show('project-product');
            }
        },
        mounted() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'project-product'){
                    if(eventData.data.restrictions){
                        this.shareOff = eventData.data.restrictions.share;
                        this.supportOff = eventData.data.restrictions.support;
                    }
                    this.item = eventData.data;
                    this.modalName = eventData.type;
                    this.transition = ModalAnimationCoordinator.getNextAppearAnimation();
                    if(this.item.user.id === Auth.getUser().id)
                        this.item.isCreator = true;
                    this.item.user.fullName = `${this.item.user.name} ${this.item.user.surname}`;
                    if(this.item.incomingShareUser){
                        this.item.incomingShareUser.fullName =
                            `${this.item.incomingShareUser.name} ${this.item.incomingShareUser.surname}`;
                    }
                    this.entity = this.$route.params.entity;
                    Vue.nextTick(this.show);
                }
                else
                    this.hide();
            });
        }
    }
</script>

<style lang="scss">
    .modal-project-product {
        .alert-message {
            font-size: 13px;
            line-height: 20px;
            color: #61000c;
            font-weight: 600;
            padding: 10px 15px;
            display: block;
        }
        .modal-container {
            .top-image {
                overflow: hidden;
                box-shadow: 0 5px 5px rgba(0,0,0,.2);
                img {
                    display: block;
                    width: 100%;
                    height: 100px;
                    -webkit-border-radius: 10px 10px 0 0;
                    -moz-border-radius: 10px 10px 0 0;
                    border-radius: 10px 10px 0 0;
                }
            }
        }
        .treeclass {
            min-height: 300px;
            padding: 0 10px;
        }
    }
    @media all and (max-width: 360px){
        .modal-project-product {
            .modal-container {
                .modal-header {
                    padding: 10px 20px;
                    .md-title {
                        font-size: 18px;
                        line-height: 20px;
                    }
                    .md-description {
                        p {
                            font-size: 13px;
                            line-height: 16px;
                        }
                    }
                }
                .modal-body {
                    .modal-body-description {
                        font-size: 13px;
                        line-height: 24px;
                        padding: 0;
                    }
                }
            }
        }
    }
</style>