<template>
    <modal name="offered" :adaptive="true" :draggable="false" :transition="transition"
           :pivotX="0.5" :reset="true" :pivotY="0" :clickToClose='false' height="auto" :scrollable="true"
           :width="modalWidth" class="modal-offered">
        <div class="modal-container">
            <div class="modal-step">
                <!--modal-image-->
                <div class="top-image">
                    <img :src="(item.card && item.card.image) || startImage" alt="">
                </div>
                <!--modal-header-->
                <div class="modal-header">
                    <md-card-header>
                        <div class="md-title">{{ (item.card && item.card.title) }}</div>
                        <div class="md-subhead">by
                            <a v-if="!(item.card && item.card.author) && !isCreator" href="#"
                               @click.prevent="showUser(item.card && item.card.user.id)">
                                {{ item.card && (item.card.user.fullName) }}
                            </a>
                            <span v-if="(item.card && item.card.author) || isCreator">
                                {{ item.card && (item.card.author || item.card.user.fullName) }}
                            </span>
                        </div>
                    </md-card-header>
                    <div class="md-description">
                        <p class="desc" @click="showMore()">{{ (item.card && item.card.description) }}</p>
                        <!--for feature-->
                        <div class="btn-container">
                            <a v-if="(item  && item.type === 'projectShare')" :href="item.card && item.card.link" target="_blank">Open</a>
                            <a v-if="(item && item.type !== 'userInvite') && notificationType !== 'outgoing'" href="#"
                               @click.prevent="usership(item.card.id)">
                                Usership
                            </a>
                        </div>
                    </div>
                </div>
                <!--modal-body-->
                <div class="modal-body">
                    <div class="modal-body-description">
                        <div class="quotes-box">
                            <!--quotes-message-->
                            <quotes-message :message="item.message"></quotes-message>
                            <span>
                                <i v-if="notificationType == 'incoming'">from</i>
                                <i v-if="notificationType == 'outgoing'">to</i>
                                <span v-if="!(item.type === 'userInvite' || item.type === 'userProjectInvite')">
                                    {{ (item.user && item.user.fullName) }} with {{item.value}}cr
                                </span>
                                <span v-if="(item.type === 'userInvite' || item.type === 'userProjectInvite')">
                                    {{ (item.target_user && item.target_user.email) }} with {{item.value}}cr
                                </span>
                            </span>
                        </div>
                        <!--offered-info component-->
                        <offered-info :item="item" :entity="notificationType"></offered-info>
                    </div>
                </div>
            </div>
            <!--modal button box-->
            <div class="btn-box">
                <!--if accept-reject-->
                <accept-reject-buttons v-if="notificationType == 'incoming'" :parent="parent" :modalName="modalName"
                                       :notificationId="notificationId" :nextStep="nextStep" :entity="usershipEntity"
                                       :type="item.type" :shareId="shareId" :item="item">
                </accept-reject-buttons>

                <!--if revoke-->
                <md-layout v-if="notificationType == 'outgoing'">
                    <!--back button component-->
                    <back-button :parent="parent" @back="back"
                                 :modalName="modalName" :nextStep="nextStep">
                    </back-button>
                    <!--back button component-->
                    <revoke-button :parent="parent" :modalName="modalName" :notificationId="notificationId"
                                   :nextStep="nextStep" :type="item.type" :shareId="shareId">
                    </revoke-button>
                </md-layout>
                <!--close button component-->
                <close-button @close="close" :parent="parent" :modalName="modalName"></close-button>
            </div>
        </div>
    </modal>
</template>

<script>
    import Auth from '../../../../../services/auth';
    import EventBus from '../../../../../services/EventBus';
    import BackButton from './modal-buttons/back-button.vue';
    import OfferedInfo from './modal-parts/offered-info.vue';
    import CloseButton from './modal-buttons/close-button.vue';
    import RevokeButton from './modal-buttons/revoke-button.vue';
    import QuotesMessage from './modal-parts/quotes-message.vue';
    import ModalStepCoordinator from './services/modal-step-coordinator';
    import AcceptRejectButtons from './modal-buttons/accept-reject-buttons.vue';
    import ModalAnimationCoordinator from '../../../../../services/ModalAnimationCoordinator';

    export default {
        components:{
            BackButton,
            OfferedInfo,
            CloseButton,
            RevokeButton,
            QuotesMessage,
            AcceptRejectButtons,
        },
        data() {
            return {
                readMore: false,
                modalName: '',
                startImage: 'storage/products/default',
                item: {},
                transition: '',
                nextStep: false,
                entity: null,
                notificationType: null,
                notificationId: null,
                shareId: null,
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            },
            parent() {
                return this.$route.matched[this.$route.matched.length - 2].name;
            },
            entityRoute(){
                return `${this.parent}Entity`;
            },
            actionName(){
                return `${this.parent}EntityAction`
            },
            isCreator(){
                return Auth.getUser().id === this.item.user_id;
            },
            usershipEntity(){
                if(this.item.type === "productShare") return 'products';
                if(this.item.type === "projectShare") return 'projects';
            },
        },
        methods: {
            action(params, transition){
                this.transition = transition;
                ModalStepCoordinator.setNextStep();
                ModalAnimationCoordinator.setNextAppearAnimation(transition);
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.push(params), 200)
                });
            },
            showUser(id){
                let transition = 'slide';
                let params = {
                        name: this.entityRoute,
                        params:{id, entity: 'users',}
                    };
                this.action(params, transition);
            },
            usership(id){
                let transition = 'slide';
                let params = {
                    name: this.actionName,
                    params: {
                        entity: this.usershipEntity,
                        id: id,
                        action: 'usership'
                    }
                };
                this.action(params, transition);
            },
            showMore(){
                this.readMore = !this.readMore;
                if(this.readMore){
                    var fullHeight = $(this.$el).find('.desc')[0].scrollHeight;
                    return $(this.$el).find('.desc').css({"height": fullHeight, "margin-bottom": "10px"})
                }
                if(!this.readMore){
                    return $(this.$el).find('.desc').css({"height": '55px', "margin-bottom": "0"})
                }
            },
            init(eventData){
                this.notificationId = eventData.data.id;
                this.shareId = eventData.data.share_id;
                this.item = eventData.data;
                this.entity = eventData.entity;
                this.notificationType = eventData.notificationType;
                this.modalName = eventData.type;
                if(this.item.user){
                    this.item.user.fullName = `${this.item.user.name} ${this.item.user.surname}`;
                }
                if(this.item.incomingShareUser){
                    this.item.incomingShareUser.fullName =
                        `${this.item.incomingShareUser.name} ${this.item.incomingShareUser.surname}`;
                }
                if(this.item && this.item.card){
                    this.item.card.user.fullName =
                        `${this.item.card.user.name} ${this.item.card.user.surname}`;
                }
                if(this.item && this.item.card && this.item.card.like >= 0){
                    this.item.card.likeOrHappy = this.item.card.like
                }
                if(this.item && this.item.card && this.item.card.happy >= 0){
                    this.item.card.likeOrHappy = this.item.card.happy
                }
                if(this.item && this.item.card && this.item.card.liked >= 0){
                    this.item.card.likedOrHappied = this.item.card.liked
                }
                if(this.item && this.item.card && this.item.card.happied >= 0){
                    this.item.card.likedOrHappied = this.item.card.happied
                }
            },
            back(val){
                this.transition = val;
            },
            close(val){
                this.transition = val;
            },
            hide () {
                this.$modal.hide('offered');
            },
            show() {
                this.$modal.show('offered');
            }
        },
        created() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'offered'){
                    this.init(eventData);
                    this.transition = ModalAnimationCoordinator.getNextAppearAnimation();
                    Vue.nextTick(this.show);
                }
                else
                    this.hide();
            });
        }
    }
</script>

<style lang="scss" scoped>
    .modal-offered {
        .modal-container {
            .top-image {
                max-height: 94px;
                overflow: hidden;
                img {
                    display: block;
                    width: 100%;
                    height: 100px;
                    -webkit-border-radius: 10px 10px 0 0;
                    -moz-border-radius: 10px 10px 0 0;
                    border-radius: 10px 10px 0 0;
                }
            }
            .modal-header {
                text-align: left;
                padding: 20px 30px 20px;
                .md-title {
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 800;
                }
                .md-subhead, & a {
                    font-size: 11px;
                    line-height: 16px;
                    color: #535353;
                    transition: all 0.2s;
                    a {
                        border-bottom: 1px solid #c0c0c0;
                        transition: all .2s;
                        &:hover {
                            color: #000;
                            border-bottom-color: transparent;
                        }
                    }
                }
                .md-description {
                    p {
                        font-size: 13px;
                        line-height: 18px;
                        font-weight: 400;
                        margin: 10px 0 0;
                        height: 55px;
                        overflow: hidden;
                        transition: all 0.2s;
                        position: relative;
                        cursor: pointer;

                        &.show-more {
                            height: auto;
                        }
                    }
                    .btn-container {
                        padding-top: 10px;
                        position: relative;
                        box-shadow: -6px -10px 15px rgba(255,255,255,0.8);
                        a {
                            cursor: pointer;
                            font-size: 11px;
                            line-height: 14px;
                            text-transform: uppercase;
                            font-weight: 600;
                            margin-right: 30px;
                            color: #000;
                            border-bottom: 1px solid #2b2b2b;
                            transition: all .2s;
                            &:hover {
                                border-bottom-color: transparent;
                            }
                        }
                    }
                }
            }
            .modal-body {
                position: relative;
                background: #f1f1f1;
                text-align: center;
                .modal-body-description {
                    font-size: 13px;
                    line-height: 26px;
                    padding: 10px;
                    .quotes-box {
                        & > span {
                            position: relative;
                            text-transform: uppercase;
                            font-size: 10px;
                            line-height: 20px;
                            display: block;
                            -webkit-box-shadow: 0px -10px 10px 0px rgba(239, 239, 239, 1);
                            -moz-box-shadow: 0px -10px 10px 0px rgba(239, 239, 239, 1);
                            box-shadow: 0px -10px 10px 0px rgba(239, 239, 239, 1);
                            i {
                                font-style: normal;
                            }
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width: 340px){
        .modal-offered {
            .modal-container {
                .modal-header {
                    padding: 10px 20px;
                    .md-title {
                        font-size: 18px;
                        line-height: 20px;
                    }
                    .md-description {
                        p {
                            font-size: 13px;
                            line-height: 16px;
                        }
                    }
                }
                .modal-body {
                    padding: 15px 10px;
                    .modal-body-description {
                        font-size: 13px;
                        line-height: 20px;
                        padding: 0;
                    }
                }
            }
        }
    }
</style>