<template>
    <modal name="value" :adaptive="true" :draggable="false" :transition="transition"
           :pivotX="0.5" :reset="true" :pivotY="0" :clickToClose='false' height="auto"
           :scrollable="true" :width="modalWidth" class="modal-value">

        <div class="modal-container">

            <div class="modal-step">
                <div class="modal-header">
                    <img :src="item.image" :alt="item.image">
                    <md-card-header>
                        <div class="md-title">{{ item.title }}</div>
                        <div class="md-subhead">by {{ item.author }}</div>
                    </md-card-header>
                    <div class="md-description">
                        <p>Our {{entity}} Value is <span class="chips black-bg">{{item.value}}</span> by
                        <span class="chips black-bg">
                            {{(item.liked)?item.liked:0 || (item.happied)?item.happied:0}} out of {{item.shared}}
                        </span> people</p>
                    </div>
                </div>
                <div class="modal-body">
                    <div v-if="backendError" class="md-error">{{backendError}}</div>
                    <!--message component-->
                    <message @message:change="messageChange"></message>
                    <!--value counter component-->
                    <value-counter :value="item.like || item.happy" @change="countWatch"></value-counter>
                </div>
            </div>

            <div class="btn-box">
                <md-layout>
                    <!--back button component-->
                    <back-button :parent="parent" @back="back"
                                 :modalName="modalName" :nextStep="nextStep">
                    </back-button>
                    <md-layout>
                        <md-button @click="addValue()">Confirm Value({{ newCount }})</md-button>
                    </md-layout>
                </md-layout>
                <!--close button component-->
                <close-button @close="close" :parent="parent" :modalName="modalName"></close-button>
            </div>

        </div>
    </modal>
</template>

<script>
    import Message from './modal-parts/message.vue';
    import Auth from '../../../../../services/auth';
    import Product from '../../../models/ProductModel';
    import Project from '../../../models/ProjectModel';
    import EventBus from '../../../../../services/EventBus';
    import ValueCounter from '../counters/value-counter.vue';
    import BackButton from './modal-buttons/back-button.vue';
    import CloseButton from './modal-buttons/close-button.vue';
    import ModalStepCoordinator from './services/modal-step-coordinator';
    import ModalAnimationCoordinator from '../../../../../services/ModalAnimationCoordinator';

    export default {
        components: {
            ValueCounter,
            CloseButton,
            BackButton,
            Message
        },
        data() {
            return {
                modalName:'',
                entity: '',
                valueMsg: '',
                item: {},
                count: null,
                transition: '',
                backendError: '',
                nextStep: false,
                modelsMap: {
                    'projects': Project,
                    'products': Product
                }
            }
        },
        computed: {
            newCount(){
                if(this.count === null){
                    return this.count = this.item.like
                }
                if(this.count !== null){
                    return this.count
                }
            },
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            },
            parent() {
                return this.$route.matched[this.$route.matched.length - 2].name;
            },
            authUserId(){
                return Auth.getUser().id
            },
        },
        methods: {
            addValue(){
                this.modelsMap[this.entity].value(this.authUserId, this.item.id, this.count, this.valueMsg)
                    .then(()=>{
                        this.transition = 'slide';
                        ModalAnimationCoordinator.resetAppearAnimation();
                        ModalStepCoordinator.resetStep();
                        Vue.nextTick(() => {
                            this.hide();
                            setTimeout(() => this.$router.push({name: this.parent}), 200);
                        });
                    }, (x)=>{
                        this.backendError = 'WOW! Something went wrong!';
                    });

            },
            messageChange(val){
                this.valueMsg = val;
            },
            countWatch(val){
                return this.count = val
            },
            back(val){
                this.transition = val;
            },
            close(val){
                this.transition = val;
            },
            hide () {
                this.$modal.hide('value');
            },
            show() {
                this.$modal.show('value');
            }
        },
        created() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'value'){
                    this.transition = ModalAnimationCoordinator.getNextAppearAnimation();
                    this.nextStep = ModalStepCoordinator.getNextStep();
                    this.modalName = eventData.type;
                    this.item = eventData.data;
                    this.entity = eventData.entity;
                    this.item.author = `${this.item.user.name} ${this.item.user.surname}`;
                    Vue.nextTick(this.show);
                }
                else
                    this.hide();
            });
        }
    }
</script>
<style lang="scss">
    .modal-value {
        .modal-container {
            //header modal box styles
            .modal-header {
                padding: 0;
                text-align: left !important;
                img {
                    width: 100%;
                    min-height: 100px;
                    -webkit-border-radius: 10px 10px 0 0;
                    -moz-border-radius: 10px 10px 0 0;
                    border-radius: 10px 10px 0 0;
                    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.4);
                    -moz-box-shadow: 0 0 15px rgba(0,0,0,.4);
                    box-shadow: 0 0 15px rgba(0,0,0,.4);
                }
                .md-card-header {
                    padding: 25px 25px 0;
                    .md-title {
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 800;
                        text-transform: uppercase;
                        /*text-align: left !important;*/
                    }
                    .md-subhead {
                        font-size: 11px;
                        line-height: 14px;
                        color: #535353;
                        /*text-align: left !important;*/
                    }
                }

                .md-description {
                    font-size: 13px;
                    line-height: 16px;
                    font-weight: 400;
                    padding: 0 25px;
                    p {
                        margin: 20px 0;
                    }
                    .md-button {
                        font-size: 11px;
                        line-height: 20px;
                        text-transform: uppercase;
                        font-weight: 600;
                        text-decoration: underline;
                        margin: 6px 0;
                    }
                }
            }
            //body modal box styles
            .modal-body {
                position: relative;
                background: #f1f1f1;
                padding: 30px 0;
                box-shadow: inset 0 0 10px rgba(0,0,0,.3);
            }
        }
    }

    @media all and (max-width: 360px) {
        .modal-value {
            .modal-container {
                .modal-header {
                    padding: 20px 20px 0;
                    .md-title {
                        font-size: 18px;
                        line-height: 20px;
                    }
                    .md-description {
                        p {
                            margin: 10px 0;
                        }
                    }
                }
                .modal-body {
                    padding: 10px 0;
                    .md-input-container {
                        width: 90%;
                        min-height: 80px;
                    }
                }
            }
        }
    }
</style>