<template>
    <modal name="user-settings" :adaptive="true" :draggable="false" :transition="transition"
           :pivotX="0.5" :reset="true" :pivotY="0" :clickToClose='false' height="auto"
           :scrollable="true" :width="modalWidth" class="modal-user-settings">
        <div class="modal-container">
            <form id="modal-user-settings-form">
                <!--content parts-->
                <div class="modal-step">
                    <!--header-->
                    <div class="header">
                        <md-card-header>
                            <div class="img-box">
                                <md-avatar class="md-avatar-icon md-large">
                                    <img v-if="user.image || imageData"
                                         :src="imageData || user.image + '?random=' + Math.random()" alt="">
                                    <span v-if="!(user.image || imageData)" class="avatar-name">{{avatarName}}</span>
                                    <input type="file" @change="change" name="image" class="upload"
                                           v-validate="'size:512'">
                                </md-avatar>
                            </div>
                            <div class="text-box">
                                <div class="md-title">Hello {{ fullName }}</div>
                                <div class="md-subhead">
                                    <input type="text" maxlength="20" v-model="user.description">
                                    <md-tooltip md-direction="bottom">Click to change status. Max 20 chars</md-tooltip>
                                </div>
                            </div>
                        </md-card-header>
                        <!--uploading errors-->
                        <div class="errors-box">
                            <span v-show="errors.has('image')" class="md-error">
                                <strong>{{ errors.first('image') }}</strong>
                            </span>
                        </div>
                    </div>
                    <!--body-->
                    <div class="body">
                        <!--change user name-->
                        <md-input-container md-theme="green">
                            <label>Your Name</label>
                            <md-input maxlength="25" v-model="user.name"></md-input>
                        </md-input-container>
                        <!--change user surname-->
                        <md-input-container md-theme="green">
                            <label>Your Surname</label>
                            <md-input maxlength="25" v-model="user.surname"></md-input>
                        </md-input-container>
                        <!--you cant change user email-->
                        <md-input-container md-theme="green">
                            <label>Your Email</label>
                            <md-input disabled v-model="user.email"></md-input>
                        </md-input-container>
                    </div>
                    <!--buttons-->
                    <div class="btn-box">
                        <md-layout>
                            <!--back button component-->
                            <md-layout>
                                <md-button @click="confirmChanges()">Confirm</md-button>
                            </md-layout>
                            <md-layout>
                                <md-button @click="changePass()">Change Pass</md-button>
                            </md-layout>
                        </md-layout>
                        <!--close button component-->
                        <close-button @close="close" :parent="parent" :modalName="modalName"></close-button>
                    </div>
                </div>
            </form>
        </div>
    </modal>
</template>

<script>
    import User from '../../../models/UserModel';
    import Auth from '../../../../../services/auth';
    import EventBus from '../../../../../services/EventBus';
    import BackButton from './modal-buttons/back-button.vue';
    import CloseButton from './modal-buttons/close-button.vue';
    import ModalStepCoordinator from './services/modal-step-coordinator';
    import ModalAnimationCoordinator from '../../../../../services/ModalAnimationCoordinator';
    export default {
        components: {CloseButton, BackButton},
        computed: {
            fullName(){
                return `${this.user.name} ${this.user.surname}`
            },
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            },
            parent() {
                return this.$route.matched[this.$route.matched.length - 2].name;
            },
            getChangePass(){
                return `${this.parent}UserInformation`
            },
            avatarName(){
                return `${this.user.name.charAt(0)}${this.user.surname.charAt(0)}`;
            }
        },
        data() {
            return {
                modalName: '',
                image: null,
                imageData: null,
                edit: false,
                editedDesc: null,
                uploadErrors: {
                    maxSize: '',
                    format: ''
                },
                onlyImages: null,
                user: Auth.getUser(),
                transition: '',
                nextStep: false,
            }
        },
        methods: {
            //upload function for avatar
            change(e){
                e.preventDefault();
                let img = e.target.files[0];
                var reader = new FileReader();
                reader.onload = (e) => {
                    this.imageData = e.target.result;
                };
                reader.readAsDataURL(img);
                this.image = img;
            },
            //buttons logic
            changePass(){
                this.transition = 'flip-right';
                ModalAnimationCoordinator.setNextAppearAnimation('flip-right');
                ModalStepCoordinator.setNextStep();
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.push({name: this.getChangePass, params: {type: 'change-pass'}}), 200);
                });
            },
            confirmChanges(){
                if(this.editedDesc === null){
                    this.editedDesc = this.user.description
                }
                var formData = new FormData();
                formData.append('image',  this.image);
                formData.append('name', this.user.name);
                formData.append('surname', this.user.surname);
                formData.append('description', this.editedDesc);

                User.patch(this.user.id, formData);
                this.transition = 'slide';
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.push({name: this.parent}), 200);
                });
            },
            //modal logic
            update(val){
                this.editedDesc = val.target.innerText;
            },
            close(val){
                this.transition = val;
            },
            hide() {
                this.$modal.hide('user-settings');
            },
            show() {
                this.$modal.show('user-settings');
            }
        },
        created() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'user-settings')
                {
                    this.transition = ModalAnimationCoordinator.getNextAppearAnimation();
                    this.modalName = eventData.type;
                    Vue.nextTick(this.show);
                }
                else {
                    this.hide();
                }
            });
        }
    }
</script>
<style lang="scss" scoped>
    .modal-user-settings {
        .modal-container {
            .modal-step {
                .header {
                    padding: 0 20px;
                    position: relative;
                    .md-card-header {
                        padding: 20px 0;
                        .img-box {
                            margin-right: 16px;
                            float: left;
                            .md-avatar {
                                position: relative;
                                bottom: auto;
                                box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
                                border-radius: 100%;
                                overflow: hidden;
                                .avatar-name {
                                    display: inline-block;
                                    font-weight: 700;
                                    color: #ffffff;
                                    font-size: 30px;
                                    line-height: 64px;
                                    text-shadow: 0 0 6px rgba(0,0,0,0.9);
                                    text-transform: uppercase;
                                }
                                .upload {
                                    cursor: pointer;
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    opacity: 0;
                                }
                            }
                        }
                        .text-box {
                            text-align: left;
                            padding: 10px 0 0 75px;

                            .md-subhead {
                                input {
                                    font-size: 12px;
                                    line-height: 16px;
                                    cursor: pointer;
                                    border: 1px solid transparent;
                                    transition: all .2s;

                                    &:focus {
                                        outline: none;
                                        border-color: #ebebeb;
                                        box-shadow: 0 0 5px rgba(0,0,0,.3);
                                    }
                                }
                            }
                            .edit {
                                display: block;
                                height: 20px;
                                font-size: 12px;
                                line-height: 20px;
                                color: #000000;
                                width: 90%;
                                padding: 5px 10px;
                                border: 1px solid #97b228;

                                &:focus {
                                    outline: none
                                }
                            }
                        }
                    }
                    .errors-box {
                        clear: both;
                        font-size: 12px;
                        line-height: 20px;
                    }
                }
                .body {
                    padding: 10px 20px;
                    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
                    .md-input-container .md-count {
                        line-height: 20px;
                    }

                    .md-button {
                        padding: 0 5px;
                    }
                }
            }
        }
    }
    @media all and(max-width: 320px) {
        .modal-user-settings {
            .modal-container {
                .modal-step {
                    .header {
                        .text-box {
                            padding-top: 0;

                            .md-title {
                                font-size: 16px;
                                line-height: 20px;
                            }
                            .md-subhead {
                                padding-top: 5px;
                                font-size: 12px;
                                line-height: 14px;
                            }
                        }
                    }
                    .body {
                        .md-input-container {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
</style>