<template>
    <modal name="share" :adaptive="true" :draggable="false" :pivotX="0.5" :reset="true" :pivotY="0"
           :transition="transition" :clickToClose='false' height="auto" :scrollable="true"
           :width="modalWidth" class="modal-share">
        <div class="modal-container">
            <div class="modal-step">
                <div class="modal-header">
                    <img :src="(item.image)?item.image:startImage" alt="" v-if="item && item.image">
                    <avatar :image="user.image" :avatarName="user.avatarName"></avatar>
                </div>
                <div class="modal-body">
                    <div class="modal-header-title">{{user.displayName}}</div>
                    <div v-if="backendError" class="md-error">{{backendError}}</div>
                    <!--message component-->
                    <message @message:change="messageChange"></message>
                    <!--credits count component-->
                    <credits-counter :shareAction="shareAction" @change:credits="creditsAmount"
                                     :item="item" @change="creditsCount">
                    </credits-counter>
                </div>
            </div>
            <div class="btn-box">
                <md-layout>
                    <md-layout>
                        <md-button @click="goBack()">back</md-button>
                    </md-layout>
                    <md-layout>
                        <md-button :disabled="spin" @click="confirmShare()">
                            <md-spinner md-indeterminate v-if="spin" :md-size="10"></md-spinner>
                            Confirm Share
                        </md-button>
                    </md-layout>
                </md-layout>
                <!--close button component-->
                <close-button @close="close" :parent="parent" :modalName="modalName" :closeRoute="closeRoute"></close-button>
            </div>
        </div>
    </modal>
</template>
<script>
    import Avatar from './modal-parts/avatar.vue';
    import Message from './modal-parts/message.vue';
    import Product from '../../../models/ProductModel';
    import Project from '../../../models/ProjectModel';
    import EventBus from '../../../../../services/EventBus';
    import BackButton from './modal-buttons/back-button.vue';
    import FixedCounter from '../counters/fixed-counter.vue';
    import RangeCounter from '../counters/range-counter.vue';
    import CloseButton from './modal-buttons/close-button.vue';
    import CreditsCounter from '../counters/credits-counter.vue';
    import ModalStepCoordinator from './services/modal-step-coordinator';
    import CloseButtonCoordinator from './services/close-button-coordinator';
    import ModalAnimationCoordinator from '../../../../../services/ModalAnimationCoordinator';
    export default {
        components: {
            CreditsCounter,
            FixedCounter,
            RangeCounter,
            CloseButton,
            BackButton,
            Message,
            Avatar
        },
        data() {
            return {
                closeRoute: null,
                entityFlag: '',
                startImage: 'storage/products/default',
                shareAction: true,
                message:'',
                modalName: '',
                user: {},
                item: {},
                count: 5,
                spin: false,
                transition: '',
                backendError: '',
                nextStep: false,
                credits: 5,
                entity: null,
                modelsMap: {
                    'projects': Project,
                    'products': Product
                }
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            },
            parent() {
                return this.$route.matched[this.$route.matched.length - 2].name;
            },
        },
        methods: {
            confirmShare(){
                this.spin = true;
                let route =
                    (CloseButtonCoordinator.getRoute()) ? {path: CloseButtonCoordinator.getRoute()} : {name: this.parent};
                this.modelsMap[this.entity]
                    .share(this.user.id, this.item.id, this.credits, this.message, this.entityFlag)
                    .then(()=>{
                        this.transition = 'slide';
                        ModalAnimationCoordinator.resetAppearAnimation();
                        ModalStepCoordinator.resetStep();
                        Vue.nextTick(() => {
                            this.hide();
                            setTimeout(() => this.$router.push(route), 200);
                            CloseButtonCoordinator.resetRoute()
                        });
                    }, (x)=>{
                        this.spin = false;
                        this.backendError = x
                    });
            },
            goBack(){
                this.transition = 'slide-right';
                ModalAnimationCoordinator.setNextAppearAnimation('slide-right');
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.go(-1), 200);
                });
            },
            messageChange(val){
                this.message = val;
            },
            creditsCount(val){
                this.count = val;
            },
            creditsAmount(val){
                this.credits = val;
            },
            //modal function
            back(val){
                this.transition = val;
            },
            hide () {
                this.$modal.hide('share');
            },
            show() {
                this.$modal.show('share');
            },
            close(val){
                this.transition = val;
            },
        },
        created() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'share'){
                    this.transition = ModalAnimationCoordinator.getNextAppearAnimation();
                    this.nextStep = ModalStepCoordinator.getNextStep();
                    this.closeRoute = CloseButtonCoordinator.getRoute();
                    this.modalName = eventData.type;
                    if(this.$route.params.entity === "users" && this.$route.params.sortEntity !== "users"){
                        this.entityFlag = this.$route.params.entity;
                        this.user = eventData.entity;
                        this.item = eventData.sortEntity;
                        this.entity = this.$route.params.sortEntity;
                        this.user.displayName = `${this.user.name} ${this.user.surname}`;
                        this.user.avatarName = `${this.user.name.charAt(0)}${this.user.surname.charAt(0)}`;
                    }
                    if(this.$route.params.entity !== "users" && this.$route.params.sortEntity === "users"){
                        this.entityFlag = this.$route.params.entity;
                        this.item = eventData.entity;
                        this.user = eventData.sortEntity;
                        this.entity = this.$route.params.entity;
                        this.user.displayName = `${this.user.name} ${this.user.surname}`;
                        this.user.avatarName = `${this.user.name.charAt(0)}${this.user.surname.charAt(0)}`;
                    }
                    Vue.nextTick(this.show);
                }
                else
                    this.hide();
            });
        }
    }
</script>

<style lang="scss">
    .modal-share {
        .modal-container {
                .modal-header {
                    max-height: 94px;
                    padding: 0;
                    position: relative;
                    border-bottom: none;
                    -webkit-border-radius: 10px 10px 0 0;
                    -moz-border-radius: 10px 10px 0 0;
                    border-radius: 10px 10px 0 0;

                    & > img {
                        width: 100%;
                        height: 100px;
                        display: block;
                        -webkit-border-radius: 10px 10px 0 0;
                        -moz-border-radius: 10px 10px 0 0;
                        border-radius: 10px 10px 0 0;
                    }
                }
                .modal-body {
                    position: relative;
                    background: #f1f1f1;
                    padding: 40px 0 30px;
                    box-shadow: inset 0 5px 20px rgba(75, 75, 75, 0.5);
                    .modal-header-title {
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 800;
                        text-transform: uppercase;
                    }
                }
            }
    }
</style>