<template>
    <modal name="invite" :adaptive="true" :draggable="false" :pivotX="0.5" :reset="true" :pivotY="0"
           :transition="transition" :clickToClose='false' height="auto" :scrollable="true"
           :width="modalWidth" class="modal-invite">
        <div class="modal-container">
            <div class="modal-step">
                <div class="modal-header">
                    <img :src="(item.image)?item.image:startImage" alt="" v-if="item && item.image">
                </div>
                <div class="modal-body">
                    <form>
                        <!--you cant change user email-->
                        <md-input-container md-theme="green"
                                            :class="{'md-input-invalid': backendError || errors.has('email')}">
                            <label>Type Email</label>
                            <md-input v-validate="'required|email'" v-model="email"
                                      name="email" type="text">
                            </md-input>
                            <span v-show="errors.has('email')" class="md-error">
                                <strong>{{ errors.first('email')}}</strong>
                            </span>
                            <br>
                        </md-input-container>
                    </form>
                    <!--message component-->
                    <span v-show="backendError" class="md-error">
                        <strong>{{ backendError }}</strong>
                    </span>
                    <message @message:change="messageChange"></message>
                    <!--credits count component-->
                    <credits-counter :shareAction="shareAction" :item="item" @change:credits="creditsCount"></credits-counter>
                </div>
            </div>
            <div class="btn-box">
                <md-layout>
                    <md-layout>
                        <md-button @click="goBack()">back</md-button>
                    </md-layout>
                    <md-layout>
                        <md-button :disabled="!validate() || spin" @click="confirmShare()">
                            <md-spinner md-indeterminate v-if="spin" :md-size="10"></md-spinner>
                            Confirm {{action}}
                        </md-button>
                    </md-layout>
                </md-layout>
                <!--close button component-->
                <close-button @close="close" :parent="parent" :modalName="modalName"></close-button>
            </div>
        </div>
    </modal>
</template>
<script>
    import Message from './modal-parts/message.vue';
    import Invite from '../../../models/InviteModel';
    import ErrorsComponent from '../../../../Errors';
    import EventBus from '../../../../../services/EventBus';
    import BackButton from './modal-buttons/back-button.vue';
    import FixedCounter from '../counters/fixed-counter.vue';
    import RangeCounter from '../counters/range-counter.vue';
    import CloseButton from './modal-buttons/close-button.vue';
    import CreditsCounter from '../counters/credits-counter.vue';
    import ModalStepCoordinator from './services/modal-step-coordinator';
    import ModalAnimationCoordinator from '../../../../../services/ModalAnimationCoordinator';
    export default {
        components: {
            CreditsCounter,
            FixedCounter,
            RangeCounter,
            CloseButton,
            BackButton,
            Message
        },
        data() {
            return {
                startImage: 'storage/products/default.jpg',
                action: null,
                email: null,
                shareAction: true,
                message:'',
                modalName: '',
                item: {},
                count: 5,
                transition: '',
                backendError: '',
                nextStep: false,
                spin: false,
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            },
            parent() {
                return this.$route.matched[this.$route.matched.length - 2].name;
            }
        },
        methods: {
            confirmShare(){
                this.spin = true;
                Invite[`${this.entity}Invite`]({
                    id: this.item.id,
                    amount: this.count,
                    message: this.message,
                    email: this.email
                }).then(()=>{
                        this.transition = 'slide';
                        ModalAnimationCoordinator.resetAppearAnimation();
                        ModalStepCoordinator.resetStep();
                        Vue.nextTick(() => {
                            this.hide();
                            setTimeout(() => this.$router.push({name: this.parent}), 200);
                        });
                    }, (x)=>{
                        console.log(x);
                        if(x.status === 500) {
                            Vue.nextTick(() => {
                                this.$router.push(`${ErrorsComponent.config().redirectPath}/500`)
                            });
                        }
                        this.backendError = x.data;
                        this.spin = false;
                    });
            },
            validate(){
                return !(
                    this.$validator.errors.any()
                    || !this.email
                    || this.backendError
                )
            },
            goBack(){
                this.transition = 'slide-right';
                ModalAnimationCoordinator.setNextAppearAnimation('slide-right');
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.go(-1), 200);
                });
            },
            messageChange(val){
                this.message = val;
            },
            creditsCount(val){
                this.count = val;
            },
            //modal function
            back(val){
                this.transition = val;
            },
            hide () {
                this.$modal.hide('invite');
            },
            show() {
                this.$modal.show('invite');
            },
            close(val){
                this.transition = val;
            },
        },
        created() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'invite'){
                    this.transition = ModalAnimationCoordinator.getNextAppearAnimation();
                    this.nextStep = ModalStepCoordinator.getNextStep();
                    this.modalName = eventData.type;
                    this.item = eventData.item;
                    this.entity = eventData.entity;
                    this.action = eventData.action;

                    Vue.nextTick(this.show);
                }
                else
                    this.hide();
            });
        },
        watch: {
            email() {
                Vue.set(this, 'backendError')
            },
            count(){
                Vue.set(this, 'backendError')
            }
        },
    }
</script>

<style lang="scss">
    .modal-invite {
        .modal-container {
            .modal-header {
                max-height: 94px;
                padding: 0;
                position: relative;
                overflow: hidden;
                -webkit-border-radius: 10px 10px 0 0;
                -moz-border-radius: 10px 10px 0 0;
                border-radius: 10px 10px 0 0;
                border-bottom: none;

                img {
                    height: 100px;
                    width: 100%;
                    display: block;
                }
            }
            .modal-body {
                position: relative;
                background: #f1f1f1;
                padding: 10px 0;
                box-shadow: inset 0 5px 5px rgba(75, 75, 75, 0.5);
                .md-input-container {
                    margin-top: 0;
                    &.md-input-invalid .md-error {
                        padding-top: 0;
                    }
                }
                .message .md-input-container {
                    min-height: 100px;
                }
                form {
                    padding: 0 20px;
                    .md-input-container {
                        &:not(:last-child){
                            margin-bottom: 5px;
                        }
                        &:not(:first-child){
                            margin-top: 0;
                        }
                        .md-count {
                            line-height: 20px;
                        }
                    }

                }
            }
        }
    }
</style>