<template>
    <modal name="buy-credits" :adaptive="true" :draggable="false" :transition="transition"
           :pivotX="0.5" :reset="true" :pivotY="0" :clickToClose='false' height="auto"
           :scrollable="true" :width="modalWidth" class="modal-buy-credits">
        <div class="lock" v-if="spin"></div>
        <div class="modal-container">
            <logo src="logo-1x.png"></logo>
            <div class="modal-step">
                <div class="header">
                    <div class="header-title">
                        <div class="balance">Your current balance is {{ balance }}cr</div>
                        <div class="sub-balance">Worth &pound;{{ currencyBalance }}</div>
                    </div>
                    <div class="header-description">
                        <md-input-container md-theme="green"
                                            :class="{'md-input-invalid': backendErrors.email || errors.has('email')}">
                            <label>Paypal Email address</label>
                            <md-input type="email" v-validate="'required|email'" name="email" v-model="email">
                            </md-input>
                            <span v-show="backendErrors.email" class="md-error">
                                <strong>{{backendErrors.email}}</strong>
                            </span>
                            <span v-show="errors.has('email')" class="md-error">
                                <strong>{{ errors.first('email') }}</strong>
                            </span>
                        </md-input-container>
                        <md-input-container>
                            <div class="label-title">Denomination</div>
                            <div class="label-left label">GBR</div>
                            <!--component md-switch-->
                            <switch-balance @change="changeVal"></switch-balance>
                            <div class="label-right label">USD</div>
                        </md-input-container>
                    </div>
                </div>
                <div class="body">
                    <!--component counter-->
                    <counter @change="counter" @changeCurrency="currencyValue" @change:credits="creditsChanged"
                             :checkedCurrency="checkedCurrency" :curOne="curOne" :curTwo="curTwo">
                    </counter>
                </div>
            </div>
            <div class="btn-box">
                <md-layout>
                    <!--back button component-->
                    <back-button :parent="parent" @back="back"
                                 :modalName="modalName" :nextStep="nextStep">
                    </back-button>
                    <md-layout>
                        <md-button :disabled="!validate() || spin" @click="buy()">
                            <md-spinner md-indeterminate v-if="spin" :md-size="10"></md-spinner>
                            Buy {{ credits }} Credits
                            (
                            <i>{{ currency }}</i>
                            <span v-if="checkedCurrency">{{ currencyOne }}</span>
                            <span v-else>{{ currencyTwo }}</span>
                            )
                        </md-button>
                    </md-layout>
                </md-layout>
                <!--close button component-->
                <close-button @close="close" :parent="parent" :modalName="modalName"></close-button>
            </div>
        </div>
    </modal>
</template>

<script>
    import Logo from '../../../../Logo.vue';
    import User from '../../../models/UserModel';
    import Auth from '../../../../../services/auth';
    import ErrorsComponent from '../../../../Errors';
    import Counter from '../counters/credits-counter.vue';
    import EventBus from '../../../../../services/EventBus';
    import BackButton from './modal-buttons/back-button.vue';
    import SwitchBalance from '../balance/switch-balance.vue';
    import CloseButton from './modal-buttons/close-button.vue';
    import ModalStepCoordinator from './services/modal-step-coordinator';
    import ModalAnimationCoordinator from '../../../../../services/ModalAnimationCoordinator';

    export default {
        components: {
            Logo,
            Counter,
            BackButton,
            CloseButton,
            SwitchBalance,
        },
        data() {
            return {
                user: null,
                modalName: '',
                balance: {},
                credits: 5,
                multiCounter: false,
                checkedCurrency: false,
                currencyOne: unescape('%u' + '0024'),
                currencyTwo: unescape('%u' + '00A3'),
                curOne: 0.013,
                curTwo: 0.01,
                currency: 0.05,
                transition: '',
                nextStep: false,
                email: null,
                backendErrors: {},
                spin: false,
                buyingCredits: 5,
                spinner: false,
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            },
            parent() {
                return this.$route.matched[this.$route.matched.length - 2].name;
            },
            currencyBalance(){
                return this.balance / 100;
            }
        },
        methods: {
            buy(){
                this.spin = true;
                User.buyCredits(this.email, this.buyingCredits)
                    .then((res)=>{
                        this.transition = 'slide';
                        ModalAnimationCoordinator.resetAppearAnimation();
                        ModalStepCoordinator.resetStep();
                        Vue.nextTick(() => {
                            this.hide();
                            this.spin = false;
                            this.spinner = true;
                            setTimeout(() => window.location.href = res, 200);
                        });

                    }, (x)=>{
                        if(x = '500') this.$router.push(`${ErrorsComponent.config().redirectPath}/500`);
                        console.log(x);
                        this.$set(this, 'backendErrors',  x);
                    });
            },
            validate() {
                return !(
                    this.$validator.errors.any()
                    || !this.email
                    || this.backendErrors.email
                )
            },
            initUserBalance(){
                User.getBalance().then(balance => {
                    this.balance = balance;
                }, x => {console.log(x)});
            },
            //listen counter value
            counter(val){
                return this.credits = val;
            },
            //listen currency value from credits counter
            currencyValue(val){
                return this.currency = val;
            },
            //change currency value in button "buy credits"
            changeVal(val){
                return this.checkedCurrency = val
            },
            creditsChanged(val){
                return this.buyingCredits = val
            },
            //methods for popup
            //click on back button
            back(val){
                this.transition = val;
            },
            close(val){
                this.transition = val;
            },
            hide () {
                this.$modal.hide('buy-credits');
            },
            show() {
                this.$modal.show('buy-credits');
            }
        },
        created() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'buy-credits'){
                    this.user = Auth.getUser();
                    (this.user.paypal) ? this.email = this.user.paypal : this.email = this.user.email;
                    this.modalName = eventData.type;
                    this.nextStep = ModalStepCoordinator.getNextStep();
                    this.transition = ModalAnimationCoordinator.getNextAppearAnimation();
                    Vue.nextTick(this.show);
                }
                else
                    this.hide();
            });
            this.initUserBalance();
        },
        watch: {
            spinner(val){
                this.$emit('activate:spinner', val)
            }
        }
    }
</script>

<style lang="scss">
    .modal-buy-credits {
        position: relative;
        .lock {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            z-index: 999;
        }
        .modal-container {
            z-index: 99;
            .logo {
                padding-top: 40px;
            }
            .header {
                padding: 0 30px 20px;
                .header-title {
                    padding-bottom: 10px;

                    .balance {
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 800;
                    }
                    .sub-balance {
                        font-size: 13px;
                        line-height: 16px;
                        font-weight: 300;
                    }
                }
                .header-description {
                    .md-theme-green.md-input-container.md-input-focused:after {
                        background-color: #97b228;
                    }
                    .md-input-container input {
                        height: 36px;
                    }
                    .md-theme-green.md-input-container.md-input-focused input {
                        color: #97b228;
                        height: 36px;
                    }
                    .label-title,
                    .md-input-container.md-input-focused label,
                    .md-input-container.md-has-value label {
                        font-size: 9px;
                        font-weight: 800;
                        line-height: 12px;
                        text-transform: uppercase;
                        color: #000;
                        position: absolute;
                        top: 7px;
                        left: 0;
                    }
                    .label {
                        display: inline-flex;
                        line-height: 24px;
                        font-size: 14px;
                        color: #000;
                    }
                    .md-input-container.md-has-value input {
                        height: 36px;
                    }
                }
            }
            .body {
                position: relative;
                background: #f1f1f1;
                padding: 20px 0;
                box-shadow: inset 0 0 10px rgba(0,0,0,.3);
            }
        }
    }
    @media all and(max-width: 320px) {
        .modal-buy-credits {
            .modal-container {
                .header {
                    .header-title {
                        padding-bottom: 0;
                    }
                    .header-description{
                        .md-input-container:last-child {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
</style>