<template>
    <modal name="invite-sorting-list" :adaptive="true" :draggable="false" :transition="transition"
           :pivotX="0.5" :reset="true" :pivotY="0" :clickToClose='false' height="auto"
           :scrollable="true" :width="modalWidth" class="modal-invite-sorting-list">
        <div class="modal-container">
            <div class="modal-step">
                <div class="modal-header">
                    <!--<little-icon-button :icon="'/pictures/icon_create.svg'" :btnText="`Create ${entity}`"-->
                                        <!--v-if="entity !== 'users'" @button:click="createItem()">-->
                    <!--</little-icon-button>-->
                    <little-icon-button :icon="'/pictures/icon_search.svg'" :btnText="'Search'"
                                        @button:click="filterBtn()">
                    </little-icon-button>
                    <little-icon-button :icon="'/pictures/icon_filter.svg'" :btnText="`Share ${switchName}`"
                                        v-if="listType || (entity !== 'users')" @button:click="toggleEntity()">
                    </little-icon-button>
                </div>
                <!--filter-list-container component-->
                <filter-list-container :items="items" :search="search" :entity="entity" :entityItem="entityItem"
                                       :limitCount="count" :count="count" :action="'invite'" :query="query"
                                       :limit="limit" @item:click="getIdItem">
                </filter-list-container>

            </div>
            <div class="btn-box">
                <md-layout>
                    <md-layout v-if="!listType">
                        <md-button @click="goBack()">back</md-button>
                    </md-layout>
                    <md-layout>
                        <md-button :disabled="!activeId" @click="openInvitePopup()">Invite</md-button>
                    </md-layout>
                </md-layout>
                <!--close button component-->
                <close-button @close="close" :parent="parent" :modalName="modalName"></close-button>
            </div>

        </div>
    </modal>
</template>

<script>
    import EventBus from '../../../../../services/EventBus';
    import CloseButton from './modal-buttons/close-button.vue';
    import LittleIconButton from '../buttons/little-icon-button.vue';
    import ModalStepCoordinator from './services/modal-step-coordinator';
    import FilterListContainer from './modal-parts/filter-list-container.vue';
    import ModalAnimationCoordinator from '../../../../../services/ModalAnimationCoordinator';

    export default {
        components: {
            CloseButton,
            LittleIconButton,
            FilterListContainer
        },
        data() {
            return {
                query: '',
                limit: '',
                activeId: null,
                entity: null,
                modalName: '',
                items:[],
                transition: '',
                search: false,
                nextStep: false,
                listType: null,
                entityItem: null,
                containerHeight: null,
                headerHeight: null,
                count: null,
            }
        },
        computed: {
            switchName(){
                if(this.entity === 'products'){
                    return 'projects';
                }
                if(this.entity === 'projects'){
                    return 'products';
                }
            },
            cHeaders(){
                if(!this.nonShare) return this.entity + 'Headers';
                if(this.nonShare) return `${this.entity}ValueHeaders`;
            },
            inviteRouteName(){
                return `${this.parent}InviteActionComponent`
            },
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 20;
            },
            parent() {
                return this.$route.matched[1].name;
            },
        },
        methods: {
            openInvitePopup(){
                this.transition = 'slide';
                ModalAnimationCoordinator.setNextAppearAnimation('slide');
                ModalStepCoordinator.setNextStep();
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.push({
                        name: 'homeInviteActionComponent',
                        params: {
                            entity: this.entity,
                            id: this.activeId,
                            action: 'invite'
                        }
                    }), 200);
                });
            },
            toggleEntity(){
                this.$router.push({
                    name: `${this.parent}InviteSorting`,
                    params: {entity: this.switchName}
                })
            },
            createItem(){
                this.$router.push({
                    name: `${this.parent}Create`,
                    params:{
                        entity: this.entity,
                        action: 'create',
                        step: 1
                    }
                })
            },
            //----------------------------------------------
            getIdItem(val){
                return this.activeId = val;
            },
            filterItems(val){
                this.searchQuery = val;
            },
            filterBtn(){
                EventBus.$on('filter:close', event => {
                    this.search = event;
                });
                this.search ^= 1;
            },
            //-----------------------------------------
            init(eventData){
                this.transition = ModalAnimationCoordinator.getNextAppearAnimation();
                this.nextStep = ModalStepCoordinator.getNextStep();
                this.modalName = eventData.type;
                this.listType = eventData.shareType;
                this.items = eventData.items;
                this.entity = this.$route.params.entity;
                this.query = this.$route.params.query;
                this.count = eventData.count;
                this.limit = this.$route.params.limit;
                this.items.map((i) => {
                    i.displayName = i.title ? i.title : `${i.name} ${i.surname}`;
                    return i
                });
            },
            goBack(){
                this.transition = 'slide-right';
                ModalAnimationCoordinator.setNextAppearAnimation('slide-right');
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.go(-1), 200);
                });
            },
            close(val){
                this.transition = val;
            },
            hide () {
                this.$modal.hide('invite-sorting-list');
            },
            show() {
                this.$modal.show('invite-sorting-list');
            },
        },
        mounted() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'invite-sorting-list'){
                    this.init(eventData);
                    Vue.nextTick(this.show);
                }
                else
                    this.hide();
            });
        },
    }
</script>

<style lang="scss">
    .modal-invite-sorting-list {
        .modal-container {
            text-align: left;
            //header modal box styles
            .modal-header {
                padding: 20px 15px 10px;
                border: 0;
                text-align: left;
            }
            //body modal box styles
            .modal-body {
                background: #fff !important;
                padding: 0 20px;
                .filter {
                    position: absolute;
                    bottom: 10px;
                }
            }
            //buttons modal box styles
            .btn-box {
                .md-layout {
                    .md-button {
                        width: 100%;
                        margin: 0;
                        font-size: 11px;
                        font-weight: 600;
                        padding: 5px 0;
                        line-height: 20px;
                        min-height: 46px;
                    }
                }
            }
        }
    }
</style>