<template>
    <modal name="non-offered" :adaptive="true" :draggable="false" :transition="transition"
           :pivotX="0.5" :reset="true" :pivotY="0" :clickToClose='false' height="auto"
           :scrollable="true" :width="modalWidth" class="modal-non-offered">
        <div class="modal-container">
            <div class="modal-step">
                <div class="modal-header">
                    <avatar :image="user.image" :avatarName="user.avatarName"></avatar>
                    <div class="header-title">{{user.fullName}}</div>
                    <div class="description">
                        <p>{{user.description}}</p>
                        <div class="btn-container">
                            <!--<a href="#">Graph</a>-->
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="modal-body-content">
                        <!--quotes-message-->
                        <quotes-message v-if="item.message" :message="item.message"></quotes-message>

                        <div class="shadow" v-if="item.message"></div>

                        <div class="info">
                            <span v-if="(item.type === 'thank') || item.type === 'projectThank'">
                                {{user.name}} has thanked
                                <span class="chips black-bg">{{(item.value)?item.value:0}}</span>
                                <span v-if="item.type === 'projectThank'">
                                    for <b>{{item.card && item.card.title}}</b>
                                </span>.
                            </span>
                            <span v-if="item.type === 'productLike' || item.type === 'projectHappy'">
                                {{user.name}} has valued this
                                <span class="chips black-bg">{{(item.value)?item.value:0}}</span>.
                            </span>

                            You have received
                            <span class="chips black-bg">
                                {{ (item.shareToAuthUser)?item.shareToAuthUser:0 }}cr
                            </span> and shared
                            <span class="chips black-bg">
                                {{ (item.shareFromAuthUser)?item.shareFromAuthUser:0 }}cr
                            </span> with {{user.fullName}}
                        </div>

                        <div class="info" v-if="item.creator">
                            You have valued your card
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <md-layout v-if="notificationType === 'incoming'">
                    <md-layout>
                        <md-button :disabled="item.creator" @click="callPopupThank()">thank</md-button>
                    </md-layout>
                    <md-layout>
                        <md-button :disabled="item.creator" @click="callPopupListShare()">share</md-button>
                    </md-layout>
                </md-layout>
                <!--close button component-->
                <close-button @close="close" :parent="parent" :modalName="modalName"></close-button>
            </div>
        </div>
    </modal>
</template>
<script>
    import Avatar from './modal-parts/avatar.vue';
    import User from '../../../models/UserModel';
    import Auth from '../../../../../services/auth';
    import Counter from '../counters/thank-counter.vue';
    import EventBus from '../../../../../services/EventBus';
    import CloseButton from './modal-buttons/close-button.vue';
    import QuotesMessage from './modal-parts/quotes-message.vue';
    import ModalStepCoordinator from './services/modal-step-coordinator';
    import ModalAnimationCoordinator from '../../../../../services/ModalAnimationCoordinator';
    export default {
        components: {
            QuotesMessage,
            CloseButton,
            Counter,
            Avatar
        },
        data() {
            return {
                modalName:'',
                user: {},
                transition: '',
                nextStep: false,
                item: {},
                entity: null,
                notificationType: null,
                actions: {
                    thank: 'thank',
                    share: 'share',
                    listShare: 'usership'
                },
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            },
            parent() {
                return this.$route.matched[this.$route.matched.length - 2].name;
            },
            actionName(){
                return `${this.parent}EntityAction`;
            },
            sortingName(){
                return `${this.parent}ShareSorting`;
            }
        },
        methods: {
            callRoute(transition, params){
                this.transition = transition;
                ModalAnimationCoordinator.setNextAppearAnimation(transition);
                ModalStepCoordinator.setNextStep();
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.push(params), 200)
                });
            },
            callPopupThank(){
                let transition = 'flip-left';
                let params;
                if(this.entity === 'projects') {
                    params = {
                        name: 'incomingNotificationProjectThank',
                        params:{
                            id: this.user.id,
                            entity: 'users',
                            sortEntity: this.entity,
                            action: 'thank',
                            projectId: this.item && this.item.card_id
                        }
                    }
                }
                if(this.entity === 'products'){
                    params = {
                        name: this.actionName,
                        params:{
                            id: this.user.id,
                            entity: 'users',
                            action: 'thank',
                        }
                    };
                }
                this.callRoute(transition, params);
            },
            callPopupListShare(){
                let transition = 'flip-right';
                let params = {
                    name: this.sortingName,
                    params:{
                        id: this.user.id,
                        entity: 'users',
                        action: 'share-sorting-list',
                        sortEntity: 'products',
                        limit: 50,
                    }
                };
                this.callRoute(transition, params);
            },
            close(val){
                this.transition = val;
            },
            show() {
                this.$modal.show('non-offered');
            },
            hide(){
                this.$modal.hide('non-offered');
            },
        },
        created() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'non-offered') {
                    this.transition = ModalAnimationCoordinator.getNextAppearAnimation();
                    this.nextStep = ModalStepCoordinator.getNextStep();
                    this.modalName = eventData.type;
                    this.user = eventData.data.user;
                    this.item = eventData.data;
                    this.item.creator = this.user.id === Auth.getUser().id;
                    this.item.shortMessage =
                        (this.item.message && this.item.message.length > 100)
                            ? this.item.message.substr(0, 100) + ' ... read more' : this.item.message;
                    this.entity = eventData.entity;
                    this.notificationType = eventData.notificationType;
                    this.user.fullName = `${this.user.name} ${this.user.surname}`;
                    this.user.avatarName = `${this.user.name.charAt(0)}${this.user.surname.charAt(0)}`;
                    Vue.nextTick(this.show);
                }
                else
                    this.hide();
            });
        },
    }
</script>
<style lang="scss">
    .modal-non-offered {
        .modal-container {
            .modal-header {
                padding: 40px 0 20px;
                position: relative;
                text-align: center;
                margin: 0 auto;

                .md-avatar {
                    position: relative !important;
                    bottom: auto !important;
                    top: auto !important;
                }

                .header-title {
                    margin-top: 10px;
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 800;
                    text-transform: uppercase;
                }
                .description {
                    font-size: 13px;
                    line-height: 16px;
                    font-weight: 400;
                    p {
                        margin: 15px 0 0;
                    }
                    .btn-container {
                        a {
                            font-size: 11px;
                            line-height: 14px;
                            text-transform: uppercase;
                            font-weight: 600;
                            display: inline-block;
                            color: #000;
                            margin-top: 10px;
                            border-bottom: 1px solid #2b2b2b;
                            transition: all .2s;
                            &:hover {
                                border-bottom-color: transparent;
                            }
                        }
                    }
                }
            }
            .modal-body {
                position: relative;
                background: #f1f1f1;
                padding: 30px 20px 30px;

                .modal-body-content {
                    padding: 0 20px;

                    .shadow {
                        position: relative;
                        text-transform: uppercase;
                        display: block;
                        -webkit-box-shadow: 0 0 15px 10px #efefef;
                        -moz-box-shadow: 0 0 15px 10px #efefef;
                        box-shadow: 0 0 15px 10px #efefef;
                    }
                    .info {
                        margin-top: 20px;
                        font-size: 13px;
                        line-height: 26px;
                    }
                }
            }
        }
    }
    @media all and(max-width: 320px) {
        .modal-non-offered {
            .modal-container {
                .body {
                    padding-bottom: 10px;
                }
            }
        }
    }
</style>