<template>
    <modal name="usership" :adaptive="true" :draggable="false" :transition="transition"
           :pivotX="0.5" :reset="true" :pivotY="0" :clickToClose='false' height="auto"
           :scrollable="true" :width="modalWidth" class="modal-usership">
        <div class="modal-container">
            <div class="modal-step">
                <div class="modal-header">
                    <little-icon-button :icon="'/pictures/icon_search.svg'" :btnText="'Search'"
                                        @button:click="filterBtn()">
                    </little-icon-button>
                </div>
                <!--filter-list-container component-->
                <filter-list-container :nonShare="nonShare" :items="items" :search="search" :id="id" :query="query"
                                       :action="'usership'" :entity="entity" :entityItem="entityItem" :limit="limit"
                                       :limitCount="length" :count="length" @open:entity:modal="openEntityModal">
                </filter-list-container>
            </div>
            <div class="btn-box">
                <md-layout>
                    <md-layout>
                        <md-button @click="goBack()">back</md-button>
                    </md-layout>
                </md-layout>
                <!--close button component-->
                <close-button @close="close" :parent="parent" :modalName="modalName" :closeRoute="closeRoute"></close-button>
            </div>

        </div>
    </modal>
</template>

<script>
    import EventBus from '../../../../../services/EventBus';
    import CloseButton from './modal-buttons/close-button.vue';
    import LittleIconButton from '../buttons/little-icon-button.vue';
    import ModalStepCoordinator from './services/modal-step-coordinator';
    import BackButtonCoordinator from './services/back-button-coordinator';
    import CloseButtonCoordinator from './services/close-button-coordinator';
    import FilterListContainer from './modal-parts/filter-list-container.vue';
    import ModalAnimationCoordinator from '../../../../../services/ModalAnimationCoordinator';

    export default {
        components: {
            CloseButton,
            LittleIconButton,
            FilterListContainer
        },
        data() {
            return {
                projectId:null,
                closeRoute:null,
                id: null,
                entityItem: null,
                entity: null,
                modalName: '',
                items:[],
                transition: '',
                search: false,
                nextStep: false,
                nonShare: null,
                containerHeight: null,
                headerHeight: null,
                spin: false,
                limit: null,
                query: null,
                length: null,
                filtersItemSelect: [
                    {
                        "or": true,
                        "filters": []
                    }
                ],
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 20;
            },
            parent() {
                return this.$route.matched[1].name;
            },
        },
        methods: {
            openEntityModal(id){
                this.transition = 'slide';
                ModalAnimationCoordinator.setNextAppearAnimation('slide');
                ModalStepCoordinator.setNextStep();
                BackButtonCoordinator.setNextStep();
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.push({
                        name: `${this.parent}Entity`,
                        params: {
                            entity: this.entity,
                            id: id,
                            projectId: this.projectId
                        }
                    }), 200);
                });
            },
            //--------------------filters and toggles-------------------------------------
            filterItems(val){
                this.searchQuery = val;
            },
            filterBtn(){
                EventBus.$on('filter:close', event => {
                    this.search = event;
                });
                this.search ^= 1;
            },
            //--------------------init method on mounted ------------------------------------
            init(eventData){
                this.transition = ModalAnimationCoordinator.getNextAppearAnimation();
                this.nextStep = ModalStepCoordinator.getNextStep();
                this.modalName = eventData.type;
                this.closeRoute = CloseButtonCoordinator.getRoute();
                if(eventData.nonShare){
                    this.id = eventData.id;
                    this.nonShare = eventData.nonShare;
                    this.items = eventData.data.users;
                    this.entity = 'users';
                    this.length = eventData.data.count;
                    this.query = this.$route.params.query;
                    this.limit = this.$route.params.limit;
                    if(this.$route.params.entity === 'projects') this.projectId = this.$route.params.id;
                    this.entityItem = eventData.entity;
                    this.items.map((a)=>{
                        a.displayName = (a.title) ? a.title : `${a.name} ${a.surname}`;
                        a.shortComment =
                            (a.lastComment.length > 100)
                                ? a.lastComment.substr(0, 100) + ' ... read more'
                                : a.lastComment;
                        return a;
                    });
                }
                Vue.nextTick(this.show);
            },
            //--------------------------------------------------------------------
            goBack(){
                this.transition = 'slide-right';
                ModalAnimationCoordinator.resetAppearAnimation();
                ModalStepCoordinator.resetStep();
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.go(-1), 200);
                });
            },
            close(val){
                this.transition = val;
            },
            hide () {
                this.$modal.hide('usership');
            },
            show() {
                this.$modal.show('usership');
            },
        },
        mounted() {
            EventBus.$on('modal:show',  (eventData) => {
                (eventData.type === 'usership') ? setTimeout(()=>{this.init(eventData);}) : this.hide();
            });
        },
    }
</script>

<style lang="scss">
    .modal-usership {
        .modal-container {
            text-align: left;
            //header modal box styles
            .modal-header {
                padding: 20px 15px 10px;
                border: 0;
                text-align: left;
            }
            //buttons modal box styles
            .btn-box {
                .md-layout {
                    .md-button {
                        width: 100%;
                        margin: 0;
                        font-size: 11px;
                        font-weight: 600;
                        padding: 5px 0;
                        line-height: 20px;
                        min-height: 46px;
                    }
                }
            }
        }
    }
</style>