<template>
    <modal name="user" :adaptive="true" :draggable="false" :transition="transition"
           :pivotX="0.5" :reset="true" :pivotY="0" :clickToClose='false' height="auto"
           :scrollable="true" :width="modalWidth" class="modal-people">
        <div class="modal-container">
            <div class="modal-step">
                <div class="header">
                    <md-avatar class="md-avatar-icon md-large">
                        <img v-if="item.image" :src="item.image" alt="people">
                        <span v-if="!item.image">{{item.avatarName}}</span>
                    </md-avatar>
                    <div class="header-title">{{ fullName }}</div>
                    <div class="description">
                        <p>{{ item.description }}</p>
                    </div>
                    <!--<div class="btn-container">-->
                        <!--<a href="#" @click.prevent="showGraph = !showGraph">graph</a>-->
                    <!--</div>-->
                </div>

                <!--<gift-graph :style="{'height': (showGraph) ? '300px' : '0'}"></gift-graph>-->

                <div class="body">
                    <div class="body-description" v-if="!authUser">
                        <p>You have thanked <b>{{ item.name }}</b>
                            <span v-if="!project">
                                for total of <span class="chips black-bg">{{ item.thanks }}</span> for everything!
                            </span>
                            <span v-if="project">
                                <span class="chips black-bg">
                                    {{ (item.project_thanks) ? item.project_thanks : '0' }}
                                </span>
                                for <b>{{project.title}}</b>
                            </span>
                        </p>
                        <p>You have received <span class="chips black-bg">{{item.shareToAuthUser}}cr</span> and</p>
                        <p>shared <span class="chips black-bg">{{item.shareFromAuthUser}}cr</span>
                            with {{ item.name }}</p>
                    </div>
                    <div class="body-description" v-if="authUser">
                        <p>It's your own card</p>
                    </div>
                </div>
            </div>

            <div class="btn-box">
                <md-layout>
                    <!--back button component-->
                    <back-button v-if="backBtn" :parent="parent" :backBtn="backBtn"
                                 @back="back" :modalName="modalName" :nextStep="nextStep">
                    </back-button>
                    <md-layout>
                        <md-button :disabled="creator" @click="callPopupThank()">{{ actions.thank }}</md-button>
                    </md-layout>
                    <md-layout>
                        <md-button :disabled="creator" @click="callPopupListShare()">
                            {{ actions.share }}
                        </md-button>
                    </md-layout>
                </md-layout>
                <!--close button component-->
                <close-button @close="close" :parent="parent" :modalName="modalName" :closeRoute="closeRoute"></close-button>
            </div>
        </div>
    </modal>
</template>

<script>

    import Auth from '../../../../../services/auth';
    import User from '../../../models/UserModel';
    // import GiftGraph from '../graph/gift-graph.vue';
    import Project from '../../../models/ProjectModel';
    import EventBus from '../../../../../services/EventBus';
    import BackButton from './modal-buttons/back-button.vue';
    import CloseButton from './modal-buttons/close-button.vue';
    import ModalStepCoordinator from './services/modal-step-coordinator';
    import BackButtonCoordinator from './services/back-button-coordinator';
    import CloseButtonCoordinator from './services/close-button-coordinator';
    import ModalAnimationCoordinator from '../../../../../services/ModalAnimationCoordinator';

    export default {
        components:{CloseButton, BackButton},
        data() {
            return {
                projectId: null,
                authUser: null,
                closeRoute:null,
                name: 'name',
                showGraph: false,
                backBtn: null,
                modalName: '',
                actions: {
                    thank: 'thank',
                    share: 'share',
                    listShare: 'share-sorting-list'
                },
                item: {},
                transition: '',
                thanks: '',
                nextStep: false,
                project: null,
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            },
            fullName(){
                return `${this.item.name} ${this.item.surname}`;
            },
            parent() {
                return this.$route.matched[1].name;
            },
            actionName(){
                if(this.$route.name === 'incomingNotificationEntity') return `${this.parent}EntityAction`;
                return `${this.parent}Action`;
            },
            sortingName(){
                return `${this.parent}ShareSorting`;
            },
            entity(){
                return this.$route.params.entity;
            },
            creator(){
                return this.item.id === Auth.getUser().id;
            }
        },
        methods: {
            callRoute(transition, params){
                this.transition = transition;
                ModalAnimationCoordinator.setNextAppearAnimation(transition);
                ModalStepCoordinator.setNextStep();
                BackButtonCoordinator.resetStep();
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.push(params), 200);
                });
            },
            callPopupThank(){
                let transition = 'flip-left';
                let params;
                if(this.projectId){
                    params = {
                        name: `${this.parent}ProjectThank`,
                        params:{
                            id: this.item.id,
                            sortEntity: 'projects',
                            action: this.actions.thank,
                            projectId: this.projectId,
                        }
                    };
                }
                if(!this.projectId){
                    params = {
                        name: this.actionName,
                        params:{
                            id: this.item.id,
                            entity: this.entity,
                            action: this.actions.thank
                        }
                    };
                }
                this.callRoute(transition,params);
            },
            callPopupListShare(){
                let transition = 'flip-right';
                let params = {
                    name: this.sortingName,
                    params:{
                        id: this.item.id,
                        entity: this.entity,
                        action: this.actions.listShare,
                        sortEntity: 'products',
                        limit: 50,
                    }
                };
                this.callRoute(transition,params);
            },
            fetchProject(id){
                Project.findById(id).then((project)=>{
                    this.project = project
                })
            },
            back(val){
                BackButtonCoordinator.resetStep();
                this.transition = val;
            },
            close(val){
                BackButtonCoordinator.resetStep();
                this.transition = val;
            },
            hide(){
                this.$modal.hide('user');
            },
            show() {
                this.$modal.show('user');
            },
        },
        mounted() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'user'){
                    this.backBtn = BackButtonCoordinator.getNextStep();
                    this.transition = ModalAnimationCoordinator.getNextAppearAnimation();
                    this.nextStep = ModalStepCoordinator.getNextStep();
                    this.closeRoute = CloseButtonCoordinator.getRoute();
                    this.modalName = eventData.type;
                    this.item = eventData.data;
                    this.projectId = eventData.projectId;
                    if(this.projectId) this.fetchProject(this.projectId);
                    this.authUser = this.$route.params.id === Auth.getUser().id;
                    this.item.avatarName = `${this.item.name.charAt(0)}${this.item.surname.charAt(0)}`;
                    Vue.nextTick(this.show);
                }
                else
                    this.hide();
            });
        }
    }
</script>
<style lang="scss">
    .modal-people {
        .modal-container {
            .header {
                padding: 40px 30px 20px;

                .md-avatar-icon {
                    width: 70px;
                    min-width: 70px;
                    height: 70px;
                    min-height: 70px;
                    overflow: visible;
                    text-align: center;
                    box-shadow: 0 0 15px 5px rgba(0,0,0,.2);
                    img {
                        border-radius: 100%;
                    }
                    span {
                        display: inline-block;
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 70px;
                        color: #ffffff;
                        text-shadow: 0 0 6px rgba(0,0,0,0.9);
                        text-transform: uppercase;
                    }
                }
                .header-title {
                    padding: 20px 0 10px;
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 800;
                    text-transform: uppercase;
                }
                .description {
                    font-size: 13px;
                    line-height: 16px;
                    font-weight: 400;
                    p {
                        margin: 0;
                    }
                    .md-button {
                        font-size: 11px;
                        line-height: 20px;
                        text-transform: uppercase;
                        font-weight: 600;
                        text-decoration: underline;
                        margin: 6px 0;
                    }
                }
                .btn-container {
                    padding-top: 20px;
                    position: relative;
                    a {
                        font-size: 11px;
                        line-height: 14px;
                        text-transform: uppercase;
                        font-weight: 600;
                        text-decoration: underline;
                        color: #000;
                    }
                }
            }
            .body {
                position: relative;
                background: #f1f1f1;
                box-shadow: inset 0 0 5px rgba(0,0,0,.2);
                .body-description {
                    font-size: 13px;
                    line-height: 26px;
                    padding: 20px 35px;
                    p {
                        margin: 0;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    @media all and(max-width: 320px) {
        .modal-people {
            .modal-container {
                .header {
                    .md-avatar.md-avatar-icon {
                        margin-top: 40px;
                    }
                }
                .body {
                    padding: 20px 0;
                }
            }
        }
    }
</style>