<template>
    <modal name="change-pass" :adaptive="true" :draggable="false" :transition="transition"
           :pivotX="0.5" :reset="true" :pivotY="0" :clickToClose='false' height="auto"
           :scrollable="true" :width="modalWidth" class="modal-change-pass">
        <div class="modal-container">
            <!--content parts-->
            <div class="modal-step">
                <!--header-->
                <div class="header">
                    <md-card-header>
                        <md-avatar class="md-avatar-icon md-large">
                            <img :src="user.image" alt="people">
                        </md-avatar>
                        <div class="text-box">
                            <div class="md-title">{{ fullName }}</div>
                            <div class="md-subhead">{{user.description}}</div>
                        </div>
                    </md-card-header>
                </div>
                <!--body-->
                <div class="body">
                    <form >
                        <form novalidate>
                            <!--old password-->
                            <md-input-container md-theme="green" md-has-password
                                :class="{'md-input-invalid': backendErrors || errors.has('old_password')}">
                                <label class="input-label md-body-1">Old password</label>
                                <md-input v-validate="'required'" name="old_password"
                                          type="password" v-model="oldPassword">
                                </md-input>
                                <span v-show="backendErrors" class="md-error">
                                    <strong>{{backendErrors}}</strong>
                                </span>
                                <span v-show="errors.has('old_password')" class="md-error">
                                    <strong>{{ errors.first('old_password') }}</strong>
                                </span>
                            </md-input-container>
                            <!--new password-->
                            <md-input-container md-theme="green" md-has-password
                                    :class="{'md-input-invalid': errors.has('password') || (match = oldNotMatchNew)}">
                                <label class="input-label md-body-1">New password</label>
                                <md-input v-validate="'required'" name="password"
                                          type="password" v-model="newPassword">
                                </md-input>
                                <span v-show="errors.has('password') || (match = oldNotMatchNew)" class="md-error">
                                    <strong>{{ errors.first('password') }}</strong>
                                    <strong v-show="match = oldNotMatchNew">{{ messageError }}</strong>
                                </span>
                            </md-input-container>
                            <!--confirm password-->
                            <md-input-container md-theme="green" md-has-password
                                    :class="{'md-input-invalid': errors.has('password_confirmation')}">
                                <label class="input-label md-body-1">Confirm Password</label>
                                <md-input v-validate="'required|confirmed:password'" v-model="passwordConfirmation"
                                          data-vv-name="password_confirmation" type="password" data-vv-as="password">
                                </md-input>
                                <span v-show="errors.has('password_confirmation')" class="md-error">
                                    <strong>{{ errors.first('password_confirmation') }}</strong>
                                </span>
                            </md-input-container>
                        </form>
                    </form>
                </div>
                <!--buttons-->
                <div class="btn-box">
                    <md-layout>
                        <md-layout>
                            <md-button :disabled="!validate()" @click="submit()">Confirm</md-button>
                        </md-layout>
                        <md-layout>
                            <md-button @click="userSettings()">Change Name</md-button>
                        </md-layout>
                    </md-layout>
                    <!--close button component-->
                    <close-button @close="close" :parent="parent" :modalName="modalName"></close-button>
                </div>
            </div>

        </div>
    </modal>
</template>

<script>
    import User from '../../../models/UserModel';
    import Auth from '../../../../../services/auth';
    import EventBus from '../../../../../services/EventBus';
    import BackButton from './modal-buttons/back-button.vue';
    import CloseButton from './modal-buttons/close-button.vue';
    import ModalStepCoordinator from './services/modal-step-coordinator';
    import ModalAnimationCoordinator from '../../../../../services/ModalAnimationCoordinator';

    export default {
        components:{CloseButton, BackButton},
        data() {
            return {
                modalName: '',
                user: Auth.getUser(),
                email: '',
                oldPassword: '',
                newPassword: '',
                passwordConfirmation: '',
                transition: '',
                backendErrors: '',
                messageError: 'Old and new password must not be the same',
                nextStep: false,
            }
        },
        computed: {
            fullName(){
                return `${this.user.name} ${this.user.surname}`
            },
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            },
            parent() {
                return this.$route.matched[this.$route.matched.length - 2].name;
            },
            getModalBack(){
                return `${this.parent}UserInformation`
            },
            oldNotMatchNew() {
                return this.oldPassword === this.newPassword
            }
        },
        methods: {
            logout() {
                Auth.logout();
            },
            submit() {
                if (!this.validate()) return;
                User.changePass(this.oldPassword, this.newPassword).then(()=>{
                    this.transition = 'slide';
                    Vue.nextTick(() => {
                        this.logout();
                        this.hide();
                        setTimeout(() => this.$router.push({name: this.parent}), 200);
                    });
                }, (x)=>{
                    this.$set(this, 'backendErrors',  x);
                });
            },
            validate() {
                return !(
                    this.$validator.errors.any()
                    || !this.oldPassword
                    || !this.newPassword
                    || !this.passwordConfirmation
                    || this.backendErrors
                )
            },
            userSettings(){
                this.transition = 'flip-right';
                ModalAnimationCoordinator.setNextAppearAnimation('flip-right');
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.push({name: this.getModalBack, params:{type: 'user-settings'}}), 200);
                });
            },
            //----------------------
            close(val){
                this.transition = val;
            },
            hide() {
                this.$modal.hide('change-pass');
            },
            show() {
                this.$modal.show('change-pass');
            },
        },
        created() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'change-pass')
                {
                    this.transition = ModalAnimationCoordinator.getNextAppearAnimation();
                    this.nextStep = ModalStepCoordinator.getNextStep();
                    this.modalName = eventData.type;
                    Vue.nextTick(this.show);
                }
                else {
                    this.hide();
                }
            });
        },
    }
</script>

<style lang="scss">
    .modal-change-pass {
        .modal-container {
            .modal-step {
                .header {
                    padding: 0 20px;
                    .md-card-header {
                        padding: 20px 0;
                        .md-avatar {
                            margin-right: 16px;
                            float: left;
                        }
                        .text-box {
                            text-align: left;
                            padding-top: 10px;
                            .md-subhead {
                                font-size: 12px;
                                line-height: 16px;
                            }
                        }
                    }
                }
                .body {
                    padding: 10px 20px;
                    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
                    .md-input-container .md-count {
                        line-height: 20px;
                    }
                    .md-error {
                        padding-top: 0;
                    }
                    .md-button {
                        padding: 0 5px;
                    }
                }

            }
        }
    }
    @media all and(max-width: 320px) {
        .modal-user-settings {
            .modal-container {
                .modal-step {
                    .header {
                        .text-box {
                            padding-top: 0;

                            .md-title {
                                font-size: 16px;
                                line-height: 20px;
                            }
                            .md-subhead {
                                padding-top: 5px;
                                font-size: 12px;
                                line-height: 14px;
                            }
                        }
                    }
                    .body {
                        .md-input-container {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
</style>