<template>
    <modal name="thank" :adaptive="true" :draggable="false" :transition="transition"
           :pivotX="0.5" :reset="true" :pivotY="0" :clickToClose='false' height="auto"
           :scrollable="true" :width="modalWidth" class="modal-thank">
        <div class="modal-container">
            <div class="modal-step">
                <div class="thank-header">
                    <img :src="project.image" alt="" v-if="project && project.image">
                    <avatar :image="user.image" :avatarName="user.avatarName"></avatar>
                </div>
                <div class="body">
                    <div class="header-title">{{user.fullName}}</div>
                    <div class="description">
                        <p>You've thanked
                            <span class="chips black-bg">
                                {{(projectId) ? ((user.project_thanks)?user.project_thanks:'0') : user.thanks}}
                            </span>
                            <span v-if="!projectId">for everything</span>
                        </p>
                        <span v-if="projectId">for <b>{{project.title}}</b></span>
                    </div>
                    <span v-show="backendErrors" class="md-error">
                        <strong>{{backendErrors}}</strong>
                    </span>
                    <!--message component-->
                    <message :disabled="creator" @message:change="messageChange"></message>
                    <!--thank counter-->
                    <counter :disabled="creator" @change="thanksCount" :lastThank="user.lastThank"></counter>
                </div>
            </div>
            <div class="btn-box">
                <md-layout>
                    <!--back button component-->
                    <back-button :parent="parent" @back="back"
                                 :modalName="modalName" :nextStep="nextStep">
                    </back-button>
                    <md-layout v-if="!projectId">
                        <md-button @click="filterByProject()" :disabled="creator">
                            projects
                        </md-button>
                    </md-layout>
                    <md-layout>
                        <md-button :disabled="creator" @click="addThanks(projectId)">
                            Confirm Thanks
                        </md-button>
                    </md-layout>
                </md-layout>
                <!--close button component-->
                <close-button @close="close" :parent="parent" :modalName="modalName" :closeRoute="closeRoute"></close-button>
            </div>
        </div>
    </modal>
</template>
<script>
    import User from '../../../models/UserModel';
    import Avatar from './modal-parts/avatar.vue';
    import Auth from '../../../../../services/auth';
    import Message from './modal-parts/message.vue';
    import Counter from '../counters/thank-counter.vue';
    import EventBus from '../../../../../services/EventBus';
    import BackButton from './modal-buttons/back-button.vue';
    import CloseButton from './modal-buttons/close-button.vue';
    import ModalStepCoordinator from './services/modal-step-coordinator';
    import CloseButtonCoordinator from './services/close-button-coordinator';
    import ModalAnimationCoordinator from '../../../../../services/ModalAnimationCoordinator';
    export default {
        components: {
            Avatar,
            Message,
            Counter,
            BackButton,
            CloseButton,
        },
        data() {
            return {
                creator: null,
                closeRoute:null,
                projectId: null,
                thank: null,
                entity: null,
                modalName:'',
                user: {},
                project: {},
                count: 5,
                transition: 'slide',
                thanksMessage: '',
                backendErrors: '',
                nextStep: false,
                notificationAction: false,
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            },
            parent() {
                return this.$route.matched[1].name;
            },
            authUserId(){
                return Auth.getUser().id
            },
            calcThanks(){
                return this.count + this.user.thanks;
            }
        },
        methods: {
            filterByProject(){
                var notificationsParams = {
                    id: this.user.id,
                    type: 'incoming',
                    action: 'projects-thank-sorting-list',
                    limit: 50,
                };
                var params = {
                    id: this.user.id,
                    entity: this.entity,
                    action: 'projects-thank-sorting-list',
                    limit: 50,
                };
                this.transition = 'slide';
                ModalAnimationCoordinator.setNextAppearAnimation('slide');
                ModalStepCoordinator.setNextStep();
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.push({
                        name: `${this.parent}ActionMore`,
                        params: (this.notificationAction) ? notificationsParams : params
                    }), 200);
                });
            },
            addThanks(projectId){
                if(projectId) {
                    User.thanksByProject(this.authUserId, this.user.id, this.count, this.thanksMessage, this.projectId)
                        .then(()=>{
                            this.transition = 'slide';
                            ModalAnimationCoordinator.resetAppearAnimation();
                            ModalStepCoordinator.resetStep();
                            Vue.nextTick(() => {
                                this.hide();
                                setTimeout(() => this.$router.push({
                                    path: this.closeRoute,
                                }), 200);
                            });
                        }, (x)=>{
                            this.backendErrors = 'WOW! Something went wrong!';
                        }
                    );
                }
                if(!projectId){
                    User.thanks(this.authUserId, this.user.id, this.count, this.thanksMessage).then(()=>{
                        this.transition = 'slide';
                        ModalAnimationCoordinator.resetAppearAnimation();
                        ModalStepCoordinator.resetStep();
                        Vue.nextTick(() => {
                            this.hide();
                            setTimeout(() => this.$router.push({path: this.closeRoute}), 200);
                        });
                    }, (x)=>{
                        this.backendErrors = 'WOW! Something went wrong!';
                    });
                }

            },
            messageChange(val){
                this.thanksMessage = val;
            },
            thanksCount(val){
                this.count = val;
            },
            back(val){
                this.transition = val;
            },
            close(val){
                this.transition = val;
            },
            show() {
                this.$modal.show('thank');
            },
            hide(){
                this.$modal.hide('thank');
            },
        },
        mounted() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'thank') {
                    this.transition = ModalAnimationCoordinator.getNextAppearAnimation();
                    this.nextStep = ModalStepCoordinator.getNextStep();
                    if(this.$route.name === 'incomingNotificationEntityAction')
                        this.notificationAction = true;
                    this.modalName = eventData.type;
                    this.user = eventData.data;
                    if(this.user) this.user.fullName = `${this.user.name} ${this.user.surname}` ;
                    if(this.user) this.creator = this.authUserId === this.user.id;
                    this.project = eventData.project;
                    this.entity = eventData.entity;
                    this.thank = eventData.thank;
                    this.closeRoute = CloseButtonCoordinator.getRoute();
                    this.projectId = eventData.projectId;
                    this.user.avatarName = `${this.user.name.charAt(0)}${this.user.surname.charAt(0)}`;
                    Vue.nextTick(this.show);
                }
                else
                    this.hide();
            });
        },
        watch: {
            // calcThanks(val){
            //     EventBus.$emit('changeThanks', {val, id: this.targetUserId});
            // }
        }
    }
</script>
<style lang="scss">
    .modal-thank {
        .modal-container {
                .thank-header {
                    min-height: 60px;
                    position: relative;
                    & > img {
                        width: 100%;
                        max-height: 100px;
                        -webkit-border-radius: 10px 10px 0 0;
                        -moz-border-radius: 10px 10px 0 0;
                        border-radius: 10px 10px 0 0;
                    }
                }
                .body {
                    position: relative;
                    background: #f1f1f1;
                    padding: 60px 0 30px;
                    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
                    .header-title {
                        font-size: 20px;
                        font-weight: 800;
                        text-transform: uppercase;
                    }
                    .description {
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 20px;
                        p {
                            margin: 15px 0 0;

                            b {
                                font-size: 13px;
                                font-weight: 800;
                            }
                        }
                    }
                }
            }
    }
    @media all and(max-width: 320px) {
        .modal-thank {
            .modal-container {
                .body {
                    padding-bottom: 10px;
                }
            }
        }
    }
</style>