<template>
    <modal name="notifications-settings" :adaptive="true" :draggable="false" :transition="transition"
           :pivotX="0.5" :reset="true" :pivotY="0" :clickToClose='false' height="auto" :scrollable="true"
           :width="modalWidth" class="modal-notifications-settings">
        <div class="modal-container">

            <div class="modal-step">
                <div class="header">
                    <div class="md-subhead">{{type}}</div>
                    <div class="md-title">Notifications</div>
                </div>

                <!--email-step-->
                <email-step v-show="type === 'email'" :settings="settings"></email-step>
                <!--incoming-step-->
                <incoming-step v-show="type === 'incoming'" :settings="settings"></incoming-step>
                <!--outgoing-step-->
                <outgoing-step v-if="type === 'outgoing'"></outgoing-step>
            </div>

            <!--modal button box-->
            <div class="btn-box">
                <md-layout>
                    <!--back button component-->
                    <back-button :parent="parent" @back="back" v-if="type !== 'email'"
                                 :modalName="modalName" :nextStep="nextStep">
                    </back-button>
                    <md-layout>
                        <md-button @click.prevent="confirm()">confirm</md-button>
                    </md-layout>
                    <md-layout v-if="type !== 'incoming'">
                        <md-button @click.prevent="next()">next</md-button>
                    </md-layout>
                </md-layout>
                <!--close button component-->
                <close-button @close="close" :parent="parent" :modalName="modalName"></close-button>
            </div>
        </div>
    </modal>
</template>

<script>
    import Auth from '../../../../../services/auth';
    import EventBus from '../../../../../services/EventBus';
    import BackButton from './modal-buttons/back-button.vue';
    import CloseButton from './modal-buttons/close-button.vue';
    import EmailStep from './notification-steps/email-step.vue';
    import Notification from '../../../models/NotificationModel';
    import IncomingStep from './notification-steps/incoming-step.vue';
    import OutgoingStep from './notification-steps/outgoing-step.vue';
    import ModalStepCoordinator from './services/modal-step-coordinator';
    import NotificationsSettingsService from './services/notifications-settings-service';
    import ModalAnimationCoordinator from '../../../../../services/ModalAnimationCoordinator';

    export default {
        components:{CloseButton, EmailStep, IncomingStep, OutgoingStep, BackButton},
        data() {
            return {
                transition: null,
                modalName: null,
                type: null,
                settings: null,
                nextStep: null,
                settingsMap: ['sharePushType', 'shareStatisticType', 'archiveActivityType', 'activityStatisticType',
                    'thanksStatus', 'productLikesStatus', 'projectHappyStatus', 'productSupportStatus',
                    'projectSupportStatus', 'thanksRemove', 'productLikesRemove', 'projectHappyRemove',
                    'productSupportRemove', 'projectSupportRemove',
                ],
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            },
            parent() {
                return this.$route.matched[this.$route.matched.length - 2].name;
            },
        },
        methods: {
            confirm(){
                var formData = new FormData();
                var newSettings = NotificationsSettingsService.getSettings();

                this.settingsMap.forEach((formProp) => {
                    if(newSettings[formProp]){
                        formData.append(formProp, newSettings[formProp]);
                    }
                });
                Notification.changeSettings(formData)
                    .then(()=>{
                        this.transition = 'slide';
//                        NotificationsSettingsService.resetSettings();
                        ModalAnimationCoordinator.resetAppearAnimation();
                        ModalStepCoordinator.resetStep();
                        Vue.nextTick(() => {
                            this.hide();
                            setTimeout(() => this.$router.push({name: this.parent}), 200);
                        });
                    }, (x)=>{
                        console.log(x)
                    }
                );
            },
            next(){
                this.transition = 'slide';
                ModalStepCoordinator.setNextStep();
                ModalAnimationCoordinator.setNextAppearAnimation(this.transition);
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.push({params:{type:'notifications-settings',action: 'incoming'}}), 200)
                });
            },
            close(val){
                this.transition = val;
                NotificationsSettingsService.resetSettings();
            },
            back(val){
                this.transition = val;
            },
            hide () {
                this.$modal.hide('notifications-settings');
            },
            show() {
                this.$modal.show('notifications-settings');
            }
        },
        mounted() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'notifications-settings'){
                    this.modalName = eventData.type;
                    this.type = eventData.action;
                    if(!this.settings){
                        if(!NotificationsSettingsService.getSettings())
                            NotificationsSettingsService.setSettings(eventData.data);
                        this.settings = eventData.data;
                    }
                    this.nextStep = ModalStepCoordinator.getNextStep();
                    this.transition = ModalAnimationCoordinator.getNextAppearAnimation();
                    Vue.nextTick(this.show);
                }
                else
                    this.hide();
            });
        }
    }
</script>

<style lang="scss">
    .modal-notifications-settings {
        .modal-step {
            padding: 20px 20px 40px;

            .header {
                padding: 20px 0;
                .md-subhead, .md-title {
                    font-size: 13px;
                    font-weight: 900;
                    line-height: 16px;
                    color: #000000;
                    text-transform: uppercase;
                }
                .md-title {
                    font-size: 22px;
                    line-height: 22px;
                }
            }
        }
    }
</style>