<template>
    <modal name="add-items-sorting-list" :adaptive="true" :draggable="false" :transition="transition"
           :pivotX="0.5" :reset="true" :pivotY="0" :clickToClose='false' height="auto"
           :scrollable="true" :width="modalWidth" class="modal-add-items-sorting-list">
        <div class="modal-container">
            <pre>{{parent}}</pre>
            <div class="modal-step">
                <div class="modal-header">
                    <md-layout md-align="start">
                        <little-icon-button :icon="'/pictures/icon_search.svg'" :btnText="'Search'"
                                            @button:click="filterBtn()">
                        </little-icon-button>
                    </md-layout>
                </div>
                <!--filter-list-container component-->
                <filter-list-container :items="items" :spin="spin" :search="search" :entity="sortEntity" :id="id"
                                       :action="actionMap[sortEntity]" :count="count" :filterCount="filterCount"
                                       :multiCheck="multiCheck" :limitCount="limitCount" :limit="limit"
                                       @has:items="hasItems" @item:click="getIdItem">
                </filter-list-container>
            </div>
            <div class="btn-box">
                <md-layout>
                    <md-layout>
                        <md-button @click="goBack()">back</md-button>
                    </md-layout>
                    <md-layout>
                        <md-button :disabled="!(activeId || hasOwners)" @click="actions()">
                            add to author
                        </md-button>
                    </md-layout>
                </md-layout>
                <!--close button component-->
                <close-button @close="close" :parent="parent" :modalName="modalName"></close-button>
            </div>

        </div>
    </modal>
</template>

<script>
    import Project from '../../../models/ProjectModel';
    import SearchFilter from '../filter/search-filter.vue';
    import EventBus from '../../../../../services/EventBus';
    import CloseButton from './modal-buttons/close-button.vue';
    import LittleIconButton from '../buttons/little-icon-button.vue';
    import ModalStepCoordinator from './services/modal-step-coordinator';
    import FilterListContainer from './modal-parts/filter-list-container.vue';
    import ModalAnimationCoordinator from '../../../../../services/ModalAnimationCoordinator';

    export default {
        components: {CloseButton, SearchFilter, LittleIconButton, FilterListContainer},
        data() {
            return {
                nextStep: null,
                activeId: null,
                entity: null,
                modalName: '',
                items:[],
                transition: '',
                search: false,
                containerHeight: null,
                headerHeight: null,
                sortEntity: null,
                spin: false,
                count: null,
                filterCount: null,
                limitCount: null,
                id: null,
                limit: null,
                hasOwners: false,
                itemIds:null,
                actionMap:{
                    users: 'possibleOwners',
                    projects: 'possibleProjects'
                },
                addActionMap:{
                    users: 'addOwners',
                    projects: 'addProjectAsAuthor'
                },
                authorStatusMap: {
                    users: 'people',
                    projects: 'project'
                }
            }
        },
        computed: {
            multiCheck(){
                return this.sortEntity === 'users';
            },
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 20;
            },
            parent() {
                return this.$route.matched[1].name;
            }
        },
        methods: {
            hasItems(val){
                this.hasOwners = val.hasItems;
                this.itemIds = val.itemIds;
            },
            actions(){
                this.transition = 'slide-right';
                ModalAnimationCoordinator.setNextAppearAnimation('slide-right');
                Project[this.addActionMap[this.sortEntity]]
                    (this.id, (this.activeId || this.itemIds), this.authorStatusMap[this.sortEntity]).then(()=>{
                        Vue.nextTick(() => {
                            this.hide();
                            setTimeout(() => this.$router.push({name: `${this.parent}Edit`, params: {step: 2, action: 'edit'}}), 200)
                        });
                })
            },

            //-----------------------------------------------
            getIdItem(val){
                return this.activeId = val;
            },
            filterBtn(){
                EventBus.$on('filter:close', event => {
                    this.search = event;
                });
                this.search ^= 1;
            },
            //------------------------------------------------------
            init(eventData){
                this.transition = ModalAnimationCoordinator.getNextAppearAnimation();
                this.nextStep = ModalStepCoordinator.getNextStep();
                this.modalName = eventData.type;
                this.items = eventData.items;
                this.count = eventData.count;
                this.entity = eventData.entity;
                this.sortEntity = eventData.sortEntity;
                this.filterCount = eventData.filterCount;
                this.limitCount = eventData.limitCount;
                this.limit = eventData.limit;
                this.id = eventData.id;
                this.items.map((i) => {
                    i.displayName = i.title ? i.title : `${i.name} ${i.surname}`;
                    return i
                });
            },
            //------------------------------------------------------
            goBack(){
                this.transition = 'slide-right';
                ModalAnimationCoordinator.setNextAppearAnimation('slide-right');
                ModalStepCoordinator.setNextStep();
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.go(-1), 200);
                });
            },
            close(val){
                this.transition = val;
            },
            hide () {
                this.$modal.hide('add-items-sorting-list');
            },
            show() {
                this.$modal.show('add-items-sorting-list');
            },
        },
        mounted() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'add-items-sorting-list'){
                    this.init(eventData);
                    Vue.nextTick(this.show);
                }
                else
                    this.hide();
            });
        },
    }
</script>

<style lang="scss" scoped>
    .modal-add-items-sorting-list {
        .modal-container {
            text-align: left;
            //header modal box styles
            .modal-header {
                padding: 20px 15px 10px !important;
                border: 0;
                text-align: left;

                .little-icon-button {
                    display: inline-block;
                }
            }
            //body modal box styles
            .modal-body {
                background: #fff !important;
                padding: 0 20px 20px;
                .filter {
                    position: absolute;
                    bottom: 10px;
                }
            }
            //buttons modal box styles
            .btn-box {
                .md-layout {
                    .md-button {
                        width: 100%;
                        margin: 0;
                        font-size: 11px;
                        font-weight: 600;
                        padding: 5px 0;
                        line-height: 20px;
                        min-height: 46px;
                    }
                }
            }
        }
    }
</style>