<template>
    <modal name="balance" :adaptive="true" :draggable="false" :transition="transition"
           :pivotX="0.5" :reset="true" :pivotY="0" :clickToClose='false' height="auto"
           :scrollable="true" :width="modalWidth" class="modal-balance">

        <div class="modal-container">

            <logo src="logo-1x.png"></logo>

            <div class="modal-step">
                <div class="header">
                    <div class="header-title">
                        <div class="balance">Your balance is {{ balance }}cr</div>
                        <div class="sub-balance">Worth &pound;{{ currency }}</div>
                    </div>
                    <div class="header-description">
                        <p>You can use this to share or support anything on Ecosquared</p>
                        <!--<md-button>History</md-button>-->
                        <!--<md-button>Denomination</md-button>-->
                    </div>
                </div>

                <div class="body">
                    <div class="body-description">
                        <p>
                            You have received <span class="chips black-bg">{{transactions.received}}cr</span>
                            and shared <span class="chips black-bg">{{transactions.shared}}cr</span>.
                        </p>
                        <p>
                            You have
                            <span class="chips black-bg">{{transactions.pendingToUser}}cr</span>
                            pending with offers to you, and
                            <span class="chips black-bg">{{transactions.pendingFromUser}}cr</span>
                            pending with offers to others.
                        </p>
                        <p>
                            You have bought <span class="chips black-bg">{{transactions.bought}}cr</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="btn-box">
                <md-layout>
                    <!--back button component-->
                    <back-button @back="back" :modalName="modalName"
                                 :nextStep="nextStep" :parent="parent">
                    </back-button>
                    <!--<md-layout>-->
                        <!--<md-button @click="goBuyCredits()">Buy Credits</md-button>-->
                    <!--</md-layout>-->
                </md-layout>
                <!--close button component-->
                <close-button @close="close" :parent="parent" :modalName="modalName"></close-button>
            </div>
        </div>
    </modal>
</template>

<script>
    import Logo from '../../../../Logo.vue';
    import User from '../../../models/UserModel';
    import EventBus from '../../../../../services/EventBus';
    import BackButton from './modal-buttons/back-button.vue';
    import CloseButton from './modal-buttons/close-button.vue';
    import ModalStepCoordinator from './services/modal-step-coordinator';
    import ModalAnimationCoordinator from '../../../../../services/ModalAnimationCoordinator';

    export default {
        components: {
            Logo,
            BackButton,
            CloseButton,
        },
        data() {
            return {
                balance: '',
                modalName: '',
                transition: '',
                nextStep: false,
                transactions: {},
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            },
            parent() {
                return this.$route.matched[this.$route.matched.length - 2].name;
            },
            getBuyCredits(){
                return `${this.parent}UserInformation`
            },
            currency(){
                return this.balance / 100;
            }
        },
        methods: {
            initUserBalance(){
                User.fetchBalance().then(balance => {
                    this.balance = balance;
                }, x => {console.log(x)});

            },
            initUserTransaction(){
                User.fetchTransactions().then(transactions => {
                    this.transactions = transactions;
                }, x => {console.log(x)});
            },
            goBuyCredits(){
                this.transition = 'flip-right';
                ModalAnimationCoordinator.setNextAppearAnimation('flip-right');
                ModalStepCoordinator.setNextStep();
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.push({name: this.getBuyCredits, params: {type: 'buy-credits'}}), 200);
                });
            },
            back(val){
                this.transition = val;
            },
            close(val){
                this.transition = val;
            },
            hide() {
                this.$modal.hide('balance');
            },
            show() {
                this.$modal.show('balance');
            }
        },
        mounted(){
            this.initUserTransaction();
            this.initUserBalance();
        },
        created() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'balance')
                {
                    this.transition = ModalAnimationCoordinator.getNextAppearAnimation();
                    this.modalName = eventData.type;
                    Vue.nextTick(this.show);
                }
                else {
                    this.hide();
                }
            });
        }
    }
</script>

<style lang="scss">
    .modal-balance {
        .modal-container {
            .logo {
                padding-top: 40px;
            }
            .header {
                padding: 0 30px 20px;

                .header-title {
                    padding-bottom: 10px;

                    .balance {
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 800;
                    }
                    .sub-balance {
                        font-size: 13px;
                        line-height: 16px;
                        font-weight: 300;
                    }
                }
                .header-description {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;

                    p {
                        margin: 0;
                    }

                    .md-button {
                        font-size: 11px;
                        text-transform: uppercase;
                        font-weight: 600;
                        text-decoration: underline;
                        margin: 6px 0;
                    }
                }
            }
            .body {
                position: relative;
                background: #f1f1f1;
                box-shadow: inset 0 0 10px rgba(0,0,0,.3);

                .body-description {
                    font-size: 13px;
                    line-height: 26px;
                    padding: 20px 35px;

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
</style>