<template>
    <modal name="create-edit" :adaptive="true" :draggable="false" :transition="transition"
           :pivotX="0.5" :reset="true" :pivotY="0" :clickToClose='false' height="auto" :scrollable="true"
           :width="modalWidth" class="modal-create-edit">
        <div class="modal-container">
            <div class="modal-step">
                <div class="title"><span>{{action}}</span> {{ type }}</div>

                <div class="description" v-if="type === 'products'">
                    Products are things already made you can experience. <br>
                    Use <b>"Create Projects"</b> for what you want to make or do.
                </div>
                <div class="description" v-if="type === 'projects'">
                    Projects are for what you want to make or do. <br>
                    Use <b>"Create Products"</b> for things you've already made.
                </div>
                <!--create-edit-form component-->
                <create-edit-form :action="action" :step="step" :type="type"
                                  @stepInvalid:changed="stepInvalidChanged">
                </create-edit-form>

                <div class="md-error" v-if="backendErrors">{{backendErrors}}</div>
            </div>
            <div class="btn-box">
                <md-layout>
                    <md-layout v-if="step != 1">
                        <md-button @click="prevStep(step, action)">Back</md-button>
                    </md-layout>
                    <!--create-edit-buttons component-->
                    <create-edit-buttons :action="action" :stepInvalid="stepInvalid" @submit="submit">
                    </create-edit-buttons>
                    <md-layout v-if="!(step < 1 || ((type === 'projects') ? step == 4 : step == 3))">
                        <md-button @click="nextStep(step, action)" :disabled="stepInvalid">Next</md-button>
                    </md-layout>
                </md-layout>
                <!--close button component-->
                <close-button @close="close" :parent="parent" :modalName="modalName"></close-button>
            </div>
        </div>
    </modal>
</template>

<script>
    import * as moment from 'moment';
    import Auth from '../../../../../services/auth';
    import ErrorsComponent from '../../../../Errors/';
    import Project from '../../../models/ProjectModel';
    import Product from '../../../models/ProductModel';
    import EventBus from '../../../../../services/EventBus';
    import CloseButton from './modal-buttons/close-button.vue';
    import CreateEditForm from './modal-parts/create-edit-form.vue';
    import ModalStepCoordinator from './services/modal-step-coordinator';
    import CreateEditButtons from './modal-buttons/create-edit-buttons.vue';
    import CreateEditItemService from './services/create-edit-item-service';
    import CreateItemStepCoordinator from './services/create-item-step-coordinator';
    import ModalAnimationCoordinator from '../../../../../services/ModalAnimationCoordinator';

    export default {
        components:{CloseButton, CreateEditButtons, CreateEditForm},
        data(){
            return {
                backendErrors: null,
                editedItem: null,
                action: null,
                modalName: null,
                valid: null,
                step: null,
                type: null,
                transition: null,
                stepInvalid: true,
                modelsMap: {
                    'projects': Project,
                    'products': Product
                },
                formDataMap: [
                    'title','description','link', 'authorStatus', 'author', 'image', 'creationDate', 'completionDate',
                    'type','start','end','share', 'support', 'ownershipBehaviourType', 'sQBehaviourType', 'usershipType',
                    'creditTargetType', 'basicBalanceValue', 'ownershipSQBalanceValue', 'creditTargetValue',
                ],
            }
        },
        computed:{
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 20;
            },
            parent() {
                return this.$route.matched[this.$route.matched.length - 2].name;
            },
            createRoute(){
                return `${this.parent}Create`
            },
            editRoute(){
                return `${this.parent}Edit`
            },
            test(){
                return CreateEditItemService.getItem();
            }
        },
        methods: {
            stepInvalidChanged(val){
                this.stepInvalid = val;
            },
            //prev next steps --------------------------------------------------------
            setStepUp(step){
                if(step === 1 || step <= 4) this.step = (this.step * 1) + 1;
            },
            setStepDown(step){
                if(step > 0) this.step -= 1;
            },
            nextStep(step, action){
                this.transition = 'slide';
                ModalAnimationCoordinator.setNextAppearAnimation('slide');
                Vue.nextTick(()=>{
                    this.hide();
                    setTimeout(()=>{
                        this.$router.push({name: this[`${action}Route`], params: {step: this.step}});
                    }, 200);
                    this.setStepUp(step);
                    CreateItemStepCoordinator.setValidStep(this.step);
                })
            },
            prevStep(step, action){
                this.transition = 'slide-right';
                ModalAnimationCoordinator.setNextAppearAnimation('slide-right');
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.push({name: this[`${action}Route`], params: {step: this.step}}), 200);
                    this.setStepDown(step);
                });
            },
            //submit--------------------------------------------------
            submit(type){
                this.transition = 'slide';
                ModalAnimationCoordinator.resetAppearAnimation();
                var formData = new FormData();
                var newItem = CreateEditItemService.getItem();
                this.formDataMap.forEach((formProp) => {
                    if(newItem[formProp] || (newItem[formProp] == 0)){
                        if(formProp !== 'creationDate' || formProp !== 'completionDate'){
                            formData.append(formProp, newItem[formProp]);
                        }
                        if((formProp === 'creationDate' || formProp === 'completionDate') && this.type === 'projects'){
                            formData.append(formProp, moment(newItem[formProp]).format("YYYY-MM-DD HH:mm:ss"));
                        }
                    }
                });
                //----------------------------create methods------------------------------
                if(type === 'create') this.modelsMap[this.type].store(formData).then(()=>{
                    CreateEditItemService.resetItem();
                    Vue.nextTick(() => {
                        this.hide();
                        setTimeout(() => this.$router.push({name: this.parent}), 200);
                    });
                }, (x) => {
                    this.backendErrors = x;
                });
                //----------------------------edit methods------------------------------
                if(type === 'edit') this.modelsMap[this.type].update(formData, this.editedItem.id).then(()=>{
                    CreateEditItemService.resetItem();
                    Vue.nextTick(() => {
                        this.hide();
                        setTimeout(() => this.$router.push({name: this.parent}), 200);
                    });
                }, (x) => {
                    this.backendErrors = x;
                });
            },
            //init --------------------------------------------------------
            init(data){
                this.modalName = data.type;
                this.type = data.entity;
                this.step = data.step;
                this.action = data.action;
                if(data.item && !CreateEditItemService.getItem()){
                    CreateEditItemService.setItem(data.item);
                    this.stepInvalid = false;
                }
                this.editedItem = CreateEditItemService.getItem();
                this.transition = ModalAnimationCoordinator.getNextAppearAnimation();
                Vue.nextTick(this.show);
            },
            // modal methods----------------------------------------------------
            close(val){
                CreateEditItemService.resetItem();
                this.transition = val;
            },
            hide () {
                this.$modal.hide('create-edit');
            },
            show() {
                this.$modal.show('create-edit');
            }
        },
        mounted() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'create-edit'){
                    this.init(eventData);
                }
                else
                    this.hide();
            });
        },
    }
</script>

<style lang="scss">
    .modal-create-edit {
        .modal-container {
            font-size: 12px;
            line-height: 20px;
            .modal-step {
                padding: 30px 0 10px;
                .title {
                    padding: 0 30px;
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 800;
                    color: #000000;
                    span {
                        text-transform: capitalize;
                    }
                }
                .description {
                    padding: 10px 0;
                    border-bottom: 1px solid #ebebeb;
                    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.1);
                    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.1);
                    box-shadow: 0 5px 10px rgba(0,0,0,.1);
                }
                h6 {
                    font-weight: 900;
                    font-size: 14px;
                }
                & > .btn-box {
                    box-shadow: 0 0 15px rgba(0,0,0,.3);
                }
            }
        }
    }
</style>