<template>
    <modal name="share-sorting-list" :adaptive="true" :draggable="false" :transition="transition"
           :pivotX="0.5" :reset="true" :pivotY="0" :clickToClose='false' height="auto"
           :scrollable="true" :width="modalWidth" class="modal-share-sorting-list">
        <div class="modal-container">
            <div class="modal-step">
                <div class="modal-header">
                    <little-icon-button :icon="'/pictures/icon_create.svg'" v-if="entity === 'users' && !nonShare"
                                        :btnText="'Add Person'" @button:click="inviteUser()">
                    </little-icon-button>
                    <little-icon-button :icon="'/pictures/icon_create.svg'" :btnText="`Create ${entity}`"
                                        v-if="entity !== 'users'" @button:click="createItem()">
                    </little-icon-button>
                    <md-tooltip v-show="showTooltip && !user.create_feature" md-direction="top">
                        Please buy 1000Cr to unlock feature.
                    </md-tooltip>
                    <little-icon-button :icon="'/pictures/icon_search.svg'" :btnText="'Search'"
                                        @button:click="filterBtn()">
                    </little-icon-button>
                    <little-icon-button :icon="'/pictures/icon_filter.svg'" :btnText="`Share ${switchName}`"
                                        v-if="listType || (entity !== 'users')" @button:click="toggleEntity()">
                    </little-icon-button>
                </div>
                <!--filter-list-container component-->
                <filter-list-container :nonShare="nonShare" :items="items" :spin="spin" :search="search"
                                       :entity="entity" :item="item" :action="'share'" :entityItem="entityItem"
                                       :count="count" :limitCount="limitCount"  :limit="limit" :query="query"
                                       @item:click="getIdItem">
                </filter-list-container>
            </div>
            <div class="btn-box">
                <md-layout>
                    <md-layout v-if="!listType">
                        <md-button @click="goBack()">back</md-button>
                    </md-layout>
                    <md-layout v-if="!nonShare">
                        <md-button :disabled="!activeId" @click="openSharePopup()">share</md-button>
                    </md-layout>
                </md-layout>
                <!--close button component-->
                <close-button @close="close" :parent="parent" :modalName="modalName" :closeRoute="closeRoute"></close-button>
            </div>

        </div>
    </modal>
</template>

<script>
    import Auth from '../../../../../services/auth';
    import SearchFilter from '../filter/search-filter.vue';
    import EventBus from '../../../../../services/EventBus';
    import CloseButton from './modal-buttons/close-button.vue';
    import LittleIconButton from '../buttons/little-icon-button.vue';
    import ModalStepCoordinator from './services/modal-step-coordinator';
    import CloseButtonCoordinator from './services/close-button-coordinator';
    import FilterListContainer from './modal-parts/filter-list-container.vue';
    import ModalAnimationCoordinator from '../../../../../services/ModalAnimationCoordinator';

    export default {
        components: {CloseButton, SearchFilter, LittleIconButton, FilterListContainer},
        data() {
            return {
                showTooltip: false,
                closeRoute:null,
                createCardEnabled:false,
                query: '',
                activeId: null,
                entity: null,
                modalName: '',
                items:[],
                hideColumns: true,
                item: {},
                transition: '',
                search: false,
                nextStep: false,
                listType: null,
                entityItem: null,
                nonShare: null,
                containerHeight: null,
                headerHeight: null,
                spin: false,
                count: null,
                limitCount: null,
                limit: null,
                user: Auth.getUser()
            }
        },
        computed: {
            switchName(){
                if(this.entity === 'products'){
                    return 'projects';
                }
                if(this.entity === 'projects'){
                    return 'products';
                }
            },
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 20;
            },
            parent() {
                return this.$route.matched[1].name;
            },
        },
        methods: {
            _actions(transition, params){
                this.transition = transition;
                ModalAnimationCoordinator.setNextAppearAnimation(transition);
                ModalStepCoordinator.setNextStep();
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.push(params), 200);
                });
            },
            toggleEntity(){
                this.$router.push({
                    name: `${this.parent}ShareSorting`,
                    params: {
                        id: this.item.id,
                        entity: 'users',
                        action: 'share-sorting-list',
                        sortEntity: this.switchName
                    }
                })
            },
            openSharePopup(){
                let params = {
                    name: `${this.parent}SortingAction`,
                    params: {
                        entity: this.entityItem,
                        id: this.$route.params.id,
                        action: 'share',
                        sortEntity: this.entity,
                        sortEntityId: this.activeId,
                    }
                };
                this._actions('slide', params);
            },
            createItem(){
                if(this.user.create_feature){
                    let params = {
                        name: `${this.parent}Create`,
                        params:{
                            entity: this.entity,
                            action: 'create',
                            step: 1
                        }
                    };
                    this._actions('slide', params);
                }
                if(!this.user.create_feature) {
                    this.showTooltip = !this.showTooltip
                }
            },
            inviteUser(){
                let params = {
                    name: 'homeInviteActionComponent',
                    params: {
                        entity: this.entityItem,
                        id: this.item.id,
                        action: 'invite',
                    }
                };
                this._actions('slide', params);
            },
            //------------------------------------------------------
            getIdItem(val){
                return this.activeId = val;
            },
            filterBtn(){
                EventBus.$on('filter:close', event => {
                    this.search = event;
                });
                this.search ^= 1;
            },
            //------------------------------------------------------
            init(eventData){
                this.transition = ModalAnimationCoordinator.getNextAppearAnimation();
                this.nextStep = ModalStepCoordinator.getNextStep();
                this.closeRoute = CloseButtonCoordinator.getRoute();
                this.entity = this.$route.params.sortEntity;
                this.modalName = eventData.type;
                this.entityItem = eventData.entity;
                this.item = eventData.item;
                this.items = eventData.data[this.entity];
                this.count = eventData.data.count;
                this.limitCount = eventData.data.limitCount;
                this.limit = eventData.limit;
                this.createCardEnabled = eventData.createCardEnabled;
                this.query = this.$route.params.query;
                this.items.map((a)=>{
                    a.displayName = (a.title) ? a.title : `${a.name} ${a.surname}`;
                    return a;
                })
            },
            //------------------------------------------------------
            goBack(){
                this.transition = 'slide-right';
                ModalAnimationCoordinator.setNextAppearAnimation('slide-right');
                Vue.nextTick(() => {
                    this.hide();
                    setTimeout(() => this.$router.go(-1), 200);
                });
            },
            close(val){
                this.transition = val;
            },
            hide () {
                this.$modal.hide('share-sorting-list');
            },
            show() {
                this.$modal.show('share-sorting-list');
            },
        },
        mounted() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'share-sorting-list'){
                    this.init(eventData);
                    Vue.nextTick(this.show);
                }
                else
                    this.hide();
            });
        },
    }
</script>

<style lang="scss">
    .modal-share-sorting-list {
        .modal-container {
            text-align: left;
            //header modal box styles
            .modal-header {
                padding: 20px 15px 10px;
                border: 0;
                text-align: left;
            }
            //body modal box styles
            .modal-body {
                background: #fff !important;
                padding: 0 20px 20px;
                .filter {
                    position: absolute;
                    bottom: 10px;
                }
            }
            //buttons modal box styles
            .btn-box {
                .md-layout {
                    .md-button {
                        width: 100%;
                        margin: 0;
                        font-size: 11px;
                        font-weight: 600;
                        padding: 5px 0;
                        line-height: 20px;
                        min-height: 46px;
                    }
                }
            }
        }
    }
</style>