<template>
    <div class="credits-counter">
        <md-radio v-model="radio" md-value="10" name="multiplier">x10</md-radio>
        <md-radio v-model="radio" md-value="100" name="multiplier">x100</md-radio>
        <div class="stepper" id="stepper">
            <md-button v-if="(item && item.type !== 'fixed') || !item"
                       class="step minus md-icon-button" @click="decrement">&minus;</md-button>
            <span class="count">{{ cuteCredits }}<sup>Cr</sup></span>
            <md-button v-if="(item && item.type !== 'fixed') || !item"
                       class="step plus md-icon-button" @click="increment">&plus;</md-button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['checkedCurrency', 'shareAction', 'minCredits', 'curOne', 'curTwo', 'item',],
        data(){
            return {
                radio: null,
                step: 1,
                credits: 5,
                type: null,
                end: null,
                ranges: [
                    { divider: 1e9 , suffix: 'b' },
                    { divider: 1e6 , suffix: 'm' },
                    { divider: 1e3 , suffix: 'k' }
                ]
            }
        },
        computed: {
            cuteCredits(){
                return this.formatNumber(this.credits);
            },
            currency(){
                if(this.checkedCurrency === true){
                    let x = parseFloat(this.credits) * parseFloat(this.curOne);
                    return x = parseFloat(x.toFixed(2));
                } else {
                    let x = parseFloat(this.credits) * parseFloat(this.curTwo);
                    return x = parseFloat(x.toFixed(2));
                }
            }
        },
        methods: {

            formatNumber(n) {
                for (let i = 0; i < (this.ranges).length; i++) {
                    if (n >= this.ranges[i].divider) {
                        return (n / this.ranges[i].divider).toString() + this.ranges[i].suffix;
                    }
                }
                return n.toString();
            },
            increment () {
                this.step++;
                this.credits = (this.radio) ?
                    (this.minCredits * this.step) * (this.radio*1) : (this.minCredits * this.step);


            },
            decrement () {
                if(this.credits > 1){
                    this.step--;
                    this.credits = (this.radio) ?
                        (this.minCredits * this.step) * (this.radio*1) : (this.minCredits * this.step);

                }
                if(this.credits <= 1){
                    this.credits = this.minCredits;
                    this.step = 1;
                }
            }
        },
        mounted(){
            if(this.item && this.type === 'support'){
                this.credits = this.minCredits
            }
        },
        watch: {
            cuteCredits(val){
                this.$emit('change', val);
            },
            currency(val){
                this.$emit('changeCurrency', this.formatNumber(val));
            },
            credits(val){
                console.log(val)
                this.$emit('change:credits', val)
            }
        }
    }
</script>
<style lang="scss">
    .credits-counter {
        position: relative;
        .md-radio {
            margin: 0;
            &:nth-child(1) {
                position: absolute;
                left: 30px;
                top: 0;
            }
            &:nth-child(2) {
                position: absolute;
                right: 30px;
                left: auto;
                top: 0;
            }
            .md-radio-container input {
                opacity: 0;
            }
            label {
                position: absolute;
                top: 30px;
                left: 0;
                right: 0;
                padding: 0;
                margin: 0 auto;
                font-weight: 700;
                font-size: 12px;
                line-height: 14px;
                color: #2b2b2b;
            }
        }
        .stepper {
            .multi-count {
                position: absolute;
                top: 5px;
                right: 10px;
                margin: 0;
                font-size: 10px;
                color: #c7c7c7;
                font-weight: 600;
                .md-checkbox-container {
                    display: none;
                }
            }
            .count {
                font-size: 36px;
                font-weight: 800;
                background: #000;
                color: #fff;
                min-width: 70px;
                padding: 0 15px 0 25px;
                height: 70px;
                border-radius: 50px;
                line-height: 70px;
                display: inline-block;
                box-shadow: 0 0 15px 5px rgba(0,0,0,.3);
                sup {
                    position: relative;
                    top: -3px;
                    font-size: 10px;
                    font-style: normal;
                    color: #fff;
                    line-height: 12px;
                    font-weight: 400;
                }
            }
            .step {
                border: 0;
                background: transparent;
                font-size: 36px;
                font-weight: 400;
                margin-top: 15px;
            }
        }
    }
</style>