<template>
    <div class="credits-counter">
        <div class="stepper" id="stepper">
            <md-button v-if="(item && item.type !== 'fixed') || !item"
                       class="step minus md-icon-button" @click="decrement">&minus;</md-button>
            <span class="count">{{ cuteCredits }}<sup>Cr</sup></span>
            <md-button v-if="(item && item.type !== 'fixed') || !item"
                       class="step plus md-icon-button" @click="increment">&plus;</md-button>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'checkedCurrency',
            'shareAction',
            'curOne',
            'curTwo',
            'item',
        ],
        data(){
            return {
                credits: 5,
                type: null,
                end: null,
                ranges: [
                    { divider: 1e9 , suffix: 'b' },
                    { divider: 1e6 , suffix: 'm' },
                    { divider: 1e3 , suffix: 'k' }
                ]
            }
        },
        computed: {
            cuteCredits(){
                return this.formatNumber(this.credits);
            },
            currency(){
                if(this.checkedCurrency === true){
                    let x = parseFloat(this.credits) * parseFloat(this.curOne);
                    return x = parseFloat(x.toFixed(2));
                } else {
                    let x = parseFloat(this.credits) * parseFloat(this.curTwo);
                    return x = parseFloat(x.toFixed(2));
                }
            }
        },
        methods: {
            //counter
            //check on int
            isInt(n) {
                return Number(n) === n && n % 1 === 0;
            },
            //check on float
            isFloat(n) {
                return Number(n) === n && n % 1 !== 0;
            },
            getNumberLen(current) {
                return current.toString().length
            },
            //check and generate zero
            generateZeroes(param) {
                var length = this.getNumberLen(this.credits);
                var zeroes = '';
                if (this.isInt(param)) {
                    length -= 1;
                    zeroes = '1';
                    for (let i = 0; i < length; i++) {
                        zeroes += "0";
                    }
                    return parseInt(zeroes);
                }
                if (this.isFloat(param)) {
                    length -= 3;
                    zeroes = '0.';
                    for (let i = 0; i < length; i++) {
                        zeroes += '0'
                    }
                    zeroes += '1';
                    return parseFloat(zeroes)
                }
            },
            //check the step for equality with the value
            ifStep(param){
                return this.credits === this.generateZeroes(param);
            },
            formatNumber(n) {
                for (let i = 0; i < (this.ranges).length; i++) {
                    if (n >= this.ranges[i].divider) {
                        return (n / this.ranges[i].divider).toString() + this.ranges[i].suffix;
                    }
                }
                return n.toString();
            },
            //check iteration for increment method
            addition(iterations) {
                for (let x = 0; x < iterations; x++) {
                    this.credits = (parseFloat(this.credits) + parseFloat(this.generateZeroes(this.credits)));
                    this.credits = parseFloat(this.credits.toFixed(2));
                }
                return this.formatNumber(this.credits);
            },
            //check iteration for decrement method
            deprivation(iterations) {
                let step = this.generateZeroes(this.credits);
                for(let x = 0; x < iterations; x++){
                    if (this.ifStep(this.credits)) {
                        step = (parseFloat(step) / 10)
                    }
                    this.credits = (parseFloat(this.credits) - step);
                    this.credits = parseFloat(this.credits.toFixed(2));
                }
                return step;
            },
            increment () {
                if(this.item){
                    if(this.item.type === 'range'){
                        if(this.credits < this.item.end){
                            this.addition(1);
                        }
                    }
                    if(this.item.type === 'any'){
                        if(this.credits < 1e9){
                            this.addition(1);
                        }
                    }
                }
                if(!this.item) {
                    if(this.credits < 1e9){
                        this.addition(1);
                    }
                }
            },
            decrement () {
                if(this.item){
                    if(this.item.type === 'any'){
                        if(this.credits > 1){
                            this.deprivation(1);
                        }
                    }
                    if(this.item.type === 'range'){
                        if(this.credits > this.item.start ){
                            this.deprivation(1);
                        }
                    }
                }
                if(!this.item) {
                    if(this.credits > 1){
                        this.deprivation(1);
                    }
                }
            }
        },
        mounted(){
            if(this.item){
                if(this.item.type !== 'any' && this.shareAction){
                    this.credits = this.item.start;
                    this.type = this.item.type;
                    this.end = this.item.end;
                }
                if(this.item.lastSupport && this.type === 'support'){
                    this.credits = this.item.lastSupport
                }
            }
        },
        watch: {
            cuteCredits(val){
                this.$emit('change', val);
            },
            currency(val){
                this.$emit('changeCurrency', this.formatNumber(val));
            },
            credits(val){
                this.$emit('change:credits', val)
            }
        }
    }
</script>
<style lang="scss">
    .credits-counter {
        .stepper {
            .multi-count {
                position: absolute;
                top: 5px;
                right: 10px;
                margin: 0;
                font-size: 10px;
                color: #c7c7c7;
                font-weight: 600;
                .md-checkbox-container {
                    display: none;
                }
            }
            .count {
                font-size: 36px;
                font-weight: 800;
                background: #000;
                color: #fff;
                min-width: 70px;
                padding: 0 15px 0 25px;
                height: 70px;
                border-radius: 50px;
                line-height: 70px;
                display: inline-block;
                box-shadow: 0 0 15px 5px rgba(0,0,0,.3);
                sup {
                    position: relative;
                    top: -3px;
                    font-size: 10px;
                    font-style: normal;
                    color: #fff;
                    line-height: 12px;
                    font-weight: 400;
                }
            }
            .step {
                border: 0;
                background: transparent;
                font-size: 36px;
                font-weight: 400;
                margin-top: 15px;
            }
        }
    }
</style>