<template>
    <div class="counter">
        <div class="stepper" id="stepper">
            <md-button class="step minus md-icon-button" @click="decrement">&minus;</md-button>
            <span class="count">{{ cuteCredits }}</span>
            <md-button class="step plus md-icon-button" @click="increment">&plus;</md-button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['credits', 'start'],
        data(){
            return {
                count: 10,
                ranges: [
                    { divider: 1e9 , suffix: 'b' },
                    { divider: 1e6 , suffix: 'm' },
                    { divider: 1e3 , suffix: 'k' }
                ]
            }
        },
        computed: {
            cuteCredits(){
                return this.formatNumber(this.count);
            }
        },
        methods: {
            //counter
            //check on int
            isInt(n) {
                return Number(n) === n && n % 1 === 0;
            },
            getNumberLen(current) {
                return current.toString().length
            },
            //check and generate zero
            generateZeroes(param) {
                var length = this.getNumberLen(this.count);
                var zeroes = '';

                if (this.isInt(param)) {
                    length -= 1;
                    zeroes = '1';
                    for (let i = 0; i < length; i++) {
                        zeroes += "0";
                    }
                    return parseInt(zeroes);
                }
            },
            //check the step for equality with the value
            ifStep(param){
                return this.count === this.generateZeroes(param);
            },
            //format to cute numbers
            formatNumber(n) {
                for (let i = 0; i < (this.ranges).length; i++) {
                    if (n >= this.ranges[i].divider) {
                        return (n / this.ranges[i].divider).toString() + this.ranges[i].suffix;
                    }
                }
                return n.toString();
            },
            //check iteration for increment method
            addition(iterations) {
                for (let x = 0; x < iterations; x++) {
                    this.count = (parseInt(this.count) + parseInt(this.generateZeroes(this.count)));
                }
                return this.formatNumber(this.count);
            },
            //check iteration for decrement method
            deprivation(iterations) {
                let step = this.generateZeroes(this.count);
                for(let x = 0; x < iterations; x++){
                    if (this.ifStep(this.count)) {
                        step = (parseInt(step) / 10)
                    }
                    this.count = (parseInt(this.count) - step);
                }
                return step;
            },
            increment () {
                if(this.count < 1e6){
                    this.addition(1);
                }
            },
            decrement () {
                if(this.count > 1){
                    this.deprivation(1);
                }
            }
        },
        mounted(){
            if(this.start) {
                Vue.nextTick(()=>{
                    this.count = this.start;
                })
            }
        },
        watch: {
            count(val){
                this.$emit('change', val)
            }
        }
    }
</script>

<style lang="scss">
    .stepper {
        .count {
            font-size: 36px;
            font-weight: 800;
            background: #000;
            color: #fff;
            min-width: 70px;
            padding: 0 20px;
            height: 70px;
            border-radius: 50px;
            line-height: 70px;
            display: inline-block;
            box-shadow: 0 0 15px 5px rgba(0,0,0,.3);
        }
        .step {
            border: 0;
            background: transparent;
            font-size: 36px;
            font-weight: 400;
            margin-top: 15px;
        }
    }
</style>