<template>
    <div class="counter">
        <div class="stepper" id="stepper">
            <md-button class="step minus md-icon-button" @click="decrement">&minus;</md-button>
            <span class="count">{{ cuteCredits }}</span>
            <md-button class="step plus md-icon-button" @click="increment">&plus;</md-button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['credits', 'start', 'end'],
        data(){
            return {
                min: 10,
                max: 100,
                ranges: [
                    { divider: 1e9 , suffix: 'b' },
                    { divider: 1e6 , suffix: 'm' },
                    { divider: 1e3 , suffix: 'k' }
                ]
            }
        },
        computed: {
            cuteCredits(){
                return `${this.formatNumber(this.min)} - ${this.formatNumber(this.max)}`;
            }
        },
        methods: {
            //format to cute numbers
            formatNumber(n) {
                for (let i = 0; i < (this.ranges).length; i++) {
                    if (n >= this.ranges[i].divider) {
                        return (n / this.ranges[i].divider).toString() + this.ranges[i].suffix;
                    }
                }
                return n.toString();
            },
            increment () {
                if(this.min < 1e6 && this.max < 1e7){
                    this.min = this.min * 10;
                    this.max = this.max * 10;
                }
            },
            decrement () {
                if(this.min > 1 && this.max > 10) {
                    this.min = this.min / 10;
                    this.max = this.max / 10;
                }
            }
        },
        mounted() {
            if(this.start && this.end){
                Vue.nextTick(()=>{
                    this.min = this.end / 10;
                    this.max = this.end
                })
            }
            this.$watch(() => [
                    {prop: 'start', val: this.min},
                    {prop: 'end', val: this.max},
                ],
                (nArr) => {
                    nArr.forEach((elem) => {
                        this.$emit(`${elem.prop}:changed`, elem);
                    })
                })
        }
    }
</script>

<style lang="scss">
    .stepper {
        display: inline-block;

        .count {
            font-size: 36px;
            font-weight: 800;
            background: #000;
            color: #fff;
            min-width: 70px;
            padding: 0 5px;
            height: 70px;
            border-radius: 50px;
            line-height: 70px;
            display: inline-block;
            box-shadow: 0 0 15px 5px rgba(0,0,0,.3);
        }
        .step {
            border: 0;
            background: transparent;
            font-size: 36px;
            font-weight: 400;
            margin-top: 15px;
        }
    }
    @media all and(max-width: 460px) {
        .stepper {
            .count {
                font-size: 34px;
            }
            .step {
                margin: 15px 0 0;
            }
        }
    }
</style>