<template>
    <div class="counter">
        <div class="stepper" id="stepper">
            <md-button class="step minus md-icon-button" @click="decrement">&minus;</md-button>
            <span class="count">{{ count }}</span>
            <md-button class="step plus md-icon-button" @click="increment">&plus;</md-button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['value'],
        data(){
            return {
                count: null,
            }
        },
        methods: {
            increment () {
                if(this.count < 10) {
                    this.count += 1
                }
            },
            decrement () {
                if(this.count > 1) {
                    this.count -= 1
                }
            }
        },
        mounted(){
            (this.value) ? this.count = this.value : this.count = 5;
        },
        watch: {
            count(val){
                this.$emit('change', val)
            }
        }
    }
</script>

<style lang="scss">
    .stepper {
        .count {
            font-size: 36px;
            font-weight: 800;
            background: #000;
            color: #fff;
            min-width: 70px;
            padding: 0 20px;
            height: 70px;
            border-radius: 50px;
            line-height: 70px;
            display: inline-block;
            box-shadow: 0 0 15px 5px rgba(0,0,0,.3);
        }
        .step {
            border: 0;
            background: transparent;
            font-size: 36px;
            font-weight: 400;
            margin-top: 15px;
        }
        .md-button.md-icon-button:not([disabled]):hover {
            box-shadow: inset 0 0 15px rgba(0,0,0,.5);
        }
    }
</style>