<template>
    <div class="contract-sharing-support">
        <div class="shared-type">
            <switch-radio-buttons @switch:click="switchSharedType"
                                  :items="contractItems"
                                  :title="'Contract'" :newModel="sharedType">
            </switch-radio-buttons>

            <div class="fixed zoomIn animated" v-if="sharedType === 'fixed'">
                <!--counter-component-->
                <fixed-counter :start="count.start" @change="countChange"></fixed-counter>
            </div>

            <div class="range zoomIn animated" v-if="sharedType === 'range'">
                <range-counter @start:changed="propChanged"
                               @end:changed="propChanged" :start="count.start" :end="count.end">
                </range-counter>
            </div>
        </div>

        <!--sharing-->
        <switch-radio-buttons @switch:click="switchSharing"
                              :items="supportShareItems"
                              :title="'Share'" :newModel="share">
        </switch-radio-buttons>

        <!--supporting-->
        <switch-radio-buttons @switch:click="switchSuporting"
                              :items="supportShareItems" :disabled="disabled"
                              :title="'Support'" :newModel="support">
        </switch-radio-buttons>

    </div>
</template>

<script>
    import FixedCounter from '../../counters/fixed-counter.vue';
    import RangeCounter from '../../counters/range-counter.vue';
    import SwitchRadioButtons from '../modal-parts/switch-radio-buttons.vue';
    import CreateEditItemService from '../services/create-edit-item-service';

    export default {
        props: ['editedItem'],
        components: {
            SwitchRadioButtons,
            FixedCounter,
            RangeCounter,
        },
        data() {
            return {
                sharedType: 'any',
                share: '1',
                support: '1',
                count: {
                    start: 10,
                    end: 100,
                },
                radioMap: {
                    "any": {props: ['type']},
                    "fixed": {props: ['type', 'start']},
                    "range": {props: ['type', 'start', 'end']},
                },
                contractItems: [
                    {btnName: 'Any', value: 'any'},
                    {btnName: 'Fixed', value: 'fixed'},
                    {btnName: 'Range', value: 'range'},
                ],
                supportShareItems: [
                    {btnName: 'on', value: '1'},
                    {btnName: 'off', value: '0'},
                ],
                disabled: null,
            }
        },
        methods: {
            switchSharedType(val) {
                this.sharedType = val;
            },
            switchSharing(val) {
                this.share = val;
            },
            switchSuporting(val) {
                this.support = val;
            },
            countChange(val) {
                this.count.start = val;
            },
            propChanged(value) {
                this.$set(this.count, value.prop, value.val);
            },
        },
        mounted() {
            this.$watch(() => [
                    {prop: 'type', val: this.sharedType},
                    {prop: 'start', val: this.count.start},
                    {prop: 'end', val: this.count.end},
                    {prop: 'share', val: this.share},
                    {prop: 'support', val: this.support},
                ],
                (nArr) => {
                    nArr.forEach((elem) => {
                        if (elem.prop === 'share' || elem.prop === 'support') {
                            CreateEditItemService.setItem(elem.prop, elem.val);
                        }
                        if (elem.prop !== 'share' || elem.prop !== 'support') {
                            _.each(this.radioMap[this.sharedType], (stepProps) => {
                                stepProps.forEach((stepProp) => {
                                    _.find(nArr, (elem) => {
                                        if (elem.prop === stepProp) {
                                            CreateEditItemService.setItem(elem.prop, elem.val);
                                        }
                                    })
                                });
                            });
                        }
                    })
                }
            );
            var item = CreateEditItemService.getItem();
            if (item) {
                this.$set(this, 'share', (item.share) ? item.share.toString() : this.share);
                this.$set(this, 'disabled', !!(item.author && item.authorStatus == 0));
                this.$set(this, 'support', (item.support) ? item.support.toString() : this.support);
                this.$set(this, 'sharedType', (item.type) ? item.type : this.sharedType);
                if (item.authorStatus === 'non-user') {
                    this.$set(this, 'support', '0');
                    }else{
                    this.$set(this, 'support', '1');
               }
                if (item.start) {
                    this.$set(this.count, 'start', item.start);
                }
                if (item.end) {
                    this.$set(this.count, 'end', item.end);
                }
            }
        }
    }
</script>

<style lang="scss">
    .contract-sharing-support {
        padding-top: 20px;
        .shared-type {
            padding-bottom: 15px;
        }
        .radio-content {
            margin-bottom: 10px;
        }
        .range {
            text-align: center;
        }
    }
</style>