<template>
    <div class="credit-distribution">
        <!---->
        <div class="block basic-balance">
            <!---->
            <div class="title">Credit Distribution</div>
            <div class="sub-title">
                When a user supports [name], credits are distributed according to the following rules
            </div>
            <!---->
            <h6>Credits-Targets</h6>
            <div class="names" v-if="(editedItem && editedItem.users_shared_with)">
                <span v-for="user in (editedItem && editedItem.users_shared_with)" :key="user.id">{{user.name}}, </span>
            </div>
            <!---->
            <range-slider @value:changed="basicBalanceValueChanged"
                          :propValue="(basicBalance && basicBalance.value)"
                          :min="basicBalance && basicBalance.min" :max="basicBalance && basicBalance.max"
                          :tooltip="'always'"
                          :title="basicBalance.title"
                          :tooltip-position="'bottom'"
                          :leftLabel="basicBalance && basicBalance.leftLabel"
                          :rightLabel="basicBalance && basicBalance.rightLabel"
                          :step="basicBalance && basicBalance.step">
            </range-slider>
        </div>
        <!---->
        <div class="block ownership-sq-balance">
            <md-layout>
                <md-layout md-align="center">
                    <!---->
                    <switch-radio-buttons @switch:click="ownershipBehaviourSwitch"
                                          :items="ownershipSQBalance.ownershipBehaviourItems"
                                          :title="'Ownership Behaviour'"
                                          :newModel="ownershipBehaviourValue">
                    </switch-radio-buttons>
                </md-layout>
                <md-layout md-align="center">
                    <!---->
                    <switch-radio-buttons @switch:click="sQBehaviourSwitch"
                                          :items="ownershipSQBalance.SQBehaviourItems"
                                          :title="'SQ Behaviour'"
                                          :newModel="sQBehaviourValue">
                    </switch-radio-buttons>
                </md-layout>
            </md-layout>
            <!---->
            <range-slider @value:changed="ownershipSQBalanceValueChanged"
                          :propValue="ownershipSQBalance.value"
                          :min="ownershipSQBalance.min" :max="ownershipSQBalance.max"
                          :tooltip="'always'"
                          :title="ownershipSQBalance.title"
                          :tooltip-position="'bottom'"
                          :leftLabel="ownershipSQBalance.leftLabel"
                          :rightLabel="ownershipSQBalance.rightLabel"
                          :step="ownershipSQBalance.step">
            </range-slider>
        </div>
        <!---->
        <div class="block credits-targets">
            <md-layout>
                <md-layout md-align="center">
                    <!---->
                    <switch-radio-buttons @switch:click="creditTargetSwitch"
                                          :items="creditTarget.creditTargetItems"
                                          :title="'Credit-Target'" :newModel="creditTargetValue">
                    </switch-radio-buttons>
                </md-layout>
                <md-layout md-align="center">
                    <!---->
                    <switch-radio-buttons @switch:click="usershipSwitch"
                                          :items="creditTarget.usershipItems"
                                          :title="'Usership'" :newModel="usershipValue">
                    </switch-radio-buttons>
                </md-layout>
            </md-layout>
            <!---->
            <range-slider @value:changed="creditTargetValueChanged"
                          :propValue="creditTarget.value"
                          :min="creditTarget.min" :max="creditTarget.max"
                          :tooltip="'always'"
                          :title="creditTarget.title"
                          :tooltip-position="'bottom'"
                          :leftLabel="creditTarget.leftLabel"
                          :rightLabel="creditTarget.rightLabel"
                          :step="creditTarget.step">
            </range-slider>
        </div>
    </div>
</template>

<script>
    import RangeSlider from '../../filter/range-slider.vue';
    import CreateEditItemService from '../services/create-edit-item-service';
    import SwitchRadioButtons from '../modal-parts/switch-radio-buttons.vue';

    export default {
        components: {SwitchRadioButtons, RangeSlider},
        data(){
            return {
                //basic balance block
                basicBalance: {
                    value: 5,
                    min: 1,
                    max: 13,
                    step: 0.1,
                    title: 'Basic Balance',
                    leftLabel: 'credit-targets',
                    rightLabel: 'usership',
                },
                //ownership sq balance block
                ownershipSQBalance: {
                    value: 5,
                    min: 1,
                    max: 13,
                    step: 0.1,
                    title: 'Ownership-SQ Balance',
                    leftLabel: 'ownership',
                    rightLabel: 'sq',
                    //switch
                    ownershipBehaviourItems: [
                        {btnName: 'Equal', value: 'equal'},
                        {btnName: 'Allocated', value: 'allocated'},
                    ],
                    SQBehaviourItems: [
                        {btnName: 'Closed', value: 'closed'},
                        {btnName: 'Open', value: 'open'},
                    ],
                },
                //title balance block
                creditTarget: {
                    value: 5,
                    min: 1,
                    max: 13,
                    step: 0.1,
                    title: 'Credits-Targets Balance',
                    leftLabel: 'ownership',
                    rightLabel: 'bond',
                    usershipItems: [
                        {btnName: 'Support', value: 'support'},
                        {btnName: 'Bond', value: 'bond'},
                    ],
                    creditTargetItems: [
                        {btnName: 'Support', value: 'support'},
                        {btnName: 'Bond', value: 'bond'},
                    ],
                },
                ownershipBehaviourValue: 'equal',
                usershipValue: 'support',
                sQBehaviourValue: 'closed',
                creditTargetValue: 'support',
                editedItem: null,
            }
        },
        methods: {
            ownershipBehaviourSwitch(val){
                this.$set(this, 'ownershipBehaviourValue', val)
            },
            sQBehaviourSwitch(val){
                this.$set(this, 'sQBehaviourValue', val)
            },
            usershipSwitch(val){
                this.$set(this, 'usershipValue', val)
            },
            creditTargetSwitch(val){
                this.$set(this, 'creditTargetValue', val)
            },
            basicBalanceValueChanged(val){
                this.$set(this.basicBalance, 'value', val)
            },
            ownershipSQBalanceValueChanged(val){
                this.$set(this.ownershipSQBalance, 'value', val)
            },
            creditTargetValueChanged(val){
                this.$set(this.creditTarget, 'value', val)
            }
        },
        mounted() {
            this.$watch(() => [
                    {prop: 'ownershipBehaviourType', val: this.ownershipBehaviourValue},
                    {prop: 'sQBehaviourType', val: this.sQBehaviourValue},
                    {prop: 'usershipType', val: this.usershipValue},
                    {prop: 'creditTargetType', val: this.creditTargetValue},
                    {prop: 'basicBalanceValue', val: this.basicBalance.value},
                    {prop: 'ownershipSQBalanceValue', val: this.ownershipSQBalance.value},
                    {prop: 'creditTargetValue', val: this.creditTarget.value},
                ],
                (nArr) => {
                    nArr.forEach((elem) => {
                        if(elem.val) {
                            CreateEditItemService.setItem(elem.prop, elem.val);
                            this.$emit(`${elem.prop}:changed`, elem);
                        }
                    })
                }
            );
            setTimeout(()=>{
                var item = CreateEditItemService.getItem();
                if(item){
                    this.$set(this, 'editedItem', (item) ? item :  null);
                    this.$set(this, 'ownershipBehaviourValue',
                        (item.ownershipBehaviourType) ? item.ownershipBehaviourType :  'equal');
                    this.$set(this, 'sQBehaviourValue',
                        (item.sQBehaviourType) ? item.sQBehaviourType : 'closed');
                    this.$set(this, 'usershipValue',
                        item.usershipType ? item.usershipType : 'support');
                    this.$set(this, 'creditTargetValue',
                        item.creditTargetType ? item.creditTargetType : 'support');
                    this.$set(this.basicBalance, 'value', item.basicBalanceValue);
                    this.$set(this.ownershipSQBalance, 'value', item.ownershipSQBalanceValue);
                    this.$set(this.creditTarget, 'value', item.creditTargetValue);
                }
            })
        }
    }
</script>

<style lang="scss">
    .credit-distribution {
        .block {
            padding: 25px 10px;
            &:not(:last-child) {
                border-bottom: 1px solid #ebebeb;
            }
            .radio-content .radio-box .md-radio {
                min-width: 60px;
                .md-radio-label {
                    font-size: 12px;
                }
            }
            .radio-content .title {
                font-size: 13px;
                font-weight: 700;
                text-transform: none;
            }

        }

        #ex1Slider .slider-selection {
            background: #BABABA;
        }
    }
</style>