<template>
    <div class="date-pickers">
        <div class="changed-content">

            <div class="date">
                <label>select date and duration</label>
                <datepicker v-model="creationDate" @selected="selectedCreationDate"></datepicker>
            </div>
            <div class="date">
                <label>Select realize project date</label>
                <datepicker v-model="completionDate" @selected="selectedCompletionDate"></datepicker>
            </div>
            <div class="errors-box">
                <span v-show="errors.has('completionDate')" class="md-error">
                    <strong>{{ errors.first('completionDate') }}</strong>
                </span>
                <span v-show="realizeError" class="md-error">
                    <strong>{{ realizeError }}</strong>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    import CreateEditItemService from '../services/create-edit-item-service';

    export default {
        components: {Datepicker},
        props: ['editedItem'],
        data(){
            return {
                realizeError: null,
                dateError: null,
                format: 'DD/MM/YYYY',
                creationDate: new Date(),
                toolbarPlacement: 'bottom',
                completionDate: new Date(),
            }
        },
        methods:{
            selectedCreationDate(date){
                this.creationDate = date
            },
            selectedCompletionDate(date){
                this.completionDate = date
            }
        },
        mounted() {
            this.$watch(() => [
                    {prop: 'creationDate', val: this.creationDate},
                    {prop: 'completionDate', val: this.completionDate},
                ],
                (nArr) => {
                    Vue.nextTick(() => {
                        nArr.forEach((elem) => {
                            if((elem.prop === 'creationDate' &&
                                    ((new Date(elem.val).getTime()) > (new Date(this.completionDate).getTime())))
                                ||
                                (elem.prop === 'completionDate' &&
                                    ((new Date(elem.val).getTime()) < (new Date(this.date).getTime())))
                            ) {
                                if(elem.prop === 'creationDate') {
                                    this.dateError = 'The project start date must not be later than the implementation date!';
                                    this.completionDate = new Date(this.creationDate);
                                }
                                if(elem.prop === 'completionDate') {
                                    this.realizeError = 'The release date must not be earlier than the project start date!';
                                    this.creationDate = new Date(this.completionDate);
                                }
                                this.$emit(`${elem.prop}:invalid`, elem);
                            } else {
                                if(elem.prop === 'completionDate') this.realizeError = null;
                                if(elem.prop === 'creationDate') this.dateError = null;
                                CreateEditItemService.setItem(elem.prop, new Date(elem.val));
                                this.$emit(`${elem.prop}:changed`, elem)
                            }
                        })
                    });
                }
            );
            setTimeout(()=>{
                var item = CreateEditItemService.getItem();
                if(item) {
                    this.$set(this, 'creationDate', (item.creation_date) ? new Date(item.creation_date) : new Date());
                    this.$set(this, 'completionDate', (item.completion_date) ? new Date(item.completion_date) : new Date());
                }
            })

        },
    }
</script>

<style lang="scss">
    .date-pickers{
        padding: 0 30px;

        .date {
            padding: 10px 0;

            .vdp-datepicker {
                div input {
                    width: 100%;
                    font-size: 13px;
                    line-height: 20px;
                    font-weight: 500;
                    padding: 10px;
                    border: 1px solid #ccc;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.2);
                    -moz-box-shadow: 0 0 15px rgba(0,0,0,.2);
                    box-shadow: 0 0 15px rgba(0,0,0,.2);
                }
                .vdp-datepicker__calendar .cell {

                    &.selected,
                    &.selected.highlighted,
                    &.selected:hover {
                        background: #a4bf4a;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        border-radius: 5px;
                        text-shadow: 0 0 10px #fff;
                        font-weight: 500;
                        -webkit-box-shadow: inset 0 0 25px rgba(0,0,0,.3);
                        -moz-box-shadow: inset 0 0 25px rgba(0,0,0,.3);
                        box-shadow: inset 0 0 25px rgba(0,0,0,.3);
                    }
                    &:not(.blank):not(.disabled).day:hover,
                    &:not(.blank):not(.disabled).month:hover,
                    &:not(.blank):not(.disabled).year:hover {
                        border-color: #7a943d;
                    }
                }
            }
        }
    }
</style>