<template>
    <div class="sixth-step">
        <!---->
        <div class="title">Editing Permissions</div>
        <div class="sub-title">
            Editors will be notified and their input may be necessary to action an edit
        </div>
        <!---->
        <h6>Editors</h6>
        <div class="names">
            <span v-for="user in (editedItem && editedItem.users_shared_with)" :key="user.id">{{user.name}}, </span>
        </div>

        <!---->
        <div class="block ownership-sq-balance">
            <h6>Editing Behaviour</h6>
            <md-layout>
                <md-layout md-align="center">
                    <!---->
                    <switch-radio-buttons @switch:click="editingBehaviourLeftSwitch"
                                          :items="editingBehaviourLeftItems"
                                          :newModel="editingBehaviourLeftValue">
                    </switch-radio-buttons>
                </md-layout>
                <md-layout md-align="center">
                    <!---->
                    <switch-radio-buttons @switch:click="editingBehaviourRightSwitch"
                                          :items="editingBehaviourRightItems"
                                          :newModel="editingBehaviourRightValue">
                    </switch-radio-buttons>
                </md-layout>
            </md-layout>
            <!---->
            <range-slider @value:changed="ownershipUsershipBalanceValueChanged"
                          :propValue="ownershipUsershipBalance.value"
                          :min="ownershipUsershipBalance.min" :max="ownershipUsershipBalance.max"
                          :tooltip="'always'"
                          :title="ownershipUsershipBalance.title"
                          :tooltip-position="'bottom'"
                          :leftLabel="ownershipUsershipBalance.leftLabel"
                          :rightLabel="ownershipUsershipBalance.rightLabel"
                          :step="ownershipUsershipBalance.step">
            </range-slider>
            <!---->
            <md-layout md-align="center">
                <!---->
                <switch-radio-buttons @switch:click="editorsGovernanceSwitch"
                                      :items="editorsGovernanceItems"
                                      :title="'Editor Governance'"
                                      :newModel="editorsGovernanceValue">
                </switch-radio-buttons>
            </md-layout>
        </div>

    </div>
</template>

<script>
    import RangeSlider from '../../filter/range-slider.vue';
    import CreateEditItemService from '../services/create-edit-item-service';
    import SwitchRadioButtons from '../modal-parts/switch-radio-buttons.vue';

    export default {
        components: {SwitchRadioButtons, RangeSlider},
        data(){
            return {
                //ownership sq balance block
                ownershipUsershipBalance: {
                    value: 5,
                    min: 1,
                    max: 7,
                    step: 0.1,
                    title: 'Ownership Usership Balance',
                    leftLabel: '0',
                    rightLabel: 7,
                },
                //switch
                editingBehaviourLeftItems: [
                    {btnName: 'Vote', value: 'vote'},
                    {btnName: 'SQ', value: 'sq'},
                ],
                editingBehaviourRightItems: [
                    {btnName: '#', value: '#'},
                    {btnName: '%', value: '%'},
                ],
                editorsGovernanceItems: [
                    {btnName: 'Same', value: 'same'},
                    {btnName: 'Different', value: 'different'},
                ],
                editingBehaviourLeftValue: 'vote',
                editingBehaviourRightValue: '#',
                editorsGovernanceValue: 'same',
                editedItem: null,
            }
        },
        methods: {
            editingBehaviourLeftSwitch(val){
                this.$set(this, 'editingBehaviourLeftValue', val)
            },
            editingBehaviourRightSwitch(val){
                this.$set(this, 'editingBehaviourRightValue', val)
            },
            editorsGovernanceSwitch(val){
                this.$set(this, 'editorsGovernanceValue', val)
            },
            ownershipUsershipBalanceValueChanged(val){
                this.$set(this.ownershipUsershipBalance, 'value', val)
            }
        },
        mounted() {
            this.$watch(() => [
                    {prop: 'editingBehaviourLeftValue', val: this.editingBehaviourLeftValue},
                    {prop: 'editingBehaviourRightValue', val: this.editingBehaviourRightValue},
                    {prop: 'editorsGovernanceValue', val: this.editorsGovernanceValue},
                    {prop: 'ownershipUsershipBalanceValue', val: this.ownershipUsershipBalance.value},
                ],
                (nArr) => {
                    nArr.forEach((elem) => {
                        if(elem.val) {
                            CreateEditItemService.setItem(elem.prop, elem.val);
                            this.$emit(`${elem.prop}:changed`, elem);
                        }
                    })
                }
            );
            setTimeout(() => {
                var item = CreateEditItemService.getItem();
                if(item){
                    this.$set(this, 'editedItem', (item) ? item :  null);
                    this.$set(this, 'editingBehaviourLeftValue',
                        (item.editingBehaviourLeftValue) ? item.editingBehaviourLeftValue : 'vote');
                    this.$set(this, 'editingBehaviourRightValue',
                        (item.editingBehaviourRightValue) ? item.editingBehaviourRightValue : '#');
                    this.$set(this, 'editorsGovernanceValue',
                        (item.editorsGovernanceValue) ? item.editorsGovernanceValue : 'same');
                    this.$set(this.ownershipUsershipBalance, 'value', item.ownershipUsershipBalanceValue);
                }
            });
        }
    }
</script>

<style lang="scss">
    .sixth-step {
        padding: 0 10px;
        .range-slider {
            padding-bottom: 30px;
            .slider-box-label {
                text-align: center;
                padding: 10px 0;
                display: block;
                width: 100%;
            }
            .md-layout {
                .md-layout:first-child span {
                    text-align: right;
                }
                .md-layout:last-child span {
                    text-align: left;
                }
            }
        }
    }
    .modal-create-edit-item .modal-container .modal-step .sixth-step .title {
        font-weight: 900;
        font-size: 14px;
        line-height: 18px;
    }
</style>