<template>
    <div class="image-non-author">

        <vueCropper v-if="step == 2"
                    ref="cropper"
                    :img="cImage"
                    :canMoveBox="false"
                    :outputSize="cropperSettings.size"
                    :outputType="cropperSettings.outputType"
                    :autoCrop="cropperSettings.autoCrop"
                    :autoCropWidth="cropperSettings.autoCropWidth"
                    :autoCropHeight="cropperSettings.autoCropHeight"
                    :fixedBox="cropperSettings.fixedBox"
                    :fixedNumber="cropperSettings.fixedNumber"
                    @realTime="realTime">
        </vueCropper>

        <div class="atation">Tap 'Crop' to set and Edit to save.</div>
        <div class="btn-box">
            <md-button @click="removeImage()">Remove Image</md-button>
            <div class="upload-btn">
                <md-button>Upload Image</md-button>
                <input type="file" @change="change" name="image" class="upload">
            </div>
            <md-button @click="getCrop()">Crop Image</md-button>
        </div>

        <div class="author-creator">
            <switch-radio-buttons @switch:click="switchClick" :newModel="authorStatus"
                                  :items="items[entity]" :title="'Author'">
            </switch-radio-buttons>
            <!--people as authors-->
            <add-button-with-chips v-if="authorStatus === 'people'" :items="cOwners" :entity="authorStatus"
                              @delete:item="deleteOwners"
                              @show:list="showPossibleOwners">
            </add-button-with-chips>
            <!--project as author-->
            <add-button-with-chips v-if="authorStatus === 'project'" :item="project" :entity="authorStatus"
                                   @delete:item="deleteProjects"
                                   @show:list="showProjects">
            </add-button-with-chips>
            <!--add author component-->
            <add-author v-if="authorStatus === 'non-user'" :author="author" @value:change="addAuthor"></add-author>

        </div>
    </div>
</template>
<script>
    import VueCropper from 'vue-cropper';
    import AddAuthor from '../modal-parts/add-author';
    import Project from '../../../../models/ProjectModel';
    import AddButtonWithChips from '../modal-parts/add-button-with-chips';
    import SwitchRadioButtons from '../modal-parts/switch-radio-buttons.vue';
    import CreateEditItemService from '../services/create-edit-item-service';
    import ModalAnimationCoordinator from '../../../../../../services/ModalAnimationCoordinator';

    export default {
        components: {
            SwitchRadioButtons,
            AddButtonWithChips,
            VueCropper,
            AddAuthor,
        },
        props:['step', 'entity'],
        data(){
            return {
                editedItem: null,
                cImage: 'storage/products/default',
                cropperSettings: {
                    size: 1,
                    outputType: 'jpeg',
                    autoCrop: true,
                    fixed: true,
                    fixedBox: true,
                    autoCropWidth: 340,
                    autoCropHeight: 90,
                    fixedNumber: [3.5,1]
                },
                previews: {},
                image: null,
                owners: [],
                project: null,
                authorStatus: null,
                author: '',
                items: {
                    products:[
                        {
                            btnName: 'Me',
                            value: 'me'
                        },
                        {
                            btnName: 'Non-user',
                            value: 'non-user'
                        },
                    ],
                    projects: [
                        {
                            btnName: 'Me',
                            value: 'me'
                        },
                        // {
                        //     btnName: 'People',
                        //     value: 'people'
                        // },
                        // {
                        //     btnName: 'Project',
                        //     value: 'project'
                        // },
                        {
                            btnName: 'Non-user',
                            value: 'non-user'
                        },
                    ]
                },
            }
        },
        computed:{
            cOwners(){
                return this.owners.map(o => {
                    o.displayName = `${o.name} ${o.surname}`;
                    return o;
                })
            }
        },
        methods: {
            showPossibleOwners(){
                ModalAnimationCoordinator.resetAppearAnimation();
                Vue.nextTick(() => {
                    this.$modal.hide('create-edit');
                    setTimeout(() => this.$router.push({
                        name: `${this.$route.matched[1].name}AddItemsSortingList`,
                        params: {
                            id: this.editedItem.id,
                            entity: this.entity,
                            action: 'add-items-sorting-list',
                            sortEntity: 'users',
                            limit: 50}
                    }), 200);
                });
            },
            deleteOwners(id){
                Project.deleteOwners(this.editedItem.id, id).then(()=>{
                    this.fetchOwners(this.editedItem.id);
                });
            },
            fetchOwners(id){
                if(this.authorStatus === 'people')
                    Project.owners(id).then((owners)=>{
                        this.owners = owners;
                    })
            },

            showProjects(){
                ModalAnimationCoordinator.resetAppearAnimation();
                Vue.nextTick(() => {
                    this.$modal.hide('create-edit');
                    setTimeout(() => this.$router.push({
                        name: `${this.$route.matched[1].name}AddItemsSortingList`,
                        params: {
                            id: this.editedItem.id,
                            entity: this.entity,
                            action: 'add-items-sorting-list',
                            sortEntity: 'projects',
                            limit: 50
                        }
                    }), 200);
                });
            },
            deleteProjects(id){
                Project.deleteProjectAuthor(this.editedItem.id, id).then(()=>{
                    this.project = null;
                });
            },
            fetchProjectAuthor(id){
                if(this.authorStatus === 'project')
                    Project.fetchProjectAuthor(id).then((project)=>{
                        this.project = project;
                    })
            },

            removeImage(){
                this.image = '';
            },
            realTime (data) {
                this.previews = data
            },
            getCrop(){
                this.$refs.cropper.getCropBlob((data) => {
                    this.image = new File([data], "image");
                })
            },
            switchClick(val){
                this.authorStatus = val;
            },
            addAuthor(val){
                this.author = val;
            },
            change(e){
                e.preventDefault();
                let img = e.target.files[0];
                var reader = new FileReader();
                reader.onload = (e) => {
                    this.cImage = e.target.result;
                };
                reader.readAsDataURL(img);
            },
        },
        mounted() {
            this.$watch(() => [
                    {prop: 'image', val: this.image},
                    {prop: 'authorStatus', val: this.authorStatus},
                    {prop: 'author', val: this.author},
                    {prop: 'cImage', val: this.cImage},
                ],
                (nArr) => {
                    Vue.nextTick(() => {
                        nArr.forEach((elem) => {
                            if(!this.$validator.errors.has(elem.prop) && elem.val){
                                CreateEditItemService.setItem(elem.prop, elem.val);
                            }
                        })
                    });
                }
            );
            var item = this.editedItem = CreateEditItemService.getItem();
            if(item) {
                this.$set(this, 'author',  (item.author) ? item.author : '' );
                this.$set(this, 'authorStatus',
                    (item.authorStatus) ? item.authorStatus : (item.author_status)?item.author_status:'me');
                if(typeof item.image === 'object'){
                    this.$set(this, 'cImage', item.cImage);
                }
                if(typeof item.image === 'string'){
                    this.$set(this, 'cImage', item.image + '?random=' + Math.random());
                }
                if(item.id && this.entity === 'projects')
                    this.fetchOwners(item.id);
                    this.fetchProjectAuthor(item.id);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .image-non-author {
        padding-top: 20px;
        overflow: hidden;
        .btn-box {
            text-align: center;
            background: transparent !important;
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0 !important;
            border-radius: 0 !important;
            padding-top: 10px;
            .upload-btn {
                cursor: pointer;
                display: inline-block;
                position: relative;
                .upload {
                    cursor: pointer;
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                }
            }
            .md-button {
                font-size: 10px;
                line-height: 12px;
                padding: 5px 8px;
                min-height: 16px;
                background: #f1f1f1;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
        }
        .vue-cropper {
            height: 160px;
            width: 100%;
        }
        img {
            max-width: none;
        }
        .changed-content {
            border-bottom: 2px solid #f1f1f1;
            label {
                font-size: 9px;
                font-weight: 800;
                line-height: 12px;
                text-transform: uppercase;
                color: #000;
                display: block;
            }
            img {
                box-shadow: 0 0 15px rgba(0,0,0,.7);
                margin: 10px 0;
            }
        }
        .atation {
            padding-top: 10px;
            font-size: 11px;
            line-height: 14px;
        }
    }
</style>