<template>
    <div class="title-description-link">
        <md-input-container :class="{'md-input-invalid': errors.has('title')}">
            <i>*</i><label>Add Title</label>
            <md-input v-validate="'required'" maxlength="50" data-vv-name="title" type="text"
                      v-model="title">
            </md-input>
            <span v-show="errors.has('title')" class="md-error">
                <strong>{{ errors.first('title') }}</strong>
            </span>
        </md-input-container>

        <md-input-container :class="{'md-input-invalid': errors.has('description')}">
            <i>*</i><label>Add Description</label>
            <md-textarea v-validate="'required'" name="description" maxlength="1000"
                         v-model="description" class="textarea-description">
            </md-textarea>
            <span v-show="errors.has('description')" class="md-error">
                <strong>{{ errors.first('description') }}</strong>
            </span>
        </md-input-container>

        <md-input-container :class="{'md-input-invalid': errors.has('link')}">
            <i>*</i><label>Add link your card</label>
            <md-input class="url" v-validate="'url:{require}'" :type="'link'"
                      placeholder="https://example.com"
                      :disabled="action === 'edit'"
                      v-model="link" name="link">
            </md-input>
            <span v-show="errors.has('link')" class="md-error">
                <strong>{{ errors.first('link') }}</strong>
            </span>
        </md-input-container>
    </div>
</template>

<script>
    import Auth from '../../../../../../services/auth';
    import CreateEditItemService from '../services/create-edit-item-service';
    export default {
        props: ['action', 'editedItem'],
        data(){
            return {
                title: '',
                description: '',
                link: '',
            }
        },
        methods: {
            lowCase(val){
                if(val) this.link = (val.charAt(0).toLowerCase() + val.slice(1)).trim();
            }
        },
        mounted() {
            this.$watch(() => [
                {prop: 'title', val: this.title},
                {prop: 'description', val: this.description},
                {prop: 'link', val: this.link},
            ],
            (nArr) => {
                setTimeout(() => {
                    nArr.forEach((elem) => {
                        if (!this.$validator.errors.has(elem.prop) && elem.val) {
                            this.$emit(`${elem.prop}:changed`, elem)
                            CreateEditItemService.setItem(elem.prop, elem.val);
                        } else {
                            this.$emit(`${elem.prop}:invalid`, elem)
                        }
                    })
                });
            });
            var item = CreateEditItemService.getItem();
            Vue.nextTick(()=>{
                this.title = (item && item.title)?item.title:'';
                this.description = (item && item.description)?item.description:'';
                this.link = (item && item.link)?item.link:'';
            })
        },
        watch: {
            link(val){
                this.lowCase(val)
            }
        }
    }
</script>

<style lang="scss">
    .title-description-link {
        padding: 0 30px;
        i {
            color: #ff0000;
            position: absolute;
            top: 25px;
            left: -15px;
        }
        .md-input-container {
            .md-count {
                color:#6d6d6d;
            }
            &.md-input-focused input,
            &.md-input-focused textarea,
            &.md-has-value input,
            &.md-has-value textarea {
                color: #2b2b2b;
                overflow: auto !important;
            }
            &.md-input-focused label,
            &.md-has-value label {
                font-size: 9px;
                font-weight: 800;
                line-height: 12px;
                text-transform: uppercase;
                color: #000;
                position: absolute;
                top: 7px;
                left: 0;
            }
            .url {
                text-transform: lowercase;
            }
        }
    }
</style>