<template>
    <div class="add-author">
        <md-input-container class="animated slideUp">
            <label>Type Author's Name</label>
            <md-input type="text" placeholder="Type Author's Name" v-model="model" name="author"></md-input>
        </md-input-container>
    </div>
</template>

<script>
    export default {
        props: ['author'],
        data(){
            return {
                model: null
            }
        },
        mounted(){
            setTimeout(()=>{
                if(this.author) this.model = this.author;
            })
        },
        watch: {
            model(val){
                this.$emit('value:change', val)
            }
        }
    }
</script>

<style lang="scss">
    .add-author {
        padding: 0 20px;
        transition: all .2s;
    }
</style>