<template>
    <div class="add-button-with-chips">
        <div class="chips-container">
            <md-chip v-if="entity === 'people'" v-for="item in items"
                     :key="item.id"
                     md-deletable
                     @delete="$emit('delete:item', item.id)">
                {{item.displayName}}
            </md-chip>
            <md-chip v-if="entity === 'project' && item" md-deletable
                     @delete="$emit('delete:item', item.id)">
                {{item.title}}
            </md-chip>
        </div>

        <md-button class="show-list-btn" @click="$emit('show:list')">
            <md-icon>add</md-icon> Add {{entity}}
        </md-button>
    </div>
</template>

<script>
    export default {
        props: ['items', 'entity', 'item']
    }
</script>

<style lang="scss">
    .add-button-with-chips {
        padding-top: 10px;
        .show-list-btn{
            margin-top: 10px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
            border: 2px solid #2b2b2b;
            -webkit-box-shadow: inset 0 0 25px rgba(0,0,0,.5),  0 0 10px rgba(0,0,0,.3);
            -moz-box-shadow: inset 0 0 25px rgba(0,0,0,.5),  0 0 10px rgba(0,0,0,.3);
            box-shadow: inset 0 0 25px rgba(0,0,0,.5),  0 0 10px rgba(0,0,0,.3);
            text-shadow: 0 0 10px #fff;
            .md-icon {
                position: relative;
                top: -1px;
            }
        }
        .chips-container {
            .md-chip {
                margin: 5px;
                -webkit-box-shadow: inset 0 0 25px rgba(0,0,0,.4);
                -moz-box-shadow: inset 0 0 25px rgba(0,0,0,.4);
                box-shadow: inset 0 0 25px rgba(0,0,0,.4);
                text-shadow: 0 0 10px #fff;
            }
        }
    }
</style>