<template>
    <md-avatar class="md-avatar md-large">
        <img v-if="image" :src="image" alt="people">
        <span v-if="!image">{{avatarName}}</span>
    </md-avatar>
</template>

<script>
    export default {
        props:['image', 'avatarName']
    }
</script>

<style lang="scss" scoped>
    .md-avatar {
        width: 70px;
        min-width: 70px;
        height: 70px;
        min-height: 70px;
        position: absolute;
        bottom: -30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 2;
        text-align: center;
        background: #9e9e9e;
        box-shadow: 0 0 15px 3px rgba(75, 75, 75, 0.5);

        span {
            display: inline-block;
            font-weight: 700;
            color: #ffffff;
            font-size: 30px;
            line-height: 70px;
            text-shadow: 0 0 6px rgba(0,0,0,0.9);
            text-transform: uppercase;
        }
    }
</style>