<template>
    <form :class="['create-item-steps', `create-item-steps-${step}`]">
        <!--first step create product form-->
        <title-description-link v-show="step == 1" :action="action"
                                @title:changed="propChanged"
                                @description:changed="propChanged"
                                @link:changed="propChanged"
                                @title:invalid="propInvalid"
                                @description:invalid="propInvalid"
                                @link:invalid="propInvalid">
        </title-description-link>
        <!--second step create product form-->
        <image-non-author v-show="step == 2" :action="action" :step="step" :entity="type"></image-non-author>
        <!--third step create product form-->
        <date-pickers v-if="step == 3 && type === 'projects'" :action="action"></date-pickers>
        <!--fourth step create product form-->
        <contract-sharing-supporting v-if="(type === 'projects') ? step == 4 : step == 3" :action="action">
        </contract-sharing-supporting>
        <!--fifth step create product form-->
        <credit-distribution v-if="type === 'projects' && step == 5" :action="action"></credit-distribution>
        <!--sixth step create product form-->
        <governance v-if="(type === 'projects') && step == 6" :action="action"></governance>
    </form>
</template>

<script>
    //steps
    import TitleDescriptionLink from '../create-steps/title-description-link-step.vue';
    import ImageNonAuthor from '../create-steps/image-non-author-step.vue';
    import DatePickers from '../create-steps/datepickers-step.vue';
    import ContractSharingSupporting from '../create-steps/contract-sharing-supporting-step.vue';
    import CreditDistribution from '../create-steps/credit-distribution-step.vue';
    import Governance from '../create-steps/governance-step.vue';
    //services
    import CreateEditItemService from '../services/create-edit-item-service';

    export default {
        components: {
            TitleDescriptionLink,
            ImageNonAuthor,
            DatePickers,
            ContractSharingSupporting,
            CreditDistribution,
            Governance,
        },
        props: ['action', 'step', 'type'],
        data(){
            return {
                stepMap: ['title', 'description', 'link'],
                titleIsInvalid: false,
                descriptionIsInvalid: false,
                linkIsInvalid: false,
                item: {},
            }
        },
        computed:{
            stepInvalid() {
                var invalid = false;
                _.each(this.stepMap, (stepProp) => {
                    if (this[`${stepProp}IsInvalid`] || !this.item[stepProp] ) {
                        invalid = true;
                    }
                });
                return invalid
            }
        },
        methods:{
            //stepper
            propChanged(value){
                this.$set(this, `${value.prop}IsInvalid`, false);
                this.$set(this.item, value.prop, value.val);
            },
            propInvalid(value) {
                this.$set(this, `${value.prop}IsInvalid`, true)
            },
        },
        watch: {
            stepInvalid(val){
                this.$emit('stepInvalid:changed', val)
            }
        }
    }
</script>

<style lang="scss">
    .modal-create-edit {
        .modal-step {
            .modal-container {
                .create-item-steps {
                    .create-item-steps {
                        font-size: 14px;
                        line-height: 20px;
                        padding: 0 30px;
                        min-height: 200px;
                        .md-errors, .md-errors .md-error {
                            color: #ff5722;
                            .changed-content{
                                border-bottom: 2px solid #ff5722;
                                label {
                                    color: #ff5722;
                                }
                            }
                        }
                    }
                    .image-non-author, .contract-sharing-supporting, .credit-distribution, .governance {
                        padding: 0;
                    }
                    .date-pickers {
                        padding: 0 10px;
                    }
                }
            }
        }
    }
</style>