<template>
    <div class="list">
        <div v-for="list in cItems" :class="[`item-${list.id}`,'item', (isActive(list.id))?'item-active':'',
        (activeId == list.id)?'item-active':'']">
            <div :class="['wrapper', {'with-comment': nonShare}]">
                <input v-if="multiCheck" :disabled="multicheckDisabled(id)"
                       class="checkbox-input" type="checkbox" v-model="multiActiveId" :value="list.id">
                <input v-if="!multiCheck" class="checkbox-input" type="radio" v-model="activeId" :value="list.id">
                <md-layout class="top-container">
                    <md-layout md-flex="60" md-vertical-align="center" class="list-title">
                        <md-card-header>
                            <div class="md-title">
                                {{list.displayName}}
                            </div>
                        </md-card-header>
                    </md-layout>
                    <md-layout v-if="!(nonShare)" md-vertical-align="center">
                        <span class="number">{{list.thanks}}</span>
                    </md-layout>
                    <md-layout v-if="nonShare" md-flex="40">
                        <md-layout md-flex="50" md-vertical-align="start">
                            <span class="number like" v-if="(list.like || list.like == 0)">{{ list.like }}</span>
                            <span class="number happy" v-if="(list.happy || list.happy == 0)">{{ list.happy }}</span>
                        </md-layout>
                        <md-layout md-flex="50" md-vertical-align="start"
                                   v-if="list.income || list.income == 0">
                            <span class="number supported" v-if="nonShare && (list.income !== '-')">{{list.income}}cr</span>
                            <span class="number supported" v-if="nonShare && (list.income === '-')">{{list.income}}</span>
                        </md-layout>
                    </md-layout>
                </md-layout>
            </div>

            <div class="text-container" :style="[
                    {'padding-bottom': (cMessage(list.id))?'25px':'10px'},
                    {'border-top': (list.lastComment)?'1px solid #f8f9f5':'none'},
                    {'padding-top': (list.lastComment)?'5px':'0'}
                ]">
                <div :class="['text', `text-${list.id}`,{'animation': cMessage(list.id)}]">
                    {{list.lastComment}}
                </div>
                <span v-if="cMessage(list.id)" @click="toggleBtn(list.id)">
                    <i :class="['btn-show',`btn-show-${list.id}`]">... read more</i>
                    <i :class="['btn-hide',`btn-hide-${list.id}`]">... show less</i>
                </span>
            </div>
        </div>
        <md-spinner md-indeterminate v-if="spin" :md-size="30"></md-spinner>
        <load-more-button v-if="hasMoreItems" @load:more="$emit('load:more')"></load-more-button>
    </div>
</template>

<script>
    import LoadMoreButton from '../../buttons/load-more-button.vue';
    import ModalStepCoordinator from '../services/modal-step-coordinator';
    import ModalAnimationCoordinator from '../../../../../../services/ModalAnimationCoordinator';
    export default {
        components: {LoadMoreButton},
        props:['items', 'hasMoreItems', 'nonShare', 'entity', 'parent', 'limit', 'spin', 'multiCheck', 'searchQuery'],
        data(){
            return {
                disabled:false,
                activeId: null,
                toggleMessage: false,
                messageAnimation: [],
                fullHeight: [],
                id:null,
                multiActiveId: [],
            }
        },
        computed:{
            cItems() {
                return this.limit ? this.items.slice(0, (this.limit*1)) : this.items;
            },

        },
        methods: {
            multicheckDisabled(id){
                return this.multiActiveId.length > 4 && this.multiActiveId.indexOf(id) === -1
            },
            cMessage(id){
                return _.find(this.messageAnimation, i => i === id);
            },
            isActive(id){
                return _.find(this.multiActiveId, i => i === id);
            },
            toggleBtn(id){
                let fh = _.find(this.fullHeight, i => i.id === id);
                this.toggleMessage = !this.toggleMessage;
                $(this.$el).find(`.text-${id}`).css({
                    'max-height': (this.toggleMessage)?`${fh.height}px`:'30px'
                });
                $(this.$el).find(`.btn-show-${id}`).css({
                    'display': (this.toggleMessage)?'none':'block'
                });
                $(this.$el).find(`.btn-hide-${id}`).css({
                    'display': (this.toggleMessage)?'block':'none'
                });
                return;
            },
            callAction(id){
                this.$emit('open:entity:modal', id);
            }
        },
        mounted(){
            if(this.items)
                this.items.forEach((item)=>{
                    let fh = $(this.$el).find(`.text-${item.id}`)[0].scrollHeight;
                    if(fh > 30){
                        this.messageAnimation.push(item.id);
                        this.fullHeight.push({id: item.id, height: fh});
                        console.log(this.fullHeight)
                    }
                })
        },
        watch: {
            activeId(val){
                (!this.nonShare) ? this.$emit('item:click', val) : this.callAction(val);
            },
            multiActiveId(val){
                this.$emit('multi:active:click', val);
            }
        }
    }
</script>

<style lang="scss">
    .list {
        height: 350px;
        padding-bottom: 20px;
        overflow: auto;
        position: relative;

        .md-spinner {
            margin: 0 auto;
            display: block;
        }

        .item {
            border-bottom: 1px solid #f3f3f3;
            position: relative;
            transition: all .3s;
            &:before {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                content: '';
                background: #eeeeee;
                z-index: 1;
                transition: all .3s;
            }
            &-active:before {
                width: 100%;
            }
            &:last-child {
                border-bottom-color: #f7f7f7;
            }
            .wrapper {
                padding: 10px 0;
                position: relative;
                z-index: 2;
            }
            .checkbox-input {
                cursor: pointer;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: 9;
            }
            .text-container {
                padding-top: 5px;
                position: relative;
                z-index: 2;
                .text {
                    text-align: left;
                    max-height: 30px;
                    overflow: hidden;
                    font-size: 11px;
                    line-height: 14px;
                    font-weight: 500;
                    color: #444444;
                    width: 100%;
                    position: relative;
                    transition: all 0.2s;

                    &.animation {
                        transition: all 0.2s;
                    }
                }
                span {
                    position: absolute;
                    display: inline-block;
                    left: 0;
                    bottom: 10px;
                    font-size: 10px;
                    line-height: 15px;
                    font-weight: 300;
                    cursor: pointer;
                    i{
                        font-style: normal;

                        &.btn-hide {
                            display: none;
                        }
                    }
                }
            }
            .top-container {
                cursor: pointer;
                .list-title {
                    .md-card-header {
                        text-align: left;
                        padding: 0;

                        .md-title {
                            font-weight: 600;
                            font-size: 15px;
                            line-height: 18px;
                        }
                    }
                }
            }

            .number {
                color: #000;
                border-radius: 10px;
                background: #fff;
                padding: 0 7px;
                font-weight: 600;
                text-align: center;
                display: block;
                margin: 0 auto;
                font-size: 11px;
                line-height: 20px;
                box-shadow: 0 0 5px rgba(0,0,0,.5);
            }

        }
    }
    @media all and (max-width: 360px){
        .list {
            height: 300px;
        }
    }
</style>