<template>
    <div class="filter-list-container">
        <div class="modal-body">
            <!--headers component-->
            <item-list-header :headers="headers[cHeaders]" :hideColumns="hideColumns" :nonShare="nonShare">
            </item-list-header>
            <!--list component-->
            <filter-list :items="items" :nonShare="nonShare" :limit="limit" :hasMoreItems="hasMoreItems"
                         :spin="spin" :multiCheck="multiCheck" @item:click="itemClick" @load:more="loadMore(action)"
                         @open:entity:modal="openEntityModal" @multi:active:click="multiActiveClick">
            </filter-list>
            <!--item-filter component-->
            <search-filter v-if="search" @change="onChange" :query="query"></search-filter>
        </div>
    </div>
</template>

<script>
    import FilterList from './filter-list.vue';
    import SearchFilter from '../../filter/search-filter.vue';
    import ItemListHeader from '../../item-list-parts/item-list-header.vue';

    export default {
        components:{ItemListHeader, FilterList, SearchFilter},
        props:['nonShare', 'items', 'spin', 'search', 'entity', 'item', 'count', 'entityItem', 'action', 'id', 'limit',
            'limitCount', 'filterCount', 'multiCheck', 'query'],
        data(){
            return {
                itemIds: [],
                itemsLimit: null,
                searchQuery: '',
                hideColumns: true,
                headers:{
                    productsHeaders: {
                        title: 'Product',
                        shadow: 'Past',
                    },
                    projectsHeaders: {
                        title: 'Projects',
                        shadow: 'Future'
                    },
                    usersHeaders: {
                        title: 'People',
                        shadow: 'Present',
                        my: 'my'
                    },
                    usersValueHeaders: {
                        title: 'People',
                        shadow: 'Present',
                        like: 'value',
                        income: 'Added',
                    },
                    addOwnersHeaders: {
                        title: 'add',
                        shadow: 'Owners',
                    },
                    removeOwnersHeaders: {
                        title: 'remove',
                        shadow: 'Owners',
                    }
                },
            }
        },
        computed:{
            hasMoreItems(){
                return  this.limitCount > this.limit
            },
            cHeaders(){
                return (!this.nonShare) ? `${this.entity}Headers` : `${this.entity}ValueHeaders`;
            },
            parent(){
                return this.$route.matched[1].name;
            }
        },
        methods:{
            onChange(val){
                this.searchQuery = val;
            },
            itemClick(val){
                this.$emit('item:click', val)
            },
            openEntityModal(val){
                this.$emit('open:entity:modal', val)
            },
            multiActiveClick(val){
                this.itemIds = val
            },
            //====---------------------------------------------
            loadMore(type){
                if(this.count > this.itemsLimit) {
                    this.itemsLimit = this.itemsLimit*1 + 20;
                    this[`${type}More`]();
                }
            },
            //possibleOwners---------------------------
            possibleOwnersMore(){
                this.$router.push({
                    name: `${this.parent}UserList`,
                    params: {entity: this.entity, id: this.id, action: 'user-list', limit: this.itemsLimit}
                });
            },
            possibleOwnersSearch(){
                this.$router.push({
                    name: (this.searchQuery) ? `${this.parent}OwnersListSearch` : `${this.parent}OwnersList`,
                    params: {entity: 'projects', id: this.id, action: 'owners-list', query: this.searchQuery}
                });
            },
            //invite----------------------------------------------------
            inviteMore(){
                this.$router.push({
                    name: `${this.parent}InviteSorting`,
                    params: {entity: this.entity, limit: this.itemsLimit}
                });
            },
            inviteSearch(){
                this.$router.push({
                    name: (this.searchQuery) ? `${this.parent}InviteSortingSearch` : `${this.parent}InviteSorting`,
                    params: {entity: this.entity, query: this.searchQuery,},
                })
            },
            //share-----------------------------------------
            shareMore(){
                this.$router.push({
                    name:`${this.parent}ShareSorting`,
                    params: {
                        id: this.item.id,
                        entity: this.entityItem,
                        action: 'share-sorting-list',
                        sortEntity: this.entity,
                        limit: this.itemsLimit,
                    }
                });
            },
            shareSearch(){
                this.$router.push({
                    name: (this.searchQuery) ? `${this.parent}ShareSortingSearch` : `${this.parent}ShareSorting`,
                    params: {
                        id: this.item.id,
                        entity: this.entityItem,
                        action: 'share-sorting-list',
                        sortEntity: this.entity,
                        limit: this.itemsLimit,
                        query: this.searchQuery,
                    }
                });
            },
            //usership-----------------------------------------------------------
            usershipMore(){
                this.$router.push({
                    name: `${this.parent}ActionMore`,
                    params: {id: this.id, entity: this.entityItem, action: 'usership', limit: this.itemsLimit}
                });
            },
            usershipSearch(){
                this.$router.push({
                    name: (this.searchQuery) ? `${this.parent}ActionSearch` : `${this.parent}ActionMore`,
                    params: {
                        id: this.id,
                        entity: this.entityItem,
                        action: 'usership',
                        limit: this.itemsLimit,
                        query: this.searchQuery,
                    }
                });
            },
            //projectFilter--------------------------------------------
            projectFilterSearch(){
                this.$router.push({
                    name: (this.searchQuery) ?
                        `${this.parent}ProjectsSortingListSearch` : `${this.parent}ProjectsSortingList`,
                    params: {
                        action: 'projects-sorting-list',
                        sortEntity: 'projects',
                        limit: this.itemsLimit,
                        query: this.searchQuery
                    }
                });
            },
            projectFilterMore(){
                this.$router.push({
                    name: (this.searchQuery) ?
                        `${this.parent}ProjectsSortingListSearch` : `${this.parent}ProjectsSortingList`,
                    params: {
                        action: 'projects-sorting-list',
                        sortEntity: 'projects',
                        limit: this.itemsLimit,
                        query: this.searchQuery
                    }
                });
            },
            //projectThank------------------------------------------------
            projectThankSearch(){
                this.$router.push({
                    name: (this.searchQuery) ? `${this.parent}ActionSearch` : `${this.parent}ActionMore`,
                    params: {
                        id: this.id,
                        entity: 'users',
                        action: 'projects-thank-sorting-list',
                        limit: this.itemsLimit,
                        query: this.searchQuery
                    }
                });
            },
            projectThankMore(){
                this.$router.push({
                    name: (this.searchQuery) ? `${this.parent}ActionSearch` : `${this.parent}ActionMore`,
                    params: {
                        id: this.id,
                        entity: 'users',
                        action: 'projects-thank-sorting-list',
                        limit: this.itemsLimit,
                        query: this.searchQuery
                    }
                });
            },
            fetchSearch: _.debounce(function () {
                this[`${this.action}Search`]();
            }, 500),
        },
        mounted(){
            if(this.limit) this.itemsLimit = this.limit;
        },
        watch: {
            itemIds(val){
                if(val) this.$emit('has:items', {hasItems: true, itemIds: val});
            },
            searchQuery(){
                this.fetchSearch()
            }
        }
    }
</script>

<style lang="scss" scoped>
    .filter-list-container {
        //body modal box styles
        .modal-body {
            background: #fff;
            padding: 0 20px;
            .filter {
                position: absolute;
                z-index: 9999;
                bottom: 10px;
            }
        }
    }

</style>