<template>
    <div class="message">
        <md-input-container>
            <md-textarea :disabled="disabled"
                         maxlength="999"
                         placeholder="Tap to edit message"
                         v-model="message">
            </md-textarea>
        </md-input-container>
    </div>
</template>
<script>
    export default {
        props: ['disabled'],
        data(){
            return {
                message: '',
            }
        },
        watch: {
            message(val){
                this.$emit('message:change', val);
            }
        }
    }
</script>
<style lang="scss">
    .message {
        .md-input-container {
            padding: 10px;
            width: 90%;
            min-height: 130px;
            background: #ffffff;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            position: relative;
            margin: 10px auto 20px;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            &:before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                margin-left: -0.5em;
                bottom: -14px;
                left: 47%;
                box-sizing: border-box;
                border: 7px solid black;
                border-color: transparent transparent #fff #fff;
                transform-origin: 0 0;
                transform: rotate(-45deg);
                box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
            }
            &:after {
                background: transparent !important;
            }
            .md-count {
                position: absolute;
                top: 5px;
                right: 5px;
                font-size: 8px;
                font-weight: 600;
                color: #a2a2a2;
                line-height: 10px;
            }
            textarea.md-input {
                font-size: 13px;
                line-height: 16px;
                font-weight: 700;
                font-style: italic;

                &::-webkit-input-placeholder {
                    color: #000;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 12px;
                }
                &::-moz-placeholder          {
                    color: #000;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 12px;
                }/* Firefox 19+ */
                &:-moz-placeholder           {
                    color: #000;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 12px;
                }/* Firefox 18- */
                &:-ms-input-placeholder      {
                    color: #000;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 12px;
                }
            }
        }
    }
    @media all and (max-width: 360px) {
        .message {
            .md-input-container {
                min-height: 80px;
            }
        }
    }
</style>