<template>
    <div class="offered-info" v-if="item.card">
        <div class="info" v-if="entity == 'incoming'">
            The Total Value is <span class="chips black-bg">{{item.card.value}}</span>
            by <span class="chips black-bg">{{ item.card.likedOrHappied }} out of {{ item.card.shared }}</span> people.
            Your current value is
            <span class="chips black-bg">0</span>.
        </div>
        <div class="info" v-if="entity == 'outgoing'">
            Our Total Value is <span class="chips black-bg">{{ item.card.value }}</span>
            by <span class="chips black-bg">{{ item.card.likedOrHappied }} out of {{item.card.shared}}</span> people.
            Your current Value is <span class="chips black-bg">{{ item.card.likeOrHappy }}</span>.
            <span v-if="item.incomingShareUser">
                {{item.incomingShareUser && item.incomingShareUser.fullName}}<br>
                shared it with <span class="chips black-bg">{{item.incomingShareAmount}}cr</span>
            </span>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['entity', 'item']
    }
</script>
<style lang="scss">
    .info {
        font-size: 13px;
        line-height: 26px;
        margin-top: 20px;
    }
    @media all and (max-width: 360px){
        .info {
            margin-top: 10px;
            line-height: 20px;
        }
    }
</style>