<template>
    <!--modal-body-->
    <div class="modal-body">
        <div class="modal-body-description">
            <p>Our
                <span v-if="entity === 'products'">
                    Total Values is <span class="chips black-bg no-active">{{ item.value }}</span>
                </span>
                <span v-if="entity === 'projects'">
                    Average Values is <span class="chips black-bg no-active">{{ item.average }}</span>
                </span>
                by
                <span class="chips black-bg no-active">
                    {{ item.liked || item.happied }} out of {{ item.shared }}
                </span>
                people. Your current Value is
                <span class="chips black-bg no-active" v-if="item.happy || item.happy === 0">
                    {{ (item.happy) ? item.happy : 0 }}
                </span>
                <span class="chips black-bg no-active" v-if="item.like || item.like === 0">
                    {{ (item.like) ? item.like : 0 }}
                </span>.

                <span v-if="item.incomingShareUser">
                    <a class="chips black-bg" href="#" @click.prevent="showUser(item.incomingShareUser.id)">
                        {{item.incomingShareUser.fullName}}
                    </a> shared
                    <span class="chips black-bg no-active">{{item.incomingShareAmount}}cr</span>
                    and you've shared forward
                    <span class="chips black-bg no-active">{{item.outgoingShareAmount}}cr</span>
                </span>
                <span v-if="item.isCreator">
                    You've shared
                    <span class="chips black-bg no-active">
                        {{ (item.outgoingShareAmount) ? item.outgoingShareAmount : 0 }}cr
                    </span>.
                    Our total support is
                    <span class="chips black-bg no-active">{{item.supportedByAllUsers}}cr</span>
                </span>
                <span v-if="!item.isCreator">
                    You have supported
                    <span class="chips black-bg no-active">{{item.supportedByUser}}cr</span>
                    out of our total of
                    <span class="chips black-bg no-active">{{item.supportedByAllUsers}}cr</span>.
                </span>
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        props:['item', 'entity'],
        methods: {
            showUser(id){
                this.$emit('show:user', id)
            }
        },
    }
</script>

<style lang="scss">
    .modal-body {
        position: relative;
        background: #f1f1f1;
        text-align: center;
        box-shadow: inset 0 0 15px rgba(0,0,0,.1);

        .modal-body-description {
            font-size: 13px;
            line-height: 26px;
            padding: 20px 10px;
            p {
                margin: 0;
                a {
                    color: #fff;
                    transition: all .3s;

                    &:hover {
                        background: #919191;
                    }
                }
            }
        }
    }
</style>