<template>
    <div class="modal-header">
        <md-card-header>
            <div class="md-title">{{ item.title }}</div>
            <div class="md-subhead">
                by
                <a v-if="!item.author" href="#" @click.prevent="showUser(item.user.id)">
                    {{ item && item.user.fullName }}
                </a>
                <span v-if="item.author">{{item.author}}</span>
            </div>
        </md-card-header>
        <div class="md-description">
            <p class="desc" @click="showMore()">{{ item.description }}</p>
            <!--for feature-->
            <div class="btn-container">
                <a :href="item.link" target="_blank">Open</a>
                <a href="#" v-if="item.isCreator" @click.prevent="edit()">Edit</a>
                <a href="#" @click.prevent="usership(item.id)">Usership</a>
                <!--<a href="#" @click.prevent="$emit('show:wow', item.id)">wow</a>-->
                <!--<a href="#" v-if="entity === 'projects'" @click.prevent="owners(item.id)">Owners</a>-->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['item', 'entity'],
        data(){
            return {
                readMore: false,
            }
        },
        methods:{
            openLink(link){
                window.open(link, '_blank');
            },
            showUser(id){
                this.$emit('show:user', id);
            },
            showMore(){
                this.readMore = !this.readMore;
                if(this.readMore){
                    var fullHeight = $(this.$el).find('.desc')[0].scrollHeight;
                    return $(this.$el).find('.desc').css({"height": fullHeight, "margin-bottom": "10px"})
                }
                if(!this.readMore){
                    return $(this.$el).find('.desc').css({"height": '55px', "margin-bottom": "0"})
                }
            },
            usership(id){
                this.$emit('usership:click', id);
            },
            owners(id){
                this.$emit('owners:click', id);
            },
            edit(){
                this.$emit('edit:click');
            },
        }
    }
</script>

<style lang="scss">
    .modal-header {
        text-align: left;
        padding: 20px 30px 20px;
        .md-title {
            font-size: 20px;
            line-height: 24px;
            font-weight: 800;
        }
        .md-subhead, & a {
            font-size: 11px;
            line-height: 16px;
            color: #535353;
            transition: all 0.2s;
            a {
                border-bottom: 1px solid #c0c0c0;
                transition: all .2s;
                &:hover {
                    color: #000;
                    border-bottom-color: transparent;
                }
            }
        }
        .md-description {
            p {
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                margin: 10px 0 0;
                height: 55px;
                overflow: hidden;
                transition: all 0.2s;
                position: relative;
                cursor: pointer;

                &.show-more {
                    height: auto;
                }
            }
            .btn-container {
                padding-top: 10px;
                position: relative;
                box-shadow: -6px -10px 15px rgba(255,255,255,0.8);
                a {
                    font-size: 11px;
                    line-height: 14px;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-right: 30px;
                    color: #000;
                    border-bottom: 1px solid #2b2b2b;
                    transition: all .2s;
                    &:hover {
                        border-bottom-color: transparent;
                    }
                }
            }
        }
    }
</style>