<template>
    <div class="quotes">
        <md-icon md-src="/pictures/quote_left.svg"></md-icon>
        <div class="text-container" :style="{'padding-bottom': (messageAnimation)?'0':'15px'}">
            <div :class="['text',{'animation': messageAnimation}]" @click="toggleBtn()"
                 :style="{'max-height': (toggleMessage)?`${fullHeight}px`:'50px'}">
                {{message}}
            </div>
        </div>
        <md-icon md-src="/pictures/quote_right.svg"></md-icon>
    </div>
</template>

<script>
    export default {
        props: ['message'],
        data(){
            return {
                toggleMessage: false,
                messageAnimation: false,
                fullHeight: null,
                disabledToggle: false,
            }
        },
        methods:{
            toggleBtn(){
                if(this.disabledToggle) {
                    this.toggleMessage = !this.toggleMessage;
                    this.messageAnimation = !this.messageAnimation;
                }
            },
        },
        mounted(){
            Vue.nextTick(()=> {
                this.fullHeight = $(this.$el).find('.text')[0].scrollHeight;
                if(this.message && this.fullHeight > 35){
                    this.messageAnimation = true;
                    this.disabledToggle = true;
                }
            });
        },
    }
</script>

<style lang="scss">
    .quotes {
        font-size: 13px;
        line-height: 16px;
        font-weight: 700;
        font-style: italic;
        padding: 0 30px;
        position: relative;
        word-wrap: break-word;

        .md-icon {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 50px;
            color: #9f9f9f;
            display: block;

            &:first-child {
                right: auto;
                left: 0;
            }
        }

        .text-container {
            .text {
                cursor: pointer;
                max-height: 50px;
                overflow: hidden;
                font-size: 13px;
                line-height: 16px;
                font-weight: 700;
                width: 100%;
                position: relative;
                transition: all 0.2s;

                &.animation {
                    transition: all 0.2s;
                }
            }
            span {
                position: absolute;
                display: inline-block;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: -5px;
                font-size: 10px;
                line-height: 20px;
                font-weight: 300;
                cursor: pointer;
                i{
                    font-style: normal;
                }
            }
        }
    }
</style>