<template>
    <div class="radio-content">
        <div class="title">{{title}}</div>
        <div class="md-error" v-if="disabled">This functionality is disabled</div>
        <div :class="['radio-box', {'disabled': disabled}]">
            <md-radio v-for="(item, index) in items" :key="item[index]"
                      :class="{'md-active': model}"
                      v-model="model"
                      name="switch"
                      :disabled="disabled"
                      :md-value="(item.value || item.value === 0)?item.value:'0'">
                {{item.btnName}}
            </md-radio>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['title', 'items', 'newModel', 'disabled'],
        data(){
            return {
                model: 1
            }
        },
        mounted(){
            setTimeout(()=>{
                this.$set(this, 'model', (this.newModel || this.newModel === 0) ? this.newModel : '0');
            })
        },
        watch:{
            model(val){
                this.$emit('switch:click', val)
            }
        }
    }
</script>

<style lang="scss">
    .radio-content {
        .title {
            padding: 0 0 10px !important;
            font-size: 10px;
            line-height: 14px;
            font-weight: 700;
            text-transform: uppercase;
        }
        .md-error {
            padding: 0 0 10px;
            font-size: 13px;
            line-height: 16px;
        }
        .radio-box {
            border: 2px solid #000000;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            display: inline-block;
            font-size: 0;
            line-height: 0;
            overflow: hidden;
            box-shadow: 0 0 15px rgba(0,0,0,.3);

            &.disabled {
                box-shadow: none;
                border: 1px solid #2b2b2b
            }

            .md-radio {
                margin: 0;
                padding: 0;
                min-height: 40px;
                position: relative;
                min-width: 70px;
                display: inline-block;
                text-align: center;
                transition: all .2s;

                &:not(:first-child){
                    border-left: 1px solid #000;
                }
                &.md-checked {
                    background: #bbbbbb;
                    &:first-child {
                        -webkit-border-radius: 17px 0 0 17px;
                        -moz-border-radius: 17px 0 0 17px;
                        border-radius: 17px 0 0 17px;
                    }
                    &:last-child {
                        -webkit-border-radius: 0 17px 17px 0;
                        -moz-border-radius: 0 17px 17px 0;
                        border-radius: 0 17px 17px 0;
                    }
                    .md-radio-label {
                        font-weight: 700;
                        box-shadow: inset 0 0 20px rgba(0,0,0,.3);
                    }
                }
                .md-radio-container, .md-radio-container:before {
                    display: none;
                }
                .md-radio-label {
                    position: relative;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    margin: 0;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }
    }
</style>