<template>
    <div class="user-page">
        <header class="entity-header">
            <div class="header-cap">
                <md-layout>
                    <md-layout md-flex="55" md-vertical-align="start">
                        <little-icon-button :icon="showSearchBtn.icon"
                                            :btnText="showSearchBtn.text"
                                            @button:click="usersSearch">
                        </little-icon-button>
                        <little-icon-button :icon="showFilterBtn.icon"
                                            :btnText="showFilterBtn.text"
                                            @button:click="projectFilter">
                        </little-icon-button>
                        <type-filter @fetch:type="usersFilter" :typeList="typeList" :icon="icon"
                                     :filtered="'users'" v-show="filterKnownUnknown">
                        </type-filter>
                    </md-layout>
                    <md-layout md-flex="45">
                        <!--balance component-->
                        <balance :sqStatus="sqStatus" :parent="'entity'"></balance>
                    </md-layout>
                </md-layout>
            </div>

            <div class="entity-cap">
                <!--item list header component-->
                <item-list-header @sort="sort" :headers="usersHeaders"
                                  :columns="usersColumns" :projectThank="projectThank">
                </item-list-header>
            </div>
        </header>

        <main :style="{height: `${cHeight}px`}">
            <!--users-list-->
            <users-list v-if="!projectId"
                        :filterStatus="filterStatus"
                        :sort="sorting"
                        :item="item"
                        :limit="limit"
                        :pageName="pageName"
                        :usershipType="usershipType"
                        :filterEntity="filterEntity"
                        :projectId="projectId"
                        :updateUsersList="usersListUpdate"
                        @filter:toggle="showFilter"
                        @refresh="refresh">
            </users-list>

            <!--users-list-filter-by-projects-->
            <users-list-sort-by-projects v-if="projectId"
                                         :filterStatus="filterStatus"
                                         :sort="sortingWithProjectsSort"
                                         :item="item"
                                         :pageName="pageName"
                                         :filterEntity="filterEntity"
                                         :limit="limit"
                                         :usershipType="usershipType"
                                         :projectId="projectId"
                                         :updateUsersList="usersListUpdate"
                                         @refresh="refresh"
                                         @filter:toggle="showFilter">
            </users-list-sort-by-projects>
        </main>

        <router-view></router-view>

    </div>
</template>

<script>
    import Auth from '../../../../services/auth';
    import Balance from '../common/balance/balance.vue';
    import EventBus from '../../../../services/EventBus';
    import UsersList from '../common/user/users-list.vue';
    import TypeFilter from '../common/filter/type-filter.vue';
    import LittleIconButton from '../common/buttons/little-icon-button.vue';
    import ItemListHeader from '../common/item-list-parts/item-list-header.vue';
    import UsersListSortByProjects from '../common/user/users-list-sort-by-projects.vue';
    import CloseButtonCoordinator from '../common/modals/services/close-button-coordinator';

    // let defaultData = ;

    export default {
        props: ['filterEntity', 'item'],
        components: {
            Balance,
            UsersList,
            TypeFilter,
            ItemListHeader,
            LittleIconButton,
            UsersListSortByProjects
        },
        data(){
            return {
                usersListUpdate: false,
                typeList: [
                    {
                        value: 'all',
                        title: 'All'
                    },
                    {
                        value: 'known',
                        title: 'Known'
                    },
                    {
                        value: 'unknown',
                        title: 'Unknown'
                    },
                ],
                filterStatus: false,
                showSearchBtn: {
                    icon: '/pictures/icon_search.svg',
                    text: 'Search',
                },
                showFilterBtn: {
                    icon: '/pictures/icon_filter.svg',
                    text: 'Filter projects',
                },
                icon: '/pictures/user_(1).svg',
                limit: 50,
                sorting: [
                    {
                        key: 'activity',
                        direction: 'DESC'
                    }
                ],
                sortingWithProjectsSort: [
                    {
                        key: 'created_at',
                        direction: 'DESC'
                    }
                ],
                containerHeight: '',
                headerHeight: '',
                sqStatus: true,
                usersHeaders: {
                    title: 'People',
                    shadow: 'Present',
                    sortName: 'name'
                },
                usersColumns: [
                    {
                        sortName: 'thanks',
                        title: 'My',
                        id: 'my'
                    },
                    {
                        sortName: 'SQ',
                        title: 'our',
                        id: 'sq'
                    }
                ],
                filterKnownUnknown: false,
                usershipType: null,
                pageName: 'item',
                projectThank: false,
                projectId:null,
            };
        },
        computed: {
            cHeight(){
                return this.containerHeight - this.headerHeight - 40;
            },
            parent() {
                return this.$route.matched[2].name;
            },
            sortingName(){
                return `${this.parent}ProjectsSortingList`;
            },
        },
        methods: {
            refresh(val){
                this[`${val.entity}ListUpdate`] = val.status;
            },
            showFilter(val){
                this.$set(this,'filterKnownUnknown', val);
            },
            usersFilter(val){
                this.$set(this, 'usershipType', val);
            },
            projectFilter(){
                CloseButtonCoordinator.setRoute(this.$route.path);
                this.$router.push({
                    name: this.sortingName,
                    params: {
                        action: 'projects-sorting-list',
                        sortEntity: 'projects',
                        limit: 50,
                    }
                });
            },
            usersSearch(){
                this.filterStatus = !this.filterStatus;
            },
            sort(options){
                if(options.status === true){
                    var direction = "ASC"
                }
                if(options.status === false){
                    var direction = "DESC"
                }
                this.sorting.splice(0, 1, {
                    key: options.name,
                    direction
                });
                this.sortingWithProjectsSort.splice(0, 1, {
                    key: options.name,
                    direction
                });
                let search = this.$route.params.search;
                let routeStep3 = this.$route.matched[3];
                if(search){
                    this.$router.push({
                        name: (routeStep3 && routeStep3.name === 'entityFilter') ? 'entityFilter' : 'entity',
                        params: {sortBy:options.name, direction, search}
                    });
                }
                if(!search){
                    this.$router.push({
                        name: (routeStep3 && routeStep3.name === 'entityFilter') ? 'entityFilter' : 'entity',
                        params: {sortBy:options.name, direction}
                    });
                }
            },
            adaptiveScroll(){
                this.containerHeight = this.$el.clientHeight;
                this.headerHeight = this.$el.children[0].clientHeight;
            },
            init(){
                this.sorting.splice(0, 1, {
                    key: (this.$route.params.sortBy) ? this.$route.params.sortBy : 'activity',
                    direction: (this.$route.params.direction) ? this.$route.params.direction : 'DESC'
                });
                this.projectId = (this.$route.params.projectId) ? this.$route.params.projectId : null;
            }
        },
        beforeRouteUpdate(to, from, next){
            if(from.params.action === 'share' ||
                from.params.action === 'support' ||
                from.params.action === 'thank' ||
                from.params.action === 'value')
                this.usersListUpdate = true;
            next();
        },
        mounted(){
            this.init();
            EventBus.$on('filter:status', status => this.filterStatus = status);
            this.adaptiveScroll();
            window.addEventListener('resize', () => {
                this.adaptiveScroll();
            })
        },
        watch:{
            '$route.name'(routeName){
                (routeName === 'entityFilter' || routeName === 'entityFilterSearch') ?
                    this.projectThank = true : this.projectThank = false;
            },
            '$route.params.projectId'(id){
                this.projectId = id;
                this.init();
            }
        }

    }
</script>

<style lang="scss">
    .user-page {
        padding: 20px;
        height: 100%;
        overflow: hidden;

        header {
            position: relative;
            background: #ffffff;
            z-index: 2;

            .item-list-header-title, .item-list-header-first {
                cursor: pointer;
            }
        }

        main {
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
    }
</style>