<template>
    <div class="create-component">
        <modals :type="action"></modals>
    </div>
</template>
<script>
    import Modals from './common/modals.vue';
    import Auth from '../../../services/auth';
    import EventBus from '../../../services/EventBus';
    import CreateItemStepCoordinator from './common/modals/services/create-item-step-coordinator';

    export default {
        components: {
            Modals
        },
        data(){
            return {
                action: null,
                user: Auth.getUser(),
            }
        },
        watch: {
            '$route': 'init',
        },
        methods: {
            ifRegUser(){
                if(this.user.id !== Auth.getUserFromStorage().id) {
                    location.replace('#/app/home');
                    location.reload();
                }
            },
            init () {
                let entity = this.$route.params.entity;
                let step = this.$route.params.step;
                this.action = this.$route.params.action;
                if(step < 0 || step > CreateItemStepCoordinator.getValidStep()) {
                    this.$router.push({
                        params: {
                            entity,
                            step: CreateItemStepCoordinator.getValidStep()
                        }
                    });
                }
                EventBus.$emit('modal:show', {type: 'create-edit', entity, step, action: this.action});
            }
        },
        mounted() {
            this.ifRegUser();
            this.init();
        },
    }
</script>

<style lang="scss">
    .create-component {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;
    }
</style>