<template>
    <div class="edit-component">
        <modals :type="action"></modals>
    </div>
</template>
<script>
    import Modals from './common/modals.vue';
    import Auth from '../../../services/auth';
    import ErrorsComponent from '../../Errors';
    import Project from '../models/ProjectModel';
    import Product from '../models/ProductModel';
    import EventBus from '../../../services/EventBus';
    import CreateItemStepCoordinator from './common/modals/services/create-item-step-coordinator';

    export default {
        components: {
            Modals
        },
        data(){
            return {
                action: null,
                user: Auth.getUser(),
                modelsMap: {
                    'projects': Project,
                    'products': Product
                },
            }
        },
        watch: {
            '$route': 'init',
        },
        methods: {
            ifRegUser(){
                if(this.user.id !== Auth.getUserFromStorage().id) {
                    location.replace('#/app/home');
                    location.reload();
                }
            },
            init () {
                let entity = this.$route.params.entity;
                let id = this.$route.params.id;
                let step = this.$route.params.step;
                this.action = this.$route.params.action;
                if(step < 0 || step > CreateItemStepCoordinator.getValidStep()) {
                    this.$router.push({
                        params: {
                            entity,
                            step: CreateItemStepCoordinator.getValidStep()*1 + 1
                        }
                    });
                }
                this.modelsMap[entity].findById(id).then( item => {
                    EventBus.$emit('modal:show', {type: 'create-edit', entity, step, action: this.action, item});
                }, errors => {
                    if(errors.status = 400){
                        this.$router.push(`${ErrorsComponent.config().redirectPath}/400`)
                    }
                });
            }
        },
        mounted() {
            this.ifRegUser();
            this.init();
        },
    }
</script>

<style lang="scss">
    .edit-component {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;
    }
</style>