<template>
    <div class="user-list-component">
        <modals :type="action"></modals>
    </div>
</template>
<script>
    import Modals from './common/modals.vue';
    import User from '../models/UserModel';
    import ErrorsComponent from '../../Errors';
    import Project from '../models/ProjectModel';
    import Product from '../models/ProductModel';
    import EventBus from '../../../services/EventBus';

    export default {
        components: {
            Modals
        },
        data() {
            return {
                id: null,
                entity: null,
                action: null,
                sortEntity: null,
                searchQuery: '',
                modelsMap: {
                    'projects': Project,
                    'users': User,
                    'products': Product
                },
                filtersItemSelect: [
                    {
                        "or": true,
                        "filters": []
                    }
                ],
                limit: null,
                actionMap: {
                    users: 'usersAsAuthorsList',
                    projects: 'projectsAsAuthorList'
                }
            }
        },
        methods: {
            fetchQuerySearch(val){
                this.filtersItemSelect[0].filters = [];
                this.filtersItemSelect[0].filters.push({
                    key : 'name',
                    value : val,
                    operator : 'ct'
                });
                if(val) this.sortAction(
                    this.id,this.entity,this.action,this.limit,this.filtersItemSelect);
            },
            sortAction(id,entity,sortEntity,action,limit,filter_groups){
                Project[this.actionMap[sortEntity]](id,{limit, filter_groups}).then(data => {
                    Vue.nextTick(() => {
                        EventBus.$emit('modal:show', {
                            count: data.count,
                            type: action,
                            items: data[sortEntity],
                            limit,
                            filterCount: data.filterCount,
                            limitCount: data.limitCount,
                            entity,
                            sortEntity,
                            id
                        });
                    });
                }, errors => {
                    if(errors.status === 400){
                        this.$router.push(`${ErrorsComponent.config().redirectPath}/400`)
                    }
                });
            },
            init () {
                this.id = this.$route.params.id;
                this.entity = this.$route.params.entity;
                this.action = this.$route.params.action;
                this.sortEntity = this.$route.params.sortEntity;
                if(this.$route.params.query) this.searchQuery = this.$route.params.query;
                if(this.$route.params.limit) this.limit = this.$route.params.limit;
                this.sortAction(this.id,this.entity,this.sortEntity,this.action,this.limit);
            }
        },
        mounted() {
            this.init();
        },
        watch: {
            '$route': 'init',
            searchQuery(val){
                this.fetchQuerySearch(val);
            }
        }
    }
</script>

<style lang="scss">
    .user-list-component {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;
    }
</style>