<template>
    <div class="entity-component">
        <modals :type="action"></modals>
    </div>
</template>
<script>
    import User from '../models/UserModel';
    import Modals from './common/modals.vue';
    import Auth from '../../../services/auth';
    import ErrorsComponent from '../../Errors';
    import Project from '../models/ProjectModel';
    import Product from '../models/ProductModel';
    import EventBus from '../../../services/EventBus';

    export default {
        components: {
            Modals
        },
        data() {
            return {
                action: null,
                user: Auth.getUser(),
                entityTypeMap: {
                    'projects': 'project-product',
                    'users': 'user',
                    'products': 'project-product'
                },
                modelsMap: {
                    'projects': Project,
                    'users': User,
                    'products': Product
                }
            }
        },
        watch: {
            '$route': 'init',
        },
        methods: {
            ifRegUser(){
                if(this.user.id !== Auth.getUserFromStorage().id) {
                    location.replace('#/app/home');
                    location.reload();
                }
            },
            init () {
                if(this.$route.params.id) var entityId = this.$route.params.id;
                if(this.$route.params.projectId) var projectId = this.$route.params.projectId;
                let entityType = this.$route.params.entity;
                this.action = this.entityTypeMap[entityType];
                this.modelsMap[entityType].findById(entityId).then(data => {
                    Vue.nextTick(() => {
                        EventBus.$emit('modal:show', {type: this.entityTypeMap[entityType], data, entityType, projectId})
                    });
                }, errors => {
                    if(errors.status = 400){
                        this.$router.push(`${ErrorsComponent.config().redirectPath}/400`)
                    }
                });

            }
        },
        mounted() {
            this.ifRegUser();
            this.init();
        }
    }
</script>

<style lang="scss">
    .entity-component {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;
    }
</style>