<template>
    <div class="filter-list-component">
        <modals :type="action"></modals>
    </div>
</template>
<script>
    import User from '../models/UserModel';
    import Modals from './common/modals.vue';
    import ErrorsComponent from '../../Errors';
    import Project from '../models/ProjectModel';
    import Product from '../models/ProductModel';
    import EventBus from '../../../services/EventBus';

    export default {
        components: {
            Modals
        },
        data() {
            return {
                action: null,
                modelsMap: {
                    'projects': Project,
                    'users': User,
                    'products': Product
                }
            }
        },
        watch: {
            '$route': 'init',
        },
        methods: {
            init () {
                this.action = this.$route.params.action;
                let entity = this.$route.params.entity;
                let filterEntity = this.$route.params.filterEntity;
                this.modelsMap[filterEntity].all().then(data => {
                    Vue.nextTick(() => {EventBus.$emit('modal:show', {
                        type: this.action, data, entity, filterEntity, listType:true
                    })});
                }, errors => {
                    if(errors.status = 400){
                        this.$router.push(`${ErrorsComponent.config().redirectPath}/400`)
                    }
                });
            }
        },
        mounted() {
            this.init();
        }
    }
</script>

<style lang="scss">
    .filter-list-component {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;
    }
</style>