<template>
    <div class="share-to-email-component">
        <modals :type="action"></modals>
    </div>
</template>
<script>
    import Modals from './common/modals.vue';
    import ErrorsComponent from '../../Errors';
    import Project from '../models/ProjectModel';
    import Product from '../models/ProductModel';
    import EventBus from '../../../services/EventBus';

    export default {
        components: {
            Modals
        },
        data(){
            return {
                entity: null,
                action: 'invite-sorting-list',
                modelsMap: {
                    'projects': Project,
                    'products': Product
                },
                searchQuery: '',
                filter_groups: [
                    {
                        "or": true,
                        "filters": []
                    }
                ],
                limit: 50,
                sort: [
                    {
                        key: 'title',
                        direction: 'ASC'
                    }
                ],
            }
        },
        methods: {
            fetchQuerySearch(val){
                this.filter_groups[0].filters = [];
                this.filter_groups[0].filters.push({
                    key : 'title',
                    value : val,
                    operator : 'ct'
                });
                if(val) this.sortingInviteList(this.sort, this.limit, this.filter_groups);
            },
            sortingInviteList(sort, limit, filter_groups){
                this.modelsMap[this.entity].all({filter_groups, limit, sort}).then( items => {
                    Vue.nextTick(() => {
                        EventBus.$emit('modal:show', {
                            count: items.count,
                            type: this.action,
                            items: items[this.entity],
                        })
                    });
                });
            },
            init () {
                this.entity = this.$route.params.entity;
                if(this.$route.params.query) this.searchQuery = this.$route.params.query;
                if(this.$route.params.limit) this.limit = this.$route.params.limit;
                if(!this.$route.params.query)
                    this.searchQuery = '';
                    this.sortingInviteList(this.sort, this.limit);
            }
        },
        mounted() {
            this.init();
        },
        watch: {
            '$route': 'init',
            searchQuery(val){
                this.fetchQuerySearch(val);
            }
        }
    }
</script>

<style lang="scss">
    .share-to-email-component {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;
    }
</style>