<template>
    <div class="share-invite-component">
        <modals :type="action"></modals>
    </div>
</template>
<script>
    import Modals from './common/modals.vue';
    import ErrorsComponent from '../../Errors';
    import Project from '../models/ProjectModel';
    import Product from '../models/ProductModel';
    import EventBus from '../../../services/EventBus'

    export default {
        components: {
            Modals
        },
        data(){
            return {
                action: null,
                modelsMap: {
                    'projects': Project,
                    'products': Product
                },
            }
        },
        watch: {
            '$route': 'init',
        },
        methods: {
            init () {
                let entity = this.$route.params.entity;
                let id = this.$route.params.id;
                this.action = this.$route.params.action;

                this.modelsMap[entity].findById(id).then( item => {
                    Vue.nextTick(() => {
                        EventBus.$emit('modal:show', {type: this.action, item, entity,})
                    });
                }, errors => {
                    if(errors.status = 400){
                        this.$router.push(`${ErrorsComponent.config().redirectPath}/400`)
                    }
                });
            }
        },
        mounted() {
            this.init();
        }
    }
</script>

<style lang="scss">
    .share-invite-component {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;
    }
</style>