<template>
    <div class="notification-action-component">
        <modals :type="action"></modals>
    </div>
</template>
<script>
    import Modals from './common/modals.vue';
    import Notification from '../models/NotificationModel';
    import EventBus from '../../../services/EventBus';
    import ErrorsComponent from '../../Errors';

    export default {
        data(){
            return {
                action: null,
            }
        },
        components: {
            Modals
        },
        watch: {
            '$route': 'init',
        },
        methods: {
            init () {
                console.log(this.$route.params)
                let id = this.$route.params.id;
                this.action = this.$route.params.action;
                this.entity = this.$route.params.entity;
                let notificationType = this.$route.params.type;
                let entity = this.$route.params.entity;
                Notification.fetchById(notificationType, id).then(data => {
                    Vue.nextTick(() => {EventBus.$emit('modal:show', {type: this.action, data, entity, notificationType})});
                });
            }
        },
        mounted() {
            this.init();
        }
    }
</script>

<style lang="scss">
    .notification-action-component {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;
    }
</style>