<template>
    <div class="projects-thank-sorting-list-component">
        <modals :type="action"></modals>
    </div>
</template>
<script>
    import User from '../models/UserModel';
    import Modals from './common/modals.vue';
    import Auth from '../../../services/auth';
    import ErrorsComponent from '../../Errors';
    import Project from '../models/ProjectModel';
    import Product from '../models/ProductModel';
    import EventBus from '../../../services/EventBus';

    export default {
        components: {
            Modals
        },
        data() {
            return {
                id: null,
                entity: null,
                action: null,
                limit: null,
                user: Auth.getUser(),
                modelsMap: {
                    'projects': Project,
                    'users': User,
                    'products': Product
                },
                searchQuery: null,
                filter_groups: [
                    {
                        "or": true,
                        "filters": []
                    }
                ],
                sort: [
                    {
                        key: 'title',
                        direction: 'ASC'
                    }
                ],
            }
        },
        methods: {
            fetchQuerySearch(val){
                this.filter_groups[0].filters = [];
                this.filter_groups[0].filters.push({
                    key : 'name',
                    value : val,
                    operator : 'ct'
                });
                this.filter_groups[0].filters.push({
                    key : 'surname',
                    value : val,
                    operator : 'ct'
                });
                if(val)
                    this.projectThankSortList(this.id,this.action,this.entity,this.limit, this.sort,this.filter_groups);
            },
            projectThankSortList(id, action, entity, limit, sort, filter_groups){
                this.modelsMap[entity].sortByProjects(id, {limit, sort, filter_groups}).then((data)=>{
                    Vue.nextTick(() => {EventBus.$emit('modal:show', {type: action, data, entity})});
                }, errors => {
                    if(errors.status = 400){
                        this.$router.push(`${ErrorsComponent.config().redirectPath}/400`)
                    }
                });
            },
            // actions(id,action,entity){debugger
            //     this.modelsMap[entity].findById(id).then(data => {
            //         Vue.nextTick(() => {EventBus.$emit('modal:show', {type: action, data, entity})});
            //     }, errors => {
            //         if(errors.status = 400){
            //             this.$router.push(`${ErrorsComponent.config().redirectPath}/400`)
            //         }
            //     });
            // },
            // usersValueList(id,action,entity,limit,sort,filter_groups){debugger
            //     this.modelsMap[entity].usersListWithValue(id,limit,sort,filter_groups).then(data => {
            //         Vue.nextTick(() => {
            //             EventBus.$emit('modal:show', {
            //                 type: action,
            //                 data,
            //                 entity,
            //                 id,
            //                 nonShare: true
            //             })
            //         });
            //     }, errors => {
            //         if(errors.status = 400){
            //             this.$router.push(`${ErrorsComponent.config().redirectPath}/400`)
            //         }
            //     });
            // },
            ifRegUser(){
                if(this.user.id !== Auth.getUserFromStorage().id) {
                    location.replace('#/app/home');
                    location.reload();
                }
            },
            init () {
                this.id = this.$route.params.id;
                this.action = this.$route.params.action;
                this.entity = this.$route.params.entity;
                this.limit = this.$route.params.limit;
                this.searchQuery = (this.$route.params.query) ? this.$route.params.query : null;
                if(!this.searchQuery)
                    this.searchQuery = '';
                    this.projectThankSortList(this.id,this.action,this.entity,this.limit,this.sort,this.filter_groups);
            }
        },
        mounted() {
            this.ifRegUser();
            this.init();
        },
        watch: {
            '$route': 'init',
            searchQuery(val){
                this.fetchQuerySearch(val);
            }
        }
    }
</script>

<style lang="scss">
    .projects-thank-sorting-list-component {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;
    }
</style>