<template>
    <div class="project-thank-component">
        <modals :type="action"></modals>
    </div>
</template>
<script>
    import Modals from './common/modals.vue';
    import User from '../models/UserModel';
    import ErrorsComponent from '../../Errors';
    import Project from '../models/ProjectModel';
    import Product from '../models/ProductModel';
    import EventBus from '../../../services/EventBus';

    export default {
        components: {
            Modals
        },
        data() {
            return {
                id: null,
                entity: null,
                action: null,
                sortEntity: null,
                projectId: null,
            }
        },
        methods: {
            projectThank(id,entity,action,sortEntity, projectId){
                User.getThankByProject(projectId, id).then(thank => {
                    User.findById(id, projectId).then((data)=>{
                        Project.findById(projectId).then((project)=>{
                            Vue.nextTick(() => {
                                EventBus.$emit('modal:show', {
                                    type: action,
                                    data,
                                    entity,
                                    thank,
                                    projectId,
                                    project,
                                })
                            });
                        })
                    })
                }, errors => {
                    if(errors.status === 400){
                        this.$router.push(`${ErrorsComponent.config().redirectPath}/400`)
                    }
                });
            },
            init () {
                this.id = this.$route.params.id;
                this.entity = this.$route.params.entity;
                this.action = this.$route.params.action;
                this.sortEntity = this.$route.params.sortEntity;
                this.projectId = this.$route.params.projectId;
                this.projectThank(this.id,this.entity,this.action,this.sortEntity,this.projectId);
            }
        },
        mounted() {
            this.init();
        },
        watch: {
            '$route': 'init',
            searchQuery(val){
                this.fetchQuerySearch(val);
            }
        }
    }
</script>

<style lang="scss">
    .project-thank-component {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;
    }
</style>