<template>
    <div class="projects-sorting-list">
        <modals :type="action"></modals>
    </div>
</template>
<script>
    import Modals from './common/modals.vue';
    import User from '../models/UserModel';
    import ErrorsComponent from '../../Errors';
    import Project from '../models/ProjectModel';
    import Product from '../models/ProductModel';
    import EventBus from '../../../services/EventBus';

    export default {
        components: {
            Modals
        },
        data() {
            return {
                id: null,
                entity: null,
                action: null,
                sortEntity: null,
                searchQuery: '',
                modelsMap: {
                    'projects': Project,
                    'users': User,
                    'products': Product
                },
                filter_groups: [
                    {
                        "or": true,
                        "filters": []
                    }
                ],
                sort: [
                    {
                        key: 'title',
                        direction: 'ASC'
                    }
                ],
                limit: 50
            }
        },
        methods: {
            fetchQuerySearch(val){
                this.filter_groups[0].filters = [];
                this.filter_groups[0].filters.push({
                    key : 'title',
                    value : val,
                    operator : 'ct'
                });
                this._sortAction(this.entity,this.sortEntity,this.action,this.limit,this.sort,this.filter_groups);
            },
            _sortAction(entity,sortEntity,action,limit,sort,filter_groups){
                if(entity === 'users'){
                    this.sortingUserList(sortEntity,action,limit,sort,filter_groups);
                }
                if(entity === 'projects'){
                    this.fetchProjectsList(sortEntity,action,limit,sort,filter_groups)
                }
            },
            fetchProjectsList(sortEntity,action,limit,filter_groups){
                // this.modelsMap[sortEntity].sortUsers({limit, filter_groups}).then(data => {
                //     Vue.nextTick(() => {
                //         EventBus.$emit('modal:show', {
                //             type: action,
                //             sortEntity,
                //             limit,
                //             data
                //         })
                //     });
                // }, errors => {
                //     if(errors.status === 400){
                //         this.$router.push(`${ErrorsComponent.config().redirectPath}/400`)
                //     }
                // });
            },
            sortingUserList(sortEntity,action,limit,sort,filter_groups){
                this.modelsMap[sortEntity].sortUsers({limit,sort,filter_groups}).then(data => {
                    Vue.nextTick(() => {
                        EventBus.$emit('modal:show', {
                            type: action,
                            sortEntity,
                            limit,
                            data
                        })
                    });
                }, errors => {
                    if(errors.status === 400){
                        this.$router.push(`${ErrorsComponent.config().redirectPath}/400`)
                    }
                });
            },
            init () {
                this.entity = this.$route.params.entity;
                this.sortEntity = this.$route.params.sortEntity;
                this.action = this.$route.params.action;
                this.searchQuery = (this.$route.params.query) ? this.$route.params.query : null;
                if(this.$route.params.limit) this.limit = this.$route.params.limit;
                if(!this.searchQuery)
                    this.searchQuery = '';
                    this._sortAction(this.entity,this.sortEntity,this.action,this.limit,this.sort,this.filter_groups);
            }
        },
        mounted() {
            this.init();
        },
        watch: {
            '$route': 'init',
            searchQuery(val){
                this.fetchQuerySearch(val);
            }
        }
    }
</script>

<style lang="scss">
    .projects-sorting-list {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;
    }
</style>