<template>
    <div class="action-add-component">
        <modals :type="action"></modals>
    </div>
</template>
<script>
    import Modals from './common/modals.vue';
    import User from '../models/UserModel';
    import ErrorsComponent from '../../Errors';
    import Project from '../models/ProjectModel';
    import Product from '../models/ProductModel';
    import EventBus from '../../../services/EventBus';

    export default {
        components: {
            Modals
        },
        data() {
            return {
                createCardEnabled: false,
                id: null,
                entity: null,
                action: null,
                sortEntity: null,
                searchQuery: '',
                modelsMap: {
                    'projects': Project,
                    'users': User,
                    'products': Product
                },
                filter_groups: [
                    {
                        "or": true,
                        "filters": []
                    }
                ],
                limit: 50,
                usersSort: [
                    {
                        key: 'name',
                        direction: 'ASC'
                    },
                    {
                        key: 'surname',
                        direction: 'ASC'
                    }
                ],
                productsProjectsSort: [
                    {
                        key: 'title',
                        direction: 'ASC'
                    }
                ],
            }
        },
        methods: {
            fetchQuerySearch(val){
                this.filter_groups[0].filters = [];
                this.filter_groups[0].filters.push({
                    key : (this.sortEntity === 'users') ? 'name' : 'title',
                    value : val,
                    operator : 'ct'
                });
                if(val) this.sortingShareList(
                    this.id,this.entity,this.action,this.sortEntity,this.limit,this.sort,this.filter_groups
                );
            },
            initUserBalance(){
                User.fetchTransactions().then(transactions => {
                    this.createCardEnabled = transactions.bought > 1000;
                }, x => {console.log(x)});
            },
            sortingShareList(id,entity,action,sortEntity,limit,sort,filter_groups){
                this.modelsMap[entity].findById(id).then(item => {
                    this.modelsMap[sortEntity].shareList(id, entity, limit, sort, filter_groups).then(data => {
                        Vue.nextTick(() => {
                            EventBus.$emit('modal:show', {
                                count: data.count,
                                type: action,
                                limit,
                                item,
                                entity,
                                data,
                                createCardEnabled: this.createCardEnabled
                            })
                        });
                    }, errors => {
                        if(errors.status === 400){
                            this.$router.push(`${ErrorsComponent.config().redirectPath}/400`)
                        }
                    });
                }, errors => {
                    if(errors.status === 400){
                        this.$router.push(`${ErrorsComponent.config().redirectPath}/400`)
                    }
                });
            },
            init () {
                let sort;
                this.id = this.$route.params.id;
                this.entity = this.$route.params.entity;
                this.action = this.$route.params.action;
                this.sortEntity = this.$route.params.sortEntity;
                if(this.$route.params.query) this.searchQuery = this.$route.params.query;
                if(this.$route.params.limit) this.limit = this.$route.params.limit;
                if(!(this.$route.params.query)){
                    this.searchQuery = '';
                    (this.sortEntity === 'users') ? sort = this.usersSort : sort = this.productsProjectsSort;
                    this.sortingShareList (this.id, this.entity, this.action, this.sortEntity, this.limit, sort);
                }

            }
        },
        mounted() {
            this.init();
            this.initUserBalance();
        },
        watch: {
            '$route': 'init',
            searchQuery(val){
                this.fetchQuerySearch(val);
            }
        }
    }
</script>

<style lang="scss">
    .action-add-component {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;
    }
</style>