<template>
    <div class="action-add-component">
        <modals :type="action"></modals>
    </div>
</template>
<script>
    import Modals from './common/modals.vue';
    import User from '../models/UserModel';
    import ErrorsComponent from '../../Errors';
    import Project from '../models/ProjectModel';
    import Product from '../models/ProductModel';
    import EventBus from '../../../services/EventBus'

    export default {
        components: {
            Modals
        },
        data() {
            return {
                action: null,
                modelsMap: {
                    'projects': Project,
                    'users': User,
                    'products': Product
                }
            }
        },
        watch: {
            '$route': 'init',
        },
        methods: {
            init () {
                let id = this.$route.params.id;
                this.action = this.$route.params.action;
                let entity = this.$route.params.entity;
                let sortEntity = this.$route.params.sortEntity;
                let sortEntityId = this.$route.params.sortEntityId;
                this.modelsMap[entity].findById(id).then(entity => {
                    this.modelsMap[sortEntity].findById(sortEntityId).then(sortEntity => {
                        Vue.nextTick(() => {
                            EventBus.$emit('modal:show', {type: this.action, entity, sortEntity})
                        });
                    }, errors => {
                        if(errors.status = 400){
                            this.$router.push(`${ErrorsComponent.config().redirectPath}/400`)
                        }
                    });
                }, errors => {
                    if(errors.status = 400){
                        this.$router.push(`${ErrorsComponent.config().redirectPath}/400`)
                    }
                });
            }
        },
        mounted() {
            this.init();
        }
    }
</script>

<style lang="scss">
    .action-add-component {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;
    }
</style>