<template>
    <div class="user-information-view">
        <modals :type="action"></modals>
    </div>
</template>

<script>
    import Modals from './common/modals.vue';
    import Auth from '../../../services/auth';
    import EventBus from '../../../services/EventBus';

    export default {
        components:{Modals},
        data(){
            return {
                action: null,
                user: Auth.getUser(),
            }
        },
        methods: {
            init () {
                let data = this.action = this.$route.params.type;
                Vue.nextTick(() => {EventBus.$emit('modal:show', {type: data})});
            },
            ifRegUser(){
                if(this.user.id !== Auth.getUserFromStorage().id) {
                    location.replace('#/app/home');
                    location.reload();
                }
            },
        },
        mounted() {
            this.ifRegUser();
            this.init();
        },
        watch: {
            '$route': 'init',
        }
    }
</script>

<style lang="scss">
    .user-settings-view {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;
    }
</style>