<template>
    <div class="errors-component">
        <modal-four-zero-four></modal-four-zero-four>
        <modal-four-zero-zero></modal-four-zero-zero>
        <modal-four-zero-three></modal-four-zero-three>
        <modal-five-zero-zero></modal-five-zero-zero>

        <router-view></router-view>
    </div>
</template>
<script>
    import User from '../App/models/UserModel';
    import EventBus from '../../services/EventBus'
    import Project from '../App/models/ProjectModel';
    import Product from '../App/models/ProductModel';
    import ModalFourZeroZero from './modals/modal-400.vue';
    import ModalFourZeroFour from './modals/modal-404.vue';
    import ModalFourZeroThree from './modals/modal-403.vue';
    import ModalFiveZeroZero from './modals/modal-500.vue';

    export default {
        components: {
            ModalFourZeroFour,
            ModalFourZeroZero,
            ModalFourZeroThree,
            ModalFiveZeroZero,
        },
        data() {
            return {
                modelsMap: {
                    'projects': Project,
                    'users': User,
                    'products': Product
                }
            }
        },
        watch: {
            '$route': 'init',
        },
        methods: {
            init () {
                let errors = `error-${this.$route.params.error}`;
                EventBus.$emit('modal:show', {type: errors});
            }
        },
        mounted() {
            this.init();
        }
    }
</script>

<style lang="scss">
    .errors-component {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;

        .v--modal {
            box-shadow: 0 20px 60px -2px rgba(47, 6, 6, 0.4);
        }

        .content {
            padding: 40px 0 0;

            .logo .logo-picture {
                width: 70%;
                height: 70%;
            }

            .errors {
                padding: 0 25px 40px;
                text-align: center;

                h3 {
                    font-size: 70px;
                    line-height: 50px;
                    font-weight: 900;
                    margin: 30px 0;
                }
                .error-desc {
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 34px;
                }
                span {
                    padding-top: 20px;
                    display: block;
                    color: #2b2b2b;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 30px;
                }
            }
            .md-button {
                width: 100%;
                margin: 0;
                padding: 5px 0;
                font-weight: 600;
                background: rgba(0,0,0,0.1);
            }
        }
    }
</style>