<template>
    <div class="incoming-notification">
        <header>
            <md-layout>
                <md-layout md-flex="40" md-vertical-align="center">
                    <!--notification type switch-->
                    <type-filter @fetch:type="notificationFilter" :typeList="typeList"
                                 :filtered="headers.shadow">
                    </type-filter>
                </md-layout>
                <md-layout md-flex="60" md-vertical-align="center">
                    <!--balance component-->
                    <balance :parent="parent"></balance>
                </md-layout>
            </md-layout>
            <!--headers-component-->
            <item-list-header :headers="headers"></item-list-header>
        </header>
        <main class="content" :style="{height: `${cHeight}px`}">
            <!--project notification-->
            <notification-list :notifications="cNotifications" :type="type" :disabled="disabled"></notification-list>

            <md-spinner md-indeterminate v-if="spin" :md-size="30"></md-spinner>

            <load-more-button v-if="hasMoreItems" @load:more="loadMore"></load-more-button>

            <!--router-view component-->
            <router-view></router-view>
        </main>
    </div>
</template>

<script>
    import Moment from 'moment';
    import User from '../../models/UserModel';
    import Auth from '../../../../services/auth';
    import Balance from '../common/balance/balance.vue';
    import EventBus from '../../../../services/EventBus';
    import Notification from '../../models/NotificationModel';
    import TypeFilter from '../common/filter/type-filter.vue';
    import NotificationList from '../common/notification-list.vue';
    import LoadMoreButton from '../common/buttons/load-more-button.vue';
    import LittleIconButton from '../common/buttons/little-icon-button.vue';
    import ItemListHeader from '../common/item-list-parts/item-list-header.vue';

    export default {
        components:{
            Balance,
            TypeFilter,
            LoadMoreButton,
            ItemListHeader,
            NotificationList,
            LittleIconButton
        },
        data(){
            return {
                disabled: false,
                typeList: [
                    {
                        value: 'all',
                        title: 'All messages'
                    },
                    {
                        value: 'thank',
                        title: 'Thanked'
                    },
                    {
                        value: 'productSupported',
                        title: 'Product supported'
                    },
                    {
                        value: 'productShare',
                        title: 'Product offered'
                    },
                    {
                        value: 'projectSupported',
                        title: 'Project supported'
                    },
                    {
                        value: 'projectShare',
                        title: 'Project offered'
                    },
                ],
                showFilterBtn: {
                    icon: '/pictures/icon_filter.svg',
                    text: 'Filter messages',
                },
                sort: [
                    {
                        key: 'created_at',
                        direction: 'DESC'
                    }
                ],
                filterValue: '',
                limit: 20,
                type: 'incoming',
                parent: 'incomingNotification',
                containerHeight: '',
                headerHeight: '',
                headers: {
                    title: 'Incoming',
                    shadow: 'Messages',
                },
                length: null,
                filterCount: null,
                limitCount: null,
                notifications: [],
                filter_groups: [
                    {
                        or: true,
                        filters: []
                    }
                ],
                user: Auth.getUser(),
                spin: false,
            }
        },
        computed: {
            hasMoreItems(){
                return this.limitCount > this.limit;
            },
            cHeight(){
                return this.containerHeight - this.headerHeight - 40;
            },
            cNotifications(){
                return this.notifications.map((i)=>{
                    i.activity = Moment(i.created_at).fromNow();
                    if(i.type === 'productShare' || i.type === 'projectShare'){
                        i.modalName = 'offered'
                    }
                    if(i.type === 'thank' || i.type === 'projectThank'){
                        i.modalName = 'thanked'
                    }
                    if(i.type === 'productSupported' || i.type === 'projectSupported'){
                        i.modalName = 'supported'
                    }
                    if(i.type === 'productLike' || i.type === 'projectHappy'){
                        i.modalName = 'valued'
                    }
                    if(i.user){
                        i.user.fullName = `${i.user.name} ${i.user.surname}`;
                        i.user.avatarName = `${i.user.name.charAt(0)}${i.user.surname.charAt(0)}`;
                    }
                    if(i.card){
                        i.card.user.fullName = `${i.card.user.name} ${i.card.user.surname}`;
                        i.card.title = `${i.card.title}`;
                    }
                    return i;
                })
            },
        },
        methods: {
            loadMore(){
                if(this.limitCount > this.limit) {
                    this.spin = true;
                    this.limit += 20;
                    this.fetchNotification(this.limit, this.filter_groups)
                }
            },
            notificationFilter(val){
                this.spin = true;
                if(val === 'all'){
                    this.fetchNotification(this.limit);
                }
                else {
                    this.getType(val);
                }
            },
            adaptHeight() {
                this.containerHeight = this.$el.clientHeight;
                this.headerHeight = this.$el.children[0].clientHeight;
            },
            getType(val){
                this.filter_groups[0].filters.splice(0, 1, {
                    "key":"type",
                    "value": val,
                    "operator": "eq"
                });
                this.fetchNotification(this.limit, this.filter_groups);
            },
            fetchNotification(limit, sort){
                Notification.fetchIncoming({limit, sort}).then(data => {
                    this.notifications = data.notifications;
                    this.limitCount = data.limitCount;
                    this.length = data.count;
                    this.filterCount = data.filterCount;
                    Notification.sync(this, 'notifications', 'incoming');
                    this.spin = false;
                }, x => {console.log(x)});
            },
            ifRegUser(){
                if(this.user.id !== Auth.getUserFromStorage().id) {
                    location.replace('#/app/home');
                    location.reload();
                }
            },
        },
        mounted(){
            this.spin = true;
            this.ifRegUser();
            this.fetchNotification(this.limit);
            this.adaptHeight();
            window.addEventListener('resize', () => {
                this.adaptHeight();
            });
        },
//        watch: {
//            notifications(val){
//                console.log(val)
//            },
//            length(val){
//                console.log(val)
//            }
//        }
    }
</script>

<style lang="scss">
    .incoming-notification {
        height: calc(100vh - 55px);
        padding: 20px;
        overflow: hidden;

        header {
            z-index: 2;
            position: relative;
            box-shadow: 0 10px 5px rgba(255,255,255,.5);
        }
        main.content {
            overflow: auto;
            margin: 0;

            .md-spinner {
                margin: 15px auto 0;
                text-align: center;
                display: block;
            }

            .load-more {
                display: inherit;
            }
        }
    }
</style>