<template>
    <modal name="buy-credits-success" :adaptive="true" :draggable="false" transition="slide-fade-y"
           :pivotX="0.5" :reset="true" :pivotY="0.05" :clickToClose='false' height="auto"
           :scrollable="true" :delay="300" :width="modalWidth" class="modal-buy-credits-success">

        <div class="content">
            <logo src="logo-1x.png"></logo>

            <div class="message">
                <h3>Done</h3>
                <div class="message-desc">Transaction success</div>

                <span>{{userData && userData.user.fullName}}
                        you have bought
                      {{userData && userData.credits}} credits
                </span>
            </div>

            <md-button @click="backToWelcome()">close and continue</md-button>
        </div>

    </modal>
</template>
<script>
    import Vue from 'vue';
    import Logo from '../../Logo.vue';
    import AppComponent from '../../App';
    import Auth from '../../../services/auth';
    import WelcomeComponent from '../../Welcome';
    import EventBus from '../../../services/EventBus';

    export default {
        components: {Logo},
        data(){
            return {
                userData: null,
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            }
        },
        methods: {
            show(){
                this.$modal.show('buy-credits-success');
            },
            hide(){
                this.$modal.hide('buy-credits-success');
            },
            backToWelcome () {
                if (Auth.getUser()) this.$router.push(AppComponent.config().redirectPath);
                else this.$router.push(WelcomeComponent.config().redirectPath);
                location.reload();
            },
        },
        mounted() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'buy-credits-success'){
                    this.userData = eventData.data;
                    this.userData.user.fullName = `${this.userData.user.name} ${this.userData.user.surname}`;
                    Vue.nextTick(this.show);
                }
                else
                    this.hide();
            });
        },
    }
</script>

<style lang="scss">
    .modal-buy-credits-success {

    }
</style>
