<template>
    <modal name="buy-credits-failure" :adaptive="true" :draggable="false" transition="slide-fade-y"
           :pivotX="0.5" :reset="true" :pivotY="0.05" :clickToClose='false' height="auto"
           :scrollable="true" :delay="300" :width="modalWidth" class="modal-buy-credits-failure">

        <div class="content">
            <logo src="logo-1x.png"></logo>

            <div class="message">
                <h3>Failure</h3>
                <div class="message-desc">Transaction failure</div>

                <span>{{cUser.fullName}} your transaction canceled</span>
            </div>

            <md-button @click="backToWelcome()">close and continue</md-button>
        </div>

    </modal>
</template>
<script>
    import Vue from 'vue';
    import Logo from '../../Logo.vue';
    import AppComponent from '../../App';
    import Auth from '../../../services/auth';
    import WelcomeComponent from '../../Welcome';
    import EventBus from '../../../services/EventBus';

    export default {
        components: {Logo},
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            },
            cUser(){
                let user = Auth.getUser();
                this.$set(user, 'fullName', `${user.name} ${user.surname}`);
                return user;
            },
        },
        methods: {
            show(){
                this.$modal.show('buy-credits-failure');
            },
            hide(){
                this.$modal.hide('buy-credits-failure');
            },
            backToWelcome () {
                if (Auth.getUser()) this.$router.push(AppComponent.config().redirectPath);
                else this.$router.push(WelcomeComponent.config().redirectPath);
            },
        },
        mounted() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'buy-credits-failure'){
                    Vue.nextTick(this.show);
                }
                else
                    this.hide();
            });
        },
    }
</script>

<style lang="scss">
    .modal-buy-credits-failure {
        .v--modal {
            box-shadow: 0 20px 60px -2px rgba(47, 6, 6, 0.4);
        }
    }
</style>
