<template>
    <modal name="check-your-email-info" :adaptive="true" :draggable="false" transition="slide-fade-y"
           :pivotX="0.5" :reset="true" :pivotY="0.05" :clickToClose='false' height="auto"
           :scrollable="true" :delay="300" :width="modalWidth" class="modal-check-your-email-info">

        <div class="content">
            <logo src="logo-1x.png"></logo>

            <div class="message">
                <h3>WOW!</h3>
                <div class="message-desc">Successful password recovery request</div>

                <span>
                    You sent a password recovery request. Go to your email and follow the link.
                </span>
            </div>

            <md-button @click="backToWelcome()">close and continue</md-button>
        </div>

    </modal>
</template>
<script>
    import Vue from 'vue';
    import Logo from '../../Logo.vue';
    import AppComponent from '../../App';
    import Auth from '../../../services/auth';
    import WelcomeComponent from '../../Welcome';
    import EventBus from '../../../services/EventBus';

    export default {
        components: {Logo},
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            }
        },
        methods: {
            show(){
                this.$modal.show('check-your-email-info');
            },
            hide(){
                this.$modal.hide('check-your-email-info');
            },
            backToWelcome () {
                if (Auth.getUser()) this.$router.push(AppComponent.config().redirectPath);
                else this.$router.push(WelcomeComponent.config().redirectPath);
            },
        },
        mounted() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'check-your-email-info'){
                    Vue.nextTick(this.show);
                }
                else
                    this.hide();
            });
        },
    }
</script>

<style lang="scss">
    .modal-check-your-email-info {

    }
</style>
