<template>
    <div class="top-nav">
        <md-layout>
            <div class="box" v-if="sqStatus">
                Your SQ <span class="chips black-bg">{{ user && user.sq }}</span>
            </div>
            <div class="box">
                You have <router-link :to="{ name: getBalanceView, params: {type: 'balance'} }">
                     {{cuteBalance}} Credits (&pound;{{currency}})
                </router-link>
            </div>
        </md-layout>
    </div>
</template>

<script>
    import User from '../../../models/UserModel';
    import Auth from '../../../../../services/auth';
    import EventBus from '../../../../../services/EventBus';

    export default {
        props:['sqStatus', 'parent'],
        data(){
            return {
                userTotalBalance: null,
                user: Auth.getUser(),
                ranges: [
                    { divider: 1e18 , suffix: 'p' },
                    { divider: 1e15 , suffix: 'q' },
                    { divider: 1e12 , suffix: 't' },
                    { divider: 1e9 , suffix: 'b' },
                    { divider: 1e6 , suffix: 'm' },
                    { divider: 1e3 , suffix: 'k' }
                ]
            }
        },
        computed: {
            getBalanceView(){
                return `${this.parent}UserInformation`
            },
            currency(){
                if(this.userTotalBalance) return this.formatNumber(this.userTotalBalance / 100);
                return this.userTotalBalance;
            },
            cuteBalance(){
                if(this.userTotalBalance) return this.formatNumber(this.userTotalBalance);
                return this.userTotalBalance;
            }
        },
        methods: {
            initUserBalance(){
                User.fetchBalance().then(balance => {
                    if(!balance) this.userTotalBalance = 0;
                    else this.userTotalBalance = balance;
                    User.sync(this, 'userTotalBalance')
                }, x => {console.log(x)});
            },
            formatNumber(n) {
                if(n){
                    for (let i = 0; i < (this.ranges).length; i++) {
                        if (n >= this.ranges[i].divider) {
                            return (n / this.ranges[i].divider).toFixed(2).toString() + this.ranges[i].suffix;
                        }
                    }
                    return n.toString();
                }
            },
        },
        mounted() {
            User.sync(this, 'user');
            this.initUserBalance();
        },
        watch: {
            user(u){
                Auth.setUserToStorage(u);
            }
        }
    }
</script>

<style lang="scss">
    .top-nav {
        text-align: right;
        width: 100%;

        .md-layout {
            justify-content: flex-end;

            .box {
                font-size: 11px;
                line-height: 20px;
                margin-left: 10px;

                a {
                    color: #000;
                    font-weight: 800;
                    margin-left: 5px;
                    transition: all .2s;
                    border-bottom: 1px solid transparent;

                    &:hover {
                        border-bottom-color: #2b2b2b
                    }
                }
            }
        }
    }

    @media all and(max-width: 340px) {
        .top-nav {
            .md-layout{
                .box {
                    margin: 0;
                }
            }
        }
    }
</style>