<template>
    <md-switch md-theme="green"
               id="checked"
               v-model="checkedCurrency"
               name="checked"
               class="md-primary" :setCurrencyIcon="setCurrencyIcon">
    </md-switch>
</template>

<script>
    export default {
        data(){
            return {
                checkedCurrency: false,
                currencyOne: unescape('%u' + '0024'),
                currencyTwo: unescape('%u' + '00A3')
            }
        },
        methods: {
            //switch currency
            setCurrencyIcon() {
                return $(this.$el)
                    .find('.md-switch-thumb')
                    .attr('data-content', this.checkedCurrency === true ? this.currencyOne : this.currencyTwo);
            }
        },
        mounted(){
            this.setCurrencyIcon();

        },
        watch: {
            checkedCurrency(val){
                this.setCurrencyIcon();
                this.$emit('change', val);
            },
        }
    }
</script>

<style lang="scss">
    .md-theme-green.md-switch.md-checked.md-primary .md-switch-thumb {
        background: #97b228;
    }
    .md-theme-green.md-switch.md-checked.md-primary .md-switch-container {
        background: rgba(151,178,40,0.8);
    }
    .md-switch {
        margin: 0 10px;
        padding: 8px 0;

        .md-switch-container {
            background: #d1d1d1;

            input {
                left: 0;
                opacity: 0;
            }

            .md-switch-thumb {
                background: #97b228;

                &:before {
                    content: attr(data-content);
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    color: #fff;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    display: block;
                }
            }
        }
    }
</style>