<template>
    <div class="thanked notification-type">
        <md-layout>
            <md-layout md-flex="15">
                <div class="avatar">
                    <img v-if="(item.user && item.user.image)" :src="(item.user && item.user.image)" alt="">
                    <span class="avatar-name" v-if="!(item.user && item.user.image)">
                        {{item.user && item.user.avatarName}}
                    </span>
                </div>
            </md-layout>
            <md-layout md-flex="85" class="layout-desc">
                <div class="item-message">
                    <div class="item-message-content">
                        <div class="click-zone" @click="openAction(item)">
                            <md-layout>
                                <md-layout md-flex="70" md-vertical-align="center">
                                    <div class="cap">
                                    <span v-if="type === 'outgoing'">
                                        Me <md-icon>trending_flat</md-icon>
                                    </span>
                                        {{item.user.fullName}} <i>{{item.activity}}</i>
                                    </div>
                                    <div class="sub-cap" v-if="item && (item.type === 'projectThank')">
                                        for <b>{{item && item.card.title}}</b>
                                    </div>
                                </md-layout>
                                <md-layout class="chips-box" md-align="end" md-vertical-align="start">
                                    <span class="chips grey-bg">{{item.status || item.modalName}}</span>
                                    <span class="chips black-bg">{{item.value}}</span>
                                </md-layout>
                            </md-layout>
                        </div>
                        <div class="text-container" :style="[
                            {'padding-bottom': (messageAnimation)?'15px':'0'},
                            {'border-top': (item.message)?'1px solid #f8f9f5':'none'},
                            {'padding-top': (item.message)?'5px':'0'}
                        ]">
                            <div :class="['text',{'animation': messageAnimation}]"
                                 :style="{'max-height': (toggleMessage)?`${fullHeight}px`:'35px'}">
                                {{item.message}}
                            </div>
                            <span v-if="messageAnimation" @click="toggleBtn()">
                                ...
                                <i v-if="!toggleMessage">read more</i>
                                <i v-if="toggleMessage">show less</i>
                            </span>
                        </div>
                    </div>
                </div>
            </md-layout>
        </md-layout>
    </div>
</template>
<script>
    import Observable from 'rxjs';
    import CloseButtonCoordinator from '../modals/services/close-button-coordinator';
    export default {
        props: ['item', 'type', 'getEntityAction', 'spinner'],
        data(){
            return {
                toggleMessage: false,
                messageAnimation: false,
                fullHeight: null,
            }
        },
        methods:{
            toggleBtn(){
                this.toggleMessage = !this.toggleMessage;
            },
            openAction(item){
                CloseButtonCoordinator.setRoute(this.$route.path);
                if(this.type === 'incoming'){
                    this.$router.push({
                        name: this.getEntityAction,
                        params: {
                            id: item.id,
                            action: 'non-offered',
                            type: 'incoming',
                            entity: (item.type === "projectThank") ? 'projects' : 'products',
                        }
                    });
                }
            },
            intervalTimer(){
                var textBlock = $(this.$el).find('.text')[0];
                var lastHeight = textBlock.scrollHeight;
                var runs = 0;
                var interval = setInterval(() => {
                    if (lastHeight !== textBlock.scrollHeight && this.item && this.item.message) {
                        this.readMore();
                        clearInterval(interval);
                    }
                    lastHeight = textBlock.scrollHeight;
                    runs++;
                    if (runs > 50) clearInterval(interval);
                }, 100);

                this.readMore();
            },
            readMore(){
                this.fullHeight = $(this.$el).find('.text')[0].scrollHeight;
                this.messageAnimation = (this.fullHeight > 35);
            }
        },
        mounted(){
            this.intervalTimer();
            window.addEventListener('resize', () => {
                this.readMore()
            })
        }
    }
</script>
<style lang="scss">

</style>