<template>
    <div class="email-step">
        <switch-radio-buttons @switch:click="switchShareStatistic"
                              :items="shareStatistic"
                              :title="'Email notifications of Shares'" :newModel="shareStatisticType">
        </switch-radio-buttons>
        <switch-radio-buttons @switch:click="switchSharePush"
                              :items="sharePush" :disabled="true"
                              :title="'Push Notifications of Shares'" :newModel="sharePushType">
        </switch-radio-buttons>
        <switch-radio-buttons @switch:click="switchActivityStatistic"
                              :items="activityStatistic" :disabled="true"
                              :title="'Email summary of Activity'" :newModel="activityStatisticType">
        </switch-radio-buttons>
        <switch-radio-buttons @switch:click="switchArchiveActivity"
                              :items="archiveActivity" :disabled="true"
                              :title="'Archive activity when summary sent'" :newModel="archiveActivityType">
        </switch-radio-buttons>
    </div>
</template>

<script>
    import SwitchRadioButtons from '../modal-parts/switch-radio-buttons.vue';
    import NotificationsSettingsService from '../services/notifications-settings-service';

    export default {
        components: {SwitchRadioButtons},
        props: ['settings'],
        data(){
            return {
                shareStatisticType: null,
                sharePushType: null,
                activityStatisticType: null,
                archiveActivityType: null,
                shareStatistic: [
                    {btnName: 'instant', value: 'instant'},
//                    {btnName: 'daily', value: 'daily'},
//                    {btnName: 'weekly', value: 'weekly'},
//                    {btnName: 'monthly', value: 'monthly'},
                    {btnName: 'off', value: 'off'},
                ],
                sharePush: [
                    {btnName: 'yes', value: 'on'},
                    {btnName: 'no', value: 'off'},
                ],
                activityStatistic: [
                    {btnName: 'daily', value: 'daily'},
                    {btnName: 'weekly', value: 'weekly'},
                    {btnName: 'monthly', value: 'monthly'},
                    {btnName: 'yearly', value: 'yearly'},
                    {btnName: 'off', value: 'off'},
                ],
                archiveActivity: [
                    {btnName: 'yes', value: 'on'},
                    {btnName: 'no', value: 'off'},
                ],
            }
        },
        methods: {
            switchShareStatistic(val){
                NotificationsSettingsService.setSettings('shareStatisticType', val);
                this.shareStatisticType = val;
            },
            switchSharePush(val){
                NotificationsSettingsService.setSettings('sharePushType', val);
                this.sharePushType = val;
            },
            switchActivityStatistic(val){
                NotificationsSettingsService.setSettings('activityStatisticType', val);
                this.activityStatisticType = val;
            },
            switchArchiveActivity(val){
                NotificationsSettingsService.setSettings('archiveActivityType', val);
                this.archiveActivityType = val;
            }
        },
        mounted(){
            if(this.settings){
                var settings = NotificationsSettingsService.getSettings();
                this.$set(this, 'shareStatisticType',
                    (settings.shareStatisticType) ? settings.shareStatisticType : settings.shares);
                this.$set(this, 'sharePushType',
                    (settings.sharePushType) ? settings.sharePushType : settings.push);
                this.$set(this, 'activityStatisticType',
                    (settings.activityStatisticType) ? settings.activityStatisticType : settings.activity);
                this.$set(this, 'archiveActivityType',
                    (settings.archiveActivityType) ? settings.archiveActivityType : settings.archive);
            }
        }
    }
</script>

<style lang="scss">
    .email-step {
        .radio-content{
            .title {
                padding-top: 10px !important;
                font-size: 14px;
                line-height: 20px;
                text-transform: none;
            }
            .radio-box .md-radio {
                min-width: 50px;

                .md-radio-label {
                    font-size: 11px;
                    font-weight: 600;
                    padding: 10px 5px;
                }
            }
        }
    }
</style>