<template>
    <div class="incoming-step">
        <md-layout>
            <md-layout md-vertical-align="start" md-align="center">

                <switch-radio-buttons @switch:click="switchThanksStatus"
                                      :items="thanks"
                                      :title="'thanks'" :newModel="thanksStatus">
                </switch-radio-buttons>
                <md-checkbox v-model="thanksRemove">Remove on read</md-checkbox>

                <switch-radio-buttons @switch:click="switchProductLikesStatus"
                                      :items="productLikes"
                                      :title="'Product Likes'" :newModel="productLikesStatus">
                </switch-radio-buttons>
                <md-checkbox v-model="productLikesRemove">Remove on read</md-checkbox>

                <switch-radio-buttons @switch:click="switchProjectHappyStatus"
                                      :items="projectHappy"
                                      :title="'Project Happy'" :newModel="projectHappyStatus">
                </switch-radio-buttons>
                <md-checkbox v-model="projectHappyRemove">Remove on read</md-checkbox>

            </md-layout>
            <md-layout md-vertical-align="start" md-align="center">

                <switch-radio-buttons @switch:click="switchProductSupportStatus"
                                      :items="productSupport"
                                      :title="'Product Support'" :newModel="productSupportStatus">
                </switch-radio-buttons>
                <md-checkbox v-model="productSupportRemove">Remove on read</md-checkbox>

                <switch-radio-buttons @switch:click="switchProjectSupportStatus"
                                      :items="projectSupport"
                                      :title="'Project Support'" :newModel="projectSupportStatus">
                </switch-radio-buttons>
                <md-checkbox v-model="projectSupportRemove">Remove on read</md-checkbox>

            </md-layout>
        </md-layout>
    </div>
</template>

<script>
    import SwitchRadioButtons from '../modal-parts/switch-radio-buttons.vue';
    import NotificationsSettingsService from '../services/notifications-settings-service';

    export default {
        components: {SwitchRadioButtons},
        props: ['settings'],
        data(){
            return {
                thanksRemove: null,
                productLikesRemove: null,
                projectHappyRemove: null,
                productSupportRemove: null,
                projectSupportRemove: null,
                thanksStatus: null,
                productLikesStatus: null,
                projectHappyStatus: null,
                productSupportStatus: null,
                projectSupportStatus: null,
                thanks: [
                    {btnName: 'on', value: 'on'},
                    {btnName: 'off', value: 'off'},
                ],
                productLikes: [
                    {btnName: 'on', value: 'on'},
                    {btnName: 'off', value: 'off'},
                ],
                projectHappy: [
                    {btnName: 'on', value: 'on'},
                    {btnName: 'off', value: 'off'},
                ],
                productSupport: [
                    {btnName: 'on', value: 'on'},
                    {btnName: 'off', value: 'off'},
                ],
                projectSupport: [
                    {btnName: 'on', value: 'on'},
                    {btnName: 'off', value: 'off'},
                ],
            }
        },
        methods: {
            switchThanksStatus(val){
                NotificationsSettingsService.setSettings('thanksStatus', val);
                this.thanksStatus = val;
            },
            switchProductLikesStatus(val){
                NotificationsSettingsService.setSettings('productLikesStatus', val);
                this.productLikesStatus = val;
            },
            switchProjectHappyStatus(val){
                NotificationsSettingsService.setSettings('projectHappyStatus', val);
                this.projectHappyStatus = val;
            },
            switchProductSupportStatus(val){
                NotificationsSettingsService.setSettings('productSupportStatus', val);
                this.productSupportStatus = val;
            },
            switchProjectSupportStatus(val){
                NotificationsSettingsService.setSettings('projectSupportStatus', val);
                this.projectSupportStatus = val;
            },
        },
        mounted(){
            if(this.settings){
                var settings = NotificationsSettingsService.getSettings();
                this.$set(this, 'thanksRemove',
                    ((settings.thanksRemove === 'on')) ?
                        ((settings.thanksRemove === 'on')) : ((settings.thanks_remove === 'on')));
                this.$set(this, 'productLikesRemove',
                    ((settings.productLikesRemove === 'on')) ?
                        ((settings.productLikesRemove === 'on')) : ((settings.product_likes_remove === 'on')));
                this.$set(this, 'projectHappyRemove',
                    ((settings.projectHappyRemove === 'on')) ?
                        ((settings.projectHappyRemove === 'on')) : ((settings.project_happy_remove === 'on')));
                this.$set(this, 'productSupportRemove',
                    ((settings.productSupportRemove === 'on')) ?
                        ((settings.productSupportRemove === 'on')) : ((settings.product_support_remove === 'on')));
                this.$set(this, 'projectSupportRemove',
                    ((settings.projectSupportRemove === 'on')) ?
                        ((settings.projectSupportRemove === 'on')) : ((settings.project_support_remove === 'on')));
                this.$set(this, 'thanksStatus',
                    (settings.thanksStatus) ? settings.thanksStatus : settings.thanks);
                this.$set(this, 'productLikesStatus',
                    (settings.productLikesStatus) ? settings.productLikesStatus : settings.product_likes);
                this.$set(this, 'projectHappyStatus',
                    (settings.projectHappyStatus) ? settings.projectHappyStatus : settings.project_happy);
                this.$set(this, 'productSupportStatus',
                    (settings.productSupportStatus) ? settings.productSupportStatus : settings.product_support);
                this.$set(this, 'projectSupportStatus',
                    (settings.projectSupportStatus) ? settings.projectSupportStatus : settings.project_support);
            }
        },
        watch:{
            thanksRemove(val){
                NotificationsSettingsService.setSettings('thanksRemove', (val || (val === 'on'))?'on':'off');
            },
            productLikesRemove(val){
                NotificationsSettingsService.setSettings('productLikesRemove', (val || (val === 'on'))?'on':'off');
            },
            projectHappyRemove(val){
                NotificationsSettingsService.setSettings('projectHappyRemove', (val || (val === 'on'))?'on':'off');
            },
            productSupportRemove(val){
                NotificationsSettingsService.setSettings('productSupportRemove', (val || (val === 'on'))?'on':'off');
            },
            projectSupportRemove(val){
                NotificationsSettingsService.setSettings('projectSupportRemove', (val || (val === 'on'))?'on':'off');
            },
        }
    }
</script>

<style lang="scss">
    .incoming-step {
        .radio-content{
            padding: 15px 0 0;
            margin: 0 auto;
            .title {
                font-size: 10px;
                line-height: 14px;
                text-transform: uppercase;
            }
            .radio-box .md-radio {
                min-width: 60px;
                .md-radio-label {
                    font-size: 11px;
                    font-weight: 600;
                    padding: 10px 5px;
                }
            }
        }
        .md-checkbox {
            margin: 10px 0 0 20px;
            width: 100%;

            .md-checkbox-label {
                font-size: 11px;
                line-height: 20px;
            }

            .md-checkbox-container {
                border-radius: 100%;
                border-color: #000;

                input {
                    opacity: 0;
                    cursor: pointer;
                }
            }
        }
        .md-theme-default.md-checkbox.md-checked .md-checkbox-container {
            background-color: transparent;
            &:after {
                border-color: #000;
            }
        }
    }
</style>