<template>
    <div class="incoming-step">
        <md-layout>
            <md-layout md-vertical-align="start" md-align="center">

                <!--<switch-radio-buttons @switch:click="switchType"-->
                                      <!--:items="thanks"-->
                                      <!--:title="'thanks'" :newModel="thanksStatus">-->
                <!--</switch-radio-buttons>-->
                <!--<md-checkbox v-model="thanksRemove">Remove on read</md-checkbox>-->

            </md-layout>
            <md-layout md-vertical-align="start" md-align="center">

            </md-layout>
        </md-layout>
    </div>
</template>

<script>
    import SwitchRadioButtons from '../modal-parts/switch-radio-buttons.vue';

    export default {
        components: {SwitchRadioButtons},
        params: [],
        data(){
            return {
                thanksRemove: null,
                productLikesRemove: null,
                projectHappyRemove: null,
                productSupportRemove: null,
                projectSupportRemove: null,
                thanksStatus: null,
                productLikesStatus: null,
                projectHappyStatus: null,
                productSupportStatus: null,
                projectSupportStatus: null,
                thanks: [
                    {btnName: 'on', value: 'on'},
                    {btnName: 'off', value: 'off'},
                ],
                productLikes: [
                    {btnName: 'on', value: 'on'},
                    {btnName: 'off', value: 'off'},
                ],
                projectHappy: [
                    {btnName: 'on', value: 'on'},
                    {btnName: 'off', value: 'off'},
                ],
                productSupport: [
                    {btnName: 'on', value: 'on'},
                    {btnName: 'off', value: 'off'},
                ],
                projectSupport: [
                    {btnName: 'on', value: 'on'},
                    {btnName: 'off', value: 'off'},
                ],
            }
        },
        methods: {
            switchType(val){
//                console.log(val);
            }
        }
    }
</script>

<style lang="scss">
    .incoming-step {
        .radio-content{
            padding: 15px 0 0;
            margin: 0 auto;
            .title {
                font-size: 10px;
                line-height: 14px;
                text-transform: uppercase;
            }
            .radio-box .md-radio {
                min-width: 60px;
                .md-radio-label {
                    font-size: 11px;
                    font-weight: 600;
                    padding: 10px 5px;
                }
            }
        }
        .md-checkbox {
            margin: 10px 0 0 20px;
            width: 100%;

            .md-checkbox-label {
                font-size: 11px;
                line-height: 20px;
            }

            .md-checkbox-container {
                border-radius: 100%;
                border-color: #000;

                input {
                    opacity: 0;
                    cursor: pointer;
                }
            }
        }
        .md-theme-default.md-checkbox.md-checked .md-checkbox-container {
            background-color: transparent;
            &:after {
                border-color: #000;
            }
        }
    }
</style>