<template>
    <div>
        <passport-clients></passport-clients>
        <passport-authorized-clients></passport-authorized-clients>
        <passport-personal-access-tokens></passport-personal-access-tokens>
    </div>
</template>
<style>

</style>
<script>
    import Vue from 'vue';

    Vue.component(
        'passport-clients',
        require('./Clients.vue')
    );

    Vue.component(
        'passport-authorized-clients',
        require('./AuthorizedClients.vue')
    );

    Vue.component(
        'passport-personal-access-tokens',
        require('./PersonalAccessTokens.vue')
    );
    export default {}
</script>
