<template>
    <modal name="login" :adaptive="true" :draggable="false" transition="slide-fade-y"
           :pivotX="0.5" :reset="true" :pivotY="0.1" :clickToClose='false' height="auto"
           :scrollable="true" :delay="300" :width="modalWidth" class="modal-login">
        <div class="content">
            <div class="request-invite">
                <router-link :to="RequestInviteComponent.config().redirectPath">
                    {{RequestInviteComponent.config().name}}
                </router-link>
            </div>
            <logo src="logo-1x.png"></logo>
            <div class="caption">
                Welcome.
            </div>
            <form v-if="!recoveryStatus" novalidate @submit.stop.prevent="submit" @keyup.enter="submit">
                <md-input-container md-theme="green"
                                    :class="{'md-input-invalid': backendErrors.email || errors.has('email')}">

                    <label class="input-label md-body-1">EMAIL ADDRESS</label>
                    <md-input v-validate="'required|email'" data-vv-name="email" v-model="email"></md-input>

                    <span v-show="backendErrors.email" class="md-error">
                        <strong>{{backendErrors.email}}</strong>
                    </span>
                    <span v-show="errors.has('email')" class="md-error">
                        <strong>{{ errors.first('email') }}</strong>
                    </span>

                </md-input-container>
                <md-input-container md-theme="green" md-has-password
                                    :class="['pass',{'md-input-invalid': backendErrors.password || errors.has('password')}]">

                    <label class="input-label md-body-1">PASSWORD</label>
                    <md-input v-validate="'required'" data-vv-name="password" type="password"
                              autocomplete="off" v-model="password">
                    </md-input>

                    <span v-show="backendErrors.password" class="md-error">
                        <strong>{{backendErrors.password}}</strong>
                    </span>
                    <span v-show="errors.has('password')" class="md-error">
                        <strong>{{ errors.first('password') }}</strong>
                    </span>

                </md-input-container>
                <a class="forgot-pass" href="#" @click.prevent="recoveryStatus = !recoveryStatus;">
                    Forgot Password?
                </a>
            </form>
            <form v-if="recoveryStatus" novalidate @submit.stop.prevent="recovery" @keyup.enter="recovery">
                <md-input-container md-theme="green"
                                    :class="{'md-input-invalid': backendErrors.email || errors.has('email')}">

                    <label class="input-label md-body-1">EMAIL ADDRESS</label>
                    <md-input v-validate="'required|email'" data-vv-name="email" v-model="email"></md-input>

                    <span v-show="backendErrors.email" class="md-error">
                        <strong>{{backendErrors.email}}</strong>
                    </span>
                    <span v-show="errors.has('email')" class="md-error">
                        <strong>{{ errors.first('email') }}</strong>
                    </span>

                </md-input-container>
                <a class="forgot-pass" href="#" @click.prevent="recoveryStatus = !recoveryStatus;">
                    Login
                </a>
            </form>
        </div>
        <md-button v-if="!recoveryStatus" @click="submit()" :disabled="!validate()" class="btn">
            LOG IN
        </md-button>
        <md-button v-if="recoveryStatus" @click="recovery()" :disabled="!email" class="btn">
            Recovery password
        </md-button>
    </modal>
</template>

<script>
    import Auth from '../../services/auth';
    import AppComponent from '../App';
    import InfoMessagesComponent from '../InfoMessages';
    import User from '../App/models/UserModel';
    import Logo from '../Logo.vue';
    import RequestInviteComponent from '../RequestInvite';
    import Vue from 'vue';

    export default {
        components: {Logo},
        data() {
            return {
                email: '',
                password: '',
                backendErrors: {},
                recoveryStatus: false,
                RequestInviteComponent
            }
        },
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            }
        },
        methods: {
            recovery(){
                User.recovery(this.email).then(
                    () => {
                        this.$router.push(`${InfoMessagesComponent.config().redirectPath}/check-your-email-info`);
                    },
                    (x) => {
                        this.$set(this, 'backendErrors',  x);
                    }
                );
            },
            submit() {
                if (!this.validate()) return;

                Auth.login(this.email, this.password).then(
                    () => {
                        this.$router.push(AppComponent.config().redirectPath);
                    },
                    (x) => {
                        location.reload();
                        this.$set(this, 'backendErrors',  x);
                    }
                );
            },
            validate() {
                return !(
                    this.$validator.errors.any()
                    || !this.email
                    || !this.password
                    || this.backendErrors.email
                    || this.backendErrors.password
                )
            },
        },
        beforeRouteEnter (to, from, next) {
            if (Auth.getUser()) next(AppComponent.config().redirectPath); else next();
        },
        beforeRouteLeave(to, from, next) {
            this.$modal.hide('login');
            setTimeout(() => {
                next()
            }, 100); //animation
        },
        mounted() {
            this.$modal.show('login');
        },
        watch: {
            email() {
                Vue.set(this, 'backendErrors', {})
            },
            password() {
                Vue.set(this, 'backendErrors', {});
            }
        },
    }
</script>

<style lang="scss">
    .modal-login.v--modal-overlay.scrollable {
        padding-bottom: 50px;
    }
    .modal-login{
        .content {
            margin: 10px 25px 25px 20px;

            .request-invite {
                font-size: 10pt;
                line-height: 16px;
                margin-bottom: 50px;
                font-weight: 600;
                text-decoration: underline;
                a {
                    color: black;
                }
            }
            .forgot-pass {
                font-size: 9pt;
                line-height: 12px;
                text-decoration: underline !important;
                color: black;

            }
            .caption {
                text-align: center;
                font-size: 16pt;
                line-height: 20px;
                font-weight: 800;
                color: black;
                margin-bottom: 20px;
            }

            .input-label {
                font-size: 9pt;
                line-height: 20px;
                font-weight: 800;
            }

            .md-input {
                font-size: 16pt;
                line-height: 20px;
            }

            .md-input-container .md-error, .md-input-container .md-count {
                line-height: 20px;
            }
            .pass {
                .md-input {
                    padding-left: 40px;
                }
                .md-toggle-password {
                    right: auto;
                    left: 0;
                    bottom: -7px;
                }
                &.md-has-value label, &.md-input-focused label {
                    left: 0;
                }
                label {
                    left: 40px;
                }
            }
        }

        .btn {
            font-size:13pt;
            width:100%;
            margin:0;
            padding:0;
            background-color:lightgray;
            font-weight:700;
            border-radius:0;
            height:50px;
        }

        .v--modal {
            border-radius: 6px;
        }
    }
</style>
