<template>
    <modal name="error-404" :adaptive="true" :draggable="false" transition="slide-fade-y"
           :pivotX="0.5" :reset="true" :pivotY="0.05" :clickToClose='false' height="auto"
           :scrollable="true" :delay="300" :width="modalWidth" class="modal-error-404">

        <div class="content">
            <logo src="logo-1x.png"></logo>

            <div class="errors">
                <h3>404</h3>
                <div class="error-desc">Page not found</div>
                <span>Please back to start and try again</span>
            </div>

            <md-button @click="backToWelcome()">back to start</md-button>
        </div>

    </modal>
</template>
<script>
    import Vue from 'vue';
    import Logo from '../../Logo.vue';
    import AppComponent from '../../App';
    import Auth from '../../../services/auth';
    import WelcomeComponent from '../../Welcome';
    import EventBus from '../../../services/EventBus';

    export default {
        components: {Logo},
        computed: {
            modalWidth() {
                return $(document).width() > 350 ? 350 : $(document).width() - 40;
            }
        },
        methods: {
            show(){
                this.$modal.show('error-404');
            },
            hide(){
                this.$modal.hide('error-404');
            },
            backToWelcome () {
                if (Auth.getUser()) this.$router.push(AppComponent.config().redirectPath);
                else this.$router.push(WelcomeComponent.config().redirectPath);
            },
        },
        mounted() {
            EventBus.$on('modal:show',  (eventData) => {
                if (eventData.type === 'error-404'){
                    Vue.nextTick(this.show);
                }
                else
                    this.hide();
            });
        },
    }
</script>

<style lang="scss">
    .modal-error-404{

    }
</style>
